@charset "UTF-8";
:root {
  --bbrl-primary-color: #4946fe;
  --bbrl-secondary-color: #dde4ff;
  --bbrl-background-color: #fff;
  --bbrl-background-hover-color: #f8f8f8;
  --bbrl-background-secondary-color: #f6f6f6;
  --bbrl-background-secondary-hover-color: #f3f3f3;
  --bbrl-background-tertiary-color: #dbdbdb;
  --bbrl-background-tertiary-hover-color: #cececf;
  --bbrl-background-black-color: #0c0c0d;
  --bbrl-background-disabled-color: #dbdbdb;
  --bbrl-background-brand-primary-color: #4946fe;
  --bbrl-background-brand-primary-hover-color: #4937f4;
  --bbrl-background-brand-secondary-color: #dde4ff;
  --bbrl-background-brand-secondary-hover-color: #c2cdff;
  --bbrl-background-brand-disabled-color: #767eff;
  --bbrl-background-positive-primary-color: #14ae5c;
  --bbrl-background-positive-primary-hover-color: #009951;
  --bbrl-background-positive-secondary-color: #ebffee;
  --bbrl-background-positive-secondary-hover-color: #cff7d3;
  --bbrl-background-warning-primary-color: #e5a000;
  --bbrl-background-warning-primary-hover-color: #bf6a02;
  --bbrl-background-warning-secondary-color: #fffbbe;
  --bbrl-background-warning-secondary-hover-color: #fff1c2;
  --bbrl-background-danger-primary-color: #ec221f;
  --bbrl-background-danger-primary-hover-color: #c00f0c;
  --bbrl-background-danger-secondary-color: #fee9e7;
  --bbrl-background-danger-secondary-hover-color: #fdd3d0;
  --bbrl-border-color: #f3f3f3;
  --bbrl-border-secondary-color: #e7e7e7;
  --bbrl-border-tertiary-color: #dbdbdb;
  --bbrl-border-disabled-color: #f3f3f3;
  --bbrl-border-quinery-color: #6d6d6e;
  --bbrl-border-quaternary-color: #9e9e9e;
  --bbrl-border-brand-primary-color: #0300c3;
  --bbrl-border-brand-secondary-color: #4946fe;
  --bbrl-border-positive-primary-color: #02542d;
  --bbrl-border-positive-secondary-color: #14ae5c;
  --bbrl-border-warning-primary-color: #522504;
  --bbrl-border-warning-secondary-color: #e8b931;
  --bbrl-border-danger-primary-color: #900b09;
  --bbrl-border-danger-secondary-color: #ec221f;
  --bbrl-text-color: #242425;
  --bbrl-text-white-color: #fff;
  --bbrl-text-secondary-color: #555556;
  --bbrl-text-tertiary-color: #858586;
  --bbrl-text-disabled-color: #b6b6b6;
  --bbrl-text-brand-primary-color: #4946fe;
  --bbrl-text-brand-secondary-color: #3325ae;
  --bbrl-text-positive-primary-color: #02542d;
  --bbrl-text-positive-secondary-color: #14ae5c;
  --bbrl-text-warning-primary-color: #682d03;
  --bbrl-text-warning-secondary-color: #e5a000;
  --bbrl-text-danger-primary-color: #690807;
  --bbrl-text-danger-secondary-color: #ec221f;
  --bbrl-icon-color: #0c0c0d;
  --bbrl-icon-secondary-color: #555556;
  --bbrl-icon-tertiary-color: #9e9e9e;
  --bbrl-icon-disabled-color: #b6b6b6;
  --bbrl-icon-brand-primary-color: #0300c3;
  --bbrl-icon-brand-secondary-color: #4946fe;
  --bbrl-icon-positive-primary-color: #02542d;
  --bbrl-icon-positive-secondary-color: #14ae5c;
  --bbrl-icon-warning-primary-color: #522504;
  --bbrl-icon-warning-secondary-color: #e8b931;
  --bbrl-icon-danger-primary-color: #900b09;
  --bbrl-icon-danger-secondary-color: #ec221f;
  --bbrl-radius-sm: 4px;
  --bbrl-radius-md: 8px;
  --bbrl-radius-lg: 12px;
  --bbrl-radius-full: 99px;
  --bbrl-space-0: 0;
  --bbrl-space-100: 8px;
  --bbrl-space-200: 16px;
  --bbrl-space-300: 24px;
  --bbrl-space-400: 32px;
  --bbrl-space-500: 40px;
  --bbrl-space-600: 48px;
  --bbrl-space-700: 56px;
  --bbrl-z-index-dropdown: 1000;
  --bbrl-z-index-sticky: 1020;
  --bbrl-z-index-fixed: 1030;
  --bbrl-z-index-modal-backdrop: 1040;
  --bbrl-z-index-modal: 1050;
  --bbrl-z-index-popover: 1060;
  --bbrl-z-index-tooltip: 1070;
  --font-family-base: "Roboto", sans-serif;
  --font-size-base: 16px;
}

/* Dark Mode Variables */
/*.dark-mode {

}*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

html,
body {
  min-height: 100%;
}

.hidden {
  display: none;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.inline-flex {
  display: inline-flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.bbrl-container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.bbrl-header-container {
  max-width: 1600px;
}

img.emoji,
img.emojioneemoji {
  display: inline-block;
  margin: 3px;
  width: 24px;
  height: 24px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.site.bb-readylaunch {
  margin-right: 300px;
  margin-top: 71px;
  padding: 0 30px;
}

body.admin-bar .site.bb-readylaunch {
  margin-top: 103px;
}

.divider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px dashed var(--bbrl-border-secondary-color);
  border-radius: var(--bbrl-radius-md);
}

.divider--dot::after {
  content: "";
  display: block;
  width: var(--bbrl-space-100);
  height: var(--bbrl-space-100);
  background-color: var(--bbrl-border-secondary-color);
  border-radius: 50%;
}

.divider--line::after {
  content: "";
  display: block;
  width: 1px;
  height: var(--bbrl-space-400);
  background-color: var(--bbrl-border-secondary-color);
}

/*
<div class="indicator indicator--dot"></div>
<div class="indicator indicator--line"></div>
*/
button[data-balloon] {
  overflow: visible;
}

[data-balloon] {
  position: relative;
  cursor: pointer;
}

[data-balloon]:after {
  opacity: 0;
  pointer-events: none;
  transition: all 0.18s ease-out 0.18s;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: -0.24px;
  content: attr(data-balloon);
  color: var(--bbrl-text-white-color);
  padding: 6px 12px;
  background-color: var(--bbrl-background-black-color);
  border-radius: var(--bbrl-radius-md);
  font-size: 0.85rem;
  line-height: 1.2;
  text-align: center;
  line-height: 1.3;
  position: absolute;
  white-space: nowrap;
  box-shadow: 0 1px 3px 0 black;
  z-index: var(--bbrl-z-index-dropdown);
}

[data-balloon]:before {
  background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22var(--bb-tooltip-background)%22%20transform%3D%22rotate(0)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
  background-size: 100% auto;
  width: 18px;
  height: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.18s ease-out 0.18s;
  content: "";
  position: absolute;
  z-index: 10;
}

[data-balloon]:hover:before, [data-balloon]:hover:after, [data-balloon][data-balloon-visible]:before, [data-balloon][data-balloon-visible]:after {
  opacity: 1;
  pointer-events: auto;
}

[data-balloon].font-awesome:after {
  font-family: FontAwesome;
}

[data-balloon][data-balloon-break]:after {
  white-space: pre;
}

[data-balloon][data-balloon-blunt]:before, [data-balloon][data-balloon-blunt]:after {
  transition: none;
}

[data-balloon][data-balloon-pos="up"]:after {
  bottom: 100%;
  right: 50%;
  margin-bottom: 11px;
  transform: translate(50%, 10px);
  transform-origin: top;
}

[data-balloon][data-balloon-pos="up"]:before {
  bottom: 100%;
  right: 50%;
  margin-bottom: 5px;
  transform: translate(50%, 10px);
  transform-origin: top;
}

[data-balloon][data-balloon-pos="up"]:hover:after, [data-balloon][data-balloon-pos="up"][data-balloon-visible]:after {
  transform: translate(50%, 0);
}

[data-balloon][data-balloon-pos="up"]:hover:before, [data-balloon][data-balloon-pos="up"][data-balloon-visible]:before {
  transform: translate(50%, 0);
}

[data-balloon][data-balloon-pos="up-left"]:after {
  bottom: 100%;
  right: 0;
  margin-bottom: 11px;
  transform: translate(0, 10px);
  transform-origin: top;
}

[data-balloon][data-balloon-pos="up-left"]:before {
  bottom: 100%;
  right: 5px;
  margin-bottom: 5px;
  transform: translate(0, 10px);
  transform-origin: top;
}

[data-balloon][data-balloon-pos="up-left"]:hover:after, [data-balloon][data-balloon-pos="up-left"][data-balloon-visible]:after {
  transform: translate(0, 0);
}

[data-balloon][data-balloon-pos="up-left"]:hover:before, [data-balloon][data-balloon-pos="up-left"][data-balloon-visible]:before {
  transform: translate(0, 0);
}

[data-balloon][data-balloon-pos="up-right"]:after {
  bottom: 100%;
  left: 0;
  margin-bottom: 11px;
  transform: translate(0, 10px);
  transform-origin: top;
}

[data-balloon][data-balloon-pos="up-right"]:before {
  bottom: 100%;
  left: 5px;
  margin-bottom: 5px;
  transform: translate(0, 10px);
  transform-origin: top;
}

[data-balloon][data-balloon-pos="up-right"]:hover:after, [data-balloon][data-balloon-pos="up-right"][data-balloon-visible]:after {
  transform: translate(0, 0);
}

[data-balloon][data-balloon-pos="up-right"]:hover:before, [data-balloon][data-balloon-pos="up-right"][data-balloon-visible]:before {
  transform: translate(0, 0);
}

[data-balloon][data-balloon-pos="down"]:after {
  right: 50%;
  margin-top: 11px;
  top: 100%;
  transform: translate(50%, -10px);
}

[data-balloon][data-balloon-pos="down"]:before {
  background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22var(--bb-tooltip-background)%22%20transform%3D%22rotate(180 18 6)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
  background-size: 100% auto;
  width: 18px;
  height: 6px;
  right: 50%;
  margin-top: 5px;
  top: 100%;
  transform: translate(50%, -10px);
}

[data-balloon][data-balloon-pos="down"]:hover:after, [data-balloon][data-balloon-pos="down"][data-balloon-visible]:after {
  transform: translate(50%, 0);
}

[data-balloon][data-balloon-pos="down"]:hover:before, [data-balloon][data-balloon-pos="down"][data-balloon-visible]:before {
  transform: translate(50%, 0);
}

[data-balloon][data-balloon-pos="down-left"]:after {
  right: 0;
  margin-top: 11px;
  top: 100%;
  transform: translate(0, -10px);
}

[data-balloon][data-balloon-pos="down-left"]:before {
  background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22var(--bb-tooltip-background)%22%20transform%3D%22rotate(180 18 6)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
  background-size: 100% auto;
  width: 18px;
  height: 6px;
  right: 5px;
  margin-top: 5px;
  top: 100%;
  transform: translate(0, -10px);
}

[data-balloon][data-balloon-pos="down-left"]:hover:after, [data-balloon][data-balloon-pos="down-left"][data-balloon-visible]:after {
  transform: translate(0, 0);
}

[data-balloon][data-balloon-pos="down-left"]:hover:before, [data-balloon][data-balloon-pos="down-left"][data-balloon-visible]:before {
  transform: translate(0, 0);
}

[data-balloon][data-balloon-pos="down-right"]:after {
  left: 0;
  margin-top: 11px;
  top: 100%;
  transform: translate(0, -10px);
}

[data-balloon][data-balloon-pos="down-right"]:before {
  background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22var(--bb-tooltip-background)%22%20transform%3D%22rotate(180 18 6)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
  background-size: 100% auto;
  width: 18px;
  height: 6px;
  left: 5px;
  margin-top: 5px;
  top: 100%;
  transform: translate(0, -10px);
}

[data-balloon][data-balloon-pos="down-right"]:hover:after, [data-balloon][data-balloon-pos="down-right"][data-balloon-visible]:after {
  transform: translate(0, 0);
}

[data-balloon][data-balloon-pos="down-right"]:hover:before, [data-balloon][data-balloon-pos="down-right"][data-balloon-visible]:before {
  transform: translate(0, 0);
}

[data-balloon][data-balloon-pos="left"]:after {
  margin-left: 11px;
  left: 100%;
  top: 50%;
  transform: translate(-10px, -50%);
}

[data-balloon][data-balloon-pos="left"]:before {
  background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22var(--bb-tooltip-background)%22%20transform%3D%22rotate(-90 18 18)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
  background-size: 100% auto;
  width: 6px;
  height: 18px;
  margin-left: 5px;
  left: 100%;
  top: 50%;
  transform: translate(-10px, -50%);
}

[data-balloon][data-balloon-pos="left"]:hover:after, [data-balloon][data-balloon-pos="left"][data-balloon-visible]:after {
  transform: translate(0, -50%);
}

[data-balloon][data-balloon-pos="left"]:hover:before, [data-balloon][data-balloon-pos="left"][data-balloon-visible]:before {
  transform: translate(0, -50%);
}

[data-balloon][data-balloon-pos="right"]:after {
  right: 100%;
  margin-right: 11px;
  top: 50%;
  transform: translate(10px, -50%);
}

[data-balloon][data-balloon-pos="right"]:before {
  background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22var(--bb-tooltip-background)%22%20transform%3D%22rotate(90 6 6)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
  background-size: 100% auto;
  width: 6px;
  height: 18px;
  right: 100%;
  margin-right: 5px;
  top: 50%;
  transform: translate(10px, -50%);
}

[data-balloon][data-balloon-pos="right"]:hover:after, [data-balloon][data-balloon-pos="right"][data-balloon-visible]:after {
  transform: translate(0, -50%);
}

[data-balloon][data-balloon-pos="right"]:hover:before, [data-balloon][data-balloon-pos="right"][data-balloon-visible]:before {
  transform: translate(0, -50%);
}

[data-balloon][data-balloon-length="small"]:after {
  white-space: normal;
  width: 80px;
}

[data-balloon][data-balloon-length="medium"]:after {
  white-space: normal;
  width: 150px;
}

[data-balloon][data-balloon-length="large"]:after {
  white-space: normal;
  width: 260px;
}

[data-balloon][data-balloon-length="xlarge"]:after {
  white-space: normal;
  width: 380px;
}

@media screen and (max-width: 768px) {
  [data-balloon][data-balloon-length="xlarge"]:after {
    white-space: normal;
    width: 90vw;
  }
}

[data-balloon][data-balloon-length="fit"]:after {
  white-space: normal;
  width: 100%;
}

[data-bp-tooltip]:after {
  background: var(--bb-tooltip-background);
  color: var(--bbrl-text-secondary-color);
}

[data-bp-tooltip]:before {
  background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22var(--bb-tooltip-background)%22%20transform%3D%22rotate(0)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
  background-size: 100% auto;
  width: 18px;
  height: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.18s ease-out 0.18s;
}

.notice {
  display: flex;
  align-items: center;
  padding: var(--bbrl-space-100);
  border: 1px solid transparent;
  border-radius: var(--bbrl-radius-md);
  font-size: 1rem;
  background-color: var(--bbrl-background-secondary-color);
}

.notice__icon {
  flex-shrink: 0;
  margin-left: var(--bbrl-space-100);
  font-size: 1.2rem;
}

.notice__content {
  flex: 1;
}

.notice__content-title {
  color: var(--bbrl-text-primary-color);
  font-weight: 500;
  margin-bottom: var(--bbrl-space-100);
}

.notice__content-description {
  font-size: 0.875rem;
  color: var(--bbrl-text-secondary-color);
}

.notice__close {
  flex-shrink: 0;
  margin-right: var(--bbrl-space-100);
  font-size: 1rem;
  color: var(--bbrl-text-tertiary-color);
  cursor: pointer;
}

.notice__close:hover {
  color: var(--bbrl-text-primary-color);
}

.notice--info {
  background-color: var(--bbrl-background-brand-secondary-color);
  border-color: var(--bbrl-border-brand-primary-color);
}

.notice--info .notice__icon {
  color: var(--bbrl-text-brand-primary-color);
}

.notice--success {
  background-color: var(--bbrl-background-positive-secondary-color);
  border-color: var(--bbrl-border-positive-primary-color);
}

.notice--success .notice__icon {
  color: var(--bbrl-text-positive-primary-color);
}

.notice--warning {
  background-color: var(--bbrl-background-warning-secondary-color);
  border-color: var(--bbrl-border-warning-primary-color);
}

.notice--warning .notice__icon {
  color: var(--bbrl-text-warning-primary-color);
}

.notice--error {
  background-color: var(--bbrl-background-danger-secondary-color);
  border-color: var(--bbrl-border-danger-primary-color);
}

.notice--error .notice__icon {
  color: var(--bbrl-text-danger-primary-color);
}

/*

<div class="notice notice--info">
	<span class="notice__icon">ℹ️</span>
	<div class="notice__content">
		<div class="notice__content-title">Title</div>
		<div class="notice__content-description">Description</div>
	</div>
	<button class="notice__close">✖</button>
</div>

<div class="notice notice--success">
	<span class="notice__icon">✔️</span>
	<div class="notice__content">
		<div class="notice__content-title">Title</div>
		<div class="notice__content-description">Description</div>
	</div>
	<button class="notice__close">✖</button>
</div>

<div class="notice notice--warning">
	<span class="notice__icon">⚠️</span>
	<div class="notice__content">
		<div class="notice__content-title">Title</div>
		<div class="notice__content-description">Description</div>
	</div>
	<button class="notice__close">✖</button>
</div>

<div class="notice notice--error">
	<span class="notice__icon">❌</span>
	<div class="notice__content">
		<div class="notice__content-title">Title</div>
		<div class="notice__content-description">Description</div>
	</div>
	<button class="notice__close">✖</button>
</div>

*/
.ellipsis-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
  color: var(--color-text);
  border: 1px solid var(--color-secondary);
  border-radius: var(--border-radius);
  font-size: var(--font-size-base);
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
  outline: none;
  /* States */
}

.ellipsis-button--large {
  width: 48px;
  height: 48px;
  font-size: 1.5rem;
}

.ellipsis-button--medium {
  width: 36px;
  height: 36px;
  font-size: 1.25rem;
}

.ellipsis-button--small {
  width: 24px;
  height: 24px;
  font-size: 1rem;
}

.ellipsis-button--default {
  background-color: var(--color-background);
  border-color: var(--color-secondary);
}

.ellipsis-button:hover {
  background-color: var(--color-secondary);
  color: var(--color-background);
}

.ellipsis-button:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 2px var(--color-primary-light);
}

.ellipsis-button--disabled {
  background-color: var(--color-disabled-background);
  color: var(--color-disabled-text);
  cursor: not-allowed;
  border-color: var(--color-disabled-border);
}

/*

<!-- Large Buttons -->
<button class="ellipsis-button ellipsis-button--large ellipsis-button--default">...</button>
<button class="ellipsis-button ellipsis-button--large ellipsis-button--disabled" disabled>...</button>

<!-- Medium Buttons -->
<button class="ellipsis-button ellipsis-button--medium ellipsis-button--default">...</button>
<button class="ellipsis-button ellipsis-button--medium ellipsis-button--disabled" disabled>...</button>

<!-- Small Buttons -->
<button class="ellipsis-button ellipsis-button--small ellipsis-button--default">...</button>
<button class="ellipsis-button ellipsis-button--small ellipsis-button--disabled" disabled>...</button>

*/
.bbrl-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  border-radius: var(--bbrl-radius-md);
  padding: var(--bbrl-space-100) var(--bbrl-space-200);
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  text-decoration: none;
}

.bbrl-button.bbrl-button--small {
  padding: 4px var(--bbrl-space-100);
  font-size: 0.875rem;
}

.bbrl-button.bbrl-button--brandFill {
  background-color: var(--bbrl-background-brand-primary-color);
  color: var(--bbrl-text-white-color);
  border: 1px solid var(--bbrl-background-brand-primary-color);
}

.bbrl-button.bbrl-button--brandFill:hover {
  background-color: var(--bbrl-background-brand-primary-hover-color);
}

.bbrl-button.bbrl-button--brandFill:focus-within {
  outline: 2px solid var(--bbrl-border-brand-primary-color);
}

.bbrl-button.bbrl-button--brandFill:disabled {
  background-color: var(--bbrl-background-brand-disabled-color);
  cursor: not-allowed;
}

.bbrl-button.bbrl-button--brandOutline {
  background-color: transparent;
  color: var(--bbrl-text-brand-primary-color);
  border: 1px solid var(--bbrl-text-brand-primary-color);
}

.bbrl-button.bbrl-button--brandOutline:hover {
  border-color: var(--bbrl-background-brand-primary-color);
}

.bbrl-button.bbrl-button--brandOutline:focus {
  outline: 2px solid var(--bbrl-border-brand-primary-color);
}

.bbrl-button.bbrl-button--brandOutline:disabled {
  border-color: var(--bbrl-background-brand-disabled-color);
  color: var(--bbrl-background-brand-disabled-color);
  cursor: not-allowed;
}

.bbrl-button.bbrl-button--secondaryFill {
  background-color: var(--bbrl-background-tertiary-color);
  color: var(--bbrl-text-color);
  border: 1px solid transparent;
}

.bbrl-button.bbrl-button--secondaryFill:hover {
  background-color: var(--bbrl-background-tertiary-hover-color);
}

.bbrl-button.bbrl-button--secondaryFill:focus {
  outline: 2px solid var(--bbrl-border-quinery-color);
}

.bbrl-button.bbrl-button--secondaryFill:disabled {
  background-color: var(--bbrl-background-tertiary-color);
  color: var(--bbrl-text-disabled-color);
  cursor: not-allowed;
}

.bbrl-button.bbrl-button--secondaryOutline {
  background-color: transparent;
  color: var(--bbrl-text-color);
  border: 1px solid var(--bbrl-border-tertiary-color);
}

.bbrl-button.bbrl-button--secondaryOutline:hover {
  background-color: var(--bbrl-background-secondary-color);
}

.bbrl-button.bbrl-button--secondaryOutline:focus {
  outline: 2px solid var(--bbrl-border-quinery-color);
}

.bbrl-button.bbrl-button--secondaryOutline:disabled {
  border-color: var(--bbrl-border-tertiary-color);
  color: var(--bbrl-text-disabled-color);
  cursor: not-allowed;
}

.bbrl-button.bbrl-button--dangerFill {
  background-color: var(--bbrl-background-danger-primary-color);
  color: var(--bbrl-text-white-color);
  border: 1px solid transparent;
}

.bbrl-button.bbrl-button--dangerFill:hover {
  background-color: var(--bbrl-background-danger-primary-hover-color);
}

.bbrl-button.bbrl-button--dangerFill:focus {
  outline: 2px solid var(--bbrl-border-danger-primary-color);
}

.bbrl-button.bbrl-button--dangerFill:disabled {
  background-color: var(--bbrl-background-danger-secondary-hover-color);
  cursor: not-allowed;
}

.bbrl-button.bbrl-button--tertiaryText {
  background-color: transparent;
  color: var(--bbrl-text-color);
  border: none;
}

.bbrl-button.bbrl-button--tertiaryText:hover {
  background-color: var(--bbrl-background-secondary-hover-color);
}

.bbrl-button.bbrl-button--tertiaryText:focus {
  outline: 2px solid var(--bbrl-border-quinery-color);
}

.bbrl-button.bbrl-button--tertiaryText:disabled {
  color: var(--bbrl-text-disabled-color);
  cursor: not-allowed;
}

.bbrl-button.bbrl-button--tertiaryLink {
  background-color: transparent;
  color: var(--bbrl-text-brand-primary-color);
  border: none;
  border-radius: 0;
  border-bottom: 1px solid transparent;
}

.bbrl-button.bbrl-button--tertiaryLink:hover {
  border-bottom-color: var(--bbrl-link-primary-hover-color);
}

.bbrl-button.bbrl-button--tertiaryLink:disabled {
  color: var(--bbrl-background-brand-disabled-color);
  border-bottom-color: transparent;
  cursor: not-allowed;
}

.bbrl-loader {
  display: inline-block;
  height: 22px;
  width: 22px;
  border: 2px solid var(--bbrl-border-quaternary-color);
  border-top-color: var(--bbrl-border-tertiary-color);
  border-radius: var(--bbrl-radius-full);
  animation: spin 3s infinite linear;
}

.bbrl-option-wrap {
  position: relative;
}

.bbrl-option-wrap__action {
  color: var(--bbrl-icon-tertiary-color);
  font-size: 24px;
}

.bbrl-option-wrap.active .bbrl-option-dropdown {
  visibility: visible;
  opacity: 1;
}

.bbrl-option-dropdown {
  background-color: var(--bbrl-background-color);
  padding: var(--bbrl-space-100);
  border-radius: var(--bbrl-radius-md);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
  width: 195px;
  position: absolute;
  left: 0;
  top: 100%;
  list-style: none;
  z-index: var(--bbrl-z-index-dropdown);
  visibility: hidden;
}

.bbrl-option-dropdown__button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border: 0;
  width: 100%;
  padding: var(--bbrl-space-100);
  cursor: pointer;
  text-align: right;
}

.bbrl-option-dropdown__button [class*="bb-icons-rl"] {
  color: var(--bbrl-icon-secondary-color);
  font-size: 20px;
}

.bbrl-option-dropdown__button:hover {
  background-color: var(--bbrl-background-secondary-hover-color);
  border-radius: var(--bbrl-radius-md);
}

.bbrl-option-dropdown__label {
  color: var(--bbrl-icon-secondary-color);
  font-size: 0.85rem;
  font-weight: 500;
}

.bbrl-header {
  background-color: var(--bbrl-background-color);
  border-bottom: 1px solid var(--bbrl-border-tertiary-color);
  padding: var(--bbrl-space-200) var(--bbrl-space-400);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

body.admin-bar .bbrl-header {
  top: 32px;
}

.bb-readylaunch-menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.bb-readylaunch-menu li:not(:last-child) {
  margin-left: var(--bbrl-space-200);
}

.bb-readylaunch-menu li a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  text-align: center;
  cursor: pointer;
  border-radius: var(--bbrl-radius-sm);
  padding: var(--bbrl-space-100) var(--bbrl-space-200);
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  background-color: transparent;
  color: var(--bbrl-text-color);
  border: none;
  text-decoration: none;
}

.bb-readylaunch-menu li a:hover {
  background-color: var(--bbrl-background-secondary-hover-color);
}

.bb-readylaunch-menu li a:focus {
  outline: 2px solid var(--bbrl-border-quinery-color);
}

.bb-readylaunch-menu li.current-menu-item a {
  background-color: var(--bbrl-background-secondary-hover-color);
}

.bbrl-site-branding img.bb-logo {
  max-width: 130px;
  max-height: 32px;
  object-fit: contain;
}

.header-aside .header-aside-inner {
  gap: var(--bbrl-space-100);
}

.header-aside .notification-wrap {
  position: relative;
}

.header-aside .notification-wrap .notification-dropdown {
  background: var(--bbrl-background-color);
  border: 1px solid var(--bbrl-border-secondary-color);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
  border-radius: var(--bbrl-radius-lg);
  list-style: none;
  position: absolute;
  left: -15px;
  top: calc(100% + 8px);
  margin: 0;
  min-width: 480px;
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  display: none;
}

.header-aside .notification-wrap .notification-dropdown .bbrl-loader {
  margin: 20px auto;
  display: table;
}

.header-aside .notification-wrap.selected .notification-dropdown {
  opacity: 1;
  visibility: visible;
  z-index: var(--bbrl-z-index-dropdown);
  display: block;
}

.header-aside .notification-wrap.selected .notification-link {
  background-color: var(--bbrl-background-secondary-hover-color);
}

.header-aside .notification-wrap .notification-header {
  padding: var(--bbrl-space-100) 0;
  margin: var(--bbrl-space-100) var(--bbrl-space-200);
  border-bottom: 1px solid var(--bbrl-border-secondary-color);
}

.header-aside .notification-wrap .notification-header h2 {
  color: var(--bbrl-text-color);
  font-size: 1rem;
  font-weight: 500;
}

.header-aside .notification-wrap .notification-header .notification-header-action {
  color: var(--bbrl-icon-secondary-color);
  font-size: 1rem;
  text-decoration: none;
}

.header-aside .notification-wrap .notification-header .message-view-all-link {
  margin-right: auto;
  margin-left: var(--bbrl-space-200);
  border-radius: var(--bbrl-radius-full);
  font-size: 0.85rem;
}

.header-aside .notification-wrap .notification-header .mark-read-all {
  color: var(--bbrl-text-color);
  cursor: pointer;
  background: transparent;
  border: 0;
}

.header-aside .notification-wrap .notification-header .mark-read-all [class*="bb-icons-rl"] {
  opacity: 0.6;
}

.header-aside .notification-link {
  display: inline-block;
  padding: 4px;
  border-radius: var(--bbrl-radius-md);
  text-decoration: none;
}

.header-aside .notification-link > span {
  display: flex;
}

.header-aside .notification-link [class*="bb-icons-rl"] {
  color: var(--bbrl-icon-secondary-color);
  font-size: 24px;
}

.header-aside .notification-link .count {
  font-style: normal;
  font-weight: 600;
  color: var(--bbrl-text-white-color);
  letter-spacing: -0.55px;
  background-color: var(--bbrl-primary-color);
  border-radius: var(--bbrl-radius-full);
  line-height: 1.6;
  font-size: 9px;
  top: calc(50% - 20px);
  left: -4px;
  padding: 1px 6px;
  position: absolute;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
}

.header-aside .user-wrap {
  margin-right: var(--bbrl-space-300);
}

.header-aside .user-wrap .avatar {
  max-width: 32px;
  height: auto;
  object-fit: contain;
  border-radius: var(--bbrl-radius-full);
}

.header-aside .bbrl-header-search {
  font-size: 0.85rem;
  margin-left: var(--bbrl-space-300);
}

.header-aside .bbrl-header-search [class*="bb-icons-rl"] {
  color: var(--bbrl-icon-color);
  font-size: 16px;
  margin-left: var(--bbrl-space-100);
}

.notification-dropdown .notification-header-tabs {
  margin: 0 var(--bbrl-space-200);
}

.notification-dropdown .notification-header-tab-action {
  color: var(--bbrl-text-secondary-color);
  font-size: 0.85rem;
  font-weight: 500;
  border-radius: var(--bbrl-radius-full);
}

.notification-dropdown .notification-header-tab-action:hover, .notification-dropdown .notification-header-tab-action.active {
  color: var(--bbrl-text-color);
  font-weight: 600;
  background-color: var(--bbrl-background-secondary-hover-color);
}

.notification-list {
  max-height: 52vh;
  overflow: auto;
  overflow-x: hidden;
  padding: var(--bbrl-space-100);
}

.notification-list > li {
  display: flex;
  align-items: center;
  padding: var(--bbrl-space-200);
  border-radius: var(--bbrl-radius-md);
  position: relative;
}

.notification-list > li .notification-avatar {
  margin-left: var(--bbrl-space-100);
  flex: 0 0 40px;
}

.notification-list > li .notification-avatar img {
  display: block;
  max-width: 36px;
  height: auto;
  border-radius: var(--bbrl-radius-full);
}

.notification-list > li .notification-avatar .thread-multiple-avatar {
  min-height: 40px;
  min-width: 40px;
  position: relative;
}

.notification-list > li .notification-avatar .thread-multiple-avatar img {
  max-width: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.notification-list > li .notification-avatar .thread-multiple-avatar img + img {
  top: auto;
  left: 0;
  bottom: 0;
  right: auto;
}

.notification-list > li:has(.bbrl-option-wrap.active), .notification-list > li:hover {
  background-color: var(--bbrl-background-secondary-hover-color);
}

.notification-list .bb-full-link {
  font-size: 0;
}

.notification-list .bb-full-link > a {
  cursor: pointer;
  font-size: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  opacity: 0;
}

.notification-list .notification-content {
  flex: 1;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.notification-list .notification-content .notification-users {
  color: var(--bbrl-text-color);
  font-size: 0.9rem;
  line-height: 1.3;
  font-weight: 500;
  display: block;
  white-space: nowrap;
  width: calc(100% - 50px);
}

.notification-list .notification-content .notification-users a {
  color: inherit;
  text-decoration: none;
}

.notification-list .notification-content .posted {
  color: var(--bbrl-text-tertiary-color);
  font-size: 0.85rem;
  line-height: 1.5;
}

.notification-list .notification-content .posted img {
  vertical-align: middle;
}

.notification-list .unread:before {
  content: "";
  background-color: var(--bb-primary-color);
  border-radius: 50%;
  height: 6px;
  width: 6px;
  position: absolute;
  left: var(--bbrl-space-100);
  bottom: 24px;
}

.notification-list .unread .notification-content .posted {
  color: var(--bbrl-text-color);
  font-weight: 500;
}

.notification-list .unread:hover:before {
  visibility: hidden;
  opacity: 0;
}

.notification-listing .notification-list li .notification-avatar {
  position: relative;
}

.notification-listing .notification-list li .notification-avatar img {
  max-width: 32px;
}

.notification-listing .notification-list li .notification-avatar [class*="bb-icon"] {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--bbrl-radius-full);
  font-style: normal;
  position: absolute;
  left: 0;
  bottom: -6px;
  background-color: var(--bbrl-background-positive-primary-color);
}

.notification-listing .notification-list li .notification-avatar [class*="bb-icon"]:before {
  font-family: bb-icons-rl !important;
  color: var(--bbrl-text-white-color);
  font-size: 12px;
}

.notification-listing .notification-list li .notification-avatar [class*="bb-icon"].bb-icon-comment-activity:before {
  content: "\e172";
}

.notification-listing .notification-list li .notification-avatar [class*="bb-icon"].bb-icon-activity:before {
  content: "\e17a";
}

.notification-listing .notification-list li .notification-avatar [class*="bb-icon"].bb-icon-reply:before {
  content: "\ed52";
}

.notification-listing .notification-list li .notification-avatar [class*="bb-icon"].bb-icon-comment-square-dots:before {
  content: "\e172";
}

.notification-listing .notification-list li .notification-avatar [class*="bb-icon"].bb-icon-comment-square:before {
  content: "\e16c";
}

.notification-listing .notification-list li .notification-avatar [class*="bb-icon"].bb-icon-poll {
  content: "\e150";
}

.notification-listing .notification-list li .notification-content {
  color: var(--bbrl-text-color);
  font-size: 0.9rem;
  line-height: 1.3;
  font-weight: 500;
  max-width: calc(100% - 75px);
}

.notification-listing .notification-list li .notification-content a {
  color: var(--bbrl-text-color);
  text-decoration: none;
}

.notification-listing .notification-list li .notification-content .posted {
  color: var(--bbrl-text-tertiary-color);
  display: block;
  font-size: 0.85rem;
  margin-top: 3px;
  line-height: 19px;
  font-weight: 400;
}

.notification-listing .notification-list li.unread:before {
  left: 27px;
  bottom: 50%;
  margin-bottom: -1px;
}

.notification-listing .notification-list li .actions {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: 10px;
}

.notification-listing .notification-list li .actions > a {
  cursor: pointer;
}

.notification-listing .notification-list li .bbrl-option-wrap {
  opacity: 0;
  visibility: hidden;
}

.notification-listing .notification-list li .bbrl-option-wrap__action {
  padding: 0;
  background-color: var(--bbrl-background-secondary-hover-color);
}

.notification-listing .notification-list li .bbrl-option-wrap__action [class*="bb-icons-rl"] {
  color: var(--bbrl-icon-tertiary-color);
}

.notification-listing .notification-list li .bbrl-option-wrap.active,
.notification-listing .notification-list li:hover .bbrl-option-wrap {
  opacity: 1;
  visibility: visible;
}

.bbrl-left-panel {
  position: fixed;
  right: 0;
  z-index: var(--bbrl-z-index-fixed);
  background: var(--bbrl-background-color);
  border-left: 1px solid var(--bbrl-border-color);
  height: calc(100% - 71px);
  width: 300px;
  padding: var(--bbrl-space-100) var(--bbrl-space-200);
  overflow: auto;
  top: 71px;
}

body.admin-bar .bbrl-left-panel {
  top: 103px;
  height: calc(100% - 71px - 32px);
}

.bbrl-left-panel-widget {
  padding: var(--bbrl-space-200) 0;
  border-bottom: 1px solid var(--bbrl-border-secondary-color);
}

.bbrl-left-panel .bb-readylaunchpanel-menu {
  padding: 0;
  list-style: none;
}

.bbrl-left-panel .bb-readylaunchpanel-menu li > a {
  display: flex;
  align-items: center;
  color: var(--bbrl-text-color);
  font-size: 0.85rem;
  padding: var(--bbrl-space-100) var(--bbrl-space-200);
  text-decoration: none;
  border-radius: var(--bbrl-radius-md);
}

.bbrl-left-panel .bb-readylaunchpanel-menu li > a:before {
  content: "\e000";
  font-family: bb-icons-rl;
  font-size: 1.2rem;
  color: var(--bbrl-icon-color);
  margin-left: var(--bbrl-space-100);
}

.bbrl-left-panel .bb-readylaunchpanel-menu li > a:focus, .bbrl-left-panel .bb-readylaunchpanel-menu li > a:hover {
  outline: none;
  background-color: var(--bbrl-background-secondary-hover-color);
}

.bbrl-left-panel .bb-readylaunchpanel-menu li:nth-child(2) > a:before {
  content: "\e4d6";
}

.bbrl-left-panel .bb-rl-list h2 {
  color: var(--bbrl-text-tertiary-color);
  font-size: 0.85rem;
  font-weight: 600;
  margin: 0 var(--bbrl-space-200) var(--bbrl-space-200);
}

.bbrl-left-panel .bb-rl-list .item-list {
  list-style: none;
  padding: 0;
}

.bbrl-left-panel .bb-rl-list .item-list li {
  display: flex;
  align-items: center;
  padding: var(--bbrl-space-100) var(--bbrl-space-200);
  border-radius: var(--bbrl-radius-md);
}

.bbrl-left-panel .bb-rl-list .item-list li:hover, .bbrl-left-panel .bb-rl-list .item-list li:focus-within {
  background-color: var(--bbrl-background-secondary-hover-color);
}

.bbrl-left-panel .bb-rl-list .item-list .item-avatar {
  margin-left: var(--bbrl-space-100);
}

.bbrl-left-panel .bb-rl-list .item-list .item-avatar a {
  outline: none;
}

.bbrl-left-panel .bb-rl-list .item-list .item-avatar img {
  height: 24px;
  width: 24px;
  border-radius: var(--bbrl-radius-full);
}

.bbrl-left-panel .bb-rl-list .item-list .item-title a {
  color: var(--bbrl-text-color);
  font-size: 0.85rem;
  font-weight: 500;
  text-decoration: none;
  outline: none;
}
