$font-size-small: 16px !default;
$font-size-smaller: 14px !default;
$block-border-radius: var(--bb-rl-radius-lg) !default;
$block-border-radius-inner: var(--bb-rl-radius-base) !default;
$color-border: var(--bb-rl-border-secondary-color) !default;
$color-headings: var(--bb-rl-text-color) !default;
$color-small-text: var(--bb-rl-text-tertiary-color) !default;
$color-text: var(--bb-rl-text-color) !default;
$color-error: var(--bb-rl-border-danger-secondary-color) !default;
$color-lightgray: #dedfe2 !default;
$color-white: #fff !default;
$color-link: var(--bb-rl-primary-color) !default;
$color-success: var(--bb-rl-border-positive-secondary-color) !default;
$color-light: #eef0f3 !default;
$color-link-hover-button: #0f74e0 !default;
$menu-active-color: var(--bb-rl-text-color);
$base-line-large: 32px !default;
$input-border-color: var(--bb-rl-border-secondary-color) !default;
$input-border-radius: var(--bb-rl-radius-base) !default;
$input-background-color: var(--bb-rl-background-color) !default;
$checkbox-border-radius: var(--bb-rl-radius-md) !default;
$button-border-radius: var(--bb-rl-radius-md) !default;
$color-button-disabled-text: #c8cbcf !default;
$color-warning: var(--bb-rl-text-warning-secondary-color) !default;
$color-accent: #fe6f4b !default;
$font-size-extra-small: 12px !default;
$font-size: 18px !default;
$button-font-weight: 500 !default;
$button-base-line: 1.3 !default;
$button-font-size-small: 14px !default;
$button-height-small: 34px !default;
$button-padding-small-tb: 6px !default;
$button-padding-small-rl: 20px !default;
$color-button-primary-text: #fff !default;
$color-button-primary: #385dff !default;
$background-body: var(--bb-rl-background-secondary-color) !default;
$input-border-width: 1px !default;
$input-font-size: 15px !default;
$z-over-content: 100 !default;
$color-placeholder: #c3c6c9 !default;
$color-textgray: #7f868f !default;
$menu-link-color: var(--bb-rl-text-tertiary-color);
$font-size-large: 22px !default;

@mixin bb-button-secondary {
    background-color: var(--bb-rl-background-tertiary-color);
    color: var(--bb-rl-text-color);
    border: 1px solid transparent;
}

@mixin bb-button-secondary-hover {
    background-color: var(--bb-rl-background-tertiary-hover-color);
}

.woocommerce {
    .woocommerce-MyAccount-navigation {
        min-width: 230px;
        float: none;
        width: 230px;

        ul {
            margin: 0;

            li {
                display: block;

                a {
                    display: block;
                    padding: 9px 15px;
                    font-size: $font-size-smaller;
                    color: $color-headings;

                    &.is-active {
                        color: $color-link;
                        background-color: $background-body;
                    }

                    &:hover {
                        color: $color-link;
                        background-color: var(--bb-content-alternate-background-color);
                    }

                    &:before {
                        font-size: 20px;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        font-family: bb-icons;
                        margin-right: 15px;
                        vertical-align: middle;
                    }
                }

                &.is-active a {
                    color: $color-link;
                    background-color: var(--bb-content-alternate-background-color);
                }

                &.woocommerce-MyAccount-navigation-link--dashboard a:before {
                    content: "\ee74";
                }

                &.woocommerce-MyAccount-navigation-link--orders a:before {
                    content: "\eec3";
                }

                &.woocommerce-MyAccount-navigation-link--downloads a:before {
                    content: "\e889";
                }

                &.woocommerce-MyAccount-navigation-link--payment-methods a:before {
                    content: "\ee42";
                }

                &.woocommerce-MyAccount-navigation-link--edit-address a:before {
                    content: "\eed1";
                }

                &.woocommerce-MyAccount-navigation-link--edit-account a:before {
                    content: "\ee27";
                }

                &.woocommerce-MyAccount-navigation-link--customer-logout a:before {
                    content: "\eefd";
                }

                &.woocommerce-MyAccount-navigation-link--become-a-vendor a:before {
                    content: "\ef52";
                }

                &.woocommerce-MyAccount-navigation-link--giftcards a:before {
                    content: "\eea9";
                }
            }
        }

        @media (min-width: $md) {
            ul.woocommerce-MyAccount-menu {
                display: block !important;
            }
        }

        .wc-MyAccount-navigation-heading {
            padding: 15px;
            text-transform: uppercase;

            h5 {
                margin-bottom: 0;
                font-size: $font-size-smaller;
                display: flex;
                align-items: center;

                a.push-my-account-nav {
                    margin-left: auto;
                    color: #939597;
                    display: none;

                    &:hover {
                        color: $color-link;
                    }
                }
            }
        }
    }

    .woocommerce-MyAccount-content {
        flex: 1;
        border-left: 1px solid $color-border;
        min-height: 400px;
        width: auto;
        padding: 30px;

        input[type="submit"][name="apply_for_vendor_submit"] {
            border-radius: 100px;
            padding: 10px 20px;
            font-weight: 500;
            font-style: normal;
            text-decoration: none;
            cursor: pointer;
            display: inline-block;
            line-height: 1.3;
            border: 1px solid transparent;
            font-size: 15px;
            color: #fff;
            background-color: var(--bb-headings-color);
        }

        .MyAccount-content--dashboard p {
            font-size: $font-size-smaller;
        }

        .wc-MyAccount-inner-content {
            padding: 20px 0;

            .woocommerce-address-fields {
                width: 70%;
                margin: 2em auto;
            }

            @media (max-width: $xl) {
                .woocommerce-address-fields {
                    width: 90%;
                }
            }

            @media (max-width: $lg) {
                .woocommerce-address-fields {
                    .form-row.form-row-last,
                    .form-row.form-row-first {
                        width: 100%;
                        float: none;
                    }
                }
            }
        }

        @media screen and (max-width: 860px) and (min-width: $md) {
            .wc-MyAccount-inner-content {
                padding: 20px 0;
            }
        }

        .woocommerce-account-fields {
            width: 70%;
            margin: 2em auto;

            fieldset {
                border: 0;
                padding: 1.5rem 0 1rem;
                margin-top: 3rem;
                margin-bottom: 0;
            }

            legend {
                font-weight: 500;
                font-size: $font-size-small;
                color: $color-headings;
            }
        }

        @media (max-width: $xl) {
            .woocommerce-account-fields {
                width: 90%;
            }
        }

        @media (max-width: $lg) {
            .woocommerce-account-fields {
                .form-row.form-row-last,
                .form-row.form-row-first {
                    width: 100%;
                    float: none;
                }
            }
        }

        .woocommerce-Addresses {
            font-size: $font-size-smaller;
            padding: 0;

            .woocommerce-Address-title h3 {
                text-transform: uppercase;
                font-size: $font-size-smaller;
                margin-bottom: 0.2rem;
            }

            address {
                line-height: 21px;
                margin-bottom: 1em;
            }
        }

        @media (max-width: $lg) {
            .woocommerce-Addresses {
                .woocommerce-Address {
                    float: none;
                    width: 100%;

                    &.col-1 {
                        padding-bottom: 30px;
                    }
                }
            }
        }

        form {
            .form-row {
                margin-bottom: 1.3em;

                .required {
                    color: $color-error;
                    text-decoration: none;
                }

                label {
                    font-size: $font-size-smaller;
                }

                input,
                textarea,
                select {
                    font-size: $font-size-smaller;
                    background-color: var(--bb-content-background-color);
                    border: 1px solid var(--bb-content-border-color);
                    border-radius: var(--bb-input-radius);
                    box-shadow: none;
                    padding: 10px 12px;
                    color: var(--bb-body-text-color);

                    &:focus {
                        outline: none;
                        background-color: var(--bb-content-background-color);
                        box-shadow: var(--bb-input-focus-shadow);
                        border-color: var(--bb-input-focus-border-color);
                    }
                }

                .select2-container .select2-selection--single,
                .select2-container .select2-results {
                    font-size: $font-size-smaller;
                }

                span.select2-selection.select2-selection--single {
                    outline: none;
                }

                span > em {
                    font-size: 14px;
                    font-style: normal;
                    color: $color-small-text;
                }
            }

            .woocommerce-address-fields__ctrls-wrapper,
            .woocommerce-account-fields__ctrls-wrapper {
                text-align: right;
            }
        }
    }

    .wc-MyAccount-sub-heading {
        padding: 0;
        border-bottom: 1px solid $color-border;
        margin-bottom: var(--bb-rl-space-200);

        h2 {
            margin: 0 0 var(--bb-rl-space-200);

            strong {
                font-weight: normal;
            }
        }

        p {
            font-size: $font-size-smaller;
            margin-bottom: 0;
            color: $color-small-text;
        }
    }

    table.my_account_orders,
    table.shop_table.my_account_orders {
        border: 0;

        th,
        td {
            padding-top: 8px;
            padding-bottom: 8px;
            font-size: 13px;
            border-bottom: 0;
        }

        thead {
            th {
                text-transform: uppercase;
                font-size: $font-size-extra-small;
                font-weight: 500;
            }
        }

        tbody {
            td {
                border-top: 1px solid $color-border;
                color: $color-small-text;

                &.woocommerce-orders-table__cell-order-actions {
                    width: 95px;
                }

                @media (max-width: $md) {
                    &.woocommerce-orders-table__cell-order-actions {
                        width: auto;
                    }
                }

                a.button {
                    min-height: auto;
                    padding: var(--bb-rl-space-50) var(--bb-rl-space-100);
                    margin: 0;
                    font-size: 13px;
                    line-height: 1;
                    max-width: 100px;
                    width: 100%;
                    font-weight: 500;
                }

                @media (max-width: $md) {
                    a.button {
                        width: auto;
                    }
                }

                &.woocommerce-orders-table__cell-order-number {
                    a {
                        color: $color-headings;

                        &:hover {
                            color: $color-link;
                        }
                    }
                }
            }
        }

        @media (max-width: $md) {
            tbody tr:nth-child(even) td {
                background-color: $background-body;
            }

            tbody tr.woocommerce-orders-table__row {
                margin-bottom: 30px;
            }

            tbody tr:last-child {
                margin-bottom: 0;
            }
        }

        &.account-orders-table-dashboard {
            tbody {
                td {
                    a.button {
                        padding: 6px 15px;
                        display: block;
                        max-width: 90%;
                        margin-bottom: 10px;
                    }

                    @media (max-width: $xl) {
                        a.button {
                            width: 100%;
                            max-width: 100%;
                        }
                    }

                    @media (max-width: $md) {
                        a.button {
                            display: inline-block;
                            margin-left: 0;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }

    .bsMyAccount {
        display: flex;
        background: var(--bb-content-background-color);
        border: 1px solid $color-border;
        border-radius: $block-border-radius;
        margin-bottom: 30px;
    }

    form .password-input .show-password-input {
        &:after {
            content: "\ee69";
            font-family: bb-icons;
            font-size: 18px;
            font-weight: 400;
        }

        &.display-password:after {
            content: "\ee6a";
            font-family: bb-icons;
            color: inherit;
        }

        &:before {
            content: unset;
        }

        &.display-password:before {
            content: unset;
        }

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    @media (max-width: $md) {
        .bsMyAccount {
            margin-bottom: 0;
        }
    }

    @media (max-width: $xl) {
        .woocommerce-account.has-sidebar & {
            .bsMyAccount {
                margin-bottom: 0;
            }
        }
    }

    .wc-MyAccount-fix-center {
        width: 60%;
        margin: 2em auto;
        text-align: center;

        &.woocommerce-info {
            border: 0;
            padding: 0;

            &:before {
                display: none;
            }

            .button {
                float: none;
                padding: 1em 3em;
                font-weight: 500;
                margin: 0 auto;
            }
        }

        .wc-MyAccount-sub-tagline {
            font-size: $font-size-large;
            margin-bottom: 25px;
        }

        .wc-MyAccount-sub-icon {
            margin-bottom: 25px;

            img {
                max-width: 60px;
            }
        }
    }

    @media (max-width: $lg) {
        .wc-MyAccount-fix-center {
            width: 85%;
        }
    }

    #customer_login,
    .bb_customer_login {
        padding: 3rem;

        form.login,
        form.register {
            border: 0;
            padding: 10px 0;
            font-size: $font-size-smaller;

            label {
                font-size: $font-size-smaller;
            }

            input,
            textarea,
            select {
                font-size: $font-size-smaller;
            }
        }

        .woocommerce-LostPassword {
            display: flex;
            align-items: center;

            label.woocommerce-form__label {
                margin-right: auto;
            }
        }

        @media (max-width: $sm) {
            .woocommerce-LostPassword {
                flex-direction: column;

                label.woocommerce-form__label {
                    margin-right: auto;
                    margin-left: auto;
                    margin-bottom: 15px;
                }
            }
        }

        .woocommerce-LoginBtn,
        .woocommerce-RegisterBtn {
            text-align: right;

            button.button {
                padding-left: 3em;
                padding-right: 3em;
            }
        }

        @media (max-width: $sm) {
            .woocommerce-LoginBtn,
            .woocommerce-RegisterBtn {
                text-align: center;
            }
        }

        &.col2-set .col-1,
        &.col2-set .col-2 {
            padding: 0 20px;

            .bb_customer_login {
                padding: 0;
            }
        }
    }

    .woocommerce-MyAccount-content .bb_customer_login {
        width: 50%;
        margin: 0 auto;
        padding: 3rem;

        & > h2 {
            display: none;
        }
    }

    @media (max-width: $xl) {
        .has-sidebar & .woocommerce-MyAccount-content .bb_customer_login {
            width: 80%;
        }
    }

    @media (max-width: $lg) {
        .woocommerce-MyAccount-content .bb_customer_login {
            width: 80%;
        }

        .has-sidebar & .woocommerce-MyAccount-content .bb_customer_login {
            width: 95%;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }

    @media (max-width: $sm) {
        .woocommerce-MyAccount-content .bb_customer_login {
            width: 90%;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }

    .wc-LostPassword {
        padding: 3rem;
        width: 50%;
        margin: 0 auto;

        .bs_woocommerce_reset_message {
            font-size: $font-size-smaller;
            color: #939597;
            margin-bottom: 1rem;
            line-height: 1.3rem;
        }

        .bs_woocommerce_reset_ctrls {
            text-align: right;
        }
    }

    @media (max-width: $md) {
        .wc-LostPassword {
            width: 80%;
        }
    }

    @media (max-width: $sm) {
        .wc-LostPassword {
            width: 100%;
        }
    }

    section.woocommerce-order-details {
        p.order-again {
            text-align: right;

            a.button {
                padding: 8px 2em;

                &:hover {
                    background-color: $color-link-hover-button;
                    color: $color-white;
                }
            }
        }
    }

    .woocommerce-table--order-details {
        border: 0;

        th,
        td {
            padding-top: 8px;
            padding-bottom: 8px;
            font-size: $font-size-smaller;
            border-bottom: 0;
            vertical-align: top;
            border-top: 1px solid $color-border;
        }

        thead {
            th {
                text-transform: uppercase;
                font-size: $font-size-smaller;
                color: $color-small-text;
                font-weight: 500;
            }
        }

        tfoot {
            th,
            td {
                font-weight: normal;
            }
        }
    }

    .order_details_items {
        thead tr:first-child {
            th,
            td {
                border-top: 0;
            }

            @media (max-width: $sm) {
                th.product-thumb {
                    display: none;
                }
            }
        }

        tbody tr:last-child {
            th,
            td {
                border-bottom: 1px solid $color-border;
                border-radius: 0;
            }
        }

        td.product-name {
            a {
                color: $menu-active-color;
                font-weight: 500;

                &:hover {
                    color: $color-link;
                }
            }
        }

        th.product-total,
        td.product-total {
            width: 190px;
            text-align: right;

            span.woocommerce-Price-amount {
                font-weight: bold;
            }
        }

        @media (max-width: $sm) {
            th.product-total,
            td.product-total {
                text-align: right;
            }
        }

        @media (max-width: $xl) {
            td.product-total {
                width: auto;
            }
        }

        tr.product-purchase-note td {
            padding-top: 8px;
        }

        td:not(.product-thumb) {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        td.product-thumb {
            width: 120px;

            img {
                max-width: 100px;
            }
        }

        @media (max-width: $lg) {
            td.product-thumb {
                width: 90px;

                img {
                    max-width: 80px;
                }
            }
        }

        .bb_sku_wrapper {
            display: block;
            color: $color-small-text;
            font-size: 13px;
            line-height: 1;
        }
    }

    table.order_details_total {
        width: 70%;
        float: right;

        tfoot th,
        tfoot td {
            border-top: 0;
            border-bottom: 0;
            padding-top: 4px;
            padding-bottom: 4px;
            color: $color-small-text;
            font-weight: normal;
        }

        th {
            text-transform: uppercase;
        }

        tfoot td:last-child {
            width: 190px;
            color: $color-text;
            text-align: right;
        }

        @media (max-width: $md) {
            tfoot td:last-child {
                text-align: right;
            }
        }

        tfoot tr:last-child th,
        tfoot tr:last-child td {
            color: $color-text;
            font-weight: bold;
        }
    }

    @media (max-width: $lg) {
        table.order_details_total {
            width: 100%;
            float: none;

            th,
            td {
                padding-top: 4px;
                padding-bottom: 4px;
            }
        }
    }

    .order_details_note {
        clear: both;

        th {
            color: $color-text;
        }
    }

    section.woocommerce-customer-details {
        padding: 0 12px;

        h2.woocommerce-column__title {
            font-size: 17px;
            margin-bottom: 0.5rem;
        }

        .woocommerce-column {
            h2.woocommerce-column__title {
                font-size: 17px;
                margin-bottom: 0.5rem;
            }
        }

        .woocommerce-column.woocommerce-column--1 {
            width: 64%;
        }

        .woocommerce-column.woocommerce-column--2 {
            width: 32%;
        }

        @media (max-width: $lg) {
            .woocommerce-column,
            .woocommerce-column.woocommerce-column--1,
            .woocommerce-column.woocommerce-column--2 {
                width: 100%;
                float: none;
            }

            .woocommerce-column.woocommerce-column--1 {
                margin-bottom: 30px;
            }
        }

        address {
            border: 0;
            padding: 0;
            font-size: $font-size-smaller;

            .woocommerce-customer-details--phone:before,
            .woocommerce-customer-details--email:before {
                line-height: 2.15;
            }
        }

        .woocommerce-customer-details--subcolumn {
            font-size: $font-size-smaller;

            .woocommerce-customer-details--phone:before,
            .woocommerce-customer-details--email:before {
                line-height: 2.15;
            }
        }

        .woocommerce-customer-details--billwrap {
            display: flex;

            .woocommerce-customer-details--maincolumn {
                margin-right: 50px;
            }
        }

        @media (max-width: $xl) {
            .woocommerce-customer-details--billwrap {
                .woocommerce-customer-details--maincolumn {
                    margin-right: 25px;
                }
            }
        }

        @media (max-width: $lg) {
            .woocommerce-customer-details--billwrap {
                flex-direction: column;

                .woocommerce-customer-details--maincolumn {
                    margin-right: 0;
                }
            }
        }
    }

    mark {
        background-color: $background-body;
        color: $color-text;
    }

    @media (max-width: $md) {
        .bsMyAccount {
            flex-direction: column;
        }

        .woocommerce-MyAccount-navigation {
            width: 100%;

            .wc-MyAccount-navigation-heading h5 a.push-my-account-nav {
                display: block;
            }

            ul.woocommerce-MyAccount-menu {
                display: none;
            }
        }

        .woocommerce-MyAccount-content {
            border-left: 0;
        }
    }

    .bsMyAccount--dashboard {
        .wc-MyAccount-inner-content {
            padding-bottom: 10px;
        }

        .wc-MyAccount-sub-heading {
            border-bottom: 0;
            padding-bottom: 0;
        }

        .wc-MyAccount-dashboard-block {
            background-color: var(--bb-content-background-color);

            .wc-MyAccount-sub-heading {
                border-bottom: 1px solid $color-border;
                padding-top: 10px;
                padding-bottom: 5px;

                h2 {
                    text-transform: uppercase;
                    font-size: $font-size-smaller;
                    margin-bottom: 0;
                }
            }

            .my_account_orders {
                margin-bottom: 0;
            }

            .woocommerce-account-fields {
                width: 100%;
                margin: 0;

                .wcf-split {
                    display: flex;
                    margin: 0 -10px;

                    .wcf-col {
                        width: 50%;
                        margin: 0 10px;
                    }

                    fieldset {
                        margin: 0;
                        padding: 0;
                    }
                }

                @media (max-width: $xl) {
                    .wcf-split {
                        flex-direction: column;
                        margin: 0;

                        .wcf-col {
                            width: 100%;
                            margin: 0;
                        }
                    }
                }
            }
        }

        .wc-DashBoard-address-wrapper {
            .col2-set {
                display: flex;
                margin: 20px 0;
                padding: 0;

                &:before,
                &:after {
                    display: none;
                }
            }

            @media (max-width: $lg) {
                .col2-set {
                    flex-direction: column;
                }
            }

            @media (max-width: $lg) {
                .woocommerce-Address {
                    width: 100%;

                    &.col-1 {
                        margin-right: 0;
                        margin-bottom: 20px;
                    }

                    &.col-2 {
                        margin-left: 0;
                    }
                }
            }
        }

        .woocommerce-Address {
            width: 50%;
            margin: 0;
            float: none;
            background-color: var(--bb-content-background-color);

            address {
                padding: 20px;
            }

            &.col-1 {
                margin-right: 10px;
            }

            &.col-2 {
                margin-left: 10px;
            }
        }

        .woocommerce-Address-title {
            border-bottom: 1px solid $color-light;
            padding: 10px 20px 5px;
            display: flex;
            align-items: center;

            h3 {
                text-transform: uppercase;
                font-size: $font-size-smaller;
                margin-bottom: 0;
                font-weight: 500;
            }

            a.edit {
                margin-left: auto;
            }
        }
    }

    .bsMyAccount--dashboard-inner {
        .shop_table.order_details {
            .order_item {
                &:last-child,
                &:first-child:last-child {
                    > td {
                        border: 0;
                    }
                }

                .product-name .product-quantity {
                    margin-right: 10px;
                }
            }
        }

        tfoot tr:first-child {
            td,
            th {
                border-bottom: 0;
            }
        }

        table.subscription_details,
        table.order_details {
            tr:last-child {
                td:first-child {
                    border-bottom-left-radius: 0;
                }

                td:last-child {
                    border-bottom-right-radius: 0;
                }
            }
        }
    }

    @media (max-width: $md) {
        .bsMyAccount.bsMyAccount--dashboard {
            .MyAccount-content--dashboard > .wc-MyAccount-inner-content {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}

@media (max-width: $xl) {
    .logged-in.woocommerce-account.has-sidebar {
        .widget-area:not(.widget-area-secondary) {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    .logged-in.woocommerce-account.has-sidebar:not(.profile-sidebar, .group-sidebar, .sfwd-sidebar, .llms-pointer) {
        #primary {
            max-width: 100%;
        }
    }
}

.woocommerce-checkout .woocommerce .woocommerce-order .woocommerce-order-details-wrapper,
.woocommerce {
    @media (max-width: $md) {
        table.woocommerce-table--order-details.shop_table_responsive.order_details_items {
            td.product-thumb {
                text-align: center !important;
                width: 100%;
            }

            td.product-thumb img {
                max-width: 100px;
                width: 100px;
            }

            td.product-thumb:before {
                display: none;
            }
        }

        table.woocommerce-table--order-details.shop_table_responsive.order_details_items tr:nth-child(2n) td {
            background-color: $color-white;
        }

        table.woocommerce-table--order-details.shop_table_responsive.order_details_items tbody tr:last-child td {
            border-bottom: 0;
        }

        table.woocommerce-table--order-details.shop_table_responsive.order_details_items {
            tr.woocommerce-table__line-item {
                margin-bottom: 30px;
            }
        }

        table.woocommerce-table--order-details.shop_table_responsive.order_details_items {
            tr.woocommerce-table__product-purchase-note {
                position: relative;
                bottom: 30px;
            }
        }

        table.woocommerce-table--order-details.shop_table_responsive.order_details_items {
            tr td.woocommerce-table__product-thumb {
                border-top: 0;
            }
        }
    }
}

body.woocommerce-account:not(.llms-pointer) {
    header.entry-header {
        display: none;
    }
}

.woocommerce-account {
    .select2-container {
        .select2-selection--single,
        .select2-results,
        input {
            font-size: $font-size-smaller;
        }
    }
}

.woocommerce-MyAccount-navigation {
    .woocommerce-MyAccount-navigation-link--members-area a:before {
        font-family: bb-icons;
        content: "\eed4";
    }

    li.woocommerce-MyAccount-navigation-link--subscriptions a:before {
        font-family: bb-icons;
        content: "\ef04";
    }

    li.woocommerce-MyAccount-navigation-link--wc-smart-coupons a:before {
        font-family: bb-icons;
        content: "\e976";
    }
}
