$color-link-hover-button: hsl(211, 87%, 47%) !default;

.woocommerce {

	.woocommerce-MyAccount-content {
		flex: 1;
		border-left: 1px solid var(--bb-rl-border-secondary-color);
		min-height: 400px;
		width: auto;
		padding: 30px;

		input[type="submit"][name="apply_for_vendor_submit"] {
			border-radius: 100px;
			padding: 10px 20px;
			font-weight: 500;
			font-style: normal;
			text-decoration: none;
			cursor: pointer;
			display: inline-block;
			line-height: 1.3;
			border: 1px solid transparent;
			font-size: 15px;
			color: #fff;
			background-color: var(--bb-headings-color);
		}

		.MyAccount-content--dashboard p {
			font-size: var(--bb-rl-font-size-sm);
		}

		.wc-MyAccount-inner-content {
			padding: 20px 0;

			.woocommerce-address-fields {
				width: 70%;
				margin: 2em auto;
			}

			@media (max-width: $xl) {

				.woocommerce-address-fields {
					width: 90%;
				}
			}

			@media (max-width: $lg) {

				.woocommerce-address-fields {

					.form-row.form-row-last,
					.form-row.form-row-first {
						width: 100%;
						float: none;
					}
				}
			}
		}

		@media screen and (max-width: 860px) and (min-width: $md) {

			.wc-MyAccount-inner-content {
				padding: 20px 0;
			}
		}

		.woocommerce-account-fields {
			width: 70%;
			margin: 2em auto;

			fieldset {
				border: 0;
				padding: 1.5rem 0 1rem;
				margin-top: 3rem;
				margin-bottom: 0;
			}

			legend {
				font-weight: 500;
				font-size: var(--bb-rl-font-size-base);
				color: var(--bb-rl-text-color);
			}
		}

		@media (max-width: $xl) {

			.woocommerce-account-fields {
				width: 90%;
			}
		}

		@media (max-width: $lg) {

			.woocommerce-account-fields {

				.form-row.form-row-last,
				.form-row.form-row-first {
					width: 100%;
					float: none;
				}
			}
		}

		.woocommerce-Addresses {
			font-size: var(--bb-rl-font-size-sm);
			padding: 0;

			.woocommerce-Address-title h3 {
				text-transform: uppercase;
				font-size: var(--bb-rl-font-size-sm);
				margin-bottom: 0.2rem;
			}

			address {
				line-height: 21px;
				margin-bottom: 1em;
			}
		}

		@media (max-width: $lg) {

			.woocommerce-Addresses {

				.woocommerce-Address {
					float: none;
					width: 100%;

					&.col-1 {
						padding-bottom: 30px;
					}
				}
			}
		}

		form {

			.form-row {
				margin-bottom: 1.3em;

				.required {
					color: var(--bb-rl-border-danger-secondary-color);
					text-decoration: none;
				}

				label {
					font-size: var(--bb-rl-font-size-sm);
				}

				input,
				textarea,
				select {
					font-size: var(--bb-rl-font-size-sm);
					background-color: var(--bb-content-background-color);
					border: 1px solid var(--bb-content-border-color);
					border-radius: var(--bb-input-radius);
					box-shadow: none;
					padding: 10px 12px;
					color: var(--bb-body-text-color);

					&:focus {
						outline: none;
						background-color: var(--bb-content-background-color);
						box-shadow: var(--bb-input-focus-shadow);
						border-color: var(--bb-input-focus-border-color);
					}
				}

				.select2-container .select2-selection--single,
				.select2-container .select2-results {
					font-size: var(--bb-rl-font-size-sm);
				}

				span.select2-selection.select2-selection--single {
					outline: none;
				}

				span > em {
					font-size: 14px;
					font-style: normal;
					color: var(--bb-rl-text-tertiary-color);
				}
			}

			.woocommerce-address-fields__ctrls-wrapper,
			.woocommerce-account-fields__ctrls-wrapper {
				text-align: right;
			}
		}
	}

	.MyAccount-content--address {

		.wc-MyAccount-sub-heading {

			h2 + p {
				position: relative;
				top: -16px;
			}
		}	
	}

	.wc-MyAccount-sub-heading {
		padding: 0;
		border-bottom: 1px solid var(--bb-rl-border-secondary-color);
		margin-bottom: var(--bb-rl-space-200);

		h2 {
			margin: 0 0 var(--bb-rl-space-200);

			strong {
				font-weight: 400;
			}
		}

		p {
			font-size: var(--bb-rl-font-size-sm);
			margin-bottom: 0;
			color: var(--bb-rl-text-tertiary-color);
		}
	}

	table.my_account_orders,
	table.shop_table.my_account_orders {
		border: 0;

		th,
		td {
			padding-top: 8px;
			padding-bottom: 8px;
			font-size: 13px;
			border-bottom: 0;
		}

		thead {

			th {
				text-transform: uppercase;
				font-size: var(--bb-rl-font-size-xs);
				font-weight: 500;
			}
		}

		tbody {

			td {
				border-top: 1px solid var(--bb-rl-border-secondary-color);
				color: var(--bb-rl-text-tertiary-color);

				&.woocommerce-orders-table__cell-order-actions {
					width: 95px;
				}

				@media (max-width: $md) {

					&.woocommerce-orders-table__cell-order-actions {
						width: auto;
					}
				}

				a.button {
					min-height: auto;
					padding: var(--bb-rl-space-50) var(--bb-rl-space-100);
					margin: 0;
					font-size: 13px;
					line-height: 1;
					max-width: 100px;
					width: 100%;
					font-weight: 500;
				}

				@media (max-width: $md) {

					a.button {
						width: auto;
					}
				}

				&.woocommerce-orders-table__cell-order-number {

					a {
						color: var(--bb-rl-text-color);

						&:hover {
							color: var(--bb-rl-primary-color);
						}
					}
				}
			}
		}

		@media (max-width: $md) {

			tbody tr:nth-child(even) td {
				background-color: var(--bb-rl-background-secondary-color);
			}

			tbody tr.woocommerce-orders-table__row {
				margin-bottom: 30px;
			}

			tbody tr:last-child {
				margin-bottom: 0;
			}
		}

		&.account-orders-table-dashboard {

			tbody {

				td {

					a.button {
						padding: 6px 15px;
						display: block;
						max-width: 90%;
						margin-bottom: 10px;
					}

					@media (max-width: $xl) {

						a.button {
							width: 100%;
							max-width: 100%;
						}
					}

					@media (max-width: $md) {

						a.button {
							display: inline-block;
							margin-left: 0;
							margin-right: 5px;
						}
					}
				}
			}
		}
	}

	form .password-input .show-password-input {

		&:after {
			content: "\ee69";
			font-family: bb-icons;
			font-size: 18px;
			font-weight: 400;
		}

		&.display-password:after {
			content: "\ee6a";
			font-family: bb-icons;
			color: inherit;
		}

		&:before {
			content: unset;
		}

		&.display-password:before {
			content: unset;
		}

		&:focus {
			outline: none;
			box-shadow: none;
		}
	}

	@media (max-width: $md) {

		.bsMyAccount {
			margin-bottom: 0;
		}
	}

	@media (max-width: $xl) {

		.woocommerce-account.has-sidebar & {

			.bsMyAccount {
				margin-bottom: 0;
			}
		}
	}

	.wc-MyAccount-fix-center {
		width: 60%;
		margin: 2em auto;
		text-align: center;

		&.woocommerce-info {
			border: 0;
			padding: 0;

			&:before {
				display: none;
			}

			.button {
				float: none;
				padding: 1em 3em;
				font-weight: 500;
				margin: 0 auto;
			}
		}

		.wc-MyAccount-sub-tagline {
			font-size: var(--bb-rl-font-size-2xl);
			margin-bottom: var(--bb-rl-space-200);
		}

		.wc-MyAccount-sub-icon {
            margin-bottom: var(--bb-rl-space-200);
			line-height: 1;

            img {
                max-width: 60px;
                display: inline-flex;
            }
        }
	}

	@media (max-width: $lg) {

		.wc-MyAccount-fix-center {
			width: 85%;
		}
	}

	section.woocommerce-order-details {

		p.order-again {
			text-align: right;

			a.button {
				padding: 8px 2em;

				&:hover {
					background-color: $color-link-hover-button;
					color: var(--bb-rl-text-white-color);
				}
			}
		}
	}

	.woocommerce-table--order-details {
		border: 0;

		th,
		td {
			padding-top: 8px;
			padding-bottom: 8px;
			font-size: var(--bb-rl-font-size-sm);
			border-bottom: 0;
			vertical-align: top;
			border-top: 1px solid var(--bb-rl-border-secondary-color);
		}

		thead {

			th {
				text-transform: uppercase;
				font-size: var(--bb-rl-font-size-sm);
				color: var(--bb-rl-text-tertiary-color);
				font-weight: 500;
			}
		}

		tfoot {

			th,
			td {
				font-weight: 400;
			}
		}
	}

	.order_details_items {

		thead tr:first-child {

			th,
			td {
				border-top: 0;
			}

			@media (max-width: $sm) {

				th.product-thumb {
					display: none;
				}
			}
		}

		tbody tr:last-child {

			th,
			td {
				border-bottom: 1px solid var(--bb-rl-border-secondary-color);
				border-radius: 0;
			}
		}

		td.product-name {

			a {
				color: var(--bb-rl-text-color);
				font-weight: 500;

				&:hover {
					color: var(--bb-rl-primary-color);
				}

				&.remove {
					font-weight: 400;
					color: var(--bb-rl-text-danger-primary-color);
				}
			}
		}

		th.product-total,
		td.product-total {
			width: 190px;
			text-align: right;

			span.woocommerce-Price-amount {
				font-weight: 600;
			}
		}

		@media (max-width: $sm) {

			th.product-total,
			td.product-total {
				text-align: right;
			}
		}

		@media (max-width: $xl) {

			td.product-total {
				width: auto;
			}
		}

		tr.product-purchase-note td {
			padding-top: 8px;
		}

		td:not(.product-thumb) {
			padding-top: 15px;
			padding-bottom: 15px;
		}

		td.product-thumb {
			width: 120px;

			img {
				max-width: 100px;
			}
		}

		@media (max-width: $lg) {

			td.product-thumb {
				width: 90px;

				img {
					max-width: 80px;
				}
			}
		}

		.bb_sku_wrapper {
			display: block;
			color: var(--bb-rl-text-tertiary-color);
			font-size: 13px;
			line-height: 1;
		}
	}

	table.order_details_total {
		width: 70%;
		float: right;

		tfoot th,
		tfoot td {
			border-top: 0;
			border-bottom: 0;
			padding-top: 4px;
			padding-bottom: 4px;
			color: var(--bb-rl-text-tertiary-color);
			font-weight: 400;
		}

		th {
			text-transform: uppercase;
		}

		tfoot td:last-child {
			width: 190px;
			color: var(--bb-rl-text-color);
			text-align: right;
		}

		@media (max-width: $md) {

			tfoot td:last-child {
				text-align: right;
			}
		}

		tfoot tr:last-child th,
		tfoot tr:last-child td {
			color: var(--bb-rl-text-color);
			font-weight: 600;
		}
	}

	@media (max-width: $lg) {

		table.order_details_total {
			width: 100%;
			float: none;

			th,
			td {
				padding-top: 4px;
				padding-bottom: 4px;
			}
		}
	}

	.order_details_note {
		clear: both;

		th {
			color: var(--bb-rl-text-color);
		}
	}

	section.woocommerce-customer-details {
		padding: 0 12px;

		h2.woocommerce-column__title {
			font-size: 17px;
			margin-bottom: 0.5rem;
		}

		.woocommerce-column {

			h2.woocommerce-column__title {
				font-size: 17px;
				margin-bottom: 0.5rem;
			}
		}

		.woocommerce-column.woocommerce-column--1 {
			width: 64%;
		}

		.woocommerce-column.woocommerce-column--2 {
			width: 32%;
		}

		@media (max-width: $lg) {

			.woocommerce-column,
			.woocommerce-column.woocommerce-column--1,
			.woocommerce-column.woocommerce-column--2 {
				width: 100%;
				float: none;
			}

			.woocommerce-column.woocommerce-column--1 {
				margin-bottom: 30px;
			}
		}

		address {
			border: 0;
			padding: 0;
			font-size: var(--bb-rl-font-size-sm);

			.woocommerce-customer-details--phone:before,
			.woocommerce-customer-details--email:before {
				line-height: 2.15;
			}
		}

		.woocommerce-customer-details--subcolumn {
			font-size: var(--bb-rl-font-size-sm);

			.woocommerce-customer-details--phone:before,
			.woocommerce-customer-details--email:before {
				line-height: 2.15;
			}
		}

		.woocommerce-customer-details--billwrap {
			display: flex;

			.woocommerce-customer-details--maincolumn {
				margin-right: 50px;
			}
		}

		@media (max-width: $xl) {

			.woocommerce-customer-details--billwrap {

				.woocommerce-customer-details--maincolumn {
					margin-right: 25px;
				}
			}
		}

		@media (max-width: $lg) {

			.woocommerce-customer-details--billwrap {
				flex-direction: column;

				.woocommerce-customer-details--maincolumn {
					margin-right: 0;
				}
			}
		}
	}

	mark {
		background-color: var(--bb-rl-background-secondary-color);
		color: var(--bb-rl-text-color);
	}
}

.woocommerce-checkout .woocommerce .woocommerce-order .woocommerce-order-details-wrapper,
.woocommerce {

	@media (max-width: $md) {

		table.woocommerce-table--order-details.shop_table_responsive.order_details_items {

			td.product-thumb {
				text-align: center !important;
				width: 100%;
			}

			td.product-thumb img {
				max-width: 100px;
				width: 100px;
			}

			td.product-thumb:before {
				display: none;
			}
		}

		table.woocommerce-table--order-details.shop_table_responsive.order_details_items tr:nth-child(2n) td {
			background-color: var(--bb-rl-background-color);
		}

		table.woocommerce-table--order-details.shop_table_responsive.order_details_items tbody tr:last-child td {
			border-bottom: 0;
		}

		table.woocommerce-table--order-details.shop_table_responsive.order_details_items {

			tr.woocommerce-table__line-item {
				margin-bottom: 30px;
			}
		}

		table.woocommerce-table--order-details.shop_table_responsive.order_details_items {

			tr.woocommerce-table__product-purchase-note {
				position: relative;
				bottom: 30px;
			}
		}

		table.woocommerce-table--order-details.shop_table_responsive.order_details_items {

			tr td.woocommerce-table__product-thumb {
				border-top: 0;
			}
		}
	}
}

body.woocommerce-account:not(.llms-pointer) {

	header.entry-header {
		display: none;
	}
}

.woocommerce-account {

	.select2-container {

		.select2-selection--single,
		.select2-results,
		input {
			font-size: var(--bb-rl-font-size-sm);
		}
	}
}
