$color-lightgray: #dedfe2 !default;
$color-light: #eef0f3 !default;
$base-line-large: var(--bb-rl-base-line-2xl) !default;
$button-border-radius: var(--bb-rl-radius-md) !default;

@mixin bb-button-primary {
	background-color: var(--bb-rl-background-brand-primary-color);
	color: var(--bb-rl-text-white-color);
	border: 1px solid var(--bb-rl-background-brand-primary-color);
}

@mixin bb-button-primary-hover {
	background-color: var(--bb-rl-background-brand-primary-hover-color);
}

.bb-rl-primary-container {

	.item-body {

		> .woocommerce {
			margin-top: var(--bb-rl-space-400);
		}
	}

	.woocommerce > .woocommerce {
		border: 0;
		padding: 0;
		margin: 0;
		background-color: transparent;
	}

	.woocommerce {

		a.remove {
			font-weight: 400;
			color: var(--bb-rl-text-danger-primary-color);
		}
	}
}

.woocommerce {

	form {

		.form-row,
		.woocommerce-account-fields .form-row,
		.woocommerce-address-fields .form-row {

			.input-text,
			select {
				background-color: var(--bb-rl-background-color);
				border: 1px solid var(--bb-rl-border-tertiary-color);
				border-radius: var(--bb-rl-radius-base);
				color: var(--bb-rl-text-color);
			}

			em {
				color: var(--bb-rl-text-tertiary-color);
				font-size: var(--bb-rl-font-size-sm);
				font-style: normal;
			}
		}

		.woocommerce-address-fields {

			.woocommerce-address-fields__ctrls-wrapper {
				margin-top: var(--bb-rl-space-200);
			}
		}
	}
}

.woocommerce-checkout,
.woocommerce-checkout .woocommerce {

	form.checkout {

		.col2-set {

			.col-1 {
				width: 100%;
				float: none;
			}

			.col-2 {
				width: 100%;
				float: none;
			}

			.col-2 .woocommerce-shipping-fields {
				margin-bottom: 10px;
			}

			h3 {
				text-transform: uppercase;
				font-size: var(--bb-rl-font-size-base);
				margin: 0 0 var(--bb-rl-space-200);
			}
		}
	}

	.bb-wc-co {
		display: flex;
		align-items: flex-start;
		margin-left: -10px;
		margin-right: -10px;

		.bb-wc-col {
			width: 50%;
			padding-left: 10px;
			padding-right: 10px;
		}

		#customer_details {
			background-color: var(--bb-rl-background-color);
			border-radius: var(--bb-rl-radius-lg);
			border: 1px solid var(--bb-rl-border-secondary-color);
			margin-bottom: var(--bb-rl-space-200);
			padding: var(--bb-rl-space-200) var(--bb-rl-space-300);
		}

		.bb-order-review {
			background-color: var(--bb-rl-background-color);
			border-radius: var(--bb-rl-radius-lg);
			border: 1px solid var(--bb-rl-border-secondary-color);
			margin-bottom: var(--bb-rl-space-200);
			padding: var(--bb-rl-space-200) var(--bb-rl-space-300);

			h3 {
				text-transform: uppercase;
				font-size: var(--bb-rl-font-size-base);
			}

			.woocommerce-terms-and-conditions-wrapper {
				margin-bottom: var(--bb-rl-space-300);
			}
		}

		table.shop_table {
			border: 0;
			font-size: var(--bb-rl-font-size-sm);

			th,
			td {
				border-bottom: 1px solid var(--bb-rl-border-secondary-color);
				border-top: 0;
				font-weight: 400;
				padding-left: 0;

				&:first-child {
					padding-left: 0;
				}

				&:last-child {
					padding-right: 0;
					text-align: right;
				}
			}

			td.product-name {
				width: 65%;
			}

			td.product-total {
				color: var(--bb-rl-text-color);
				width: 35%;
			}

			th {
				text-transform: uppercase;
				font-weight: 400;
				color: var(--bb-rl-text-tertiary-color);
				font-size: var(--bb-rl-font-size-sm);
			}

			tfoot {

				th,
				td {
					color: var(--bb-rl-text-tertiary-color);
					border-bottom: 0;
					vertical-align: top;
				}

				th:first-child {
					padding-left: 30%;
					padding-top: 6px;
					padding-bottom: 6px;
				}

				td {
					width: 50%;
				}

				.order-total th,
				.order-total td {
					color: var(--bb-rl-text-color);
					font-weight: 500;
				}

				.order-total td strong {
					font-weight: 500;
				}

				tr:first-child th,
				tr:first-child td {
					padding-top: 15px;
				}
			}

			.bs-product-check {
				display: flex;
				align-items: center;
			}

			.bs-product-thumbnail img {
				max-width: 65px;
				height: auto;
				margin-right: 20px;
			}

			.check-name {
				color: var(--bb-rl-text-color);
				font-weight: 500;
				line-height: 1.4;
			}

			.bs-product-remove {
				margin-right: 10px;
			}

			.qty {
				color: var(--bb-rl-text-tertiary-color);
				text-transform: uppercase;
				font-size: 13px;

				strong {
					color: var(--bb-rl-text-color);
					font-weight: 400;
					margin-left: 5px;
				}
			}
		}

		@media (max-width: $sm) {

			table.shop_table td.product-name {
				width: 70%;
			}

			table.shop_table td.product-total {
				color: var(--bb-rl-text-color);
				width: 30%;
			}
		}

		@media (max-width: 420px) {

			table.shop_table td.product-name {

				.bs-product-check {
					flex-wrap: wrap;

					.bs-product-name {
						width: 100%;
						display: flex;
						flex-direction: column;
						margin-top: 5px;
					}
				}
			}
		}
	}

	@media (max-width: $lg) {

		.bb-wc-co {
			flex-direction: column;

			.bb-wc-col {
				width: 100%;
			}
		}
	}

	@media (max-width: $sm) {

		.bb-wc-co .bb-wc-col {

			.bb-order-review table.shop_table tfoot {

				th:first-child {
					padding-left: 0;
				}
			}
		}
	}

	form {

		.form-row {
			margin: 0 0 1.2rem;

			label {
				font-size: var(--bb-rl-font-size-base);
				line-height: 1.1;
				margin-bottom: var(--bb-rl-space-100);
				color: var(--bb-rl-text-color);
			}

			.input-text,
			select {
				background-color: var(--bb-rl-background-color);
				border: 1px solid var(--bb-rl-border-tertiary-color);
				border-radius: var(--bb-rl-radius-base);
				color: var(--bb-rl-text-color);
			}

			.required {
				color: var(--bb-rl-border-danger-secondary-color);
				text-decoration: none;
			}

			#order_comments {
				height: 120px;
				overflow-x: hidden;
			}

			&.woocommerce-validated {

				input.input-text,
				select,
				.select2-container {
					border-color: $color-lightgray;
				}
			}

			&.woocommerce-invalid {

				input.input-text,
				select,
				.select2-container {
					border-color: var(--bb-rl-border-danger-secondary-color);
				}

				label {
					color: var(--bb-rl-border-danger-secondary-color);
				}
			}
		}

		#ship-to-different-address label {
			font-size: var(--bb-rl-font-size-base);
		}
	}

	#payment {
		background-color: transparent;

		ul.payment_methods {
			border-radius: var(--bb-rl-radius-base);
			border-bottom: 0;
			border: 1px solid var(--bb-rl-border-secondary-color);
		}

		div.payment_box {
			font-size: var(--bb-rl-font-size-sm);
			color: var(--bb-rl-text-color);
			border-radius: var(--bb-rl-radius-md);
			background-color: var(--bb-rl-background-secondary-color);

			&:before {
				border-bottom-color: var(--bb-rl-background-secondary-color);
			}
		}

		#place_order {

			@include bb-button-primary;

			font-size: var(--bb-rl-font-size-sm);
			font-weight: 400;
			display: inline-block;
			padding-left: var(--bb-rl-space-300);
			padding-right: var(--bb-rl-space-300);
			height: auto;

			&:hover {

				@include bb-button-primary-hover;
			}
		}

		li.wc_payment_method {

			input.input-radio {
				appearance: none;
				display: inline-block;
				position: relative;
				background-color: var(--bb-rl-background-color);
				border: 2px solid var(--bb-rl-border-secondary-color);
				color: #666;
				top: 4px;
				height: 20px;
				width: 20px;
				border-radius: 50px;
				cursor: pointer;
				margin-right: 7px;
				outline: none;
			}

			input.input-radio:checked {
				background-color: var(--bb-rl-background-color);
			}

			input.input-radio:checked::before {
				position: absolute;
				left: 2px;
				top: 2px;
				content: "";
				display: inline-block;
				width: 12px;
				height: 12px;
				background-color: var(--bb-rl-primary-color);
				border-radius: 100%;
			}

			label {

				&:before {
					display: none;
				}
			}
		}
	}

	.woocommerce-order-over {
		text-align: center;

		> p {
			font-size: var(--bb-rl-font-size-base);
			color: var(--bb-rl-text-tertiary-color);
		}

		h2.woocommerce-heading--success {
			margin-bottom: 5px;

			i {
				color: var(--bb-rl-border-positive-secondary-color);
				padding: 0;
				display: inline-block;
				font-size: 20px;
				width: 20px;
				height: 20px;
				line-height: 20px;
				text-align: center;
				margin-right: 8px;
				position: relative;
				bottom: 2px;
			}

			span {
				display: block;
				margin: 1em 0;

				i {
					color: var(--bb-rl-border-positive-secondary-color);
					border: 1px solid var(--bb-rl-border-positive-secondary-color);
					border-radius: 100%;
					padding: 0 10px;
					display: inline-block;
					width: 50px;
					height: 50px;
					line-height: 50px;
				}
			}
		}
	}

	ul.woocommerce-order-overview {
		display: inline-block;
		margin: 1em 0 2em;

		li {
			float: none;
			padding-right: 1em;
			margin-right: 1em;
			border-right: 0;
			text-align: left;
			display: inline-block;
			color: var(--bb-rl-text-tertiary-color);

			> span {
				display: block;
				font-weight: 500;
				font-size: var(--bb-rl-font-size-sm);
				white-space: nowrap;
				padding: 0.6em 0 0;
				text-transform: none;
				color: var(--bb-rl-text-color);
			}
		}
	}

	@media (max-width: $md) {

		ul.woocommerce-order-overview {
			margin: 0.5em 0 1em;
		}

		ul.woocommerce-order-overview li {
			display: block;
			text-align: center;
			margin-bottom: 20px;
		}
	}

	.woocommerce-order-details-wrapper {
		background: var(--bb-content-background-color);
		border: 1px solid $color-light;
		border-radius: var(--bb-rl-radius-lg);
		padding: 20px;

		section.woocommerce-order-details {

			p.order-again {
				text-align: right;

				a.button {
					padding: var(--bb-rl-space-100) var(--bb-rl-space-300);
					font-weight: 500;
					color: var(--bb-rl-text-color);
					border-radius: var(--bb-rl-radius-md);

					&:hover {
						background-color: var(--bb-rl-background-tertiary-hover-color);
						color: var(--bb-rl-text-color);
					}
				}
			}
		}

		section.woocommerce-customer-details {
			padding: 0 12px;

			h2.woocommerce-column__title {
				font-size: 17px;
				margin-bottom: 0.5rem;
			}

			.woocommerce-column {

				h2.woocommerce-column__title {
					font-size: 17px;
					margin-bottom: 0.5rem;
				}
			}

			@media (max-width: $lg) {

				.woocommerce-column {
					width: 100%;
					float: none;
				}

				.woocommerce-column.woocommerce-column--1 {
					margin-bottom: 30px;
				}
			}

			address {
				border: 0;
				padding: 0;
				font-size: var(--bb-rl-font-size-sm);

				.woocommerce-customer-details--phone:before,
				.woocommerce-customer-details--email:before {
					line-height: 2.15;
				}
			}

			.woocommerce-customer-details--subcolumn {
				font-size: var(--bb-rl-font-size-sm);

				.woocommerce-customer-details--phone:before,
				.woocommerce-customer-details--email:before {
					line-height: 2.15;
				}
			}
		}
	}

	table.shop_table.woocommerce-table--order-details td {
		vertical-align: top;
	}

	.woocommerce-table--order-details {
		border: 0;

		th,
		td {
			padding-top: 8px;
			padding-bottom: 8px;
			font-size: var(--bb-rl-font-size-sm);
			border-bottom: 0;
			border-top: 1px solid var(--bb-rl-border-secondary-color);
		}

		th.product-total,
		td.product-total {
			width: 200px;
			color: inherit;
			text-align: right;
		}

		td.product-total span.woocommerce-Price-amount {
			font-weight: 600;
		}

		@media (max-width: $xl) {

			td.product-total {
				width: auto;
			}
		}

		@media (max-width: $sm) {

			th.product-total,
			td.product-total {
				text-align: right;
			}
		}

		thead {

			th {
				text-transform: uppercase;
				font-size: var(--bb-rl-font-size-sm);
				color: #939597;
				font-weight: 500;
			}
		}

		tfoot {

			th,
			td {
				font-weight: 400;
			}
		}

		&.order_details_items {

			thead tr:first-child {

				th,
				td {
					border-top: 0;
				}

				@media (max-width: $sm) {

					th.product-thumb {
						display: none;
					}
				}
			}

			tbody tr:last-child {

				th,
				td {
					border-bottom: 1px solid var(--bb-rl-border-secondary-color);
				}
			}

			td.product-name {

				a {
					color: var(--bb-rl-text-color);
					font-weight: 500;

					&:hover {
						color: var(--bb-rl-primary-color);
					}
				}
			}

			tr.product-purchase-note td {
				padding-top: 8px;
			}

			td:not(.product-thumb) {
				padding-top: 20px;
			}

			td.product-thumb {
				width: 120px;

				img {
					max-width: 100px;
				}
			}

			@media (max-width: $lg) {

				td.product-thumb {
					width: 80px;

					img {
						max-width: 70px;
					}
				}
			}

			@media (max-width: $sm) {

				td.product-thumb {
					display: none;
				}
			}

			.bb_sku_wrapper {
				display: block;
				color: #939597;
				font-size: 13px;
				line-height: 1;
			}
		}

		&.order_details_total {
			width: 70%;
			float: right;

			th,
			td {
				border-top: 0;
				border-bottom: 0;
				padding-top: 6px;
				padding-bottom: 6px;
				font-weight: 400;
			}

			th {
				text-transform: uppercase;
			}

			tfoot td:last-child {
				width: 200px;
				color: inherit;
				text-align: right;
			}

			tfoot tr:last-child th,
			tfoot tr:last-child td {
				font-weight: 600;
				color: inherit;
			}

			@media (max-width: $md) {

				tfoot td:last-child {
					text-align: right;
				}
			}
		}

		@media (max-width: $lg) {

			&.order_details_total {
				width: 100%;
				float: none;

				th,
				td {
					padding-top: 4px;
					padding-bottom: 4px;
				}
			}
		}

		&.order_details_note {
			clear: both;

			th {
				color: var(--bb-rl-text-color);
			}
		}
	}

	.woocommerce-order-end {
		text-align: center;
		margin: rem-calc($base-line-large 0);
		padding: 0 3rem;

		h3 {
			margin-bottom: 5px;
		}

		p {
			font-size: var(--bb-rl-font-size-sm);
			color: var(--bb-rl-text-tertiary-color);
		}
	}
}

.woocommerce-checkout label.checkbox {
	position: relative;
}

form.woocommerce-checkout input[type="checkbox"] {
	position: absolute;
	opacity: 0;

	+ span:before {
		content: "";
		margin-right: var(--bb-rl-space-100);
		display: inline-block;
		vertical-align: text-top;
		width: 20px;
		height: 20px;
		background: var(--bb-rl-background-color);
		border-radius: var(--bb-rl-radius-sm);
		border: 1px solid var(--bb-rl-border-tertiary-color);
		box-shadow: none;
	}

	&:checked + span:before {
		background-color: var(--bb-rl-primary-color);
		border-color: var(--bb-rl-primary-color);
		content: "\e182";
		font-family: bb-icons-rl;
		font-style: normal;
		font-weight: 400;
		speak: none;
		display: inline-block;
		text-decoration: inherit;
		font-variant: normal;
		text-transform: none;
		text-align: center;
		color: #fff;
		line-height: 18px;
		font-size: 14px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		box-shadow: 0 0 0 1px var(--bb-primary-color);
	}
}

// Wocommerce Stripe input

.woocommerce-checkout .payment_method_stripe #stripe-payment-data {

	[for="wc-stripe-new-payment-method"] {
		display: flex !important;
	}

	.form-row {
		margin-bottom: 0 !important;
		width: 100%;
	}

	#wc-stripe-new-payment-method {

		+ label:before {
			content: "";
			margin-right: 10px;
			display: inline-block;
			vertical-align: text-top;
			width: 20px;
			height: 20px;
			background: var(--bb-rl-background-color);
			border-radius: 3px;
			border: 1px solid #c9cbca;
			box-shadow: none;
			flex-basis: 40px;
			max-width: 20px;
			min-width: 20px;
		}

		&:checked + label:before {
			background-color: var(--bb-rl-primary-color);
			border-color: var(--bb-rl-primary-color);
			content: "\e876";
			font-family: bb-icons;
			font-style: normal;
			font-weight: 400;
			speak: none;
			display: inline-block;
			text-decoration: inherit;
			font-variant: normal;
			text-transform: none;
			text-align: center;
			color: #fff;
			line-height: 18px;
			font-size: 14px;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			box-shadow: none;
		}
	}

	.stripe-source-errors {

		.wc-stripe-error {

			li {
				line-height: 1.4;
			}

			&:before {
				color: #fff;
			}
		}
	}
}

input[type="checkbox"]#wp-comment-cookies-consent {
	position: absolute;
	opacity: 0;

	+ label:before {
		content: "";
		margin-right: 10px;
		display: inline-block;
		vertical-align: text-top;
		width: 20px;
		height: 20px;
		background: var(--bb-rl-background-color);
		border-radius: 3px;
		border: 1px solid #c9cbca;
		box-shadow: none;
	}

	&:checked + label:before {
		background-color: var(--bb-rl-primary-color);
		border-color: var(--bb-rl-primary-color);
		content: "\e876";
		font-family: bb-icons;
		font-style: normal;
		font-weight: 400;
		speak: none;
		display: inline-block;
		text-decoration: inherit;
		font-variant: normal;
		text-transform: none;
		text-align: center;
		color: #fff;
		line-height: 18px;
		font-size: 14px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		box-shadow: none;
	}
}

.bb-rl-primary-container .woocommerce form.checkout_coupon {
	background-color: var(--bb-rl-background-color);
	border: 1px solid var(--bb-rl-border-secondary-color);
	border-radius: var(--bb-rl-radius-lg);
	margin-top: 0;
	margin-bottom: var(--bb-rl-space-200);
	font-size: var(--bb-rl-font-size-sm);

	.form-row-first {
		width: calc(100% - 150px);
		padding-right: 15px;
	}

	.form-row-last {
		width: 150px;

		button.button {
			width: 100%;
		}
	}

	p.form-row {
		margin: 0;
	}

	@media (max-width: $md) {

		> p {
			margin-bottom: 5px;
			line-height: 1.5;
		}

		.form-row-first {
			padding-right: 0;
		}
	}
}

.woocommerce-form-coupon-toggle .woocommerce-info {
	font-size: var(--bb-rl-font-size-sm);
	color: var(--bb-rl-text-color);
	background-color: transparent !important;
	border: 0;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 25px;
}

.woocommerce .woocommerce-form-coupon-toggle .woocommerce-info {
	border: 0;

	&::before {
		display: inline-block;
		content: "\e40a";
		font-family: bb-icons-rl;
		font-size: 20px;
		top: 1px;
		left: 0;
		color: var(--bb-rl-text-color);
	}
}

@media (max-width: $xl) {

	body.woocommerce-checkout.has-sidebar .woocommerce .woocommerce-order {

		ul.woocommerce-order-overview {
			margin: 0.5em 0 1em;
		}

		ul.woocommerce-order-overview li {
			display: block;
			text-align: center;
			margin-bottom: 20px;
		}
	}
}

@media (max-width: $xl) {

	.woocommerce-checkout.has-sidebar .woocommerce form.checkout .bb-wc-co {
		flex-direction: column;

		.bb-wc-col {
			width: 100%;
		}
	}
}

@media (max-width: $lg) {

	.woocommerce-checkout.has-sidebar .woocommerce form.checkout .bb-wc-co .bb-wc-col {

		.bb-order-review table.shop_table tfoot {

			th:first-child {
				padding-left: 0;
			}
		}
	}
}

.elementor-widget-container {

	.woocommerce-checkout {

		.bb-wc-co > .bb-wc-col {
			width: 100%;
			display: flex;
			padding: 0;

			.e-checkout__container,
			.bb-wc-col {
				width: 50%;
				padding-left: 10px;
				padding-right: 10px;
				grid-template-columns: auto;
			}
		}
	}
}

.e-checkout-layout-one-column {

	.elementor-widget-container {

		.woocommerce-checkout {

			.bb-wc-co > .bb-wc-col {
				flex-direction: column;

				.e-checkout__container,
				.bb-wc-col {
					width: 100%;
				}
			}
		}
	}
}

.woocommerce-checkout.woocommerce-order-received {

	header.entry-header {
		display: none;
	}
}

.mfp-content {

	.bs_checkout_coupon {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		ul.woocommerce-error,
		div.woocommerce-message {
			width: 100%;
		}

		form.bs_checkout_coupon_form {
			display: flex !important;
			margin-bottom: 0;
			min-height: 50px !important;
			width: 100%;

			p.form-row-first {
				flex: 1;
				margin-bottom: 0;
			}

			p.form-row-last {
				width: auto;
				margin-left: 15px;
				margin-bottom: 0;
			}
		}

		button {
			color: var(--bb-rl-text-tertiary-color);

			&:hover {
				color: var(--bb-rl-text-color);
				background-color: transparent;
			}
		}

		@media (max-width: $sm) {

			form.bs_checkout_coupon_form {
				flex-direction: column;
				min-height: 92px !important;

				p {
					width: 100%;
				}

				p.form-row-last {
					margin-left: 0;
					text-align: center;
				}
			}
		}
	}
}

fieldset.wc-upe-form.wc-payment-form,
.payment_method_stripe > fieldset {
	border-radius: 4px;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 1rem;
	border: 1px solid var(--bb-rl-border-secondary-color);
}

.wc-block-checkout {

	.wc-block-checkout__main,
	.wc-block-checkout__sidebar .wp-block-woocommerce-checkout-order-summary-block {
		background-color: var(--bb-rl-background-color);
		border: 1px solid var(--bb-rl-border-secondary-color);
		border-radius: var(--bb-rl-radius-lg);
	}

	.wc-block-checkout__main,
	&.wc-block-components-sidebar-layout .wc-block-components-main {
		padding: 15px 20px;
	}

	&.is-medium.wc-block-components-sidebar-layout,
	&.is-small.wc-block-components-sidebar-layout {

		.wc-block-components-main {
			padding: 15px 20px;
		}
	}

	.wc-block-checkout__sidebar {
		margin-top: 0;
	}

	.wc-block-components-text-input,
	.wc-block-components-form .wc-block-components-text-input {

		input[type="email"],
		input[type="number"],
		input[type="password"],
		input[type="tel"],
		input[type="text"],
		input[type="url"] {
			border-color: var(--bb-rl-border-secondary-color);
			border-radius: var(--bb-rl-radius-base);
			background-color: var(--bb-rl-background-color);
			color: var(--bb-rl-text-color);

			&:focus {
				box-shadow: var(--bb-input-focus-shadow);

				+ label {
					color: #2b2d2f;
				}
			}
		}

		label {
			color: var(--bb-alternate-text-color);
		}
	}

	.has-dark-controls {

		.wc-block-components-text-input,
		.wc-block-components-form .wc-block-components-text-input {

			input[type="email"],
			input[type="number"],
			input[type="password"],
			input[type="tel"],
			input[type="text"],
			input[type="url"] {

				&:focus {

					+ label {
						color: var(--bb-alternate-text-color);
					}
				}
			}
		}
	}

	.wc-blocks-components-select {

		.wc-blocks-components-select__container {
			border-color: var(--bb-rl-border-secondary-color);
			border-radius: var(--bb-rl-radius-base);
			background-color: var(--bb-rl-background-color);

			label {
				color: var(--bb-alternate-text-color);
			}

			.wc-blocks-components-select__select {
				color: var(--bb-rl-text-color);
				border-color: var(--bb-rl-border-secondary-color);

				&:focus {
					color: var(--bb-rl-text-color);
				}
			}

			svg {
				fill: var(--bb-rl-text-color);
			}
		}
	}

	.wc-block-components-textarea {
		border-color: var(--bb-rl-border-secondary-color);
		border-radius: var(--bb-rl-radius-base);
		background-color: var(--bb-rl-background-color);
		color: var(--bb-rl-text-color);

		&:focus,
		&:active {
			outline: none;
			box-shadow: var(--bb-input-focus-shadow);
		}
	}

	.wc-block-checkout__add-note .wc-block-components-textarea:focus {
		box-shadow: var(--bb-input-focus-shadow);
	}

	.wc-block-components-title,
	.wc-block-components-checkout-step__heading .wc-block-components-title {
		text-transform: uppercase;
		font-size: var(--bb-rl-font-size-base);
		margin: 1rem 0;
	}

	.wc-block-components-checkbox {

		.wc-block-components-checkbox__input[type="checkbox"] {
			border-color: var(--bb-rl-border-secondary-color);
			border-radius: var(--bb-rl-radius-md);

			&:focus,
			&:active {
				outline: none;
			}
		}
	}

	.wc-block-components-radio-control {

		.wc-block-components-radio-control__input,
		.wc-block-components-radio-control__input:checked {
			border-color: var(--bb-rl-border-secondary-color);

			&:focus,
			&:active {
				outline: none;
			}
		}

		.wc-block-components-radio-control__input:checked:before {
			background: var(--bb-rl-primary-color);
		}
	}

	.wc-block-components-radio-control--highlight-checked {

		.wc-block-components-radio-control-accordion-option--checked-option-highlighted,
		label.wc-block-components-radio-control__option--checked-option-highlighted {
			box-shadow: none;
		}

		&::after {
			border: 1px solid var(--bb-rl-border-secondary-color);
		}

		&.wc-block-components-radio-control--highlight-checked--first-selected:after {
			border-top: 1px solid var(--bb-rl-border-secondary-color);
		}

		&.wc-block-components-radio-control--highlight-checked--last-selected:after {
			border-bottom: 1px solid var(--bb-rl-border-secondary-color);
		}
	}

	.wc-block-components-order-summary {

		.wc-block-components-order-summary-item__quantity {
			background-color: var(--bb-primary-color);
			color: var(--bb-body-background-color);
			border-radius: 100px;
			border: 0;
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 15%);
			font-size: 9px;
			font-weight: 600;
			padding: 0 6px;
			min-height: 16px;
		}
	}

	.wc-block-components-order-summary {

		.wc-block-components-order-summary-item__description {
			line-height: 1;
		}
	}

	.wc-block-components-order-summary {

		.wc-block-components-order-summary-item__total-price {
			color: var(--bb-rl-text-color);
		}
	}

	.wc-block-components-totals-item__value {
		color: var(--bb-rl-text-color);
	}

	.wc-block-components-totals-footer-item {

		.wc-block-components-totals-item__label,
		.wc-block-components-totals-item__value {
			color: var(--bb-rl-text-color);
			font-size: 1em;
		}
	}

	.wc-block-components-validation-error,
	.wc-block-components-form .wc-block-components-text-input.has-error label,
	.wc-block-components-text-input.has-error label {
		color: var(--bb-rl-border-danger-secondary-color);
	}

	.wp-block-button__link {
		border-radius: var(--bb-rl-radius-md);
		background-color: var(--bb-primary-button-background-regular);
		color: var(--bb-primary-button-text-regular);
	}

	.wc-block-checkout-empty .wc-block-checkout-empty__title {
		color: var(--bb-rl-text-color);
	}
}

.woocommerce-page {

	.select2-container {

		.select2-selection--single {
			border-color: var(--bb-rl-border-tertiary-color);
			border-radius: var(--bb-rl-radius-base);
		}
	}
}
