#bb_recaptcha_versions {

	.bb-recaptcha-status {
		margin-left: 15px;
	}

	.notes-hidden-header {

		> th {
			display: none;

			+ td {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	.hidden-header {

		> th {
			opacity: 0;
			visibility: hidden;
			padding: 0;
			margin: 0;
		}

		&:not(.field-button) > td {
			padding: 0;
			margin: 0;
		}

		.show-full-width {
			margin-left: -210px;
			word-break: break-word;

			@media (max-width: 782px) {
				margin-left: 0;
			}
		}
	}

	input[type="text"],
	input[type="email"],
	select,
	input[type="password"] {
		min-width: 50%;
	}

	select {
		max-width: none;
	}

	.password-toggle {
		position: relative;
		display: inline-block;
		width: 50%;

		@media (max-width: 782px) {
			width: 100%;
		}

		.bb-hide-pw {
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			width: 30px;
			border: 0;
			padding: 0;
			background: none;
			box-shadow: none;

			.bb-icon {
				font-size: 16px;
				line-height: 1;
			}
		}

		input[type="text"],
		input[type="password"] {
			padding-right: 30px;
			width: 100%;
		}

		input[type="text"] + .bb-hide-pw .bb-icon {

			&::before {
				content: "\ee6a";
			}
		}

	}

	.checkbox-wrap {

		input[type="checkbox"] {
			margin-top: 0;
		}

		+ .checkbox-wrap {
			margin-top: 15px;
		}
	}

	.bb-bottom-notice {
		text-align: center;
	}

	.bp-hello-recaptcha {

		.bp-hello-title h2 {
			color: #1d2327;
			font-size: 1.3em;
			margin: 1em 0;
			padding-bottom: 0;
			border-bottom: none;
			font-weight: 600;
		}

		.bp-hello-content {
			height: auto;
			padding: 0 23px;
			min-height: 180px;
			max-height: calc(100vh - 320px);
			margin-bottom: 62px;
		}

		.bb-popup-buttons {
			position: absolute;
			bottom: 0;
			padding: 15px;
			text-align: right;
			width: calc(100% - 30px);
			margin: 0 -23px;
			border-top: 1px solid var(--bp-hello-color-secondary);
			background-color: #f0f0f1;
		}

		@media screen and (orientation: landscape) and (max-height: 480px) {

			.bp-hello-content {
				min-height: 110px;
			}

		}

		.bp-hello-recaptcha-content-container {
			padding: 15px 0;
			margin: 0 auto;
			text-align: center;
		}

	}

	#bp-hello-container.bp-hello-recaptcha {
		top: 50%;
		bottom: initial;
		transform: translateY(-50%);
		margin-top: 32px;

		.button-primary {
			color: #fff;
			margin-right: 10px;

			@media screen and (max-width: 480px) {
				margin-right: 0;
			}

		}

	}
}
