#bb_recaptcha_versions {

	.bb-recaptcha-status {
		margin-left: 15px;
	}

	.notes-hidden-header {

		> th {
			display: none;

			+ td {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	.hidden-header {

		> th {
			opacity: 0;
			visibility: hidden;
			padding: 0;
			margin: 0;
		}

		&:not(.field-button) > td {
			padding: 0;
			margin: 0;
		}

		.show-full-width {
			margin-left: -210px;
			word-break: break-word;

			@media (max-width: 782px) {
				margin-left: 0;
			}
		}
	}

	input[type="text"],
	input[type="email"],
	select,
	input[type="password"] {
		min-width: 50%;
	}

	select {
		max-width: none;
	}

	.password-toggle {
		position: relative;
		display: inline-block;
		width: 50%;

		@media (max-width: 782px) {
			width: 100%;
		}

		.bb-hide-pw {
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			width: 30px;
			border: 0;
			padding: 0;
			background: none;
			box-shadow: none;

			.bb-icon {
				font-size: 16px;
				line-height: 1;
			}
		}

		input[type="text"],
		input[type="password"] {
			padding-right: 30px;
			width: 100%;
		}

		input[type="text"] + .bb-hide-pw .bb-icon {

			&::before {
				content: "\ee6a";
			}
		}

	}

	.checkbox-wrap {

		input[type="checkbox"] {
			margin-top: 0;
		}

		+ .checkbox-wrap {
			margin-top: 15px;
		}
	}

	.bb-bottom-notice {
		text-align: center;
	}
}
