.buddypress-wrap .subnav-filters .user-messages-bulk-actions input {
    margin-left: 0.5em;
}

.activity-list .activity-item .activity-header .activity-to {
    visibility: hidden;
    display: inline-block;
    white-space: nowrap;
    width: 1em;
}

.activity-list .activity-item .activity-header .activity-to:before  {
    font-family: 'dashicons';
    vertical-align: middle;
    content: '\f344';
    visibility: visible;
}

.activity-list .activity-item .activity-header .activity-time-since:before {
    content: "\00b7 ";
    color: #767676;
    margin-right: 3px;
    vertical-align: middle;
}

body.register #page #primary .entry-header {
    text-align: center;
}

.buddypress-wrap .standard-form button.visibility-toggle-link.button {
    margin: 5px;
}

.buddypress-wrap .standard-form button.visibility-toggle-link.button {
    font-size: 12px;
}

#message-threads li .thread-content .thread-subject {
    font-size: 14px;
}

.bp-messages-content #message-threads .thread-content .thread-subject a {
    color: #737373;
}

#message-threads li .thread-avatar img.avatar {
    float: left;
    margin: 5px 10px 0 0;
}

#message-threads li .thread-avatar {
    -webkit-flex: 1 2 10%;
    -moz-flex: 1 2 10%;
    -ms-flex: 1 2 10%;
    -o-flex: 1 2 10%;
    flex: 1 2 10%;
}

@media screen and (min-width: 46.8em) {
    .activity-list .activity-item .activity-header .activity-to:before {
        font-size: 15px;
    }
}

@media screen and (min-width: 55em) {
    body.register #page #primary .entry-header,
    body.register .buddypress-wrap {
        max-width: 460px;
        margin-left: auto;
        margin-right: auto;
    }

    #message-threads li .thread-content {
        -webkit-flex: 1 2 70%;
        -moz-flex: 1 2 70%;
        -ms-flex: 1 2 70%;
        -o-flex: 1 2 70%;
        flex: 1 2 70%;
    }
}