// BP Activity Entries - activity loop
// @version 3.0.0

.activity-list {

	padding: $pad-sml;

	.activity-item:before,
	.activity-item:after {
		content: " ";
		display: table;
	}

	.activity-item:after {
		clear: both;
	}

	.activity-item { // li element - (entries)
		list-style: none;
		padding: $pad-med;

		&.has-comments {
			padding-bottom: $pad-med;
		}


		div.item-avatar { // 'div' for weight
			margin: 0 auto;
			text-align: center;
			width: auto;

			img {
				height: auto;
				max-width: 40%;
			}
		}

		@include medium-up() {

			div.item-avatar { // 'div' for weight
				margin: 0 2% 0 0;
				text-align: left;
				width: 15%;

				img {
					max-width: 80%;
				}
			}
		}

		&.mini {

			@include font-size(13);
			position: relative;

			.activity-avatar {
				margin-left: auto;
				text-align: center;
				width: auto;

				img.avatar,
				img.FB_profile_pic { /* stylelint-disable-line selector-class-pattern */
					max-width: 15%;
				}
			}

			@include medium-up() {

				.activity-avatar {
					margin-left: $marg-med;
					text-align: left;
					width: 15%;

					img.avatar,
					img.FB_profile_pic { /* stylelint-disable-line selector-class-pattern */
						max-width: 60%;
					}
				}
			}
		} // close .mini

		&.new_forum_post,
		&.new_forum_topic {

			.activity-inner {
				border-left: 2px solid $light-grey;
				margin-left: $marg-sml;
				padding-left: $pad-med;
			}
		} // close li forum elements


		&.newest_mentions_activity,
		&.newest_friends_activity,
		&.newest_groups_activity,
		&.newest_blogs_activity {
			// why?
			background: rgba(31, 179, 221, 0.1);
		}

		.activity-inreplyto {
			color: $light-text;

			@include font-size(13);

			> p {
				display: inline;
				margin: 0;
			}

			blockquote,
			.activity-inner {
				background: none;
				border: 0;
				display: inline;
				margin: 0;
				overflow: hidden;
				padding: 0;
			}
		}

		// The header elements: date stamp, author etc;
		.activity-header {
			margin: 0 auto;
			width: 80%;

			// ensure elements are display inline, some themes setting avatars as block
			a,
			img {
				display: inline;
			}

			.avatar {
				display: inline-block;
				margin: 0 $marg-xsml;
				vertical-align: bottom;
			}

			.time-since {

				@include font-size(14);
				color: $light-text;
				text-decoration: none;

				&:hover {
					color: $light-text;
					cursor: pointer;
					text-decoration: underline;
				}
			}

			.activity-to {
				visibility: hidden;
				display: inline-block;
				white-space: nowrap;
				width: 1em;
			}

			.activity-to:before {
				font-family: dashicons;
				vertical-align: middle;
				content: "\f344";
				visibility: visible;

				@include medium-lrg-up() {
					font-size: 15px;
				}
			}

			.activity-time-since:before {
				content: "\00b7 ";
				color: $light-text;
				display: inline-block;
				margin-right: 3px;
				vertical-align: middle;
			}

		} // close .activity-header

		.activity-content {

			.activity-header,
			.comment-header {
				color: $light-text;
				margin-bottom: $marg-sml;
			}

			p {
				margin: 0;
			}

			.activity-state {
				display: none;
				font-size: 12px;
				clear: both;

				.activity-state-likes,
				.ac-state-separator,
				.activity-state-comments {
					display: none;
				}

				a {
					border: 0;
					padding: 0;
				}

				&.has-likes {

					.activity-state-likes {
						display: inline-block;
					}
				}

				&.has-comments {

					.activity-state-comments {
						display: inline-block;
					}
				}

				&.has-likes,
				&.has-comments {
					display: block;
				}

				&.has-likes.has-comments {

					.ac-state-separator {
						display: inline-block;
					}
				}
			}

		} // close .activity-content

		.activity-inner {

			p {
				word-break: break-word;
			}
		}

		.activity-read-more {
			margin-left: 1em; // proportional to the text size please!
			white-space: nowrap;
		}

		// The footer elements, buttons etc

		// if this is a ul then...
		// else we'll skip this for the rules below.
		ul.activity-meta {
			margin: 0;
			padding-left: 0;

			li {
				// if a list is being used keep it inline
				border: 0;
				display: inline-block;
			}
		}

		.bp-generic-meta.action {
			border: 1px solid transparent;
			background: $off-white;
			padding: 2px;
			position: relative;
			text-align: left;

			// this wrapper has generic margins in _bp_lists.scss
			// remove for act stream actions.
			div.generic-button {
				margin: 0;
			}

			.button {
				background: transparent;
			}

			a {
				padding: 4px 8px;
			}

			// we don't want a background hover if icons used
			.button:focus,
			.button:hover {
				background: none;
			}

			// Uncomment .acomment-reply class for icon us
			.button:before,
			.icons:before {
				font-family: dashicons;
				font-size: 18px;
				vertical-align: middle;
			}

			.acomment-reply.button:before {
				content: "\f101";
			}

			.view:before {
				content: "\f125";
			}

			.fav:before {
				content: "\f529";
			}

			.unfav:before {
				content: "\f529";
				color: #0061ac;
			}

			.delete-activity:before {
				content: "\f153";
			}

			.spam-activity:before {
				content: "\f227";
			}

			.delete-activity:hover {
				color: #800;
			}

			.button {
				border: 0;
				box-shadow: none;

				span {
					background: none;
					font-weight: 600;
				}
			}

			.unfav .like-count {
				color: #0061ac;
			}

		} // close .activity-meta

	} // close .activity-item

} // close .activity-list

@include medium-up() {

	.activity-list.bp-list {
		padding: 30px;
	}

	.activity-list {

		.activity-item {

			.activity-content {
				margin: 0;
				position: relative;

				&:after {
					clear: both;
					content: "";
					display: table;
				}
			}

			.activity-header {
				margin: 0 $marg-med 0 0;
				width: auto;
			}

		} // li entry item
	}
}

.activity-inner:empty {
	display: none;
}

// load more link
.activity-list {

	.load-more,
	.load-newest {
		background: $off-white;
		border: 1px solid $bp-border-color;
		font-size: 110%;
		margin: $marg-med 0;
		padding: 0;
		text-align: center;

		a {
			color: $dark-grey;
			display: block;
			padding: $pad-sml 0;

			&:focus,
			&:hover, {
				background: $white;
				color: $black;
			}
		}

		&:focus,
		&:hover {
			border-color: darken($bp-border-color, 5%);

			@include box-shadow(0 0 6px 0 $light-grey);
		}
	}
}

// link previews
.activity-url-scrapper-loading {
	display: block;
	font-size: 14px;
	color: #a3a5a9;
	letter-spacing: -0.24px;
	margin: 12px 0 10px;
}

.activity-link-preview-container {
	padding: 25px;
	line-height: 1.5;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	color: #82878c;
	background: #fff;
	border: 1px solid #e5e5e5;
	position: relative;
	overflow: auto;
	zoom: 1;

	.activity-video-preview & {
		border: 0;
		border-radius: 0;
		margin: 0;
                padding: 0;
		max-width: 640px;
	}

	div.fluid-width-video-wrapper {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.activity-link-preview-image {
	float: left;
	max-width: 160px;
	margin-right: 20px;
	margin-bottom: 20px;
	position: relative;

	img {
		width: 100%;
		height: auto;
		border: none;
	}
}

.activity-url-scrapper-container .activity-link-preview-image {
	margin-bottom: 30px;
}

.activity-video-preview {
	padding: 0;
}

.activity-link-preview-title {
	font-weight: 600;
	font-size: 22px;
	line-height: 1.3;
	color: #32373c;
}

.activity-link-preview-title {
	margin: 0 0 15px;	
}

.activity-link-preview-title a,
.activity-link-preview-title a:hover {
	color: #32373c;
}

.activity-link-preview-title a:hover {
	text-decoration: underline !important;
}

.activity-link-preview-excerpt {
	p {
		font-size: 14px;
		font-weight: 400;
	}
	a.activity-link-preview-more {
		color: #b4b9be;
	}
	a.activity-link-preview-more:hover {
		text-decoration: underline !important;	
	}
}

.activity-url-thumb-nav {
	position: absolute;
	bottom: 3px;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
}

#buddypress .activity-url-thumb-nav button {
	cursor: pointer;
	width: auto;
	padding: 0 6px;
	margin: 0 3px;
	height: auto;
	min-height: 10px;
}

.activity-url-thumb-nav .dashicons {
	font-size: 14px;
	line-height: 1;
	position: relative;
	top: 3px;
}

#activity-url-scrapper-img-count {
	font-size: 12px;
	color: #7f7f7f;
	margin-top: 5px;
}

.activity-url-error {
	color: #f00;
}

#activity-url-scrapper-url {
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
}

#activity-close-link-suggestion {
	border: 0;
	color: rgba(0, 0, 0, 0.4);
	font-size: 16px;
	position: absolute;
	left: 3px;
	top: 8px;
	text-decoration: none;

        .activity-post-form-link-wp-embed & {
            top: 30px;
            left: 8px;
            right: auto;
            background: #fff;
            z-index: 11;
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }

	@include medium-small-max() {
		color: rgba(0, 0, 0, 1);
	}
}

#activity-link-preview-close-image {
	border: 0;
	color: #fff;
	font-size: 16px;
	left: 3px;
	position: absolute;
	top: 3px;
	text-decoration: none;
}

#activity-close-link-suggestion:focus,
#activity-link-preview-close-image:focus {
	outline: 0;
}

.activity-inner .buddyboss-media-photo-link,
.acomment-content .buddyboss-media-photo-link {
	display: none !important;
}

blockquote.wp-embedded-content {
    padding: 25px;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-style: normal;
    color: #82878c;
    background: #fff;
    border: 1px solid #e5e5e5;
    position: relative;
    margin: 0;

    & > a ,
    & > p:first-child > a {
        color: #32373c;
        font-weight: 600;
        font-size: 22px;
        line-height: 1.3;
        color: #32373c;

        &:hover {
            text-decoration: underline;
        }
    }
}

.activity-inner iframe.lazy {
    animation-duration: 1.3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: lazyAmination;
    animation-timing-function: linear;
    background: #f6f7f8;
    background-size: 800px 104px;
}

@keyframes lazyAmination {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: -300% 0;
    }
}