// BP User settings screens
// @version 3.0.0

// 1. Settings Global
// 1. General (email/password change)
// 2. notifications
// 3. Profile visibility
// 4. group Invites

// Settings Global

/*__ Settings Global __*/

// required extra specificity to override later table settings
.buddypress.settings {

	.profile-settings.bp-tables-user {

		select {
			width: 100%;
		}
	}

}

#activate-page .bp-messages {
	margin-bottom: 20px;
}


// General

/*__ General __*/


// notifications
.notification_info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 30px;

	.notification_type {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 33.33%;

		&:not(:last-child) {
			padding-right: 20px;
		}

	}

	.notification_type_icon {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		padding-right: 20px;

		.bb-icon {
			font-size: 40px;
		}

	}

	.notification_type .notification_type_info {

		h3,
		p {
			margin-bottom: 0;
		}

	}

}

.main-notification-settings {
	font-size: 16px;
	margin-bottom: 0;

	thead {
		background-color: $buttons-background;

		.title {
			padding-left: 20px;
			border-left: 1px solid $primary-grey;
			font-weight: 400;
			width: 100%;
		}

		.app {
			border-right: 1px solid $primary-grey;
			padding-right: 20px;
		}

	}

	.title {
		vertical-align: middle;
	}

	th {
		min-width: 95px;
		padding: 10px;
		vertical-align: middle;
		border-top: 1px solid $primary-grey;
		border-bottom: 1px solid $primary-grey;
	}

	.disabled {
		opacity: 0.6;
		pointer-events: none;

		input[type="checkbox"] {
			opacity: 0;
		}

	}

	tbody {

		.title {
			font-size: 14px;
			color: #a3a5a9;
			letter-spacing: 0.5px;
			text-transform: uppercase;
			font-weight: 500;
		}

		td {
			border-bottom: 1px solid $primary-grey;
			vertical-align: middle;
			padding: 10px;

			&:first-child {
				padding-left: 0;
				width: 100%;
			}

			&.notification_no_option {
				text-align: center;
			}

		}

		.notification_heading td {
			border-bottom: 0;
			padding: 15px 0 0 0;
		}

	}

}

/*__ notifications __*/


// Profile visibility

/*__ Profile visibility __*/

// Group Invites

/*__ Group Invites __*/
