.bb-activity-media-wrap {
	display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
	flex-flow: row wrap;
	margin: 0 -3px;
	align-items: flex-start;
	position: relative;
}

.act-grid-1-1 {
	flex: 0 0 100%;
	max-width: 100%;
	min-width: 0;

	.bb-media-length-2 & {
		flex: 0 0 50%;
		max-width: 50%;
		min-width: 0;
	}
}

.act-grid-1-2 {
	flex: 0 0 50%;
	max-width: 50%;
	min-width: 0;
}

.bb-activity-media-elem {

	padding: 3px;

	.entry-img {
		background: transparent;
		border-radius: 3px;
		display: block;
		margin: 0;
		position: relative;
		padding-top: 42.56%;
		overflow: hidden;

		.bb-media-length-1 & {
			padding-top: 42.56%;
		}

		.bb-media-length-2 & {
			padding-top: 72.56%;
		}

		.bb-media-length-3 &.act-grid-1-1 {
			padding-top: 52.56%;
		}

		img {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			z-index: 0;
			min-height: 100%;
			width: auto;
			min-width: 100%;
			object-fit: cover;
		}
	}

	.bb-photos-length {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		height: 100%;
		text-align: center;
		display: flex;
		align-items: center;
		flex-flow: row wrap;
		justify-content: center;
		background: rgba(0, 0, 0, 0.4);
		color: #fff;
		font-size: 16px;

		strong {
			color: inherit;
			display: block;
			font-size: 28px;
			font-weight: 400;
			margin-bottom: 10px;
		}
	}
}

.bb-media-length-4 {

	.act-grid-1-2 {
		flex: 0 0 33.33%;
		max-width: 33.33%;
		min-width: 0;
	}

	.bb-activity-media-elem.act-grid-1-2 .entry-img {
		padding-top: 72.56%;
	}
}

.bb-media-length-5 {

	.bb-activity-media-elem .entry-img {
		padding-top: 72.56%;
	}

	.act-grid-1-1 {
		flex: 0 0 50%;
		max-width: 50%;
		min-width: 0;

		+ .act-grid-1-2 {
			flex: 0 0 50%;
			max-width: 50%;
			min-width: 0;
		}
	}

	.act-grid-1-2 {
		flex: 0 0 33.33%;
		max-width: 33.33%;
		min-width: 0;
	}
}

.bb-activity-media-wrap.bb-media-length-3 {

	.act-grid-1-2 .entry-img {
		padding-top: 55.56%;
	}

	.act-grid-1-1.bb-vertical-layout {
		flex: 0 0 64%;
		max-width: 64%;
		min-width: 0;

		~ .bb-activity-media-elem {
			flex: 0 0 36%;
			max-width: 36%;
			min-width: 0;

			.entry-img {
				padding-top: 105.6%;
			}
		}

		.entry-img {
			padding-top: 118%;
		}
	}

	.act-grid-1-1.bb-vertical-layout + div + div {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 36%;
	}
}

.bb-activity-media-wrap.bb-media-length-4 {

	.act-grid-1-1.bb-vertical-layout {
		flex: 0 0 64%;
		max-width: 64%;
		min-width: 0;

		~ .bb-activity-media-elem {
			flex: 0 0 36%;
			max-width: 36%;
			min-width: 0;

			.entry-img {
				padding-top: 69.1%;
			}
		}

		.entry-img {
			padding-top: 119%;
		}
	}

	.act-grid-1-1.bb-vertical-layout + div {
		position: absolute;
		right: 0;
		top: 33.4%;
		width: 36%;
	}

	.act-grid-1-1.bb-vertical-layout + div + div {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 36%;
	}
}

.bb-activity-media-wrap.bb-media-length-more {

	.bb-activity-media-elem .entry-img {
		padding-top: 82.56%;
	}

	.act-grid-1-1 {
		flex: 0 0 50%;
		max-width: 50%;
		min-width: 0;

		+ .act-grid-1-2 {
			flex: 0 0 50%;
			max-width: 50%;
			min-width: 0;
		}
	}

	.act-grid-1-2 {
		flex: 0 0 33.33%;
		max-width: 33.33%;
		min-width: 0;
	}
}

// Modal
.modal-mask {
	position: fixed;
	z-index: 999901;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	transition: opacity 0.3s ease;
	display: flex;
	align-items: center;

	&.bb-white {
		background: rgba(250, 251, 253, 0.9);
	}
}

.modal-wrapper {
	max-width: 600px;
	margin: 50px auto;
	vertical-align: middle;
	width: 90%;

	&.bb-medium {
		max-width: 740px;
	}

	&.bb-large {
		max-width: 1080px;
	}
}

.modal-container {
	width: auto;
	margin: 0 auto;
	padding: 20px 30px 30px;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 6px 24px 0 rgba(18, 43, 70, 0.08);
	transition: all 0.3s ease;
	&.has-folderlocationUI{
		max-height: 90vh;
		overflow: auto;
	}
}

.bb-model-wrap {

	.modal-container {
		border: 1px solid #d2d4d6;
	}
}

.bbm-model-wrap {

	input,
	textarea {
		width: 100%;
	}

	label {
		font-size: 16px;
		line-height: 1.5;
		display: block;
		margin-bottom: 7px;
	}

	textarea {
		min-height: 80px;
		resize: none;
		margin-bottom: 20px;
	}
}

.modal-header h3 {
	margin-top: 0;
	color: #42b983;
}

.modal-body {
	margin: 20px 0;
}

.modal-default-button {
	float: right;
}

.bb-model-header {
	background: #fbfbfc;
	box-shadow: 0 1px 0 0 #eef0f3;
	border-radius: 4px 4px 0 0;
	padding: 17px 25px 16px;
	margin: -20px -30px 30px;
	display: flex;
	align-items: center;

	&.bg-white {
		background: #fff;
	}

	h4 {
		margin: 0;
		font-size: 17px;
		font-weight: 500;
	}

	.bb-model-close-button {
		margin-left: auto;
		line-height: 1;
	}
}

/*
* The following styles are auto-applied to elements with
* transition="modal" when their visibility is toggled
* by Vue.js.
*
* You can easily play with the modal transition by editing
* these styles.
*/

.modal-enter {
	opacity: 0;
}

.modal-leave-active {
	opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.bb-model-close-button {
	font-size: 24px;
	color: rgba(17, 49, 80, 0.4);
}

.bb-photos-wrap {

	.bb-title {
		font-size: 28px;
		line-height: 1;
		margin: 0;
	}

	.bb-single-bp-header {

		.button {
			margin-left: 5px;
		}
	}
}

.bb-member-photos-list {
	margin: 0;
	list-style: none;
}

.bb-member-photos-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 20px;
}

.bb-photos-meta {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-left: auto;
	margin-bottom: 10px;

	a {
		margin-left: 10px;
	}

	.bb-delete i {
		font-size: 21px;
	}

	.bb-select i {
		border: 1px solid;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		font-size: 15px;
		border-radius: 50%;
		width: 19px;
		height: 19px;
	}

	.bb-select.selected i {
		background: #000;
		color: #fff;
		border-color: #000;
	}
}

.bb-photos-date {
	font-size: 14px;
	color: #939597;
}

.buddypress-wrap .bp-list.bb-photo-list {
	display: flex;
	flex-flow: row wrap;
	list-style: none;
	padding: 0;
	margin: 0 -5px;

	li {
		flex: 0 0 20%;
		min-width: 0;
		margin: 0;
		padding: 5px;
	}
}

.bb-photo-cover-wrap {
	position: relative;
	overflow: hidden;
	padding-top: 100%;
	display: block;

	img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		z-index: 0;
		min-height: 100%;
		width: auto;
		min-width: 100%;
		object-fit: cover;
	}

	&:after {
		content: " ";
		position: absolute;
		background: rgba(0, 0, 0, 0.35);
		border-radius: 3px;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		transition: 0.3s all;
	}

	&:not(.selected):after {
		visibility: hidden;
		opacity: 0;
	}
}

.bb-photo-thumb {
	position: relative;

	&.selected,
	&:hover {

		.bb-photo-cover-wrap:after,
		.bb-media-check-wrap {
			visibility: visible;
			opacity: 1;
		}
	}
}

.bb-media-check-wrap {
	position: absolute;
	transition: 0.3s all;
	top: 15px;
	right: 15px;
	color: #fff;
	width: 20px;
	height: 20px;
	font-size: 15px;
	text-align: center;
	line-height: 1;
	z-index: 2;
	visibility: hidden;
	opacity: 0;
}

.bb-media-model-wrapper {

	&.bb-internal-model {
		position: fixed;
		z-index: 999990;
		background-color: rgba(0, 0, 0, 0.9);
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		overflow: auto;
	}
}

.bb-media-model-container {
	max-width: 90%;
	min-width: 90%;
	position: relative;
	margin: auto;
	padding: 20px 0;

	#buddypress & .activity-list {
		border: 0;
		margin: 0;
		padding: 0;
	}
}

#buddypress .bb-media-model-container .activity-list .activity-item,
#bbpress-forums .bb-media-model-container .activity-list .activity-item {
	border: 0;
	box-shadow: none;
	margin: 0;
	max-height: 90vh;
	min-height: 90vh;
	overflow: auto;
}

.bb-media-model-inner {
	background: #fff;
	border-radius: 4px;
	display: flex;
	flex-flow: row wrap;
	position: relative;
	overflow: hidden;
}

a.theater-command {
	position: absolute;
	align-self: center;
	left: 0;
	top: 0;
	z-index: 1;
	width: 20%;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 20px;
	opacity: 0;
	visibility: hidden;
	transition: 0.2s all;

	.bb-media-section:hover & {
		opacity: 1;
		visibility: visible;
	}
}

a.theater-command.bb-next-media {
	left: auto;
	right: 0;
	width: 80%;
	justify-content: flex-end;
}

.bb-media-section {
	display: flex;
	flex: 0 0 100%;
	align-items: center;
	justify-content: center;
	background: #000;
	position: relative;

	figure {
		margin: 0;

		img {
			max-height: 90vh;
			width: auto;
		}
	}
}

a.bb-close-model {
	position: absolute;
	top: 20px;
	right: 20px;
	line-height: 1;
	z-index: 22;
}

.bb-media-info-section {
	flex: 0 0 100%;
	min-width: 0;

	.item-title {
		margin-bottom: 2px;

		a {
			font-size: 13px;
		}
	}

	.item-avatar {
		margin-right: 12px;
	}

	.avatar {
		border-radius: 50%;
		max-width: 36px;
	}
}

.bb-media-info-header {
	font-size: 14px;
	color: #939597;
	letter-spacing: -0.24px;
	line-height: 16px;
	margin-bottom: 15px;

	.item-title a {
		font-size: 14px;
	}
}

.bb-media-desc {
	min-height: 120px;
}

.bb-model-meta {
	padding: 12px 0;

	a {
		color: $dark-grey;
		opacity: 0.4;
		display: flex;
		align-items: center;
		margin-right: 20px;
	}

	i:before {
		font-size: 22px;
		line-height: 1;
		margin: 0 5px 0 0;
	}

	.bb-count {
		font-size: 13px;
		letter-spacing: -0.24px;
	}
}

#boss-media .bb-media-model-inner .bs-item-wrap .item-meta {
	font-size: 12px;
	color: #a3a5a9;
	letter-spacing: -0.18px;
	line-height: 1.666;

	.item-meta a {
		color: inherit;

		&:hover {
			color: $highlight;
		}
	}
}

.bb-media-info-content {
	position: relative;
}

.bb-media-info-footer {
	background: #fbfbfc;
	border-top: 1px solid #eef0f3;
	padding: 12px 15px;

	.add-comment-wrap {
		padding: 0;
	}

	.add-comment-wrap .add-comment {
		background: #fff;
	}
}

a.bb-smile {
	color: rgba(18, 43, 70, 0.4);
	transition: all linear 0.2s;
	font-size: 20px;

	&:hover {
		color: rgba(18, 43, 70, 0.8);
	}
}

/* Remove page scroll after model open */
body.bb-model-open {
	overflow: hidden;
}

.bs-activity-comments:empty {
	display: none;
}

.bb-single-album-header {
	padding-top: 20px;

	.bb-title {
		font-size: 24px;
		font-weight: 500;
		letter-spacing: -0.24px;
		line-height: 1;
		margin: 0 0 5px !important;
	}

	> a {
		font-size: 14px;
		display: block;
	}

	p {
		opacity: 0.7;
		font-size: 13px;
		color: #000;
		letter-spacing: -0.24px;
	}

	span.bb-sep {
		margin: 0 5px;
	}
}

.bb-album-photos-list {
	list-style: none;
	margin-left: 0;
}

.album-single-view.no-photos {

	.modal-mask {
		position: relative;
		width: auto;
		height: auto;
	}

	.modal-wrapper.bb-large {
		max-width: 100%;
		margin: 0;
		width: 100%;
	}

	.bb-model-header {
		display: none;
	}

	.modal-container {
		padding: 0;
		margin: 0;
		box-shadow: none;
	}

	.dropzone .dz-default {
		background: transparent;
	}
}

.bb-photos-wrap .bb-model-footer {
	padding-top: 20px;
}

@media (max-width: 544px) {

	.bb-photos-wrap #boss-media-create-album-popup .bb-model-footer {
		flex-direction: column;

		.button.push-right {
			margin: 20px auto 0;
		}

		.bb-dropdown-wrap {
			width: 100%;

			select {
				width: 100%;
			}
		}
	}
}

.bb-single-album-page .bb-single-bp-header {

	.bb-add-photos {
		display: none !important;
	}
}

.bb-album-actions {
	text-align: center;
	font-size: 12px;
	margin-top: -25px;
	margin-bottom: 20px;
	padding-top: 10px;
	display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
	-webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;

	select {
		margin-left: auto;
		font-size: 14px;
		color: #939597;
		background-position: right 10px center;
		padding-right: 26px;
		width: 160px;
		height: 30px !important;

                @media (max-width: 480px) {
                    margin: 20px auto 0;
                }
	}

	> a:first-of-type {
		margin-left: 0;
	}

        @media (max-width: 480px) {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
}

div#buddypress div.bb-album-actions .button {
	min-height: 24px;
	padding: 4px 15px;
	font-size: 12px;
	margin: 0 10px 0 0;
}

div#buddypress .bb-album-actions .button.error.outline {
	background: none;
	color: #ef3e46;
	border-color: #ef3e46;
}

.bb-member-albums-items {
	list-style: none;
	margin: 0;

	> li:not(:last-child) {
		border-bottom: 1px solid #eef0f3;
		padding-bottom: 30px;
		margin-bottom: 30px;
	}
}

ul.bb-albums-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	list-style: none;
	overflow: hidden;
	margin: 0 -5px;

	li {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
		min-width: 0;
		padding: 5px;
	}

	a {
		position: relative;
		overflow: hidden;
		padding-top: 100%;
		display: block;
		background: #809ab4;
	}

	img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		z-index: 0;
		min-height: 100%;
		width: auto;
		min-width: 100%;
		object-fit: cover;
	}

	.bb-more-photos {
		font-size: 14px;
		font-weight: 300;
		color: #939597;
		letter-spacing: -0.24px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		display: flex;
		align-items: center;
		flex-flow: column;
		justify-content: center;

		strong {
			line-height: 1;
			font-size: 24px;
			color: #4d5c6d;
			letter-spacing: -0.24px;
			text-align: center;
			font-weight: 400;
		}
	}
}

.bb-album-list-item {

	.bs-cover-wrap {
		border-radius: 0;
		padding-top: 93.52%;
	}

	.bs-cover-wrap:after {
		content: " ";
		position: absolute;
		background-image: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.01) 60%, rgba(0, 0, 0, 0) 100%);
		border-radius: 3px;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}
}

.bb-album-cover-wrap {
	position: relative;

	h4 {
		font-size: 20px;
		color: inherit;
		letter-spacing: -0.24px;
		line-height: 1;
		margin: 0 0 12px;
	}

	.bb-album-content-wrap {
		position: absolute;
		bottom: 0;
		z-index: 11;
		left: 0;
		padding: 25px;
		font-size: 13px;
		color: #fff;
		letter-spacing: -0.24px;
		line-height: 1;
		width: 100%;
	}
}

#buddypress .bb-album-content-wrap h4 {
	margin-bottom: 12px;
}

.bbm-uploader-model-wrap {

	.dropzone .dz-remove:after {
		top: -6px;
	}
}

@media (min-width: 768px) {

	.bb-media-model-inner {
		max-height: 90vh;
		min-height: 90vh;
	}

	.bb-media-section {
		flex: 1;
		min-width: 0;
	}

	.bb-media-info-section {
		flex: 0 0 376px;
		min-width: 0;
	}
}

@media (max-width: 767px) {

	a.bb-close-model {
		top: 10px;
		right: 10px;
	}
}

@media (max-width: 1000px) {

	.bb-album-cover-wrap .bb-album-content-wrap {
		font-size: 11px;
		padding: 15px;
	}

	.bb-album-cover-wrap h4 {
		font-size: 18px;
	}

	ul.bb-albums-list .bb-more-photos {
		font-size: 10px;
	}

	ul.bb-albums-list .bb-more-photos strong {
		font-size: 20px;
	}

	.buddypress-wrap .bp-list.bb-photo-list li {
		flex: 0 0 25%;
	}
}

@media (max-width: 580px) {

	ul.bb-albums-list li {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
		min-width: 0;
	}

	.bb-album-list-item .bs-cover-wrap {
		padding-top: 95.52%;
	}

	.buddypress-wrap .bp-list.bb-photo-list li {
		flex: 0 0 50%;
	}
}

.bb-custom-check {
	position: absolute; // take it out of document flow
	opacity: 0; // hide it

	+ label {
		color: #fff;
		position: relative;
		cursor: pointer;
		padding: 0;
	}

	// Box checked
	&:checked + label {
		color: #fff;
	}
}

#media_uploader.dropzone .bb-dz-preview-wrap .dz-image img {
	cursor: default;
}

.bb-dropzone-wrap.bb-has-items {

	.dz-default {
		display: none !important;
	}
}

.bb-dropzone-wrap.bb-has-items {
	margin: -8px;

	.dz-preview {
		margin: 8px;
		width: calc(20% - 16px);
	}
}

.bb-model-footer {

	.button {
		min-width: 130px;
	}
}

.bbm-uploader-model-wrap {

	.bb-model-header {

		h4 {
			font-size: 22px;
		}

		span {
			font-size: 1rem;
			color: #939597;
			letter-spacing: -0.24px;
			line-height: 24px;
			margin-right: 15px;
		}

		.dashicons {
			font-size: 22px;
			margin: 0;
		}
	}
}

.bb-media-actions-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 15px 0;

	h2 {
		margin: 0;
	}
}

.bb-add-media {
	display: inline-block;
}

.emojionearea.emojionearea-standalone {
	vertical-align: top;
}

.webui-popover.webui-popover {
	z-index: 999991;
}

.text-center {
	text-align: center;
}

.modal-container .bp-existing-media-wrap {
	margin-bottom: 20px;
	max-height: 68vh;
	overflow: auto;
}

.bb-model-close-button .dashicons {
	font-size: 22px;
}

.bb-field-wrap,
.bb-dropdown-wrap {
	margin-bottom: 20px;
}

.bb-model-footer.flex .bb-dropdown-wrap {
	margin-bottom: 0;
}

.bp-media-upload-tab {
	margin-right: 15px;
}

#buddypress ul.bp-list.loading,
#bbpress-forums ul.bp-list.loading {
	background: #fff;
	padding: 20px;
	text-align: center;
}

.bb-media-model-inner {

	.gif-media-search-dropdown.open {
		width: 300px;
		left: -60px;
	}

	.gif-media-search-dropdown:before {
		left: 80px;
	}

	.emojionearea .emojionearea-picker.emojionearea-picker-position-bottom {
		left: -100px;
	}

	.emojionearea .emojionearea-picker.emojionearea-picker-position-bottom .emojionearea-wrapper:after {
		left: 102px;
	}
}

img.emoji,
img.emojioneemoji {
	display: inline-block;
	margin: 3px;
	width: 24px !important;
	height: 24px !important;
}

.bb-media-only-privacy {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 11;

    .privacy {
        border: 1px solid;
        border-radius: 4px;
        padding: 2px 1px 2px 6px;
    }

    .bb-media-privacy-wrap:before {
        display: none;
    }

    .privacy-wrap {
        display: inline-block;
    }

    .media-privacy {
        display: none;
        margin: 0;
        position: absolute;
        background: #fff;
        box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.05), 0 6px 32px 0 rgba(18, 43, 70, 0.1);
        border-radius: 4px;
        padding: 5px 0;
        min-width: 200px;
        right: 0;
        top: 35px;
        z-index: 11;

        &:before {
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            top: 0;
            right: 25px;
            border: 6px solid black;
            border-color: #fff #fff transparent transparent;
            -webkit-transform-origin: 0 0;
            -ms-transform-origin: 0 0;
            transform-origin: 0 0;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            box-shadow: 2px -3px 3px 0 rgba(0, 0, 0, 0.02);
            z-index: 1002;
        }

        li {
            cursor: pointer;
            line-height: 1;
            margin: 0;
            padding: 10px 14px;
            position: relative;
            display: flex;
            align-items: center;
            margin-bottom: 1px;

            &:hover {
                background: #f5f5f5;
            }
        }

        .selected {
            background: #f5f5f5;
        }
    }

    .media-privacy.bb-open {
        display: block;
    }
}

.media-privacy {
    > li {
        &:before {
            content: "\f11f";
            font-family: dashicons;
            font-size: 16px;
            vertical-align: middle;
            display: inline-block;
            margin-right: 10px;
            width: 20px;
            text-align: center;
        }

        &.onlyme:before {
            content: "\f160";
        }

        &.loggedin:before {
            content: "\f307";
        }

        &.friends:before {
            content: "\f110";
        }
    }
}

.documents.my-document #buddypress #item-body #bp-media-uploader #media-uploader,
.documents.my-document #buddypress #item-body #bp-media-create-folder #media-uploader-folder,
.documents.folder #buddypress #item-body #bp-media-uploader #media-uploader,
.groups.documents #buddypress #item-body #bp-media-create-folder #media-uploader-folder,
.groups.documents #buddypress #item-body #bp-media-uploader #media-uploader,
.activity-update-form #whats-new-attachments .activity-document-container #activity-post-document-uploader,
body.documents #buddypress #item-body #media-uploader,
body.documents #buddypress #item-body #media-uploader-child-folder,
body.messages #buddypress #item-body #messages-post-document-uploader,
#new-post #whats-new-attachments #forums-post-document-uploader,
.bp-media-document-uploader.has-folderlocationUI,
.modal-container.has-folderlocationUI {

	.dz-preview.dz-file-preview .dz-image {
		padding-top: 0;
	}

	.dz-preview.dz-file-preview .dz-details {
		display: block !important;
	}

	.dz-preview.dz-file-preview .dz-details {
		border-radius: 4px;
		position: relative;
		overflow: hidden;
		padding: 25px 10px;
		display: flex;
		background: #f0f3f7;
		text-align: center;
		height: 120px;
		width: 120px;
		flex-flow: column;
		align-items: center;
		justify-content: center;
	}

	.dz-preview.dz-file-preview .dz-details .dz-size {
		margin-bottom: 0px;
		font-size: 12px;;
	}

	.dz-preview.dz-file-preview .dz-details .dz-filename {
		display: block;
		width: 100%;
	}

	.dz-preview.dz-file-preview .dz-details .dz-filename span {
		margin-top: 0px;
	}

}
#buddypress .bp-media-document-uploader{
	#bp-media-document-prev,
	#bp-media-document-next{
		display: none;
	}
	.bb-field-steps-2{
		padding-top: 30px;
	}	
}
#media-folder-document-data-table td.svg-document-icon {
	padding-right: 0px;
}
#media-folder-document-data-table td {
	vertical-align: middle;
}

#media-folder-document-data-table td img {
	max-width: 40px;
}
.modal-container.has-folderlocationUI .dropzone ,
.bp-media-document-uploader .dropzone .dz-preview,
#whats-new-attachments #forums-post-document-uploader,
#messages-post-document-uploader,
.activity-update-form #whats-new-attachments .activity-document-container #activity-post-document-uploader{
	.dz-success-mark,
	.dz-progress,
	.dz-error-mark{
		top: 70%;
	}
	.dz-filename{
		font-size: 14px;
	}
}
#media-stream .document-data-table-head{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-bottom: 1px solid #E7E9EC;
	padding: 0 0 8px;
	.data-head{
		font-size: 12px;
		color: #939597;
		span{
			cursor: pointer;
			user-select: none;
			text-transform: uppercase;
		}
		i{
			font-size: 8px;
			-webkit-transform: rotate(180deg) translateY(1px);
			-ms-transform: rotate(180deg) translateY(1px);
			transform: rotate(180deg) translateY(1px);
			transition: all ease 0.3s;
		}
		&.asce{
			i{
				-webkit-transform: rotate(0deg) translateY(-1px);
				-ms-transform: rotate(0deg) translateY(-1px);
				transform: rotate(0deg) translateY(-1px);
			}
		}
	}
	.data-head-name{
		-ms-flex-preferred-size: calc(60% - 50px);
    	flex-basis: calc(60% - 50px);
	}
	.data-head-modified{
		-ms-flex-preferred-size: 20%;
    	flex-basis: 20%;
	}
	.data-head-visibility{
		-ms-flex-preferred-size: 20%;
    	flex-basis: 20%;
	}
	@media screen and (max-width: 540px){
		-webkit-box-pack: end;
        -ms-flex-pack: end;
		justify-content: flex-end;
		padding: 10px 0;
		&:before{
			content: 'Sort By:';
			position: absolute;
			left: 25px;
			font-size: 14px;
		}
		.data-head-name,
		.data-head-modified,
		.data-head-visibility{
			-ms-flex-preferred-size: auto;
			flex-basis: auto;
			padding-right: 15px;
		}
		.data-head-visibility{
			padding-right: 0;
		}
	}
	@media screen and (max-width: 360px){
		&:before{
			font-size: 12px;
		}
		.data-head-name,
		.data-head-modified,
		.data-head-visibility{
			padding-right: 7px;
			font-size: 10px;
			i{
				font-size: 6px;
				-webkit-transform: rotate(180deg) translateY(2px);
				-ms-transform: rotate(180deg) translateY(2px);
				transform: rotate(180deg) translateY(2px)
			}
		}
	}
}
#media-folder-document-data-table{
	.pager{
		margin: 20px auto;
		width: 230px;
		a.button.loading:after {
			content: "\e838";
			font-family: "bb-icons";
			font-size: 18px;
			line-height: 1;
			margin-left: 10px;
			text-align: center;
			display: inline-block;
			-webkit-animation: spin 3s infinite linear;
			animation: spin 3s infinite linear;
		}
	}
}
#media-folder-document-data-table .media-folder_items{
	margin: 0;
	border-bottom: 1px solid #E7E9EC;
	padding: 15px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
    -ms-flex-align: center;
	align-items: center;
	&:last-child{
		border-bottom: 0;
	}
	&.is-visible{
		z-index: 1;
		.media-folder_actions .media-folder_action__list{
			opacity: 1;
			visibility: visible;
		}
	}
	.media-folder_icon{
		-ms-flex-preferred-size: 52px;
		flex-basis: 52px;
		width: 52px;
    	padding-left: 10px;
		>a i{
			font-size: 30px;
			color: #9ca8b4;
			margin-top: 5px;
			&.bb-icon-folder-stacked{
				font-size: 23px;
			}
		}
	}
	.media-folder_visibility,
	.media-folder_modified{
		-ms-flex-preferred-size: 20%;
    	flex-basis: 20%;
	}
	.media-folder_details{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-preferred-size: calc(+60% - 100px);
		flex-basis: calc(60% - 100px);
		width: calc(60% - 100px);
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-flow: column;
		flex-flow: column;
		.media-folder_name{
			color: #122B46;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			& > span {
				white-space: pre;
			}
		}
		.media-folder_name_edit{
			height: 32px;
			display: none;
			margin: 0 8px 8px 0;
		}
	}
	.media-folder_details__bottom{
		display: block;
		font-size: 14px;
		line-height: 1.3;
		color: #4D5C6D;
		.media-folder_date{
			display: inline-block;
			vertical-align: middle;
		}
		.media-folder_author{
			display: block;
			font-size: 13px;
			color: #939597;
		}
	}
	.media-folder_actions{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
    	-ms-flex-align: center;
        align-items: center;
		-webkit-box-pack: center;
    	-ms-flex-pack: center;
        justify-content: center;
		-ms-flex-preferred-size: 55px;
		flex-basis: 55px;
		position: relative;
		.media-folder_action__anchor{
			i{
				font-size: 21px;
			}
		}
		.media-folder_action__list{
			position: absolute;
			top: 30px;
			background: #fff;
			box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.05), 0 6px 32px 0 rgba(18, 43, 70, 0.1);
			border-radius: 4px;
			width: 168px;
			z-index: 1;
			opacity: 0;
			visibility: hidden;
			&:after{
				content: ' ';
				position: absolute;
				width: 0;
				height: 0;
				top: 0;
				margin: 0 auto;
				right: 0;
				left: -5px;
				box-sizing: border-box;
				border: 6px solid black;
				border-color: #fff #fff transparent transparent;
				-webkit-transform-origin: 0 0;
				-ms-transform-origin: 0 0;
				transform-origin: 0 0;
				-webkit-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				transform: rotate(-45deg);
				box-shadow: 2px -3px 3px 0 rgba(0, 0, 0, 0.02);
				z-index: 101;
				opacity: 1;
				visibility: visible;
			}
			ul{
				list-style: none;
				margin: 5px 0;
				padding: 0;
				li{
					a{
						padding: 10px 14px;
						display: block;
						font-size: 14px;
						line-height: 1;
						color: #7F868F;
						&:hover{
							background-color: #F5F5F5;
							color: $blue;
						}
						&:before{
							font-family: 'bb-icons';
							font-size: 16px;
							display: inline-block;
							margin-right: 10px;
							width: 20px;
							text-align: center;
						}
					}
					&.rename_file a:before{
						content: '\e80c';
					}
					&.move_file a:before{
						content: '\e959';
						font-size: 13px;
					}
					&.delete_file a:before{
						content: '\e937';
						font-size: 15px;
					}
					&.download_file a:before{
						content: '\e890';
					}
				}
			}
		}
	}
	@media screen and (max-width: 540px){
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: start;
   		-ms-flex-align: start;
        align-items: flex-start;
		position: relative;
		.media-folder_icon{
			flex-basis: auto;
			padding-left: 0;
			margin-bottom: 5px;
			img{
				width: 100%;
			}
		}
		.media-folder_details{
			-ms-flex-preferred-size: 100%;
			flex-basis: 100%;
			width: 100%;
		}
		.media-folder_modified{
			margin-bottom: 5px;
		}
		.media-folder_actions{
			position: absolute;
			right: 0;
			top: 19px;
			.media-folder_action__list{
				right: -3px;
				&:after{
					left: inherit;
					right: 9px;
				}
			}
		}
	}
}

.bp-media-header-wrap{
	h2{
		float: left;
	}
	.bb-media-actions-wrap{
		float: right;
		margin-left: 10px;
		.bb-media-actions a i{
			margin-right: 6px;
		}
	}
	@media screen and (max-width: 1440px){
		h2{
			width: 100%;
		}
	}
	@media screen and (max-width: 1220px){
		.bb-media-actions-wrap,
		.media-search-form{
			width: 100%;
			margin-bottom: 10px !important;
			input[type=text]{
				width: 100% !important;
			}
			.bb-media-actions,
			a.button{
				width: 100%;
			}
		}
	}
	@media screen and (max-width: 782px){
		h2{
			float: none;
		}
		.bb-media-actions-wrap{
			float: right;
		}
	}
	@media screen and (max-width: 640px){
		.bb-media-actions-wrap{
			float: none;
			margin-bottom: 10px;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			.bb-media-actions a{
				width: 100%;
			}
		}
	}
	.media-search-form {
		background-color: #fff;
		border: 1px solid #DEDFE2;
		border-radius: 100px;
		margin-bottom: 0;
		position: relative;
		display: inline-block;
		input[type=text] {
			background: transparent;
			border-radius: 100px;
			border: 0;
			height: 34px;
			width: 215px;
			font-size: 14px;
			letter-spacing: -0.24px;
			padding: 0 30px 0 35px;
		}
		&:after{
			content: '\e81f';
			font-family: bb-icons;
			display: inline-block;
			color: #4d5c6d;
			opacity: .4;
			position: absolute;
			left: 12px;
			top: 10px;
			line-height: 1;
			font-size: 16px;
		}
	}
}
.bp-document-listing{
	.media-search-form{
		float: right;
	}
}
@media screen and (max-width: 1120px){
	.bp-media-header-wrap{
		.media-search-form{
			width: 100%;
			margin: 5px 0;
			input[type=text]{
				width: 100%;
			}
		}
		.album-actions-wrap,
		.bb-media-actions-wrap{
			margin: 5px 0 !important;
		}
	}
}
#bp-media-single-folder{
	.album-single-view .bp-media-header-wrap{
		.bb-single-album-header{
			padding: 0;
			width: 30%;
			-webkit-flex-basis: 30%;
			-ms-flex-preferred-size: 30%;
			flex-basis: 30%;
			.bb-title{
				max-width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				text-align: left;
    			padding-top: 5px;
			}
		}
		.bb-media-actions{
			width: 70%;
			-webkit-flex-basis: 70%;
			-ms-flex-preferred-size: 70%;
			flex-basis: 70%;
			text-align: right;
			&>a{
				margin-left: 10px;
				&>i{
					margin-right: 6px;
				}
			}
			&>select{
				margin-left: 10px;
				height: 34px;
				font-size: 14px;
			}
			*:not(.button){
				text-align: left;
			}
			.dropzone *{
				text-align: center;
			}
		}
		@media screen and (max-width: 1480px){
			.bp-media-header-wrap-inner{
				webkit-box-orient: vertical;
        		-webkit-box-direction: normal;
            	-ms-flex-direction: column;
				flex-direction: column;
				position: relative;
			}
			.bb-single-album-header{
				margin-bottom: 10px;
			}
			.bb-single-album-header,
			.bb-media-actions{
				width: 100%;
				-webkit-flex-basis: 30%;
				-ms-flex-preferred-size: 30%;
				flex-basis: 100%;
			}
		}
		@media screen and (max-width: 1220px){
			.bb-media-actions .media-folder_items{
				position: absolute;
				right: 0;
				top: 3px;
			}
			.bb-media-actions > a{
				width: 100%;
				margin: 0 0 10px;
			}
		}
	}
	.bp-media-header-wrap{
		margin-bottom: 15px;
		display: inline-block;
		width: 100%;
		width: calc(100% + 40px);
		margin: 0 -20px;
		padding: 0 20px 15px;
		.bp-media-header-wrap-inner{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
		}
		.document-breadcrumb{
			list-style: none;
			margin: 10px 0 0 0;
			text-align: left;
			li{
				display: inline-block;
				font-weight: 600;
				vertical-align: middle;
				color: #939597;
				&:after{
					content: "\f345";
					font-family: dashicons;
					font-size: 20px;
					vertical-align: middle;
					font-size: 15px;
					margin-right: 6px;
					margin-left: 6px;
					color: inherit;
					font-weight: 400;
				}
				&:last-child{
					a{
						color: #393e41;
						font-weight: bold;
					}
					&:after{
						display: none;
					}
				}
				a{
					color: #939597;
					font-weight: normal;
				}
			}
		}
		.media-folder_items{
			display: inline-block;
			position: relative;
			text-align: left;
			.media-folder_action__anchor{
				display: inline-block;
				position: relative;
				vertical-align: middle;
				i{
					font-size: 21px;
				}
			}
			.media-folder_action__list{
				position: absolute;
				top: 33px;
				right: -4px;
				background: #fff;
				box-shadow: 0 2px 7px 1px rgba(0,0,0,.05), 0 6px 32px 0 rgba(18,43,70,.1);
				border-radius: 4px;
				width: 168px;
				z-index: 1;
				opacity: 0;
				visibility: hidden;
				&:after {
					content: ' ';
					position: absolute;
					width: 0;
					height: 0;
					top: 0;
					margin: 0 auto;
					right: 10px;
					box-sizing: border-box;
					border: 8px solid #000;
					border-color: #fff #fff transparent transparent;
					-webkit-transform-origin: 0 0;
					-ms-transform-origin: 0 0;
					transform-origin: 0 0;
					-webkit-transform: rotate(-45deg);
					-ms-transform: rotate(-45deg);
					transform: rotate(-45deg);
					box-shadow: 2px -3px 3px 0 rgba(0,0,0,.02);
					z-index: 101;
					opacity: 1;
					visibility: visible;
				}
				ul {
					list-style: none;
					margin: 10px 0;
					padding: 0;
					li {
						.media-edit-folder{
							display: inline-block;
							width: 100%;
							input{
								width: calc(100% - 20px);
								margin: 0 10px;
								padding: 3px 7px;
								height: 34px;
								font-size: 14px;
							}
							#bp-save-folder-title{
								float: right;
								margin: 5px 10px 0 0;
								width: calc(50% - 10px);
								text-align: center;
							}
							#bp-cancel-edit-album-title{
								float: left;
								margin: 5px 0 0 10px;
								text-align: center;
								width: calc(50% - 10px);
							}
						}
						a {
							padding: 5px 10px;
							display: block;
							font-size: 13px;
							&:hover {
								background-color: #f5f5f5;
							}
							i{
								margin-right: 10px;
							}
						}
					}
				}
			}
			&.is-visible{
				.media-folder_action__list{
					opacity: 1;
					visibility: visible;
					z-index: 11;
				}
			}
		}
	}

	@media screen and (max-width: 1120px){
		.album-single-view{
			.bp-media-header-wrap {
				.bp-media-header-wrap-inner{
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					-webkit-flex-direction: column;
					-ms-flex-direction: column;
					flex-direction: column;
				}
				.bb-single-album-header{
					width: 100%;
					-webkit-flex-basis: 100%;
					-ms-flex-preferred-size: 100%;
					flex-basis: 100%;
				}
				.bb-media-actions{
					float: left;
					width: 100%;
					-webkit-flex-basis: 100%;
					-ms-flex-preferred-size: 100%;
					flex-basis: 100%;
					padding-right: 25px;
					&>select{
						float: right;
					}
					.media-folder_items{
						position: absolute;
						right: 0;
						top: 3px;
					}
					&>a{
						margin-left: 0;
						margin-right: 10px;
					}
				}
			}
		}		
	}

	@media screen and (max-width: 640px){
		.album-single-view{
			.bp-media-header-wrap {
				.bb-media-actions{
					padding-right: 0;
					&>a,&>select{
						width: 100%;
						margin: 5px 0;
					}
				}
				.bb-single-album-header .bb-title{
					padding-right: 25px;
				}
			}
		}
	}
}


#bp-media-create-folder,
#bp-media-edit-child-folder,
#bp-media-create-child-folder{
	#bb-folder-location{
		display: none;
	}
	.bb-dropdown-wrap select{
		width: 100%;
	}
}
.modal-container.has-folderlocationUI{
	.bb-model-footer a{
		&.saving, &.loading{
			pointer-events: none;
			&:after {
				content: "\e838";
				font-family: "bb-icons";
				font-size: 18px;
				line-height: 1;
				margin-left: 10px;
				text-align: center;
				display: inline-block;
				-webkit-animation: spin 3s infinite linear;
				animation: spin 3s infinite linear;
			}
	}
	}
}
.bp-media-move-file,
.bp-media-move-folder{
	.bb-model-footer{
		display: inline-block;
		width: 100%;
		text-align: right;
		a{
			display: inline-block;
			vertical-align: middle;
			margin: 0 20px 0 0;
			&:last-child{
				margin-right: 0;
			}
			&.ac-document-close-button,
			&.ac-folder-close-button{
				color: #a5a7ab;
			}
		}
	}
}
.has-folderlocationUI .bb-field-wrap-search{
	position: relative;
	&:after{
		content: '\e81f';
		font-family: bb-icons;
		display: inline-block;
		color: #4d5c6d;
		opacity: .4;
		position: absolute;
		left: 12px;
		top: 12px;
		line-height: 1;
		font-size: 16px;
	}
	.ac_document_search_folder{
		border-radius: 30px;
		padding-left: 35px;
	}
}
.location-folder-list-wrap-main{

	.bb-folder-destination{
		cursor: pointer;
	}
	.ac_document_search_folder_list,
	.location-folder-list-wrap{
		&.has-error{
			border-color: #f00;
		}
		.location-folder-title{
			padding: 8px 0;
			display: inline-block;
			margin-left: 8px;
			vertical-align: middle;
		}
		.location-folder-back{
			display: none;
			cursor: pointer;
			vertical-align: middle;
			i{
				display: inline-block;
				vertical-align: middle;
				font-size: 34px;
				height: 25px;
				line-height: 25px;
				width: 20px;
				user-select: none;
			}
		}
		.location-folder-list{
			overflow: auto;
			max-height: 230px;
			min-height: 230px;
			list-style: none;
			margin: 0;
			padding: 0;
			background-color: #fff;
			border: 1px solid #e7e9ec;
			border-radius: 4px;
			padding: 0 10px;
			&.has-error{
				border-color: #f00;
			}
			li{
				position: relative;
				margin: 0;
				padding: 0;
				span{
					padding: 8px 15px;
					border-bottom: 1px solid #e7e9ec;
					display: block;
					cursor: pointer;
					font-size: 15px;
					&:before{
						content: '\e8ec';
						font-family: "bb-icons";
						color: #939597;
						margin-right: 10px;
					}
					&.selected{
						background-color: #fbfbfc;
					}
				}
				&:hover > .sub-menu-anchor{
					visibility: visible;
					opacity: 1;
				}
				.sub-menu-anchor{
					position: absolute;
					right: 5px;
					top: 50%;
					font-size: 34px;
					line-height: 1;
					visibility: hidden;
					opacity: 0;
					cursor: pointer;
					transform: translateY(-50%);
					display: inline-block;
					height: auto;
					width: auto;
					transition: all ease 0.3s;
				}

				ul{
					display: none;
					margin: 0;
					padding: 0;
					list-style: none;
				}
				&:last-child{
					> span{
						border-bottom: 0;
					}
				}
			}
			&::-webkit-scrollbar{
				width: 5px;
			}
			&::-webkit-scrollbar-thumb {
				background-color: #a4acb4;
				border-radius: 10px;
			}
		}
	}
	&.is-mobile{
		.location-folder-list-wrap .location-folder-list li .sub-menu-anchor{
			visibility: visible;
			opacity: 1;
		}
	}
}

.modal-container .bb-field-steps{
	display: none;
	&.bb-field-steps-1{
		display: block;
	}
	#bp-media-create-child-folder-submit,
	#bp-media-create-folder-submit,
	.bb-field-steps-next{
		min-width: 100px;
		float: right;
	}
	.bb-field-steps-previous{
		float: left;
	}
	@media screen and ( max-width: 420px ){
		.bb-field-steps-previous,
		#bp-media-create-folder-submit{
			float: none;
			width: 100% !important;
			margin-bottom: 10px;
		}
	}
}
@media screen and ( max-width: 420px ){
	.bp-media-document-uploader{
		.bb-model-footer{
			-ms-flex-direction: column;
			flex-direction: column;
			>a{
				width: 100% !important;
				margin-bottom: 10px;
			}
		}
	}
}
.directory.document{
	.document-options{
		position: absolute;
		right: 0;
		top: 0;
		margin: 0;
		a.button > i{
			margin-right: 6px;
		}
		> *{
			margin-left: 6px;
		}
		@media screen and (max-width: 1024px){
			position: static;
			margin: -20px 0 0 0;
			> *{
				margin-bottom: 15px;
			}
		}
	}
	.subnav-filters{
		display: inline-block;
		vertical-align: middle;
		.subnav-search{
			margin: 0;
			.bp-dir-search-form{
				background-color: #fff;
				border: 1px solid #DEDFE2;
				box-shadow: none;
				border-radius: 100px;
				margin: 0;
				position: relative;
				button[type=submit]{
					position: absolute;
					opacity: 0;
					visibility: hidden;
					width: 0;
					height: 0;
				}
				#dir-document-search{
					border: 0;
					background-color: transparent;
					padding-left: 32px;
					font-size: 14px;
					height: 34px;
				}
			}
		}
	}
}
#media-stream.document-parent{
    background-color: #fff;
    border-radius: 4px;
	border: 1px solid #E7E9EC;
	.document-data-table-head{
		padding: 20px 20px 8px;
	}
	#media-folder-document-data-table{
		.media-folder_items{
			margin: 0 20px;
		}
	}
}