// BP Activity Comments Form
// @version 3.0.0
form.ac-form {
	display: none;
	padding: $pad-med;

	.ac-reply-avatar {
		float: left;

		img {
			border: 1px solid #eee;
		}
	}

	.ac-reply-content {

		a {
			text-decoration: none;
		}

		.ac-textarea {
			margin-bottom: $marg-med;
			padding: 0 $pad-sml;

			.ac-input[contenteditable="true"] {
				background: transparent;
				box-shadow: none;
				color: $bp-text;
				font-family: inherit;
				font-size: 100%;
				margin: 0;
				outline: none;
				padding: 0.5em;
				width: 100%;
				border-radius: 3px;
				border: 1px solid #ccc;

				&:focus {

					@include box-shadow( 0 0 6px $med-light-grey );
				}
			}

			.dropzone.open {
				margin-top: 20px;
			}

			.ac-reply-toolbar {
				display: flex;
				margin-top: 10px;

				.post-elements-buttons-item {
					margin-right: 10px;
					position: relative;
				}
			}

			.gif-search-results-list {
				margin: 0;
				padding: 0;
				list-style: none;
			}

			.gif-search-content .gif-search-results ul li {
				padding: 0;
			}
		}

		input {
			margin-top: $marg-sml;
		}
	}

}

.bp-ac-form-cotainer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.ac-reply-content {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	min-width: 0;
	color: $light-text;
	padding-left: $pad-med;
}

.activity-comments li form.ac-form {
	clear: both;
	margin-right: $marg-med;
}

.activity-comments form.root {
	margin-left: 0;
}

/** Modal **/
.edit-activity-modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(250, 251, 253, 0.9);
	opacity: 0;
	visibility: hidden;
	z-index: 999901;

	.activity-update-form #whats-new-form.activity-form {
		margin-bottom: 0;
		border: 0;
		width: 100%;
	}

	.edit-activity-modal-content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #fff;
		padding: 0;
		width: 700px;
		max-width: 90%;
		border-radius: 4px;
		border: 1px solid #d2d4d6;
		box-shadow: 0 6px 24px 0 rgba(18, 43, 70, 0.1);
		max-height: 90%;
		overflow: auto;

		#whats-new-submit input {
			padding: 0 15px;
			margin: 0 5px;
			line-height: 27px;
			height: 34px;
		}

		#whats-new-content {
			max-height: 230px;
			overflow: auto;
		}

		#whats-new-toolbar {

			.post-elements-buttons-item a {
				text-decoration: none;
				font-size: 16px;
				line-height: 1.7;
			}

			.gif-media-search-dropdown {
				top: initial;
				bottom: 30px;

				&:before {
					top: initial;
					bottom: -11px;
					border-color: transparent transparent #fff #fff;
				}

				.gif-search-results {
					min-height: 30vh;
					max-height: 30vh;
				}

			}

		}

		#whats-new-attachments {

			.activity-media-container > .dropzone {
				max-height: 130px;
				overflow: auto;
				margin-top: 10px;
			}

		}

	}

	.edit-activity-modal-close-button {
		float: right;
		width: auto;
		line-height: 15px;
		text-align: center;
		cursor: pointer;
		border-radius: 3px;
		position: absolute;
		z-index: 11;
		padding: 10px;
		right: 0;
		top: 7px;

		.bb-icon {
			font-size: 22px;
			color: #939597;
		}
	}

	&.show-modal {
		opacity: 1;
		visibility: visible;

		.activity-update-form #whats-new-content .medium-editor-toolbar {
			display: block;
		}

	}

	@media screen and (max-width: 603px) {

		&#buddypress > .activity-update-form .focus-in #whats-new-content .medium-editor-toolbar {
			bottom: 58px;
		}

	}

	@media screen and (max-width: 560px) {

		&#buddypress > .activity-update-form .focus-in #whats-new-content .medium-editor-toolbar {
			bottom: 112px;
		}

	}

}
