// Group Creation Steps - Screens
// @version 3.0.0

@use "./_bp-variables" as variables;
@use "./_bp-mixins" as mixins;

#group-create-body {
	padding: variables.$pad-sml;

	.creation-step-name {
		text-align: center;
	}

	.avatar-nav-items {
		margin-top: variables.$marg-med;
	}
}
