// Single Groups Management screens
// @version 3.0.0

@use "./_bp-variables" as variables;
@use "./_bp-mixins" as mixins;

// Groups settings screen
.buddypress-wrap {

	.group-status-type {

		ul {
			margin: 0 0 variables.$marg-lrg variables.$marg-lrg;
		}
	}
}

// ==== Members manage ====

.groups-manage-members-list {
	padding: variables.$pad-sml 0;

	dd {
		margin: 0;
		padding: variables.$pad-med 0;
	}

	.section-title {
		background: variables.$light-grey;
		padding-left: variables.$pad-xsml;

		&.gen-members-section {
			background-color: transparent;

			.search-wrapper {
				margin-top: 1em;
				width: 15em;
				display: flex;
				align-items: center;
				position: relative;

				input[type="search"] {
					padding-top: 3px;
					padding-bottom: 3px;
					padding-right: 35px;
					line-height: 1.5;
					font-size: 16px;
					-moz-appearance: none;

					&::-webkit-search-clear-button,
					&::-webkit-search-cancel-button {
						-webkit-appearance: none;
					}
				}

				.search-form_reset {
					background-color: transparent;
					border: 0;
					padding: 0;
					color: #767676;
					position: absolute;
					right: 12px;
					opacity: 0.4;
					font-size: 13px;
				}

				&.loading {
					position: relative;

					&:after {
						content: "\ef30";
						font-weight: 400;
						font-family: "bb-icons"; /* stylelint-disable-line */
						font-size: 20px;
						line-height: 1;
						position: absolute;
						right: -30px;
						text-align: center;
						display: inline-block;
						vertical-align: middle;
						-webkit-animation: spin 2s infinite linear;
						animation: spin 2s infinite linear;
					}
				}
			}
		}
	}

	ul {
		list-style: none;
		margin-bottom: 0;

		li {
			border-bottom: 1px solid variables.$bp-border-color;
			margin-bottom: variables.$marg-sml;
			padding: variables.$pad-sml variables.$pad-xsml variables.$pad-xsml;
		}

		li:only-child,
		li:last-child {
			border-bottom: 0;
		}

		li:nth-child(even) {
			background: variables.$off-white;
		}

		li.banned-user {
			background: lighten(variables.$warn, 50%);
		}

		.member-name {
			margin-bottom: 0;
			text-align: center;
		}

		img {
			display: block;
			margin: 0 auto;
			width: 20%;
		}

		@include mixins.medium-small-up() {

			.member-name {
				text-align: left;
			}

			img {
				display: inline;
				width: 50px;
			}
		}

		@include mixins.clearfix-element(".members-manage-buttons");

		.members-manage-buttons {
			margin: variables.$marg-med 0 variables.$marg-xsml;

			a.button {
				color: variables.$light-text;
				display: block;

				@include mixins.font-size(13);
			}

			@include mixins.medium-small-up() {

				a.button {
					display: inline-block;
				}
			}
		}

		.members-manage-buttons.text-links-list {
			margin-bottom: 0;

			@include mixins.medium-small-max() {

				a.button {
					background: #fafafa;
					border: 1px solid variables.$bp-border-color;
					display: block;
					margin-bottom: variables.$marg-sml;
				}
			}
		}

		.action:not(.text-links-list) {

			a.button {

				@include mixins.font-size(12);
			}
		}

		@include mixins.medium-up() {

			li {

				.avatar,
				.member-name {
					float: left;
				}

				.avatar {
					margin-right: variables.$marg-med;
				}

				.action {
					clear: both;
					float: left;
				}

			}
		} // close @media

	}

} //close .groups-manage-members-list

#avatar-crop-actions {
	margin-top: 15px;

	a.avatar-crop-cancel {
		color: #555;
		margin-top: 15px;
	}
}

// ==== Group Forum Manage====

.group-forum-confirmation {
	border-radius: 4px;
	border: 1px solid #d2d4d6;
	box-shadow: none;

	.ui-button {
		background: variables.$white; /* Old browsers */
		border-color: variables.$bp-border-dark;
		border-style: solid;
		border-width: 1px;
		color: variables.$dark-grey;
		cursor: pointer;
		font-size: inherit;
		font-weight: 400;
		outline: none;
		line-height: 1.3;
		padding: variables.$pad-xsml variables.$pad-sml;
		text-align: center;
		text-decoration: none;
		width: auto;
	}

}

.ui-widget-overlay {
	background: rgba(250, 251, 253, 0.5);
	opacity: 1;
}
