#group-invites-container {
	background: #fff;
	border: 1px solid #e7e9ec;
	border-radius: 4px;
	margin-bottom: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.bb-groups-invites-right {
	flex: 1;
}

.bb-groups-invites-left {
	border-right: 1px solid #e7e9ec;
	min-width: 0;
	flex: 0 0 360px;

	.bp-list li .item-avatar {
		margin-right: 15px;
	}

	.group-invites-search {
		padding: 20px;
	}

	.bb-icons.bb-icon-loader {
		display: inline-block;
		font-size: 16px;
		vertical-align: top;
		margin-top: 3px;
	}
}

#item-body #group-invites-container li.selected {
	background: #f5f5f5;
}

#group-invites-container .bb-groups-invites-right .bp-invites-feedback-hide {
	display: none;
}

#send_group_invite_form .select2-selection--multiple {
	border-color: transparent;
	padding: 0;
}

#send_group_invite_form .select2-selection__rendered {
	display: flex;
	align-items: center;
	flex-flow: row wrap;
	list-style: none;
	padding: 0;
	max-height: 120px;
	overflow: auto;
}

#send_group_invite_form .select2-search.select2-search--inline {
	flex: 1;
	min-width: 0;
}

#buddypress #send_group_invite_form .select2-search__field {
	background: transparent;
	border-width: 0;
	min-width: 100%;
	width: 100% !important;
	padding-left: 0;
}

body.groups.group-invites .select2-dropdown .select2-results__option {
	border-radius: 3px;
	margin-bottom: 0;
	font-size: 14px;
	padding: 2px 5px;
}

body.groups.group-invites li.select2-results__option.select2-results__invite {
	border-radius: 3px;
	margin-bottom: 0;
	font-size: 14px;
	list-style: none;
	padding: 2px 5px;
}

body.groups.group-invites span.select2-dropdown.select2-dropdown--below {
	background: #fff;
	box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.05), 0 6px 32px 0 rgba(18, 43, 70, 0.1);
	border-radius: 4px;
	border: 0;
	padding: 5px 10px;
	margin-right: 0;
	max-width: 300px;
	display: none;
}

.bb-groups-invites-right-top {
	padding: 20px;

	.bb-title-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.bb-add-invites {
		font-size: 14px;
		display: flex;
		align-items: center;
		line-height: 1;

		.bb-icons {
			margin-right: 5px;
			font-size: 18px;
		}
	}
}

.bb-invites-footer {
	border-top: 1px solid #e7e9ec;
	padding: 10px 20px;
	text-align: right;
}

@media screen and (min-width: 768px) {

	.bb-invites-footer,
	.bb-groups-invites-right-top .bb-add-invites {
		display: none;
	}
}

@media screen and (max-width: 767px) {

	.bb-groups-invites-left {
		display: none;
	}

	div#bp-group-invite-content #send-invites-control {
		min-height: 100px;
	}

	.bb-groups-invites-left.bb-select-member-view {
		position: fixed;
		background: rgba(0, 0, 0, 0.69);
		content: "";
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 999999;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
	}

	.bb-groups-invites-left.bb-select-member-view .bb-groups-invites-left-inner {
		background: #fff;
		border-radius: 5px;
		width: 90%;
		max-width: 500px;
		overflow: hidden;
	}

	div.group-invites-members-listing {
		padding-bottom: 0;
	}

	.group-invites-members-listing {

		.bp-invites-feedback {
			margin-bottom: 30px;
		}
	}
}

a.bb-close-invites-members.button {
	min-width: 110px;
}

.bb-groups-invites-right-bottom {
	border-top: 1px solid #e7e9ec;
}

body.groups.group-invites #send_group_invite_form .select2-container--default .select2-selection--multiple .select2-selection__choice {
	background-color: #4d5c6d;
	border-color: #4d5c6d;
	font-size: 14px;
	color: #fff;
	letter-spacing: -0.24px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-flow: row-reverse;
	flex-flow: row-reverse;
	padding: 0 8px;
}

#send_group_invite_form li.select2-selection__choice {
	margin-right: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
}

#send_group_invite_form .select2-selection__choice__remove {
	line-height: 1;
	margin: 0 0 0 8px;
	width: 16px;
	height: 16px;
	background: #fff;
	border-radius: 50%;
	color: #333;
	font-size: 14px;
	text-align: center;
}

#send_group_invite_form .select2-selection--multiple {
	border-color: transparent;
	padding: 0;
}

#send_group_invite_form .select2-search.select2-search--inline {
	flex: 1;
	min-width: 0;
}

#send_group_invite_form #group-invites-toolbar {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 20px;
}

#send_group_invite_form #group-invites-toolbar .post-elements-buttons-item {
	margin-right: 10px;
	position: relative;
}

#group-invites-toolbar .post-elements-buttons-item {
	margin-right: 10px;
	position: relative;
}

#bp-group-invite-content .medium-editor-element,
#bp-group-invite-content .medium-editor-placeholder {
	font-size: 16px;
}

#bp-group-invite-content {

	#send-invites-control {
		border: 0;
		resize: none;
		padding: 25px;
		height: auto;
		max-height: 32vh;
	}
}

#group-invites-container .bb-groups-invites-left .group-invites-members-listing .bp-invites-feedback-hide {
	display: none;
}

#group-invites-container .bb-groups-invites-left .item-list li {
	border: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	position: relative;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 0;
	margin: 0 -20px 1px;
	width: auto;
	padding: 8px 20px;
}

#group-invites-container .bb-groups-invites-left .group-invites-members-listing .list-title,
#group-invites-container .bb-groups-invites-left .group-invites-members-listing .list-title a {
	font-size: 15px;
	font-weight: 400;
	margin: 0 auto;
	width: 100%;
}

#group-invites-container .bb-groups-invites-left .group-invites-members-listing .action button {
	height: auto;
	min-height: 10px;
	padding: 0;
	min-width: 40px;
	border: 0;
	color: inherit;
	background: transparent;
	box-shadow: none;
}

#group-invites-container .bb-groups-invites-left .last {
	text-align: center;
	float: right;
}

#group-invites-container .bb-groups-invites-left .bp-group-invites-filters .button.group-invite-button {
	background-color: transparent;
	border: 0;
	padding-left: 5px;
	padding-right: 5px;
}

#group-invites-container .bb-groups-invites-left #group-group-invites-container .button.group-invite-button {
	min-height: 34px;
	padding: 5px 16px;
}

#group-invites-container .bb-groups-invites-left .button.group-invite-button {
	min-height: 26px;
	padding: 0;
	background: transparent;
	border: 0;
}

.bp-single-invite-wrap.group-invites-highlight {
	background: #fffced;
	padding: 10px;
	border: 1px solid #f9efca;
	border-radius: 5px;
}

#group-invites-container .select2-container--default.select2-container--disabled .select2-selection--multiple {
	background-color: transparent !important;
	cursor: default;
}

#group-invites-container div#group-invites-new-submit {
	margin-left: auto;
	display: flex;
}

#group-invites-container select.group-invites-type {
	margin-right: 10px;
}

#group-invites-container #send_group_invite_form {
	margin-bottom: 0;
	position: relative;
	height: 100%;
	padding-bottom: 55px;
}

#group-invites-container .bb-groups-invites-right > .bp-feedback {
	margin: 20px;
}

.bp-single-invite-content .bp-invite-content-wrap p.joined {
	color: #847d7d;
	font-style: italic;
	font-weight: 700;
}

.group-invites-members-listing {
	padding-bottom: 20px;
}

#group-invites-container .bb-groups-invites-left #members-list {
	max-height: 55vh;
	overflow: auto;
	margin: 0;
	padding: 0 20px;
}

.group-invites.pending-invites.invite #group-invites-container .group-invites-column .group-subnav-filters div .last {
	display: none;
}

#group-invites-container .bb-groups-invites-left .group-invites-members-listing #members-list .load-more .center {
	width: 100%;
	text-align: center;
}

#group-invites-container .bb-groups-invites-left .bp-invites-dropdown-options-loader-hide,
#group-invites-container .bb-groups-invites-right .bp-invites-submit-loader-hide,
#group-invites-container .bb-groups-invites-left .group-invites-members-listing .last {
	display: none;
}

.bb-groups-invites-left .group-invites-members-listing .bp-invites-feedback,
.bb-groups-invites-right #send_group_invite_form .bb-groups-invites-right-top .bp-invites-feedback {
	display: none;
}

#bp-pending-invites-loader {
	display: none;
}

#bp-pending-invites-loader {
	position: relative;
	text-align: center;
}

#bp-pending-invites-loader .dashicons-update:before {
	content: "\ef30";
	font-family: "bb-icons";/* stylelint-disable-line */
	font-size: 20px;
	display: block;
	-webkit-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
}

#bp-invites-submit-loader {
	margin-left: auto;
	margin-right: 10px;
	position: relative;
	top: 2px;

	.bb-icons {
		font-size: 16px;
	}

}

#bp-invites-submit-loader .dashicons-update:before {
	content: "\ef30";
	font-family: "bb-icons";/* stylelint-disable-line */
	font-size: 20px;
	display: block;
	-webkit-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
}

.group-invites-members-listing {

	.bp-list li .item {
		overflow: initial;
	}
}
