// BP pagination  - generic styling for all screens
// @version 3.0.0

@use "./_bp-variables" as variables;
@use "./_bp-mixins" as mixins;

.buddypress-wrap {

	.bp-pagination {

		background: transparent;
		border: 0;
		color: variables.$light-text;
		float: left;
		font-size: small;
		margin: 0;
		padding: variables.$pad-sml 0;
		position: relative;
		width: 100%;

		.pag-count {
			float: left;
		}

		.bp-pagination-links {
			float: right;
			margin-right: variables.$marg-sml;

			span,
			a {
				font-size: small;
				padding: 0 5px;
			}

		}

		.bp-pagination-links {

			a:focus,
			a:hover {
				opacity: 1;
			}
		}

		p {
			margin: 0;
		}

	} // close .bp-pagination

	&.learndash-pager-course_info_quizzes {

		.bp-pagination {

			.bp-pagination-links {
				float: none;
			}
		}
	}

}
