// BP Single Screens Item Body General Styles.
// @version 3.0.0

@use "./_bp-variables" as variables;
@use "./_bp-mixins" as mixins;

.buddypress-wrap {

	.item-body {

		.screen-heading {

			@include mixins.font-size(20);
		}

		.button-tabs {
			margin: variables.$marg-xlrg 0 variables.$marg-med;
		}

		.group-create-buttons {
			list-style: none;

			li {
				padding-right: 12px;
			}
		}

	}
}

// If vertical primary nav is in use the item body
// needs a little left padding on loops to let the content breath.

.buddypress-wrap.bp-single-vert-nav {

	.bp-list:not(.grid) {

		.item-entry {
			padding-left: variables.$pad-sml;
		}
	}
}
