// Group Creation Steps - Screens
// @version 3.0.0

@use "./_bp-variables" as *;
@use "./_bp-mixins" as *;

#group-create-body {
	padding: $pad-sml;

	.creation-step-name {
		text-align: center;
	}

	.avatar-nav-items {
		margin-top: $marg-med;
	}
}
