// cover photo container generic styles.
// These properties manage the required positioning of
// the image container overlay.
// @version 3.0.0

/*
* Default required cover photo rules
*/

#cover-image-container {
	flex: 0 0 100%;
	min-width: 0;
	position: relative;
}

#header-cover-image {
	background-color: #555;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	border: 0;
	display: block;
	left: 0;
	margin: 0;
	padding: 0;
	position: relative;
	top: 0;
	width: 100%;
	z-index: 1;
	overflow: hidden;

	.header-cover-img {
		max-width: 100%;
		min-width: 100%;
		height: auto;
		position: absolute;
		top: 0;
		left: 0;
		display: none;
	}

	.header-cover-reposition-wrap {
		overflow: hidden;
		height: 100%;
		display: none;
		width: 100%;
		text-align: right;

		> .button {
			position: relative;
			z-index: 1;
			float: none;
			margin: 5px 5px 0 0;
		}

		.guillotine-window {
			position: absolute;
			top: 0;
		}

		img {
			max-width: 100%;
			perspective: none !important;
			backface-visibility: initial !important;
		}
	}
}


#item-header-cover-image {
	margin-bottom: 1em;
	position: relative;
	z-index: 2;

	#item-header-avatar {
		margin-top: -70px;
		padding: 0 1em;
		position: relative;
	}
}

#item-header-avatar img {
	border: solid 2px #fff;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: none;
	display: block;
	margin: 0 auto;
}

.users-header #item-header-cover-image #item-header-content {
	flex: 1;
	margin-top: -50px;
	min-width: 0;
}

/*
* end cover photo block
*/

/*
* Cover photo cropper
*/
body.guillotine-dragging,
body.guillotine-dragging * {
	cursor: move !important;
	cursor: -webkit-grabbing !important;
	cursor: -moz-grabbing !important;
	cursor: grabbing !important;
	cursor: grabbing, move;  /* IE hack */
}

.guillotine-window {
	display: block;
	position: relative;
	overflow: hidden;
	cursor: move;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab;
	cursor: grab, move;  /* IE hack */
}

.guillotine-canvas {
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	margin: 0 !important;
	padding: 0 !important;
	border: none !important;

	> * {
		position: absolute;
		top: 0;
		left: 0;
		max-width: none;
		max-height: none;
		width: 100%;
		height: 100%;
		margin: 0 !important;
		padding: 0 !important;
		border: none !important;
	}
}

.guillotine-sample {
	position: absolute !important;
	top: -100000px !important;
	left: -100000px !important;
	width: auto !important;
	height: auto !important;
}
