// BP Activity Entries - activity loop
// @version 3.0.0

.activity-list {

	padding: $pad-sml;

	.activity-item:before,
	.activity-item:after {
		content: " ";
		display: table;
	}

	.activity-item:after {
		clear: both;
	}

	.activity-item { // li element - (entries)
		list-style: none;
		padding: $pad-med;

		&.has-comments {
			padding-bottom: $pad-med;
		}


		div.item-avatar { // 'div' for weight
			margin: 0 auto;
			text-align: center;
			width: auto;

			img {
				height: auto;
				max-width: 40%;
			}
		}

		@include medium-up() {

			div.item-avatar { // 'div' for weight
				margin: 0 2% 0 0;
				text-align: left;
				width: 15%;

				img {
					max-width: 80%;
				}
			}
		}

		&.mini {

			@include font-size(13);
			position: relative;

			.activity-avatar {
				margin-left: auto;
				text-align: center;
				width: auto;

				img.avatar,
				img.FB_profile_pic { /* stylelint-disable-line selector-class-pattern */
					max-width: 15%;
				}
			}

			@include medium-up() {

				.activity-avatar {
					margin-left: $marg-med;
					text-align: left;
					width: 15%;

					img.avatar,
					img.FB_profile_pic { /* stylelint-disable-line selector-class-pattern */
						max-width: 60%;
					}
				}
			}
		} // close .mini

		&.new_forum_post,
		&.new_forum_topic {

			.activity-inner {
				border-left: 2px solid $light-grey;
				margin-left: $marg-sml;
				padding-left: $pad-med;
			}
		} // close li forum elements


		&.newest_mentions_activity,
		&.newest_friends_activity,
		&.newest_groups_activity,
		&.newest_blogs_activity {
			// why?
			background: rgba(31, 179, 221, 0.1);
		}

		.activity-inreplyto {
			color: $light-text;

			@include font-size(13);

			> p {
				display: inline;
				margin: 0;
			}

			blockquote,
			.activity-inner {
				background: none;
				border: 0;
				display: inline;
				margin: 0;
				overflow: hidden;
				padding: 0;
			}
		}

		// The header elements: date stamp, author etc;
		.activity-header {
			margin: 0 auto;
			width: 80%;

			// ensure elements are display inline, some themes setting avatars as block
			a,
			img {
				display: inline;
			}

			.avatar {
				display: inline-block;
				margin: 0 $marg-xsml;
				vertical-align: bottom;
			}

			.time-since {

				@include font-size(14);
				color: $light-text;
				text-decoration: none;

				&:hover {
					color: $light-text;
					cursor: pointer;
					text-decoration: underline;
				}
			}

			.activity-to {
				visibility: hidden;
				display: inline-block;
				white-space: nowrap;
				width: 1em;
			}

			.activity-to:before {
				font-family: dashicons;
				vertical-align: middle;
				content: "\f344";
				visibility: visible;

				@include medium-lrg-up() {
					font-size: 15px;
				}
			}

			.activity-time-since:before {
				content: "\00b7 ";
				color: $light-text;
				display: inline-block;
				margin-right: 3px;
				vertical-align: middle;
			}

		} // close .activity-header

		.activity-content {

			.activity-header,
			.comment-header {
				color: $light-text;
				margin-bottom: $marg-sml;
			}

			.activity-inner,
			blockquote {
				background: $off-white;
				margin: $marg-med 0 $marg-sml;
				overflow: hidden;
				padding: $pad-med;
			}

			p {
				margin: 0;
			}

			.activity-state {
				display: none;
				font-size: 12px;
				clear: both;

				.activity-state-likes,
				.ac-state-separator,
				.activity-state-comments {
					display: none;
				}

				a {
					border: 0;
					padding: 0;
				}

				&.has-likes {

					.activity-state-likes {
						display: inline-block;
					}
				}

				&.has-comments {

					.activity-state-comments {
						display: inline-block;
					}
				}

				&.has-likes,
				&.has-comments {
					display: block;
				}

				&.has-likes.has-comments {

					.ac-state-separator {
						display: inline-block;
					}
				}
			}

		} // close .activity-content

		.activity-inner {

			p {
				word-break: break-word;
			}
		}

		.activity-read-more {
			margin-left: 1em; // proportional to the text size please!
			white-space: nowrap;
		}

		// The footer elements, buttons etc

		// if this is a ul then...
		// else we'll skip this for the rules below.
		ul.activity-meta {
			margin: 0;
			padding-left: 0;

			li {
				// if a list is being used keep it inline
				border: 0;
				display: inline-block;
			}
		}

		.bp-generic-meta.action {
			border: 1px solid transparent;
			background: $off-white;
			padding: 2px;
			position: relative;
			text-align: left;

			// this wrapper has generic margins in _bp_lists.scss
			// remove for act stream actions.
			div.generic-button {
				margin: 0;
			}

			.button {
				background: transparent;
			}

			a {
				padding: 4px 8px;
			}

			// we don't want a background hover if icons used
			.button:focus,
			.button:hover {
				background: none;
			}

			// Uncomment .acomment-reply class for icon us
			.button:before,
			.icons:before {
				font-family: dashicons;
				font-size: 18px;
				vertical-align: middle;
			}

			.acomment-reply.button:before {
				content: "\f101";
			}

			.view:before {
				content: "\f125";
			}

			.fav:before {
				content: "\f529";
			}

			.unfav:before {
				content: "\f529";
				color: #0061ac;
			}

			.delete-activity:before {
				content: "\f153";
			}

			.spam-activity:before {
				content: "\f227";
			}

			.delete-activity:hover {
				color: #800;
			}

			.button {
				border: 0;
				box-shadow: none;

				span {
					background: none;
					font-weight: 600;
				}
			}

			.unfav .like-count {
				color: #0061ac;
			}

		} // close .activity-meta

	} // close .activity-item

} // close .activity-list

@include medium-up() {

	.activity-list.bp-list {
		padding: 30px;
	}

	.activity-list {

		.activity-item {

			.activity-content {
				margin: 0;
				position: relative;

				&:after {
					clear: both;
					content: "";
					display: table;
				}
			}

			.activity-header {
				margin: 0 $marg-med 0 0;
				width: auto;
			}

		} // li entry item
	}
}

.activity-inner:empty {
	display: none;
}

// load more link
.activity-list {

	.load-more,
	.load-newest {
		background: $off-white;
		border: 1px solid $bp-border-color;
		font-size: 110%;
		margin: $marg-med 0;
		padding: 0;
		text-align: center;

		a {
			color: $dark-grey;
			display: block;
			padding: $pad-sml 0;

			&:focus,
			&:hover, {
				background: $white;
				color: $black;
			}
		}

		&:focus,
		&:hover {
			border-color: darken($bp-border-color, 5%);

			@include box-shadow(0 0 6px 0 $light-grey);
		}
	}
}

.activity-url-scrapper-loading {
	display: block;
	font-size: 14px;
	color: #a3a5a9;
	letter-spacing: -0.24px;
	margin: 12px 0 10px;
}

.activity-link-preview-container {
	border: 1px solid rgba(0, 0, 0, 0.07);
	border-radius: 4px;
	background-color: rgba(250, 250, 250, 0.2);
	margin: 20px 0 10px;
	overflow: hidden;
	position: relative;
	max-width: 420px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;

	.activity-video-preview & {
		border: 0;
		border-radius: 0;
		margin: 0;
		max-width: 640px;
	}

	div.fluid-width-video-wrapper {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.activity-link-preview-image-wrap {
	flex: 0 0 auto;
	min-width: 0;
	width: 180px;
	min-height: 200px;
	position: relative;

	@include medium-small-max() {
		width: 100%;
	}
}

.activity-link-preview-image {
	border-radius: 3px 0 0 3px;
	position: relative;
	overflow: hidden;
	background: #809ab4;
	height: 100%;
}

.activity-link-preview-image img {
	max-width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 0;
	min-height: 100%;
	width: auto;
	min-width: 100%;
	object-fit: cover;
}

.activity-link-preview-content {
	flex: 1;
	min-width: 0;
	padding: 40px 20px;
	font-size: 13px;
	color: #939597;
	letter-spacing: -0.24px;
	line-height: 1.38;
	align-self: center;

	.activity-video-preview & {
		padding: 0;
	}
}

.activity-url-thumb-nav {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
}

#buddypress .activity-url-thumb-nav button {
	cursor: pointer;
	width: auto;
	padding: 2px 10px;
	margin: 0 5px;
	height: auto;
	min-height: 10px;
}

.activity-url-thumb-nav .dashicons {
	font-size: 14px;
	line-height: 1;
	position: relative;
	top: 2px;
}

#activity-url-scrapper-img-count {
	font-size: 12px;
	color: #7f7f7f;
	margin-top: 5px;
}

.activity-url-error {
	color: #f00;
}

#activity-url-scrapper-url {
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
}

.activity-link-preview-title {
	color: #122b46;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: -0.24px;
	line-height: 1.21;
	margin: 0 0 10px;
}

.activity-link-preview-title a {
	color: inherit;
}

#activity-close-link-suggestion {
	border: 0;
	color: rgba(0, 0, 0, 0.4);
	font-size: 16px;
	position: absolute;
	right: 8px;
	top: 0;
	text-decoration: none;

	@include medium-small-max() {
		color: rgba(0, 0, 0, 1);
	}
}

#activity-link-preview-close-image {
	border: 0;
	color: #fff;
	font-size: 16px;
	left: 3px;
	position: absolute;
	top: 3px;
	text-decoration: none;
}

#activity-close-link-suggestion:focus,
#activity-link-preview-close-image:focus {
	outline: 0;
}

.activity-inner .buddyboss-media-photo-link,
.acomment-content .buddyboss-media-photo-link {
	display: none !important;
}
@keyframes lazyAmination{
    0%{
        background-position: 100% 0
    }
    100%{
        background-position: -300% 0
    }
}
.activity-inner iframe.lazy{
	animation-duration: 1.3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: lazyAmination;
    animation-timing-function: linear;
    background: #f6f7f8;
    background-size: 800px 104px;
}

span.dashicons.dashicons-admin-file:before {
  content: '\e96a';
}
.activity-list .activity-item .activity-content.documemt-activity{
	z-index: 1;
	position: relative;
	.activity-inner{
		overflow: visible;
	}
}
.bb-activity-media-wrap {
  width: 100%;
  .bb-activity-media-elem.document-activity {
	border:1px solid #E7E9EC;
	border-radius: 5px;
	padding: 15px;
	display: inline-block;
	width: 100%;
	margin: 3px;
	padding: 0;
	.document-description-wrap{
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		.entry-img {
			-ms-flex-preferred-size: 70px;
			flex-basis: 70px;
			width: 70px;
			text-align: center;
			padding: 15px 0;
			display: inline-block;
			vertical-align: middle;
			background-color: #f2f2f2;
			img{
				width: 35px;
				height: 35px;
				position: static;
				object-fit: inherit;
				min-height: inherit;
				min-width: inherit;
			}
	  }
	  .document-detail-wrap{
		-ms-flex-preferred-size: calc(100% - 70px);
		flex-basis: calc(100% - 70px);
		width: calc(100% - 70px);
		display: inline-block;
		vertical-align: middle;
		padding: 10px 0 10px 15px;
		color: #122B46;
		.document-title{
		  text-overflow: ellipsis;
		  overflow: hidden;
		  white-space: nowrap;
		  width: calc(100% - 70px);
		  display: block;
		  font-weight: bold;
		}
		.document-description{
		  display: inline-block;
		  color: #7F868F;
		}
		.document-helper-text{
			position: relative;
			top: -10px;
			opacity: 0;
			visibility: hidden;
			-webkit-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}
	  }
	}
	.document-action-wrap{
		position: absolute;
		right: 15px;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		top: 50%;
		opacity: 0;
		visibility: hidden;
		-webkit-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
		&>a{
			display: inline-block;
			margin-left: 8px;
			-webkit-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
			i{
				font-size: 22px;
				color: #122B46;
			}
			&:hover{
				i{
					opacity: 0.8;
				}
			}
			&[data-balloon]:after{
				margin-top: 4px;
				font-size: 12px;
				padding: 5px 10px;
			}
			&[data-balloon][data-balloon-pos='down']:before{
				margin-top: -1px;
			}
		  }
		  .document-action_list{
				position: absolute;
				top: 26px;
				right: -4px;
				opacity: 0;
				visibility: hidden;
				background: #fff;
				box-shadow: 0 2px 7px 1px rgba(0,0,0,.05), 0 6px 32px 0 rgba(18,43,70,.1);
				border-radius: 4px;
				width: 168px;
				z-index: 1;
				ul{
					list-style: none;
					margin: 10px 0;
					li{
						margin: 0;
						padding: 0;
						a {
							padding: 5px 10px;
							display: block;
							font-size: 13px;
							&:hover {
								background-color: #f5f5f5;
							}
						}
					}
				}
				&:after {
					content: ' ';
					position: absolute;
					width: 0;
					height: 0;
					top: 0;
					margin: 0 auto;
					right: 10px;
					box-sizing: border-box;
					border: 8px solid #000;
					border-color: #fff #fff transparent transparent;
					-webkit-transform-origin: 0 0;
					-ms-transform-origin: 0 0;
					transform-origin: 0 0;
					-webkit-transform: rotate(-45deg);
					-ms-transform: rotate(-45deg);
					transform: rotate(-45deg);
					box-shadow: 2px -3px 3px 0 rgba(0,0,0,.02);
					z-index: 101;
					opacity: 1;
					visibility: visible;
				}	
		  }
	  }
	&:hover{
		.document-action-wrap{
			opacity: 1;
			visibility: visible;
		}
		.document-detail-wrap .document-helper-text{
			top: 0;
			opacity:1;
			visibility:visible;
		}
		.document-detail-wrap{
			color: #007cff;
		}
	}
	&.is-visible{
		.document-action-wrap,
		.document-action_list{
			opacity: 1;
			visibility: visible;
		}
		.document-detail-wrap .document-helper-text{
			top: 0;
			opacity:1;
			visibility:visible;
		}
		.document-detail-wrap{
			color: #007cff;
		}
	}
	&.is-mobile{
		.document-action-wrap{
			top: 28px;
			opacity: 1;
			visibility: visible;
		}
		.document-description-wrap .document-detail-wrap {
			.document-description,
			.document-helper-text{
				font-size: 12px;
				top: 0;
				opacity:1;
				visibility:visible;
			}
		}
	}
  }
}
