// BP Whats new form handles user updates to groups or profiles
// @version 3.0.0

.activity-update-form {
	padding: 10px 10px 0;
}

.item-body {

	.activity-update-form {

		.activity-form {
			margin: 0;
			padding: 0;
		}
	}
}

.activity-update-form {
	border: 1px solid $bp-border-dark;

	@include box-shadow( inset 0 0 6px #eee);

	margin: $marg-med 0;

	#whats-new-avatar {
		margin: $marg-sml 0;
		text-align: center;

		img {
			box-shadow: none;
			display: inline-block;
		}
	}

	// these ID's need replacing with this!
	//.content-wrap { // #whats-new-content

	#whats-new-content {
		padding: 0 0 $marg-lrg 0;
	}

	#whats-new-attachments {
		.activity-attached-gif-container {
			background-color: #ccd6dd;
			border-radius: 6px;
			box-shadow: inset 0 1px 0 rgba(0,0,0,0.05), 0 1px 0 rgba(255,255,255,0.5);
			cursor: pointer;
			display: inline-block;
			font-size: 12px;
			max-width: 312px;
			overflow: hidden;
			position: relative;

			.gif-image-remove {
				border-radius: 10px;
				height: 19px;
				right: 4px;
				top: 4px;
				width: 19px;
			}

			.gif-image-overlay {
				color: #fff;
				margin-top: 0;
				position: absolute;
			}
		}
	}

	#whats-new-elements {
		#whats-new-elements-buttons {
			margin: 1em 0;
			ul {
				list-style: none;

				li {
					display: inline-block;
				}
			}
		}
	}

	#whats-new-toolbar {
		.post-elements-buttons-item {
			display: inline-block;
			position: relative;

			a.toolbar-button {
				display: inline-block;
				padding: 4px 10px;
				border: 1px solid transparent;
				line-height: normal;
			}

			.activity-attached-gif-container::before,
			.activity-attached-gif-container::after {
				left: 24px;
				border-color: #f5f8fa;
				border-width: 8px;
			}

			.gif-media-search {
				position: relative;
				max-width: 450px;

				.gif-media-search-dropdown {
					position: absolute;
					top: 100%;
					z-index: 900;
					display: none;
					float: left;
					margin: 2px 0 0;
					background: #fff;
					border-radius: 4px;
					box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
					background-clip: padding-box;

					&.open {
						display: block;
						width: 400px;
					}

					.gif-search-query {
						background-color: #f5f8fa;
						background-repeat: repeat-x;
						background-image: linear-gradient(#fff, #f5f8fa);
						border: 1px solid #e6ecf0;
						border-radius: 4px 4px 0 0;
						position: relative;
						padding: 8px;
						margin: 0;
					}

					.gif-search-results {
						padding: 3px 6px;
						overflow: auto;
						min-height: 270px;
						max-height: 410px;

						ul {
							display: flex;
							flex-wrap: wrap;
							list-style: none;

							li {
								display: block;
								flex: 0 0 50%;
								border: 3px solid #fff;
								position: relative;
								min-height: 100px;

								&.bg1 {
									background: #e0245e
								}

								&.bg2 {
									background: #f45d22;
								}

								&.bg3 {
									background: #ffad1f
								}

								&.bg4 {
									background: #17bf63
								}

								&.bg5 {
									background: #1c94e0
								}

								&.bg6 {
									background: #794bc4
								}
							}
						}

						.found-media-item img {
							width: 100%;
							height: 100%;
						}
					}

				}
			}

		}
	}

	// these ID's need replacing with this!
	//.textarea-wrap { // #whats-new-textarea

	#whats-new-textarea {

		textarea {
			background: $textarea-bck;

			@include box-model();
			color: #333;
			font-family: inherit;
			font-size: medium;
			height: 2.2em;
			line-height: 1.4;
			padding: 6px;
			width: 100%;

			&:focus {

				@include box-shadow(0 0 6px 0 $med-light-grey);
			}
		}
	}

	#whats-new-post-in-box {
		margin: $marg-sml 0;

		#whats-new-post-in-box-items {
			list-style: none;
			margin: $marg-sml 0;

			li {
				margin-bottom: $marg-sml;
			}

			#activity-autocomplete {
				padding: 0.3em;
			}

			.bp-activity-object {

				@include center-vert();
				padding: 0.2em;

				.avatar {
					width: 30px;
				}

				span {
					padding-left: $marg-sml;
					vertical-align: middle;
				}

				&:focus,
				&:hover {
					background: $light-grey;
					cursor: pointer;
				}

				&.selected {
					border: 1px solid $med-light-grey;
				}
			}
		}

	}

	#whats-new-submit {
		margin: $marg-med 0 $marg-sml;

		input {

			@include font-size(14);
			line-height: inherit;
			margin-bottom: $marg-sml;
			margin-right: $marg-sml;
			padding: 0.2em 0;
			text-align: center;
			width: 100%;
		}
	}

	@include medium-up() {

		#whats-new-avatar {
			display: block;
			float: left;
			margin: 0;
		}

		#whats-new-content,
		#whats-new-elements,
		#whats-new-post-in-box,
		#whats-new-submit {
			margin-left: 8.5%;

		}

		#whats-new-submit {

			input {
				margin-bottom: 0;
				margin-right: $marg-sml;
				width: 8em;
			}
		}
	} // close @media
}
