// BP User settings screens
// @version 3.0.0

// 1. Settings Global
// 1. General (email/password change)
// 2. notifications
// 3. Profile visibility
// 4. group Invites

// Settings Global

/*__ Settings Global __*/

// required extra specificity to override later table settings
.buddypress.settings {

	.profile-settings.bp-tables-user {

		select {
			width: 100%;
		}
	}

}

#activate-page .bp-messages {
	margin-bottom: 20px;
}


// General

/*__ General __*/


// notifications
.notification_info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 30px;

	.notification_learn_more {
		display: none;
	}

	.notification_type {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 33.33%;

		&:not(:last-child) {
			margin-right: 20px;
		}

		.bb-notification-column-2 & {
			width: calc(50% - 10px);
		}

	}

	.notification_type_icon {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		padding-right: 20px;

		.bb-icon {
			font-size: 40px;
		}

	}

	.notification_type .notification_type_info {

		h3,
		p {
			margin-bottom: 0;
		}

	}

	@media screen and (max-width: 900px) {

		flex-direction: column;

		.notification_learn_more {
			display: block;
			margin-bottom: 0;

			&.show {
				margin-bottom: 15px;
			}

		}

		.notification_type {
			display: none;
			width: 100%;
			margin-bottom: 12px;

			.bb-notification-column-2 & {
				width: 100%;
				margin-right: 0;
			}

			&.show {
				display: flex;
			}

		}

	}

}

.main-notification-settings {
	font-size: 16px;
	margin-bottom: 0;

	&:first-of-type {
		margin-bottom: 15px;
	}

	thead {
		background-color: $buttons-background;

		.title {
			padding-left: 20px;
			border-left: 1px solid $primary-grey;
			font-weight: 400;
			width: 100%;
		}

		.app {
			border-right: 1px solid $primary-grey;
			padding-right: 20px;
		}

	}

	.title {
		vertical-align: middle;
	}

	th {
		min-width: 95px;
		padding: 10px;
		vertical-align: middle;
		border-top: 1px solid $primary-grey;
		border-bottom: 1px solid $primary-grey;
	}

	.disabled * {
		opacity: 0.6;
		pointer-events: none;

		input[type="checkbox"] {
			opacity: 0;
		}

	}

	input[type="checkbox"]:disabled {
		opacity: 0;
	}

	tbody {

		.title {
			font-size: 14px;
			color: #a3a5a9;
			letter-spacing: 0.5px;
			text-transform: uppercase;
			font-weight: 500;
		}

		td {
			border-bottom: 1px solid $primary-grey;
			vertical-align: middle;
			padding: 10px;

			&:first-child {
				padding-left: 0;
				width: 100%;
			}

			&.notification_no_option {
				text-align: center;
			}

		}

		.notification_heading td {
			border-bottom: 0;
			padding: 15px 0 0 0;
		}

	}

	.email,
	.web,
	.app {
		min-width: 95px;
	}

	.email:last-child {
		min-width: 48px;

		label {
			font-size: 0 !important;
			line-height: 20px !important;
		}
	}

	@media screen and (min-width: 901px) {

		.bb-mobile-setting {
			display: none;
		}

	}

	@media screen and (max-width: 900px) {
		display: block;

		.bb-mobile-setting {
			position: relative;
			-webkit-box-flex: 0;
			-ms-flex: 0 0 auto;
			flex: 0 0 auto;
			margin-left: 10px;

			.bb-mobile-setting-anchor {
				float: right;
				cursor: pointer;
				background: #fff;
				border: 1px solid #d7dce5;
				border-radius: 3px;
				padding: 5px 10px;

				&:after {
					content: "\e826";
					color: #d7dce5;
					font-size: 22px;
					font-family: "bb-icons";/* stylelint-disable-line */
					display: inline-block;
					vertical-align: middle;
				}
			}

			ul {
				position: absolute;
				top: 30px;
				right: 0;
				display: none;
				margin: 0;
				padding: 10px 4px 0;
				width: 150px;
				list-style: none;
				background: #fff;
				border: 1px solid #d3d4d6;
				box-sizing: border-box;
				box-shadow: 0 0 6px rgba(0, 0, 0, 0.05), 0 6px 10px rgba(0, 0, 0, 0.1);
				border-radius: 4px;

				li {
					width: 100%;
					padding: 0 8px 10px;
				}
			}

			&.active ul {
				display: block;
				z-index: 1;
			}

		}

		tbody,
		thead,
		tr {
			display: block;
		}

		tbody td {
			display: none;

			&:first-child {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: justify;
				-ms-flex-pack: justify;
				justify-content: space-between;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
			}

		}

		thead th {
			display: none;

			&.title {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: justify;
				-ms-flex-pack: justify;
				justify-content: space-between;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
			}

		}

	}

}

/*__ notifications __*/


// Profile visibility

/*__ Profile visibility __*/

// Group Invites

/*__ Group Invites __*/
