// BP Activity Comments Form
// @version 3.0.0
form.ac-form {
	display: none;
	padding: $pad-med;

	.ac-reply-avatar {
		float: left;

		img {
			border: 1px solid #eee;
			image-rendering: -webkit-optimize-contrast;
		}
	}

	.ac-reply-content {

		a {
			text-decoration: none;
		}

		.ac-textarea {
			margin-bottom: $marg-med;
			padding: 0 $pad-sml;

			.ac-input[contenteditable="true"] {
				background: transparent;
				box-shadow: none;
				color: $bp-text;
				font-family: inherit;
				font-size: 100%;
				margin: 0;
				outline: none;
				padding: 0.5em;
				width: 100%;
				border-radius: 3px;
				border: 1px solid #ccc;

				&:focus {

					@include box-shadow( 0 0 6px $med-light-grey );
				}
			}

			.dropzone.open {
				margin-top: 20px;
			}

			.ac-reply-toolbar {
				display: flex;
				margin-top: 10px;

				.post-elements-buttons-item {

					@include center-vert();
					margin-right: 10px;
					position: relative;

					> .emojionearea.ac-input {
						border: 0;
						padding: 0;
					}
				}
			}

			.gif-search-results-list {
				margin: 0;
				padding: 0;
				list-style: none;
			}

			.gif-search-content .gif-search-results ul li {
				padding: 0;
				margin: 0 0 5px 0;
			}
		}

	}
}

.bp-ac-form-cotainer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.ac-reply-content {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	min-width: 0;
	color: $light-text;
	padding-left: $pad-med;
}

.activity-comments li form.ac-form {
	clear: both;
	margin-right: $marg-med;
}

.activity-comments form.root {
	margin-left: 0;
}
