// Cover image container generic styles.
// These properties manage the required positioning of
// the image container overlay.
// @version 3.0.0

/*
* Default required cover image rules
*/

#cover-image-container {
	flex: 0 0 100%;
	position: relative;
}

#header-cover-image {
	background-color: #555;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	border: 0;
	display: block;
	left: 0;
	margin: 0;
	padding: 0;
	position: relative;
	top: 0;
	width: 100%;
	z-index: 1;
}

#item-header-cover-image {
	margin-bottom: 1em;
	position: relative;
	z-index: 2;

	#item-header-avatar {
		margin-top: -80px;
		padding: 0 1em;
	}
}

#item-header-avatar img {
	border: solid 2px #fff;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: none;
	display: block;
	margin: 0 auto;
}

.users-header #item-header-cover-image #item-header-content {
	flex: 1;
	margin-top: -50px;
}

@media screen and (min-width: 783px) {

	.groups-header #item-header-avatar {
		margin-right: 20px;
	}
}

#item-header .icon-wrap {
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	left: 12px;
	top: 12px;
	opacity: 0;
	transition: all 0.2s;

	@include box-shadow( 0 0 3px 0 rgba(0, 0, 0, 0.2) );
}

#header-cover-image .link-change-cover-image {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 3;
}

#header-cover-image:hover .icon-wrap {
	opacity: 1;
}

/*
* end cover image block
*/
