#group-messages-container {
	background: #fff;
	border: 1px solid #E7E9EC;
	border-radius: 4px;
	margin-bottom: 20px;
	display: flex;
        flex-flow: row wrap;
}

.bb-groups-messages-right {
	flex: 1;
	min-width: 0;
        position: relative;

        .medium-editor-element:not(.emojionearea),
        .medium-editor-placeholder:not(.emojionearea) {
            max-height: 50vh;
            overflow-y: auto;
            overflow-x: hidden;
        }
}

.bb-groups-messages-left {
	display: block;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 360px;
	flex: 0 0 360px;
	min-width: 0;

	@include medium-max() {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		min-width: 0;
	}
}

#bp-group-message-content p {
    margin-bottom: 1rem;
}

.group-messages-members-listing {
	padding: 0 20px 20px;

        #buddypress & ul.item-list {
                margin-bottom: 0;
        }
}

.bb-panel-mobile-header {
    display: none;
    align-items: center;
    justify-content: space-between;

    .bb-select-members-title {
        margin: 0 !important;
    }
}

.bb-panel-footer {
    display: none;
    border-top: 1px solid #E7E9EC;
    padding: 10px 20px;
    text-align: right;
}

@include medium-up() {

    .group-messages-members-listing #members-list {
            max-height: 70vh;
            overflow-y: auto;
            overflow-x: hidden;
            margin: 0 -20px;
            padding: 0 20px;
            width: auto;
    }
}

#group-messages-container .bb-groups-messages-left .group-messages-search {
        padding: 20px 0;
	display: none;
}

#item-body #group-messages-container .bb-groups-messages-left .group-messages-members-listing .item-list li.selected {
	background: #f5f5f5;
}

#group-messages-container .bb-groups-messages-right .bp-messages-feedback-hide {
	display: none;
}

#send_group_message_form .select2-selection--multiple {
	border-color: transparent;
	padding: 0;
}

#send_group_message_form .select2-selection__rendered {
	display: flex;
	align-items: center;
	flex-flow: row wrap;
	padding: 0;
}

#send_group_message_form .select2-search.select2-search--inline {
	flex: 1;
	min-width: 0;
}

#send_group_message_form .select2-selection__rendered li {
	margin: 0;
}

#buddypress #send_group_message_form .select2-search__field {
	background: transparent;
	border-width: 0;
	min-width: 100%;
	width: 100% !important;
	padding-left: 0;
        height: 30px;
}

body.groups.messages .select2-dropdown .select2-results__option {
	border-radius: 3px;
	margin-bottom: 0;
	font-size: 14px;
	padding: 2px 5px;
}

body.groups.messages li.select2-results__option.select2-results__message {
	border-radius: 3px;
	margin-bottom: 0;
	font-size: 14px;
	padding: 2px 5px;
}

body.groups.messages span.select2-dropdown.select2-dropdown--below {
	background: #fff;
	box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.05), 0 6px 32px 0 rgba(18, 43, 70, 0.1);
	border-radius: 4px;
	border: 0;
	padding: 5px 10px;
	margin-right: 0;
	max-width: 300px;
	display: none;
}

.bb-groups-messages-right-top {
	padding: 20px;
}

.bb-groups-messages-right-bottom {
	border-top: 1px solid #E7E9EC;
        height: 100%;
}

body.groups.messages #send_group_message_form .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #4D5C6D;
    border-color: #4D5C6D;
    font-size: 14px;
    color: #FFF;
    letter-spacing: -0.24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-flow: row-reverse;
    flex-flow: row-reverse;
    padding: 0 8px;
}

#send_group_message_form li.select2-selection__choice {
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#send_group_message_form .select2-selection__choice__remove {
    font-size: 0;
    line-height: 1;
    margin: 0 0 0 8px;
}

#send_group_message_form .select2-selection__choice__remove:before {
    content: '\E828';
    font-family: "bb-icons";
    font-size: 13px;
    line-height: 1;
    background: #fff;
    border-radius: 50%;
    color: #4D5C6D;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 13px;
    min-height: 13px;
    text-indent: -1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#send_group_message_form .select2-selection--multiple {
    border-color: transparent;
    padding: 0;
}

#send_group_message_form .select2-selection__rendered {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    padding: 0;
}

#send_group_message_form .select2-search.select2-search--inline {
    flex: 1;
    min-width: 0;
}

#send_group_message_form .select2-selection__rendered li {
    margin: 0;
}

#send_group_message_form li.select2-selection__choice {
    margin-right: 10px;
}

#send_group_message_form #group-messages-toolbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
}

#send_group_message_form #group-messages-toolbar .post-elements-buttons-item {
    margin-right: 10px;
    position: relative;
}
/*
#group-messages-toolbar .dashicons {
    font: normal normal normal 24px/1 "bb-icons";
    color: rgba(18, 43, 70, 0.4);
    -webkit-transition: all linear .2s;
    transition: all linear .2s;
    width: auto;
    height: auto;
}

#group-messages-toolbar .dashicons-admin-media:before {
	content: '\E805';
}

#group-messages-toolbar .post-elements-buttons-item {
    margin-right: 10px;
    position: relative;
}

#bp-group-message-content .dashicons-smiley:before {
    content: '\E811';
}*/

div#bp-group-message-content {
    padding: 20px;
    height: 100%;
    display: flex;
    flex-flow: column;
}

#group-messages-container .bb-groups-messages-left .bp-messages-feedback-hide {
	display: none;
}

#group-messages-container .item-list li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
        padding: 5px 0;
	position: relative;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 0;
	width: 100%;
}

#group-messages-container .bb-groups-messages-left .list-title {
	color: #393e41;
	font-size: 15px;
	margin: 0 auto;
	width: 100%;
}

#group-messages-container .bb-groups-messages-left .action button {
	height: auto;
	min-height: 10px;
	padding: 0;
	min-width: 40px;
	border: 0;
	color: inherit;
	background: transparent;
	box-shadow: none;
}

#group-messages-container .bb-groups-messages-left .last {
	text-align: center;
	float: right;
}

#group-messages-container .bb-groups-messages-left .bp-group-messages-filters .button.group-message-button {
	background-color: transparent;
	border: 0;
	padding-left: 5px;
	padding-right: 5px;
}

#group-messages-container .bb-groups-messages-left #group-group-messages-container .button.group-message-button {
	min-height: 34px;
	padding: 5px 16px;
}

#group-messages-container .bb-groups-messages-left .button.group-message-button {
	min-height: 26px;
	padding: 0;
	background: transparent;
	border: 0;
}

span.icons:before {
        font-family: dashicons;
}

.bp-single-message-wrap.group-messages-highlight {
	background: #fffced;
	padding: 10px;
	border: 1px solid #f9efca;
	border-radius: 5px;
}

#group-messages-container .select2-container--default.select2-container--disabled .select2-selection--multiple {
	background-color: transparent !important;
	cursor: default;
}

#group-messages-container div#group-messages-new-submit {
	margin-left: auto;
	display: flex;
}

#group-messages-container select.group-messages-type {
	margin-right: 10px;
}

#group-messages-container form#send_group_message_form {
	margin-bottom: 0;
	height: 100%;
	display: flex;
	flex-flow: column;
}

#group-messages-container .bb-groups-messages-right > .bp-feedback {
	margin: 20px;
}

.bp-single-message-content .bp-message-content-wrap p.joined {
	color: #847d7d;
	font-style: italic;
	font-weight: bold;
}

.total-members-text:empty {
	display: none;
}

#group-messages-container .group-messages-members-listing .total-members-text {
	color: #939597;
        font-size: 15px;
        font-weight: 400;
	margin-bottom: 10px;
        margin-top: 20px;
}

.hr-text {
	line-height: 1em;
	position: relative;
	outline: 0;
	border: 0;
	color: black;
	text-align: center;
	height: 1.5em;
	opacity: .5;
	width: 100%;
	background: transparent;
	margin: 0;
	&:before {
		content: '';
		// use the linear-gradient for the fading effect
		// use a solid background color for a solid bar
		background: #818078;
		position: absolute;
		left: 0;
		top: 50%;
		width: 100%;
		height: 1px;
	}
	&:after {
		content: attr(data-content);
		position: relative;
		display: inline-block;
		color: black;

		padding: 0 .5em;
		line-height: 1.5em;
		// this is really the only tricky part, you need to specify the background color of the container element...
		color: #818078;
		background-color: #FFFFFF;
	}
}



@media screen and (min-width: 1081px) {

	.bb-groups-messages-left {
		border-right: 1px solid #E7E9EC;
	}
}

@media screen and (max-width: 1080px) {

	.bb-groups-messages-left,
        .bb-groups-messages-right {
		flex: 0 0 100%;
		border-right: 0;
	}

        .group-messages-members-listing #members-list {
                max-height: 25vh;
        }

        .bb-panel-footer,
        .group-messages-search,
        .group-messages-members-listing {
            display: none;
        }

        .bb-groups-messages-left.bb-select-member-view {
            position: fixed;
            background: rgba(0, 0, 0, 0.69);
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 999999;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            .bb-groups-messages-left-inner {
                background: #fff;
                border-radius: 5px;
                width: 100%;
                max-width: 500px;
            }

            .bb-panel-mobile-header {
                display: flex;
            }

            .bb-panel-footer,
            .group-messages-search,
            .group-messages-members-listing  {
                display: block;
            }

            select.group-messages-select-members-dropdown, .add-more-members {
                display: none;
            }

            .group-messages-members-listing {
                padding-bottom: 0;
            }

            .bb-panel-head {
                background: #fbfbfc;
            }
        }

        body #buddypress .group-messages-members-listing .bp-list .action {
            flex: 0 0 26px;
            margin-left: auto;
        }
}
