// Groups specific Item-body content
// @version 3.0.0

@use "./_bp-variables" as variables;
@use "./_bp-mixins" as mixins;

// Members list doesn't generate  subnav items items
// so we negate the rules using :not()
.single-item.group-members {

	.item-body {

		.filters:not(.no-subnav) {
			border-top: 5px solid variables.$light-grey;
			padding-top: variables.$pad-med;
		}
	}
}

//Subgroups list doesn't show searchbar and filter dropdown
.single-item.subgroups {

	.item-body {

		#subnav-filters {

			.subnav-search {
				display: none;
			}

			#dir-filters {
				display: none;
			}
		}
	}
}
