// BP Whats new form handles user updates to groups or profiles
// @version 3.0.0

.item-body {

	.activity-update-form {

		.activity-form {
			margin: 0;
			padding: 0;
		}
	}
}

.activity-update-form {
	border: 1px solid $bp-border-dark;

	@include box-shadow(inset 0 0 6px #eee);

	margin: $marg-med 0;

	#whats-new-avatar {
		border-bottom: 1px solid #ddd;
		padding: 10px;
		margin: 0;

		img {
			box-shadow: none;
			display: inline-block;
			margin-right: 10px;
			vertical-align: middle;
		}
	}

	.activity-post-avatar {
		display: inline-block;
	}

	// these ID's need replacing with this!
	//.content-wrap { // #whats-new-content

	#whats-new {
		outline: none;
		box-shadow: none;
		min-height: 80px;
		overflow: hidden;
		padding: 10px;
		resize: none !important;
	}

	#whats-new-content {
		padding: 0;
	}

	#whats-new-attachments {
		padding: 10px;
	}

	#whats-new-elements-buttons {
		margin: 1em 0;

		ul {
			list-style: none;

			li {
				display: inline-block;
			}
		}
	}

	// close @media
}

#whats-new-toolbar {
	padding: 10px;
}

#whats-new-toolbar,
#whats-new-messages-toolbar {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	.post-elements-buttons-item {
		margin-right: 10px;
		position: relative;
	}
}

.bbp-the-content pre {
	padding: 1rem 1.5rem;
}

.bbp-topic-form #whats-new-toolbar {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;

	.medium-editor-toolbar {
		top: inherit;
		bottom: 6px;
		left: 0;
		visibility: visible;
		z-index: 99;
		background-color: transparent;
		opacity: 0.3;
		transition: opacity ease 0.2s;

		&.medium-editor-toolbar-active {
			opacity: 1;
		}

		.medium-editor-toolbar-actions {
			background-color: transparent;

			button {
				box-shadow: none;
				padding: 10px 10px 10px 0;
				min-width: 30px;
				border: 0;
				background-color: transparent !important;
				color: rgba(18, 43, 70, 0.4) !important;

				&.medium-editor-button-active {
					color: #122b46 !important;
				}

				&.medium-editor-action-close {
					padding-right: 0;
				}

			}

		}

		.medium-editor-toolbar-form .medium-editor-toolbar-input {
			width: 220px;
			margin-bottom: 0;
			background-color: #fff;
			border: 1px solid #dedfe2;
			color: #4d5c6d;

			&::-webkit-input-placeholder {
				color: #4d5c6d;
			}
		}

	}

	.emojionearea .emojionearea-picker.emojionearea-picker-position-bottom {
		right: -20px;
		left: inherit;

		.emojionearea-wrapper:after {
			right: 22px;
			left: inherit;
		}
	}

	.gif-media-search-dropdown {
		right: 0;
		left: inherit;

		&:before {
			right: 6px;
			left: inherit;
		}
	}

	.medium-editor-action-close,
	.show-toolbar {
		display: none;
	}

}

.activity-update-form #whats-new-toolbar {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.activity-update-form {

	.activity-form.focus-in #whats-new-content .medium-editor-toolbar {
		opacity: 0.3;

		&.medium-editor-toolbar-active {
			opacity: 1;
		}
	}

	#whats-new-content {
		position: relative;

		.medium-editor-toolbar {
			top: inherit;
			bottom: -52px;
			left: 0;
			visibility: visible;
			z-index: 99;
			background-color: transparent;
			opacity: 0;

			.medium-editor-toolbar-actions {
				background-color: transparent;

				button {
					box-shadow: none;
					padding: 10px 10px 10px 0;
					min-width: 30px;
					border: 0;
					background-color: transparent !important;
					color: rgba(18, 43, 70, 0.4) !important;

					&.medium-editor-button-active {
						color: #122b46 !important;
					}

					&.medium-editor-action-close {
						padding-right: 0;
					}

				}

			}

			.medium-editor-toolbar-form .medium-editor-toolbar-input {
				width: 220px;
				margin-bottom: 0;
				background-color: #fff;
				border: 1px solid #dedfe2;
				color: #4d5c6d;

				&::-webkit-input-placeholder {
					color: #4d5c6d;
				}
			}

		}

		.medium-editor-action-close,
		.show-toolbar {
			display: none;
		}
	}

	#whats-new-toolbar .show-toolbar {
		display: none;
	}
}

// these ID's need replacing with this!
//.textarea-wrap { // #whats-new-textarea

#whats-new-textarea {

	[contenteditable="true"] {

		&:empty:before {
			content: attr(placeholder);
			color: #bbb;
			cursor: text;
			display: block; /* For Firefox */
		}
	}
}

#activity-form-submit-wrapper {
	border-top: 1px solid #ddd;
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	align-items: center;
	padding: 0 10px;
}

#whats-new-post-in-box {
	margin: $marg-sml 0;

	#whats-new-post-in-box-items {
		list-style: none;
		margin: $marg-sml 0;

		li {
			margin-bottom: $marg-sml;
		}

		#activity-autocomplete {
			padding: 0.3em;
		}

		.bp-activity-object {

			@include center-vert();
			padding: 0.2em;

			.avatar {
				width: 30px;
			}

			span {
				padding-left: $marg-sml;
				vertical-align: middle;
			}

			&:focus,
			&:hover {
				background: $light-grey;
				cursor: pointer;
			}

			&.selected {
				border: 1px solid $med-light-grey;
			}
		}
	}

}

#whats-new-submit {
	margin: $marg-sml 0;
	display: flex;
	flex-flow: row-reverse;

	input {

		@include font-size(14);
		line-height: 1;
	}
}

// GIF styles
.gif-media-search {
	position: relative;
	max-width: 400px;
}

div[class*="attached-gif-container"] {
	position: relative;

	.gif-image-remove {
		border-radius: 10px;
		cursor: pointer;
		height: 19px;
		right: 2px;
		top: 4px;
		width: 19px;
	}

	.gif-image-overlay {
		color: #fff;
		margin-top: 0;
		position: absolute;
	}

	.gif-player {
		position: relative;
		max-width: 480px;

		video {
			margin: 0;
			max-width: 100%;
		}
	}

	.gif-play-button {
		height: 80px;
		width: 80px;
		position: absolute;
		left: 50%;
		margin-left: -40px;
		top: 50%;
		margin-top: -40px;

		span.dashicons {
			font-size: 80px;
			width: 80px;
			height: 80px;
			margin: 0;
			padding: 0;
			line-height: 0;
		}
	}

	.gif-icon {
		background: url(../images/gif-symbol.png) bottom left no-repeat;
		position: absolute;
		width: 100%;
		height: 100%;
		display: block;
		bottom: 30px;
		left: 10px;
		background-size: 40px 30px;
		max-width: 40px;
		max-height: 30px;
	}
}

.gif-media-search-dropdown {
	position: absolute;
	top: 100%;
	z-index: 99;
	display: none;
	margin: 10px 0 0 -16px;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.05), 0 6px 32px 0 rgba(18, 43, 70, 0.1);
	padding-bottom: 10px;

	&.open {
		display: block;
		width: 300px;
	}

	&:before {
		content: " ";
		position: absolute;
		width: 0;
		height: 0;
		top: 1px;
		margin: 0 auto;
		left: 20px;
		box-sizing: border-box;
		border: 6px solid #000;
		border-color: #fff #fff transparent transparent;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		transform: rotate(-45deg);
		box-shadow: 2px -3px 3px 0 rgba(0, 0, 0, 0.02);
		transition: all linear 0.2s;
		z-index: 101;
	}
}

@media screen and (min-width: 768px) {

	.gif-media-search-dropdown.open {
		width: 360px;
	}

}

.gif-search-query {
	background-color: #fff;
	border-radius: 4px 4px 0 0;
	position: relative;
	padding: 10px;
	margin: 0;
}

.gif-search-content .gif-search-results {
	padding: 0 10px;
	overflow: auto;
	min-height: 280px;
	max-height: 380px;

	ul {
		columns: 2 auto;
		column-gap: 4px;
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			margin: 0 0 4px;
			padding: 0;
		}

		.bg1 {
			background: #e0245e;
		}

		.bg2 {
			background: #f45d22;
		}

		.bg3 {
			background: #ffad1f;
		}

		.bg4 {
			background: #17bf63;
		}

		.bg5 {
			background: #1c94e0;
		}

		.bg6 {
			background: #794bc4;
		}
	}
}

.found-media-item img {
	width: 100%;
	height: 100%;
	min-width: 100%;
	// min-width: 180px;
}

input.search-query-input {
	width: 100%;
}

#content .toolbar-button {
	box-shadow: none;
}

@media screen and (max-width: 768px) {

	.activity-update-form .activity-form.focus-in #whats-new-content,
	.bbp-topic-form #whats-new-toolbar {

		.medium-editor-action-close,
		.show-toolbar {
			display: block;
		}

		.medium-editor-toolbar {
			visibility: hidden;
			opacity: 0;
			transition: all ease 0.3s;
			height: 0;
			right: 0;
			overflow: hidden;

			.medium-editor-toolbar-actions {
				height: auto;
			}

			&.active {
				display: block;
				background-color: #f2f2f2;
				border-radius: 0;
				z-index: 112;
				opacity: 1;
				visibility: visible;
				bottom: 0;
				height: 40px;

				div & {
					bottom: -52px;
				}

			}
		}
	}

	.activity-update-form #whats-new-toolbar .show-toolbar {
		display: block;
	}

	.activity-update-form .activity-form.focus-in #whats-new-content .medium-editor-toolbar.active {
		opacity: 1;
	}

}
