// BP primary & secondary navigation - directory and single screens
// @version 3.0.0

@use "./_bp-variables" as variables;
@use "./_bp-mixins" as mixins;

// all devices & generic styles sitewide
.bp-navs {
	background: transparent;
	clear: both;
	overflow: hidden;

	ul {
		margin: 0;
		padding: 0;

		li {
			list-style: none;
			margin: 0;
		}

		li.last {

			select {
				max-width: 185px;
			}
		}

		li {

			a {
				border: 0;
				display: flex;
				padding: 5px 10px;
				text-decoration: none;
			}

			.count {
				background: variables.$light-grey;
				border: 1px solid variables.$bp-border-dark;
				border-radius: 50%;
				color: variables.$meta-text-dark;
				display: inline;

				@include mixins.font-size(12);
				margin-left: 2px;
				padding-top: 2px;
				padding-bottom: 2px;
				text-align: center;
				vertical-align: middle;
				min-width: 25px;
				align-self: center;
			}
		}

		// these selected/current should apply to all navs
		// if not pull out & move to end.
		li.selected,
		li.current {

			a {
				color: variables.$black;
				opacity: 1;
			}
		}

	} // close ul

	&.bp-invites-filters,
	&.bp-messages-filters {

		ul {

			li {

				a {
					border: 1px solid variables.$bp-border-dark;
					display: inline-block;
				}
			}
		}
	}

} // close .bp-navs

.main-navs.dir-navs {
	margin-bottom: variables.$marg-lrg;
}

// Primary, default current/selected states
.buddypress-wrap {

	.bp-navs {

		li.selected,
		li.current,
		li a:hover {

			a {

				.count {
					background-color: variables.$grey;
				}
			}
		}

		li:not(.current),
		li:not(.selected), {

			a:focus,
			a:hover {
				background: variables.$grey;
				color: variables.$black;
			}
		}
	}

	@include mixins.medium-up() {

		.main-navs:not(.dir-navs) {

			li.selected,
			li.current {

				a {
					background: variables.$white;
					color: variables.$black;
					font-weight: 600;
				}
			}
		}

		.main-navs.vertical { // single screen navs

			li.selected,
			li.current {

				a {
					background: variables.$dark-grey;
					color: variables.$off-white;
					text-decoration: none;
				}
			}
		}

		&.bp-dir-hori-nav:not(.bp-vertical-navs) {

			nav {
				border-bottom: 1px solid variables.$bp-border-color;
				border-top: 1px solid variables.$bp-border-color;

				@include mixins.box-shadow( 0 2px 12px 0 variables.$off-white);
			}
		}
	} // close @media
} // close .buddypress-wrap - current & selected states.

.bp-subnavs {

	li.selected,
	li.current {

		a,
		a:focus,
		a:hover {
			background: variables.$dark-grey;
			color: variables.$off-white;
		}
	}

	li.selected,
	li.current {

		a {
			background: variables.$white;
			color: variables.$black;
			font-weight: 600;
		}
	}
}

// visual styling of default single navs - adds background/padding to
// the parent elements if vertical nav not selected
.buddypress-wrap:not(.bp-single-vert-nav) {

	@include mixins.medium-max {

		.bp-navs {

			li {
				background: variables.$light-grey;
			}
		}
	}

	.main-navs {

		> ul > li {

			> a {
				padding: variables.$pad-sml calc(0.5em + 2px);
			}
		}
	}

	.user-subnav#subsubnav,
	.group-subnav#subsubnav {
		background: none;
	}
}

// Specifically default subnav elements
.buddypress-wrap {

	.bp-navs.bp-invites-nav#subnav,
	.bp-navs.bp-invites-filters#subsubnav,
	.bp-navs.bp-messages-filters#subsubnav {

		ul {

			li.last {
				margin-top: 0;
			}
		}
	}

} // close .buddypress-wrap

.bp-subnavs {

	margin: variables.$marg-sml 0;
	overflow: hidden;

	ul {

		li {
			margin-top: 0;

			&.selected,
			&.current {

				:focus,
				:hover {
					background: none;
					color: variables.$black;
				}
			}

		}
	}
}

// Single screens object navs
// Adjusts visual styling for small screens only

@include mixins.medium-max {

	.buddypress-wrap {

		.single-screen-navs {
			border: 1px solid variables.$bp-border-color;

			li {
				border-bottom: 1px solid variables.$bp-border-color;

				&:last-child {
					border-bottom: none;
				}
			}
		}
	}

	.bp-subnavs {

		li {

			a {

				@include mixins.font-size(14);
			}

			&.selected,
			&.current {

				a,
				a:focus,
				a:hover {
					background: variables.$dark-grey;
					color: variables.$white;
				}
			}
		}
	}
}

.buddypress_object_nav,
.buddypress-wrap {

	.bp-navs {

		li.selected,
		li.current {

			a {

				.count {
					background-color: variables.$white;
				}
			}
		} // close li

		li.dynamic,
		li.dynamic.selected,
		li.dynamic.current {

			a {

				.count {
					background-color: variables.$highlight;
					border: 0;
					color: variables.$off-white;
				}
			}
		}

		li.dynamic {

			a:hover {

				.count {
					background-color: variables.$highlight;
					border: 0;
					color: variables.$white;
				}
			}
		}

		li {

			a {

				.count:empty {
					display: none;
				}
			}
		}
	} // bp-navs

	// Create steps current position tabs highlight
	.bp-navs.group-create-links {

		ul {

			li:not(.current) {
				color: variables.$light-text;

				a {
					color: variables.$light-text;

					&:focus,
					&:hover {
						background: none;
						color: variables.$black;
					}
				}

				a[disabled] {

					&:focus,
					&:hover {
						color: variables.$light-text;
					}
				}
			}

			li.current {

				a {
					text-align: center;
				}
			}
		}
	}
}

.buddypress-wrap {

	// position our nav elements at larger screen widths

	@include mixins.medium-up() {

		.bp-navs {

			li { // set the list links of all navs to shrinkwrap/width auto
				float: left;
			}
		}

		.subnav {
			// float: left;
		}

		ul.subnav {
			// width: auto;
		}

		// user screen last filter
		#subsubnav {

			.activity-search {
				float: left;
			}

			.filter {
				float: right;
			}
		}

	} // close @media

} // close .buddypress-wrap


// Just buddypress_object_nav rules
.buddypress_object_nav {

	.bp-navs {

		li {

			a {

				.count {
					display: inline-block;
					float: right;
				}
			}
		}

	}
}

// Directory screens vertical nav rules

@include mixins.medium-up() {

	// the top level class activating vert layout
	.bp-dir-vert-nav {

		.bp-navs.dir-navs {
			background: none;

			a {

				.count {
					float: right;

				}
			}
		}
	}
}
