// BP activity comment entries in response to activity loop entries
// @version 3.0.0
.buddypress-wrap {

	.activity-comments {
		clear: both;
		margin: 0 5%;
		position: relative;
		width: auto;

		ul {
			clear: both;
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				border-top: 1px solid $bp-border-color;
				border-bottom: 0;
				padding: $pad-med 0 0;

				&:not(.detached-comment-item) {
					margin-left: $marg-med;

					@media screen and (max-width: 560px) {
						margin-left: 0;
					}

				}

				@media screen and (max-width: 560px) {

					.bb-media-length-1 .bb-activity-media-elem.media-activity {
						min-width: auto;
					}

				}

			}

			li:first-child {
				border-top: 0;
			}

			li:last-child {
				margin-bottom: 0;
			}
		} // close ul

		> ul > li > ul {
			margin-left: 5%;
		}

		div.acomment-avatar {
			width: auto;

			img {
				border-width: 1px;
				float: left;
				height: 25px;
				max-width: none;
				width: 25px;
				image-rendering: -webkit-optimize-contrast; // To solve blurry image issue in chrome
			}
		}

		.acomment-meta,
		.acomment-content p {

			@include font-size(14);
		}

		.acomment-meta {
			color: $dark-grey;
			overflow: hidden;
			padding-left: 2%;
		}

		.acomment-content {
			border-left: 1px solid $bp-border-dark;
			margin: $marg-med 0 0 10%;
			padding: $pad-sml $pad-med;

			p {
				margin-bottom: 0.5em;
			}

			.bb-activity-video-wrap,
			.bb-activity-media-wrap {
				margin: 15px 0;
			}

		}

		.acomment-options {
			float: left;
			margin: $marg-sml 0 $marg-sml $marg-lrg;

			a {
				color: $light-text;

				@include font-size(14);

				&:focus,
				&:hover {
					color: inherit;
				}
			}

		} // close .acomment-options

		.bp-generic-meta.action {
			background: none;
			margin-top: $marg-sml;

			// if button element in use
			button {

				@include font-size(14);
				font-weight: 400;
				text-transform: none;
			}
		}

		.show-all {

			button {

				@include font-size(14);
				text-decoration: underline;
				padding-left: $pad-sml;

				span {
					text-decoration: none;
				}

				&:hover,
				&:focus {

					span {
						color: $blue;
					}
				}
			}
		}

		.comment-item.suspended-comment-item {

			> .item-avatar > a[href=""] {
				position: relative;
				pointer-events: none;
				opacity: 0.7;
			}

			> .acomment-content {
				pointer-events: none;
				opacity: 0.7;
			}

			> .acomment-meta {

				> .author-name[href=""] {
					pointer-events: none;
					opacity: 0.7;
				}

				.activity-time-since {
					display: none;
				}

			}
		}

		.ac-form {

			&.has-gif,
			&.has-content,
			&.has-media {

				.ac-reply-content input[name="ac_form_submit"] {
					opacity: 1;
					pointer-events: initial;
				}

			}

			&.media-uploading .ac-reply-content input[name="ac_form_submit"],
			.ac-reply-content input[name="ac_form_submit"] {
				opacity: 0.4;
				pointer-events: none;
			}

		}

	} // close .activity-comments

	// Activity li.mini Comments

	.mini {

		.activity-comments {
			clear: both;
			margin-top: 0;
		}

	}

	.bb-media-model-wrapper .activity-comments ul li:not(.detached-comment-item) {
		margin-left: 10px;

		@media screen and (max-width: 560px) {
			margin-left: 0;
		}
	}

} // close .buddypress-wrap

// Single Activity Comment Entry View
body.activity-permalink {

	.activity-comments {
		background: none;
		width: auto;

		> ul {
			padding: 0 $pad-sml 0 $pad-med;
		}

		ul li > ul {
			margin-top: $marg-sml;
		}

	}

} //close .activity-permalink
