// BP Blogs loop.
// @version 3.0.0

@use "./_bp-variables" as variables;
@use "./_bp-mixins" as mixins;

.buddypress-wrap {

	.blogs-list { // ul

		li {

			@include mixins.medium-up() {

				.item-block {
					// float: none;
					//width: auto;
				}

				.item-meta {
					clear: left;
					float: none;
				}
			} // close @media

		} // close li

	} // close .blogs-list
}

// If BP Dir Navs are selected as vertical
// We need to just adjust the loop item elements a little
// to cope with the decreased width.

@include mixins.medium-up() {

	.buddypress-wrap {

		.bp-dir-vert-nav {

			.blogs-list {

				.list-title {
					width: auto;
				}
			}
		}
	}
}
