// Nouveau Messages styles.
// @version 3.0.0

.preview-content {

	.actions {

		a {
			text-decoration: none;
		}
	}
}

// Visual message threads & preview pane styles

.bp-messages-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}

.bp-messages-content {
	flex: 1;
	min-width: 0;
	padding-left: 20px;

	.avatar {

		@include box-shadow-none();
	}

	.thread-participants {
		list-style: none;

		dd {
			margin-left: 0;
		}

		#view_more_members {
			font-size: 13px;
			display: inline-block;
		}
	}

	time {
		color: $meta-text;

		@include font-size(12);
	}

	.thread-date {
		color: $light-text-plus;

		@include font-size(14);
	}
}

// The actual messages list
#message-threads {
	clear: both;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;

	li a.close-conversation {
		right: 35px;
	}

	&:empty {
		display: none;
	}

	.can-not-send-msg {
		opacity: 0.5;

		.bp-message-link .thread-content.bp-suspended-content,
		.bp-message-link .thread-avatar.bp-suspended-avatar {
			opacity: 1;
		}

		&.unread .thread-to:after {
			opacity: 0.85;
		}

		.thread-to:after {
			content: "\e8c9";
			font-size: 14px;
			color: #122b46;
			line-height: 1;
			font-family: "bb-icons";/* stylelint-disable-line */
			display: inline-block;
			vertical-align: middle;
			position: absolute;
			right: 36px;
			bottom: 10px;
		}

		&:hover .thread-to:after {
			display: none;
		}

	}

	// The primary list elements
	.bp-message-link {

		@include flex-box-dir();
		margin: 0;
		overflow: hidden;
		padding: $pad-sml;

		// the child items
		.thread-cb {

			@include center-vert();
			@include box-item-size(1, 2, 5%);
		}

		//.thread-from,
		.thread-to {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			width: 100%;

			img.avatar {
				float: left;
				margin: 5px $marg-sml 0 0;
			}

			.user-name {
				display: inline-block;
				line-height: 1.1;
			}

			.num-recipients {
				color: $meta-text;
				font-weight: 400;

				@include font-size(12);
				margin: 0;
			}
		}

		.thread-date {

			@include box-item-size(1, 2, 15%);
		}

		// the unread parent li
		&.unread {
			background-color: $off-white;

			.thread-subject {

				.subject {
					color: $blue;
				}
			}
		}


		.thread-content {
			min-width: 0;

			@include box-item-size(1, 2, 50%);

			@include medium-lrg-up() {

				@include box-item-size(1, 2, 70%);
			}

			.excerpt {
				color: $meta-text;

				@include font-size(12);
				margin: 0;
			}

			.thread-subject {

				@include font-size(14);
				vertical-align: top;

				a {
					color: $light-text-plus;
				}

				.excerpt {
					font-weight: 400;
				}
			}
		}

		// close thread-content

		.thread-date {
			color: #767676;
			font-size: 13px;
			padding-left: 5px;
			text-align: right;
		}

		.thread-avatar {
			margin-right: 15px;
			max-width: 60px;

			@include box-item-size(1, 2, 10%);

			img.avatar {
				max-width: 60px;
				width: 100%;
			}
		}

		.thread-multiple-avatar {
			min-height: 45px;
			min-width: 45px;
			margin: 0 -2px;
			position: relative;

			img.avatar {
				border: 2px solid #fff;
				max-width: 34px;
				position: absolute;
				left: 0;
				top: 0;

				+ img {
					top: auto;
					right: 0;
					bottom: 0;
					left: auto;
				}
			}
		}
	}

	.bp-message-link:hover,
	.current .bp-message-link {

		.thread-multiple-avatar img.avatar {
			border-color: #f5f6f7;
		}
	}

	// close li

}

// close message-threads

#message-form-submit-wrapper,
#message-reply-form-submit-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.bp-messages-content {

	.actions {
		margin-left: auto;

		.bb-icon-trash {
			font-size: 18px;
		}

		.bp-icons:not(.bp-hide) {
			display: inline-block;
			margin: 0;
			padding: $pad-xsml $pad-sml;

			&:before {

				@include font-size(26);
			}
		}

		.message_actions {

			.message_action__anchor {
				color: #555;

				.bb-icon-menu-dots-v {
					font-size: 20px;
				}
			}

			.message_action__list {
				display: none;
				margin: 0;
				position: absolute;
				background: #fff;
				box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.05), 0 6px 32px 0 rgba(18, 43, 70, 0.1);
				border-radius: 4px;
				padding: 5px 0;
				min-width: 165px;
				right: -20px;
				top: 35px;
				z-index: 119;
				list-style: none;

				&.open {
					display: block;
				}

				ul {
					margin: 0;
					padding: 0;
				}

				li {
					margin: 0;
					list-style: none;

					a {
						font-size: 13px;
						font-weight: inherit;
						color: #939597;
						letter-spacing: -0.24px;
						line-height: 1;
						margin-bottom: 1px;
						padding: 0.5625rem 0.9375rem;
						display: block;
					}
				}

				&:before {
					content: " ";
					position: absolute;
					width: 0;
					height: 0;
					top: 0;
					right: 27px;
					border: 6px solid #000;
					border-color: #fff #fff transparent transparent;
					-webkit-transform-origin: 0 0;
					-ms-transform-origin: 0 0;
					transform-origin: 0 0;
					-webkit-transform: rotate(-45deg);
					-ms-transform: rotate(-45deg);
					transform: rotate(-45deg);
					box-shadow: 2px -3px 3px 0 rgba(0, 0, 0, 0.02);
					z-index: 1002;
				}

			}
		}
	}

	form.send-reply {

		.avatar-box {
			padding: $pad-sml 0;
		}
	}

	// Grouped rules for both inbox all messages lists &
	// for single view conversation thread

	.single-message-thread-header {
		border-bottom: 1px solid $light-grey;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;

		.message_actions .message_action__list {

			li a:before {
				font-family: bb-icons;
				font-size: 15px;
				display: inline-block;
				margin-right: 10px;
				width: 20px;
				text-align: center;
			}

			li.unread a:before {
				content: "\e8ae";
			}

			li.hide_thread a:before {
				content: "\e8f7";
			}

			li.delete_messages a:before {
				content: "\e938";
			}

			li.delete_thread a:before {
				content: "\e937";
			}

			li.reported-content a,
			li.reported_thread a,
			li.report_thread a {

				&:before {
					content: "\e8c9";
					vertical-align: middle;
				}

			}

			li.reported-content,
			li.reported_thread {
				pointer-events: none;
				opacity: 0.9;
			}

		}
	}

	.single-thread-title {

		@include font-size(16);

		.messages-title {
			padding-left: $pad-lrg;
		}
	}

	.thread-participants {
		float: left;
		margin: $marg-xsml 0;
		width: 70%;

		dd {
			margin-bottom: $marg-sml;
		}

		li {
			float: left;
			margin-left: 5px;
		}

		img {
			width: 30px;
		}
	}

	#bp-message-thread-list li .message-content {

		ul,
		ol,
		blockquote {
			list-style-position: inside;
			margin-left: 0;
		}
	}

	ul#message-threads:empty {
		display: none;
	}

	#bp-message-thread-header h2:first-child {
		background-color: $light-grey;
		color: $bp-text;
		font-weight: 700;
		margin: 0;
		padding: 0.5em;
	}

	#message-threads .thread-content a {
		border: 0;
		text-decoration: none;
	}

	// The general form elements for composing messages
	.standard-form {

		#subject {
			margin-bottom: $marg-lrg;
		}
	}

	@media screen and ( max-width: 540px ) {

		.single-message-thread-header .actions a[data-bp-tooltip][data-bp-tooltip-pos="left"]:after {
			max-width: 100vw;
			white-space: normal;
			min-width: 200px;
		}

	}

} // close .bp-messages-content

// The single view of messages in a conversation thread
#bp-message-thread-list {
	background: #fafafa;
	border-top: 1px solid $light-grey;
	clear: both;
	list-style: none;
	padding: 0 $pad-med;

	&:after {
		content: " ";
		clear: both;
		display: table;
	}

	li {
		background: $white;
		border: 1px solid $bp-border-dark;

		@include box-shadow(-2px 1px 9px 0 #eee);
		padding: $pad-sml;
		margin: 1em 0;
		width: 100%;
	}

	.message-metadata {

		.avatar {
			width: 30px;
		}

		.user-link {

			@include font-size(12);
			display: inline-block;
			color: $meta-text-dark;

			strong {

				@include font-size(16);
				font-weight: 600;
			}

			strong:after {
				content: "\00b7";
				color: $light-text;
				font-size: 20px;
				margin-left: 6px;
				vertical-align: middle;
				display: inline-block;
			}
		}

		time {
			color: $light-text;

			@include font-size(14);
			padding: 0 2px;
		}

		button {
			padding: 0 $pad-xsml;
		}

		button:before {

			@include font-size(16);
		}
	}

	.bp-message-content-wrap {

		@include font-size(14);
		clear: both;
		overflow: hidden;
		margin: 0 auto;

		p {
			margin-bottom: 8px;
		}
	}

	img.avatar {
		float: left;
		margin: 0 $marg-sml 0 0;
	}

	.actions {

		a:before {
			font-size: 18px;
		}
	}
}

// close #bp-message-thread-list

// Bulk Message styles

div.bp-navs#subsubnav.bp-messages-filters {

	.user-messages-bulk-actions {
		margin-right: 15px;
		max-width: 42.5%;
	}
}

div#subsubnav:empty {
	display: none;
}

input#send-to-input {
	margin-bottom: 20px;
}

#compose-personal-li {

	a {
		margin-top: 0;
	}
}

#bp-message-load-more:not(.loading),
#bp-messages-next-page,
#bp-messages-prev-page {
	display: none !important;
}

#bp-message-load-more {
	background: rgba(255, 255, 255, 0.7);
	position: absolute;
	top: 60px;
	text-align: center;
	width: 100%;
	left: 0;
	padding: 20px 0;
	margin: 6px 0 0;

	.button {
		font-size: 0;
		padding: 0;
		margin: auto;
		width: auto;
		color: inherit;
		background-color: transparent;
		border: 0;

		&:hover,
		&:focus {
			outline: none;
			text-decoration: none;
			color: inherit;
			box-shadow: none;
		}
	}
}

#send_message_form {

	.select2-selection--multiple {
		border-color: $med-light-grey;
		padding: 3px 5px;
	}

	.select2-selection__rendered {
		display: flex;
		align-items: center;
		flex-flow: row wrap;
		padding: 0;
	}

	.select2-search.select2-search--inline {
		flex: 1;
		min-width: 0;
	}

	.select2-selection__rendered li {
		margin: 5px;
	}

	.select2-search__field {
		min-width: 120px;
		height: 30px;
		margin: 0;
		border: 0;
		background: transparent;
		padding: 0 5px;
	}
}

.medium-editor-action-close b:before {
	content: "\f153";
}

.bp-messages-content #bp-message-content {
	margin-top: $marg-lrg;
	padding: 20px;

	#whats-new-messages-attachments {
		margin-top: 10px;
	}

	#whats-new-messages-toolbar {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}

	.medium-editor-toolbar {
		top: inherit;
		bottom: 5px;
		z-index: 99;
		background-color: #fff;
		visibility: hidden;
		transition: all ease 0.3s;
		height: 0;
		right: 0;
		overflow: hidden;
		left: 25px;

		&.active {
			display: block;
			border-radius: 0;
			z-index: 112;
			visibility: visible;
			bottom: -3px;
			height: 40px;
		}

		.medium-editor-toolbar-actions {
			background-color: transparent;
			height: auto;
			padding: 0 10px 0 0;

			button.medium-editor-button-first {
				padding-right: 6px;
			}

			button {
				box-shadow: none;
				padding: 10px 10px 10px 0;
				min-width: 30px;
				border: 0;
				background-color: transparent !important;
				color: rgba(18, 43, 70, 0.4) !important;

				&.medium-editor-button-active {
					color: #122b46 !important;
					background: none transparent !important;
				}

				&.medium-editor-action-close {
					padding-right: 0;
				}

			}

		}

		.medium-editor-toolbar-form .medium-editor-toolbar-input {
			width: 220px;
		}

	}

	#whats-new-messages-toolbar {
		padding: 5px 15px 0 0;
		width: 100%;
	}

}

.bbpress #bbpress-forums .medium-editor-toolbar,
.buddypress #buddypress.buddypress-wrap .medium-editor-toolbar {

	.medium-editor-toolbar-actions {
		opacity: 0;
	}

	&.active .medium-editor-toolbar-actions {
		opacity: 0.4;

		li {
			pointer-events: none;
		}

	}

	&.active.medium-editor-toolbar-active .medium-editor-toolbar-actions {
		opacity: 1;

		li {
			pointer-events: auto;
		}

	}

}

.messages .select2-dropdown {
	border-color: $med-light-grey;

	.select2-results__option[aria-selected="true"] {
		display: none;
	}
}

.messages-wrapper #subnav .subnav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
}

.bp-messages-nav-panel {
	display: block;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 360px;
	flex: 0 0 360px;
	min-width: 0;

	@include medium-max() {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		min-width: 0;
	}
}

.messages-wrapper #subnav #compose-personal-li {
	margin-left: auto;
	margin-right: 10px;
}

#inbox {
	pointer-events: none;
}

#compose-personal-li a {
	font-size: 0;

	&:after {
		content: "\E80C";
		font-size: 20px;
		line-height: 1;
		font-family: "bb-icons";/* stylelint-disable-line */
		vertical-align: top;
		text-align: center;
		transition: color 0.1s ease-in;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

.bp-close-compose-form {
	color: rgba(18, 43, 70, 0.4);
	line-height: 1;

	.bb-icons {
		font-size: 24px;
	}
}

#message_content {
	margin-bottom: 10px;
}

.no-message-wrap {
	padding: 70px 0 20px;
	text-align: center;
}

.no-message-content {
	padding: 20px;
}

.no-message-wrap .dashicons {
	font-size: 30px;
	width: auto;
	height: auto;
	margin-bottom: 5px;
}

.bp-search.messages-search,
#user_messages_search_form {
	width: 100%;
}

.bp-user-messages-loading.loading {
	border: 0;
	padding: 15px;
	text-align: center;
}

.bp-single-message-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.bp-avatar-wrap {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	min-width: 0;
	max-width: 40px;
	margin-right: 10px;
}

.bp-single-message-content {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	min-width: 0;

	.bb-activity-media-elem {
		min-width: 20%;
	}

	.bb-activity-media-wrap .bb-activity-media-elem.document-activity {

		.document-action-wrap .document-action_list li {
			margin: 0 !important;
			padding: 0 !important;
		}

		&:last-child {

			.document-action-wrap .document-action_list {
				top: initial;
				bottom: 36px;

				&:after {
					top: inherit;
					bottom: -12px;
					right: -3px;
					-webkit-transform: rotate(137deg);
					-ms-transform: rotate(137deg);
					transform: rotate(137deg);
				}
			}
		}
	}

	.bb-activity-video-wrap .bb-activity-media-elem.video-activity {

		.video-action-wrap .video-action_list li {
			margin: 0 !important;
			padding: 0 !important;
		}

		&:last-child {

			.video-action-wrap .video-action_list {
				top: initial;
				bottom: 36px;

				&:after {
					top: inherit;
					bottom: -12px;
					right: -3px;
					-webkit-transform: rotate(137deg);
					-ms-transform: rotate(137deg);
					transform: rotate(137deg);
				}
			}
		}
	}
}

.bp-messages-content-wrapper {
	position: relative;
	display: flex;
	flex-flow: column;
	padding: 0 20px;
	height: calc(69vh + 130px);

	#messages-post-document-uploader.open,
	#messages-post-video-uploader.open,
	#messages-post-media-uploader.open {
		height: calc(100% - 145px);
		left: 0;
		margin: 0;
	}

	#messages-post-document-uploader.open,
	#messages-post-video-uploader.open,
	#messages-post-media-uploader.open {
		position: absolute;
		top: 0;
		z-index: 112;
		background: rgba(255, 255, 255, 0.99);
		height: calc(100% - 245px);
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-ms-flex-line-pack: center;
		align-content: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		left: 0;
		border-radius: 4px;
		padding: 20px;
		overflow: auto;
	}
}

.bp-messages-form-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 10px;
}

.bp-back-to-thread-list {
	margin-right: 10px;
}

body .bp-messages-user-threads {
	max-height: 69vh;
	overflow: auto;
}

#bp-message-thread-list {
	max-height: 50vh;
	overflow: auto;
}

@media screen and (min-width: 1080px) {

	.bp-back-to-thread-list,
	.bp-close-compose-form {
		display: none;
	}
}

@media screen and (max-width: 1080px) {

	.bp-messages-nav-panel {
		flex: 0 0 100%;
		border-right: 0;
		min-width: 0;
	}

	.bp-messages-content {
		display: none;
	}

	.bp-view-message,
	.bp-compose-message {

		.bp-messages-nav-panel {
			display: none;
		}

		.bp-messages-content {
			display: block;
			padding-left: 0;
		}
	}
}

@media screen and (max-width: 767px) {

	.bp-messages-user-threads,
	#bp-message-thread-list {
		max-height: 400px;
	}

	.bp-messages-content #bp-message-content .medium-editor-toolbar {

		.medium-editor-toolbar-actions button {
			padding: 10px 5px 10px 0;

			&.medium-editor-button-first {
				padding-left: 5px !important;
			}

		}

	}

}


@media screen and (max-width: 560px) {

	.bp-messages-content #bp-message-content {

		#message-reply-form-submit-wrapper {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			-webkit-box-align: end;
			-ms-flex-align: end;
			align-items: flex-end;
			margin: 0 -20px;

			#whats-new-messages-toolbar {
				padding: 0 15px 0 20px;
			}

			#message-reply-new-submit {
				padding: 20px 20px 0;
				text-align: right;
				border-top: 1px solid #ebe9e6;
				width: 100%;
				margin-top: 10px;
			}
		}

		.medium-editor-toolbar {
			left: 45px;

			.medium-editor-toolbar-actions button {
				padding: 10px 0;
				min-width: 30px;
			}

			.medium-editor-toolbar-form .medium-editor-toolbar-input {
				max-width: calc(100% - 90px);
				width: auto;
			}

		}
	}

	.bp-messages-content #bp-message-content #whats-new-messages-toolbar .media-off + .medium-editor-toolbar {
		left: 10px;
	}
}

.mass-user-block-list #moderated_user_list:not(.is_not_empty) {
	text-align: center;

	&:before {
		content: "\E838";
		font: normal normal normal 20px/1 "bb-icons";/* stylelint-disable-line */
		speak: none;
		display: inline-block !important;
		text-decoration: inherit;
		text-transform: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-animation: spin 2s infinite linear;
		animation: spin 2s infinite linear;
	}

}

.bb-report-type-pagination .page-data {
	display: block;
	margin: 20px auto 0;
	text-align: center;

	#load_more_rl {
		min-width: 140px;

		&.loading:after {
			content: "\e838";
			font-family: "bb-icons";/* stylelint-disable-line */
			font-size: 18px;
			line-height: 1;
			margin-left: 10px;
			text-align: center;
			display: inline-block;
			-webkit-animation: spin 3s infinite linear;
			animation: spin 3s infinite linear;
			vertical-align: middle;
		}
	}
}
