// BuddyPress Tooltips
// @version 3.0.0

@import "vendor/hint/hint";

.hint--multiline:after {
	white-space: pre;
}

[data-bp-tooltip] {
	cursor: pointer;
	position: relative;

	// Removed :before
	&:after {
		background-color: $tooltip-background;
		display: none;
		opacity: 0;
		position: absolute;
		-webkit-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		visibility: hidden;
	}

	// BP Tooltip body and text
	&:after {
		border: 1px solid $tooltip-border;
		border-radius: $tooltip-border-radius;
		box-shadow: $tooltip-box-shadow;
		color: $tooltip-text-color;
		content: attr(data-bp-tooltip);
		font-family: $tooltip-font-family;
		font-size: $tooltip-font-size;
		font-weight: $tooltip-font-weight;
		letter-spacing: normal;
		line-height: 1.25;
		padding: $tooltip-padding-vert $tooltip-padding-hor;
		pointer-events: none;
		text-shadow: none;
		text-transform: none;
		-webkit-transition: all 1.5s ease;
		-ms-transition: all 1.5s ease;
		transition: all 1.5s ease;
		white-space: nowrap;
		word-wrap: break-word;
		z-index: $tooltip-z-index;
	}

	// BP Tooltip arrow tip - removed :before

	&:hover,
	&:active,
	&:focus {

		// Removed :before
		&:after {

			display: block;
			opacity: 1;
			overflow: visible;
			visibility: visible;
		}
	}
}

[data-bp-tooltip=""] {
	display: none;
	opacity: 0;
	visibility: hidden;
}

// Bottom Centered Tooltip - Default

.bp-tooltip {

	@include bp-tooltip-bottom-left;
}

// Bottom Left Tooltip for mobile and Bottom Right Tooltip for tablet/desktop

.user-list .bp-tooltip {

	@include bp-tooltip-bottom-left;

	@include medium-up() {

		@include bp-tooltip-bottom-right;
	}
}

// Bottom Left Tooltip

.activity-list .bp-tooltip,
.activity-meta-action .bp-tooltip,
.notification-actions .bp-tooltip,
.participants-list .bp-tooltip {

	@include bp-tooltip-bottom-left;
}

// Bottom Right Tooltip

.bp-invites-content .bp-tooltip,
.message-metadata .actions .bp-tooltip,
.single-message-thread-header .actions .bp-tooltip {

	@include bp-tooltip-bottom-right;
}

.bp-invites-content #send-invites-editor .bp-tooltip {

	// override .bp-invites-content .bp-tooltip
	&:after {
		left: 0;
		right: auto;
	}
}

[data-tooltip-length="small"] {

	&:after {
		white-space: normal;
		width: $tooltip-small-width;
	}
}

[data-tooltip-length="medium"] {

	&:after {
		white-space: normal;
		width: $tooltip-medium-width;
	}
}

[data-tooltip-length="large"] {

	&:after {
		font-size: 14px;
		line-height: 1.4;
		padding: 10px;
		white-space: normal;
		width: $tooltip-large-width;
	}
}

[data-tooltip-length="xlarge"] {

	&:after {
		font-size: 14px;
		line-height: 1.4;
		padding: 12px;
		white-space: normal;
		width: $tooltip-xlarge-width;

		@media screen and (max-width: 768px) {
			white-space: normal;
			width: 90vw;
		}
	}
}

[data-tooltip-length="fit"] {

	&:after {
		white-space: normal;
		width: $tooltip-fit-width;
	}
}
