{
  "extends": "@wordpress/stylelint-config/scss",
  "rules": {
	"no-descending-specificity": null,
	"selector-pseudo-element-colon-notation": null,
	"selector-id-pattern": null,
	"selector-class-pattern": null,
	"no-duplicate-selectors": null,
	"font-family-no-missing-generic-family-keyword": null,
	"selector-combinator-space-after": null,
	"scss/comment-no-empty": null,
	"scss/no-global-function-names": null,
	"scss/at-if-no-null": null,
	"scss/at-import-no-partial-leading-underscore": null,
	"scss/at-import-partial-extension": null,
	"scss/operator-no-unspaced": null,
	"value-keyword-case": null
  }
}
