// Colors
$background-color: #f0f0f1;
$bb-rl-white-color: #fff;
$primary-color: #2271b1;
$buddyboss-blue: #3e34ff;
$text-color-main: #50575e;
$text-color-secondary: #757575;
$border-color: #e5e5e5;
$border-color-light: #f0f0f1;
$bb-rl-black-10: rgba(0, 0, 0, 0.1);
$bb-rl-black-20: rgba(0, 0, 0, 0.2);
$bb-rl-black-30: rgba(0, 0, 0, 0.3);

$bb-rl-background-white-color: #ffffff;
$bb-rl-background-color: #fff;
$bb-rl-background-secondary-color: #f0f0f0;

$bb-rl-text-primary-color: #000000;
$bb-rl-text-secondary-color: #4d4d4d;

// UI Elements
$card-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);


// Dimensions and spaing
$bb-rl-space-0: 0;
$bb-rl-space-50: 4px;
$bb-rl-space-100: 8px;
$bb-rl-space-200: 16px;
$bb-rl-space-300: 24px;
$bb-rl-space-400: 32px;
$bb-rl-space-500: 40px;
$bb-rl-space-600: 48px;
$bb-rl-space-700: 56px;
$content-max-width: 900px; 

// Radius
$bb-rl-radius-xs: 2px;
$bb-rl-radius-sm: 4px;
$bb-rl-radius-md: 6px;
$bb-rl-radius-base: 8px;
$bb-rl-radius-lg: 16px;
$bb-rl-radius-full: 99px;