// Colors
$bb-rl-white-color: #fff;
$text-color-secondary: #757575;
$bb-rl-border-color-secondary: #d9d9d9;
$bb-rl-active-color: #e0623d;
$bb-rl-red-color: #f00;
$bb-rl-link-color: #0888ff;
$bb-rl-black-10: rgba(0, 0, 0, 0.1);
$bb-rl-black-20: rgba(0, 0, 0, 0.2);
$bb-rl-black-30: rgba(0, 0, 0, 0.3);
$bb-rl-black-40: rgba(0, 0, 0, 0.4);
$bb-rl-black-50: rgba(0, 0, 0, 0.5);
$bb-rl-black-60: rgba(0, 0, 0, 0.6);
$bb-rl-black-70: rgba(0, 0, 0, 0.7);
$bb-rl-black-80: rgba(0, 0, 0, 0.8);
$bb-rl-black-90: rgba(0, 0, 0, 0.9);
$bb-rl-black: rgba(0, 0, 0, 1);

$bb-rl-input-field-bg: #f6f6f6;
$bb-rl-input-field-border: $bb-rl-black-20;

$bb-rl-background-white-color: #fff;
$bb-rl-background-color: #fff;
$bb-rl-background-primary-color: #f6f6f6;
$bb-rl-background-secondary-color: #f0f0f0;

$bb-rl-text-primary-color: #000;
$bb-rl-text-secondary-color: #4d4d4d;

$bb-rl-icon-primary-color: #4d4d4d;

// UI Elements
$card-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);


// Dimensions and spaing
$bb-rl-space-0: 0;
$bb-rl-space-50: 4px;
$bb-rl-space-100: 8px;
$bb-rl-space-200: 16px;
$bb-rl-space-300: 24px;
$bb-rl-space-400: 32px;
$bb-rl-space-500: 40px;
$bb-rl-space-600: 48px;
$bb-rl-space-700: 56px;
$content-max-width: 900px;

// Radius
$bb-rl-radius-xs: 2px;
$bb-rl-radius-sm: 4px;
$bb-rl-radius-md: 6px;
$bb-rl-radius-base: 8px;
$bb-rl-radius-lg: 12px;
$bb-rl-radius-xl: 16px;
$bb-rl-radius-full: 99px;
