.bbrl-members {

	.item-entry {

		.list-wrap {
			height: 100%;
			border-radius: var(--bbrl-radius-lg);
			background-color: var(--bbrl-background-color);
			border: 1px solid var(--bbrl-border-secondary-color);
			padding: var(--bbrl-space-300) var(--bbrl-space-200);
		}

		.item {
			text-align: center;
		}

		.item-avatar {
			display: flex;
			justify-content: center;
			margin-bottom: var(--bbrl-space-200);
		}

		.avatar {
			max-width: 104px;
			height: auto;
			border-radius: 50%;
		}

		.bp-member-type {
			display: inline-flex;
			color: var(--bbrl-text-brand-secondary-color);
			background-color: var(--bbrl-background-brand-secondary-color);
			border: 1px solid var(--bbrl-border-brand-secondary-color);
			border-radius: var(--bbrl-radius-full);
			padding: var(--bbrl-space-50) var(--bbrl-space-100);
			font-size: var(--font-size-xs);
			font-weight: 500;
			margin-bottom: var(--bbrl-space-100);
		}
	}

	.item-list.grid {

		.only-list-view {
			display: none;
		}
	}

	.item-list.list {

		.only-grid-view {
			display: none;
		}
	}
}
