.bb-rl-group-invites-dashboard {

	.bb-rl-group-invites-container {
		display: flex;

		.bb-groups-invites-left {
			max-width: 248px;
			width: 33%;
			padding-right: var(--bb-rl-space-200);
			border-right: 1px solid var(--bb-rl-border-secondary-color);
		}

		.bb-groups-invites-right {
			flex: 1;
			padding: 0 var(--bb-rl-space-200);
		}
	}

	#send-invites-control {
		width: 100%;
		border: 0;
		max-height: 32vh;
	}

	.bp-navs .subnav {
		list-style: none;
		margin: 0 0 var(--bb-rl-space-200);
		padding: 0;
		display: flex;
		align-items: center;

		a {

			@include bb-rl-label-heading-bolder;
			border-radius: var(--bb-rl-radius-full);
			padding: 6px var(--bb-rl-space-200);
			color: var(--bb-rl-text-secondary-color);

			&:hover {
				background-color: var(--bb-rl-background-secondary-color);
				color: var(--bb-rl-text-color);
			}
		}
	}

	.bp-invites-dropdown-options-loader-hide {
		display: none;
	}
}

.bb-rl-group-invites-container {

	.group-invites-members-listing {
		margin-top: var(--bb-rl-space-200);

		li {
			display: flex;
			align-items: center;
			margin-bottom: var(--bb-rl-space-200);

			img.avatar {
				border-radius: 50%;
				width: var(--bb-rl-space-400);
				border: 1px solid rgba(0, 0, 0, 0.08);
				margin-right: var(--bb-rl-space-100);
			}

			.member-name a {

				@include bb-rl-label-heading-md;
			}

			.action {
				order: -1;
				line-height: 1;
				margin-right: 12px;
				display: inline-block;
				height: 16px;

				button {
					padding: 0;
				}
			}

			.invite-button {
				border: 0;
				background-color: transparent;
			}

			&.selected {

				.invite-button {

					.icons {
						border: 1px solid var(--bb-rl-background-brand-primary-color);
						background-color: var(--bb-rl-background-brand-primary-color);
					}

					.icons::before {
						content: "\e182";
					}
				}
			}
		}

		.invite-button {
			padding: 0;
			line-height: 1;
			display: inline-block;
			width: 16px;
			height: 16px;
			margin: 0;
			border: 0;
			position: relative;

			.icons {
				position: absolute;
				left: 0;
				top: 0;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				width: 16px;
				height: 16px;
				border: 1px solid var(--bb-rl-border-quaternary-color);
				border-radius: var(--bb-rl-radius-sm);
			}

			.icons::before {
				content: "";
				font-family: bb-icons-rl;
				font-size: 10px;
				font-weight: 400;
				line-height: 1;
				color: var(--bb-rl-text-white-color);
			}
		}
	}

	.bb-rl-members-is-friends {
		margin: var(--bb-rl-space-100) 0;
	}
}

.bb-rl-group-invites-container {

	.select2-container--default .select2-selection--multiple {
		border: 0;
		background-color: transparent;
	}

	.select2-container--default .select2-selection--multiple .select2-selection__rendered {
		padding: 0;
	}

	.select2-container--default .select2-selection--multiple .select2-selection__choice {
		display: inline-flex;
		align-items: center;
		flex-direction: row-reverse;
		padding: var(--bb-rl-space-50) 6px;
		border: 1px solid var(--bb-rl-border-secondary-color);
		background-color: transparent;
		border-radius: var(--bb-rl-radius-full);
		margin: var(--bb-rl-space-100) var(--bb-rl-space-100) 0 0;

		@include bb-rl-label-heading-bolder;
		color: var(--bb-rl-text-color);
	}

	.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
		background-color: var(--bb-rl-background-secondary-hover-color);
		border: 1px solid var(--bb-rl-border-secondary-color);
		border-radius: var(--bb-rl-radius-xs);
		margin-left: var(--bb-rl-space-50);
		margin-right: 0;
		display: inline-flex;
		width: 16px;
		height: 16px;
		align-items: center;
		justify-content: center;
		font-weight: 400;
		color: var(--bb-rl-icon-primary-color);
		line-height: 1;
	}

	.bb-rl-select2-selection-user {
		display: inline-flex;
		align-items: center;

		.select2-user-avatar {
			width: 24px;
			height: auto;
			border: 1px solid rgba(0, 0, 0, 0.08);
			margin-right: var(--bb-rl-space-50);
			border-radius: 50%;
		}
	}
}

#group_invites_search_form {
	position: relative;

	#group_invites_search {
		border-radius: var(--bb-rl-radius-full);
		padding-left: var(--bb-rl-space-400);
		padding-right: var(--bb-rl-space-400);
		width: 100%;
	}

	button[type="submit"] {
		position: absolute;
		left: 12px;
		top: 50%;
		transform: translateY(-50%);
		border: 0;
		background-color: transparent;
		padding: 0;
		line-height: 1;
	}

	.search-form_reset {
		display: none;
		background-color: transparent;
		border: 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: var(--bb-rl-space-100);
		opacity: 0.4;
	}
}
