.bb-rl-groups-single-wrapper {

	.bb-rl-secondary-header {
		padding: 0;

		.bb-rl-group-info-wrap {
			border-bottom: 1px solid var(--bb-rl-border-secondary-color);
			padding: 12px var(--bb-rl-space-300);

			.bb-rl-group-info {

				#bb-rl-item-header-avatar {
					width: 32px;
					height: 32px;
					border-radius: 100%;
					position: relative;
					overflow: hidden;
					margin-right: 10px;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						object-position: center;
					}

					.link-change-profile-image {
						position: absolute;
						width: 100%;
						height: 100%;
						left: 0;
						top: 0;
						opacity: 0;
						background-color: rgba(0, 0, 0, 0.3);
						font-size: var(--bb-rl-font-size-xs);
						color: #fff;
						transition: opacity ease 0.3s;
					}

					&:hover {

						.link-change-profile-image {
							opacity: 1;
						}
					}
				}

				.bb-rl-group-title {
					font-size: var(--bb-rl-font-size-base);
				}
			}
		}

		.bb-rl-group-extra-info {
			display: flex;
			align-items: center;

			.bb-group-members {
				display: flex;
				align-items: center;
				padding: 5px;
				border-radius: 5px;
				border: 1px solid var(--bb-rl-border-secondary-color);

				.bb-group-member {
					max-width: 20px;
					float: left;
					margin-right: -4px;
					position: relative;

					&:last-child {
						margin-right: 0;
					}

					a {
						text-decoration: none;
						display: block;
					}

					img {
						background-color: #fff;
						border-radius: 50%;
						float: left;
						max-width: 100%;
						display: block;
						box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.08) inset;
					}

					&.count-wrap {
						white-space: nowrap;
						display: inline-block;
						margin-left: 5px;
						vertical-align: middle;
						max-width: none;
						line-height: 1.2;
						padding: 0 5px;

						a {
							font-size: var(--bb-rl-font-size-xs);
							color: var(--bb-rl-text-tertiary-color);
						}
					}
				}
			}

			.bb_more_options_action {

				i {

					&::before {
						content: "\e1fe";
						font-weight: 400;
						font-family: bb-icons-rl;
						font-size: 20px;
						color: var(--bb-rl-icon-primary-color);
						font-style: normal;
						margin-right: var(--bb-rl-space-100);
					}
				}
			}
		}

		.group-actions-absolute {
			display: flex;
			align-items: center;

			&:not(:empty):before {
				content: "";
				height: 16px;
				width: 1px;
				background: var(--bb-rl-border-secondary-color);
				display: block;
				margin: 0 20px;
			}

			button.group-button {

				@include bb-rl-button;
				@include bb-rl-button--brand-fill;
				font-size: var(--bb-rl-font-size-sm);
				padding: 6px var(--bb-rl-space-200);
				margin-right: 10px;
				line-height: var(--bb-rl-base-line-small);

				&.subscribed {
					font-size: var(--bb-rl-font-size-base);
					padding: var(--bb-rl-space-100);
				}

				&.join-group:before,
				&.leave-group:before,
				&.request-membership:before {
					font-family: bb-icons-rl;
					margin-right: 5px;
				}

				&.join-group:before {
					content: "\e3d4";
				}

				&.leave-group:before {
					content: "\e182";
				}

				&.request-membership:before {
					content: "\e308";
				}
			}
		}
	}
}


.bb-rl-modal-content {
	margin-bottom: calc(var(--bb-rl-space-200) / 2);

	.bb-rl-manage-group-container {
		display: flex;

		> .bp-navs,
		> form {
			padding-top: var(--bb-rl-space-200);
			padding-bottom: var(--bb-rl-space-200);
		}

		.bp-navs {
			max-width: 248px;
			width: 33%;
			padding-right: var(--bb-rl-space-200);
			border-right: 1px solid var(--bb-rl-border-secondary-color);

			.subnav {
				margin-left: calc(-1 * var(--bb-rl-space-100));
			}

			ul {
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					display: block;

					a {
						font-size: var(--bb-rl-font-size-sm);
						font-weight: 500;
						line-height: var(--bb-rl-base-line-small);
						padding: 10px var(--bb-rl-space-200);
						color: var(--bb-rl-text-secondary-color);
						white-space: nowrap;
						display: inline-flex;
						align-items: center;
						width: 100%;
						border-radius: var(--bb-rl-radius-md);

						&:hover {
							background-color: var(--bb-rl-background-secondary-hover-color);
						}
					}

					&.selected {

						a {
							background-color: var(--bb-rl-background-secondary-hover-color);
						}
					}
				}
			}
		}

	}
}

.bb-rl-manage-group-container {

	form {
		width: 100%;
		padding: var(--bb-rl-space-200) var(--bb-rl-space-300);

		.bp-screen-title {

			@include bb-rl-base-heading;
			margin: 0 0 var(--bb-rl-space-200);
		}

		> label {

			@include bb-rl-label-heading-md;
			display: block;
			margin: 0 0 var(--bb-rl-space-100);
			color: var(--bb-rl-text-secondary-color);
		}

		> input,
		> textarea {
			width: 100%;
			margin-bottom: var(--bb-rl-space-300);
		}

		> textarea {
			min-height: 94px;
		}
	}
}

.highlight.bb-rl-group-meta {
	display: flex;
	align-items: flex-start;
	gap: var(--bb-rl-space-200);
	margin-bottom: var(--bb-rl-space-200);

	.bb-rl-group-meta-figure {
		width: var(--bb-rl-space-300);
		flex: 0 0 var(--bb-rl-space-300);

		i {
			font-size: var(--bb-rl-space-300);
			color: var(--bb-rl-icon-primary-color);
		}
	}

	.bb-rl-group-meta-data {

		h3 {

			@include bb-rl-label-heading-md;
			margin-bottom: 2px;
		}

		.bb-rl-meta-desc {

			@include bb-rl-label-heading;
			display: block;
			color: var(--bb-rl-text-tertiary-color);
		}
	}
}

.bb-rl-wrap-box {
	border-top: 1px solid var(--bb-rl-border-color);
	padding-top: var(--bb-rl-space-200);

	h3 {

		@include bb-rl-base-heading;
		margin-bottom: var(--bb-rl-space-100);
	}
}

.bb-rl-group-organizers {
	margin-top: var(--bb-rl-space-200);

	.item-entry {
		padding: var(--bb-rl-space-100) 0;
		margin-bottom: var(--bb-rl-space-200);

		.list-wrap-inner {
			display: flex;
			align-items: center;
			gap: var(--bb-rl-space-200);
		}

		.member-name {

			@include bb-rl-label-heading-md;
		}

		.list-meta {
			display: flex;
			align-items: center;
			color: var(--bb-rl-text-tertiary-color);

			@include bb-rl-label-heading-md;
			font-weight: 400;
		}
	}

	.item-avatar {
		width: var(--bb-rl-space-600);

		img {
			width: var(--bb-rl-space-600);
			height: auto;
			border-radius: 50%;
			border: 1px solid rgba(0, 0, 0, 0.08);
		}
	}
}

.bb-rl-group-desc {

	.group-description {

		@include bb-rl-label-heading-md;
		font-weight: 400;
		color: var(--bb-rl-text-secondary-color);
	}
}
