.bb-rl-media-stream {

	.media-list,
	.video-list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: var(--bb-rl-space-300);
	}
}

.bb-rl-media-container {

	.bb-member-media-header {
		display: flex;
		margin: 0 0 var(--bb-rl-space-200);

		.bb-media-meta {
			display: flex;
			align-items: center;
			gap: var(--bb-rl-space-200);
			margin-left: auto;
		}
	}

	.bb-media-actions-wrap {
		display: flex;
		align-items: center;
		width: 100%;
		margin: 0 0 var(--bb-rl-space-300);

		.bb-media-actions,
		.bb-video-actions {
			margin-left: auto;

			.bb-add-media,
			.bb-add-video {

				@include bb-rl-button;
				@include bb-rl-button-secondary-fill;
				padding: var(--bb-rl-space-50) var(--bb-rl-space-200);
				font-size: 0.875rem;
			}
		}
	}
}
