.bb-rl-create-group {
	background: var(--bb-rl-background-color);
	border-radius: var(--bb-rl-radius-lg);
	padding: var(--bb-rl-space-300);
	margin: 0 auto;
	max-width: 960px;
	width: 100%;
	border: 1px solid var(--bb-rl-border-secondary-color);

	.bp-subhead {
		font-family: var(--bb-rl-font-family-base);
		font-size: var(--bb-rl-font-size-base);
		padding: var(--bb-rl-space-200) var(--bb-rl-space-300);
		margin: calc(-1 * var(--bb-rl-space-200)) calc(-1 * var(--bb-rl-space-300)) var(--bb-rl-space-200);
		border-bottom: 1px solid var(--bb-rl-border-secondary-color);
		font-weight: 600;
	}

	.group-create-links {
		padding-bottom: var(--bb-rl-space-200);
		border-bottom: 1px solid var(--bb-rl-border-secondary-color);

		.button-tabs {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: stretch;

			li {
				text-align: center;
				color: var(--bb-rl-icon-tertiary-color);
				font-size: var(--bb-rl-font-size-sm);
				flex: 1 0 auto;
				position: relative;
				z-index: 2;

				a {
					color: var(--bb-rl-icon-tertiary-color);
				}

				.bb-rl-group-creation-tab-number {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 20px;
					height: 20px;
					border-radius: var(--bb-rl-radius-full);
					background: var(--bb-rl-background-disabled-color);
					border: 1px solid var(--bb-rl-background-disabled-color);
					color: var(--bb-rl-text-tertiary-color);
					font-weight: 500;
					margin: 0 auto 5px;
				}

				&.current a {
					color: var(--bb-rl-text-color);

					.bb-rl-group-creation-tab-number {
						background: var(--bb-rl-background-color);
						color: var(--bb-rl-primary-color);
						border-color: var(--bb-rl-primary-color);
					}
				}

				&::before {
					content: "";
					display: block;
					height: 1px;
					width: 100%;
					background: var(--bb-rl-border-secondary-color);
					position: absolute;
					top: 10px;
					left: 0;
					z-index: -1;
				}

				&:first-child:before {
					width: 50%;
					left: auto;
					right: 0;
				}

				&:last-child:before {
					width: 50%;
				}
			}
		}
	}

	.bb-rl-create-screen-content {
		padding: var(--bb-rl-space-300) 0;

		.bp-screen-title {
			font-size: var(--bb-rl-font-size-base);
		}

		> h2.bp-screen-title {
			display: none;
		}

		.bp-screen-title {

			@include bb-rl-base-heading;
			margin: 0 0 var(--bb-rl-space-200);
		}

		> label {

			@include bb-rl-label-heading-md;
			display: block;
			margin: 0 0 var(--bb-rl-space-100);
			color: var(--bb-rl-text-secondary-color);
		}

		> input,
		> textarea {
			width: 100%;
			margin-bottom: var(--bb-rl-space-300);
		}

		> textarea {
			min-height: 94px;
		}

		input[type="submit"],
		button[type="submit"] {

			@include bb-rl-button;
			@include bb-rl-button--brand-fill;
			padding: 6px var(--bb-rl-space-200);
			font-size: 0.875rem;
		}

		ul,
		p {
			margin-bottom: var(--bb-rl-space-200);
		}

		div.submit {
			margin-top: var(--bb-rl-space-200);
		}
	}
}
