:root {
	--bb-rl-icon-primary-color: #3d3d3d;
	--bb-rl-space-50: 4px;
	--font-size-xs: 11px;
	--font-size-sm: 13px;

	--bb-rl-base-line-small: 20px;
	--bb-rl-base-line: 24px;
}

@mixin bb-rl-button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	text-align: center;
	cursor: pointer;
	border-radius: var(--bb-rl-radius-md);
	padding: var(--bb-rl-space-100) var(--bb-rl-space-200);
	transition: background-color 0.2s ease, bordfont/size/smer-color 0.2s ease, color 0.2s ease;
	text-decoration: none;
}

@mixin bb-rl-button-secondary-fill {
	background-color: var(--bb-rl-background-tertiary-color);
	color: var(--bb-rl-text-color);
	border: 1px solid transparent;

	&:hover {
		background-color: var(--bb-rl-background-tertiary-hover-color);
	}

	&:focus {
		outline: 2px solid var(--bb-rl-border-quinery-color);
	}

	&:disabled {
		background-color: var(--bb-rl-background-tertiary-color);
		color: var(--bb-rl-text-disabled-color);
		cursor: not-allowed;
	}
}

@mixin bb-button-secondary-hover {
	background-color: var(--bb-secondary-button-background-hover);
	color: var(--bb-secondary-button-text-hover);
	border: 1px solid var(--bb-secondary-button-border-hover);
}

@mixin bb-rl-base-heading {
	font-size: var(--font-size-base);
	font-weight: 500;
	line-height: var(--bb-rl-base-line);
}

.bb-rl-secondary-header {
	background-color: var(--bb-rl-background-color);
	border-bottom: 1px solid var(--bb-rl-border-secondary-color);
	padding: 12px var(--bb-rl-space-300);
	margin-bottom: var(--bb-rl-space-400);
}

.bb-rl-entry-heading {

	h2 {

		@include bb-rl-base-heading;
		color: var(--bb-rl-text-color);
	}
}

.bb-rl-sub-ctrls {
	margin-left: auto;
}

.bb-rl-grid-filters {
	gap: var(--bb-rl-space-100);

	.layout-view {
		display: inline-flex;

		&.active,
		&:hover {

			i {
				color: var(--bb-rl-icon-primary-color);
			}
		}

		i {
			font-size: 28px;
			color: var(--bb-rl-icon-tertiary-color);
		}
	}
}

.bb-rl-action-button {
	margin-left: var(--bb-rl-space-200);

	a i {
		margin-right: var(--bb-rl-space-50);
	}
}

ul.bp-list {
	list-style: none;
	padding: 0;
}

/* List items headings */
.item .list-title {

	@include bb-rl-base-heading;
	color: var(--bb-rl-text-color);

	a {
		color: var(--bb-rl-text-color);

		&:hover {
			color: var(--bb-rl-primary-color);
		}
	}
}

.bb-rl-flex-grid {
	display: flex;
	flex-flow: row wrap;
	gap: var(--bb-rl-space-200);

	.item-entry {
		flex: 0 0 calc(33.33% - (var(--bb-rl-space-200) * 2 / 3));
		max-width: calc(33.33% - (var(--bb-rl-space-200) * 2 / 3));
	}

	.item-entry {
		flex: 0 0 calc(25% - (var(--bb-rl-space-200) * 3 / 4));
		max-width: calc(25% - (var(--bb-rl-space-200) * 3 / 4));
	}
}
