@import "./common-tmp";

.bb-rl-members {

	.item-entry {

		.list-wrap {
			height: 100%;
			border-radius: var(--bb-rl-radius-lg);
			background-color: var(--bb-rl-background-color);
			border: 1px solid var(--bb-rl-border-secondary-color);
			padding: var(--bb-rl-space-300) var(--bb-rl-space-200);

			.list-wrap-inner {
				display: flex;
				flex-direction: column;
				height: 100%;
			}
		}

		.item {
			text-align: center;
			margin-bottom: 18px;
		}

		.item-avatar {
			display: flex;
			justify-content: center;
			margin-bottom: var(--bb-rl-space-200);
		}

		.avatar {
			max-width: 104px;
			height: auto;
			border-radius: 50%;
		}

		.bp-member-type {
			display: inline-flex;
			color: var(--bb-rl-text-brand-secondary-color);
			background-color: var(--bb-rl-background-brand-secondary-color);
			border: 1px solid var(--bb-rl-border-brand-secondary-color);
			border-radius: var(--bb-rl-radius-full);
			padding: var(--bb-rl-space-50) var(--bb-rl-space-100);
			font-size: var(--font-size-xs);
			font-weight: 500;
			margin-bottom: var(--bb-rl-space-100);
		}

		.bb-rl-item-meta-asset {
			font-size: var(--font-size-sm);
			line-height: var(--bb-rl-base-line-small);
			color: var(--bb-rl-text-tertiary-color);

			.separator {
				margin: 0 6px;
				color: var(--bb-rl-background-tertiary-color);
			}
		}

		.member-buttons-wrap {
			margin: auto 0 0;

			.primary-action button {

				@include bb-rl-button;
				@include bb-rl-button-secondary-fill;
				font-size: var(--font-size-sm);
			}
		}

		.bb_more_options {
			display: none; /* Temporary hide untill design mockup is ready */
		}
	}

	.item-list.grid {

		.only-list-view {
			display: none;
		}
	}

	.item-list.list {

		.only-grid-view {
			display: none;
		}
	}
}

.bb-rl-item-actions {

	.bb-rl-secondary-actions {
		margin-right: auto;
	}

	.bb-rl-secondary-actions {

		.button-wrap {
			display: flex;
			align-items: center;
			gap: 12px;
		}

		.send-message,
		.friendship-button {
			font-size: 0;
			line-height: 1;
			display: inline-block;

			i {

				&::before {
					content: "";
					font-weight: 400;
					font-family: bb-icons-rl;
					font-size: 24px;
					color: var(--bb-rl-icon-secondary-color);
					font-style: normal;
				}
			}
		}

		.send-message {

			i {

				&::before {
					content: "\e16e";
				}
			}
		}

		.friendship-button.not_friends {

			i {

				&::before {
					content: "\e3d6";
				}
			}
		}

		.friendship-button.is_friend {

			i {

				&::before {
					content: "\e32c";
				}
			}
		}
	}
}

.bb-rl-invite-form {

	.bb-rl-input-field,
	textarea {
		width: 100%;
	}
}
