#bb_recaptcha_versions .bb-recaptcha-status {
  margin-left: 15px;
}

#bb_recaptcha_versions .notes-hidden-header > th {
  display: none;
}

#bb_recaptcha_versions .notes-hidden-header > th + td {
  padding-left: 0;
  padding-right: 0;
}

#bb_recaptcha_versions .hidden-header > th {
  opacity: 0;
  visibility: hidden;
  padding: 0;
  margin: 0;
}

#bb_recaptcha_versions .hidden-header:not(.field-button) > td {
  padding: 0;
  margin: 0;
}

#bb_recaptcha_versions .hidden-header .show-full-width {
  margin-left: -210px;
  word-break: break-word;
}

@media (max-width: 782px) {
  #bb_recaptcha_versions .hidden-header .show-full-width {
    margin-left: 0;
  }
}

#bb_recaptcha_versions input[type="text"],
#bb_recaptcha_versions input[type="email"],
#bb_recaptcha_versions select,
#bb_recaptcha_versions input[type="password"] {
  min-width: 50%;
}

#bb_recaptcha_versions select {
  max-width: none;
}

#bb_recaptcha_versions .password-toggle {
  position: relative;
  display: inline-block;
  width: 50%;
}

@media (max-width: 782px) {
  #bb_recaptcha_versions .password-toggle {
    width: 100%;
  }
}

#bb_recaptcha_versions .password-toggle .bb-hide-pw {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 30px;
  border: 0;
  padding: 0;
  background: none;
  box-shadow: none;
}

#bb_recaptcha_versions .password-toggle .bb-hide-pw .bb-icon {
  font-size: 16px;
  line-height: 1;
}

#bb_recaptcha_versions .password-toggle input[type="text"],
#bb_recaptcha_versions .password-toggle input[type="password"] {
  padding-right: 30px;
  width: 100%;
}

#bb_recaptcha_versions .password-toggle input[type="text"] + .bb-hide-pw .bb-icon::before {
  content: "\ee6a";
}

#bb_recaptcha_versions .checkbox-wrap input[type="checkbox"] {
  margin-top: 0;
}

#bb_recaptcha_versions .checkbox-wrap + .checkbox-wrap {
  margin-top: 15px;
}

#bb_recaptcha_versions .bb-bottom-notice {
  text-align: center;
}

#bb_recaptcha_versions .bp-hello-recaptcha .bp-hello-title h2 {
  color: #1d2327;
  font-size: 1.3em;
  margin: 1em 0;
  padding-bottom: 0;
  border-bottom: none;
  font-weight: 600;
}

#bb_recaptcha_versions .bp-hello-recaptcha .bp-hello-content {
  height: auto;
  padding: 0 23px;
  min-height: 180px;
  max-height: calc(100vh - 320px);
  margin-bottom: 62px;
}

#bb_recaptcha_versions .bp-hello-recaptcha .bb-popup-buttons {
  position: absolute;
  bottom: 0;
  padding: 15px;
  text-align: right;
  width: calc(100% - 30px);
  margin: 0 -23px;
  border-top: 1px solid var(--bp-hello-color-secondary);
  background-color: #f0f0f1;
}

@media screen and (orientation: landscape) and (max-height: 480px) {
  #bb_recaptcha_versions .bp-hello-recaptcha .bp-hello-content {
    min-height: 110px;
  }
}

#bb_recaptcha_versions .bp-hello-recaptcha .bp-hello-recaptcha-content-container {
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
}

#bb_recaptcha_versions #bp-hello-container.bp-hello-recaptcha {
  top: 50%;
  bottom: initial;
  transform: translateY(-50%);
  margin-top: 32px;
}

#bb_recaptcha_versions #bp-hello-container.bp-hello-recaptcha .button-primary {
  color: #fff;
  margin-right: 10px;
}

@media screen and (max-width: 480px) {
  #bb_recaptcha_versions #bp-hello-container.bp-hello-recaptcha .button-primary {
    margin-right: 0;
  }
}
