.bb-rl-messages-content {
	flex: 1;
	min-width: 0;
	padding: 0;

	#bp-message-thread-list {
		background: transparent;
		border: 0;
		border-top: 1px solid var(--bb-content-border-color);
		padding: var(--bb-rl-space-200) var(--bb-rl-space-300);
		height: auto;
		min-height: 0;
		flex: 1;
		display: flex;
		flex-direction: column;
		list-style: none;
		margin: 0;
		overflow: auto;
	}
}

.bp-messages-content-wrapper {
	display: flex;
	flex-flow: column;
	height: 80vh;
	max-height: 80vh;
	min-height: 670px;
}

.message-thread-header {
	border-bottom: 1px solid var(--bb-rl-border-secondary-color);
}

.single-message-thread-header {
	display: flex;
	align-items: center;
	padding: 12px var(--bb-rl-space-200);
	position: relative;

	.bb-rl-thread-avatar {
		margin-right: var(--bb-rl-space-100);

		img {
			height: 40px;
			width: 40px;
			border-radius: var(--bb-rl-radius-full);
		}
	}

	.thread-participants dd {
		line-height: 1;
	}

	.participants-name,
	.participants-name a {
		font-size: 16px;
		line-height: 1.5;
		font-weight: 500;
		color: var(--bb-rl-text-color);
	}

	.bb-rl-thread-date {
		font-size: var(--bb-rl-font-size-sm);
		color: var(--bb-rl-text-tertiary-color);
	}

	> .actions {
		position: absolute;
		right: var(--bb-rl-space-200);
		top: 50%;
		transform: translateY(-50%);

		.message_action__anchor {
			font-size: 20px;
			color: var(--bb-rl-icon-tertiary-color);
			padding: var(--bb-rl-space-50);
			border-radius: var(--bb-rl-radius-md);
			display: flex;

			&:hover {
				background-color: var(--bb-rl-background-secondary-color);
			}

			i {
				display: flex;

				&:before {
					font-weight: 700;
				}
			}
		}

		.message_actions.open {

			.message_action__anchor {
				background-color: var(--bb-rl-background-secondary-color);
			}
		}
	}

	.bb_more_dropdown {
		position: absolute;
		top: 30px;
		right: 4px;
		z-index: var(--bb-rl-z-index-dropdown);
		background-color: var(--bb-rl-background-color);
		border: 1px solid var(--bb-rl-border-secondary-color);
		border-radius: var(--bb-rl-radius-md);
		box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
		padding: var(--bb-rl-space-100) 0;
		width: 220px;
		display: none;

		&.open {
			display: block;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		li {

			> a {
				display: flex;
				align-items: center;
				color: var(--bb-rl-text-secondary-color);
				font-size: var(--bb-rl-font-size-sm);
				font-weight: 500;
				line-height: var(--bb-rl-base-line-small);
				padding: var(--bb-rl-space-100) var(--bb-rl-space-200);
				cursor: pointer;

				&:hover {
					background-color: var(--bb-rl-background-secondary-color);
				}

				&:before {
					font-family: bb-icons-rl;
					color: var(--bb-rl-icon-secondary-color);
					font-size: 20px;
					font-weight: 400;
					margin: 0 var(--bb-rl-space-100) 0 0;
				}
			}

			&.unread a:before {
				content: "\e224";
			}

			&.read a:before {
				content: "\e220";
			}

			&.hide_thread a:before {
				content: "\e20c";
			}

			&.view_members a:before {
				content: "\e68e";
			}

			&.report_thread a:before {
				content: "\e244";
			}

			&.report_member_thread a:before {
				content: "\e3de";
			}

			&.delete_thread a:before,
			&.delete_messages a:before {
				content: "\e4a6";
			}

		}
	}

}
