.bb-rl-messages-right-panel {
	width: 300px;
	background-color: var(--bb-rl-background-color);
	border-left: 1px solid var(--bb-rl-border-secondary-color);

	.bb-rl-message-profile,
	.bb-rl-message-multiple-threads {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: var(--bb-rl-space-300);
	}

	.avatar {
		display: inline-block;
		width: 104px;
		height: 104px;
		border-radius: 50%;
		object-fit: cover;
		margin-bottom: var(--bb-rl-space-100);
	}

	.bb-rl-message-profile-type {
		display: inline-block;
		color: var(--bb-rl-text-brand-secondary-color);
		font-size: 11px;
		font-weight: 500;
		line-height: 1.8;
		border: 1px solid var(--bb-rl-border-brand-secondary-color);
		background-color: var(--bb-rl-background-brand-secondary-color);
		border-radius: 24px;
		padding: 0 var(--bb-rl-space-100);
		text-transform: capitalize;
		max-width: 140px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		margin-bottom: var(--bb-rl-space-100);
	}

	.bb-rl-message-profile-name {
		font-size: var(--bb-rl-font-size-base);
		font-weight: 500;
		line-height: 1.5;
		margin-bottom: var(--bb-rl-space-100);
	}

	.bb-rl-message-profile-meta {
		display: flex;
		justify-content: center;

		.bb-rl-message-profile-meta-item {
			display: flex;
			align-items: center;
			font-size: var(--bb-rl-font-size-sm);
			line-height: 1.8;
			color: var(--bb-rl-text-tertiary-color);
			font-weight: 400;

			&:not(:first-child):before {
				content: "";
				display: inline-block;
				width: 4px;
				height: 4px;
				background-color: var(--bb-rl-border-secondary-color);
				border-radius: 50%;
				margin: 0 6px;
			}
		}
	}

	.bb-rl-message-multiple-threads {

		.bb-rl-message-multiple-threads-avatar {
			height: 80px;
			width: 80px;
			position: relative;
			margin-bottom: var(--bb-rl-space-200);

			.avatar {
				height: 48px;
				width: 48px;
				border-radius: 50%;
				object-fit: cover;
			}

			a + a img {
				position: absolute;
				left: 32px;
				top: 32px;
			}
		}

		.bb-rl-message-multiple-threads-content {
			font-size: var(--bb-rl-base-line-xs);
			font-weight: 500;
			line-height: 1.5;
			margin-bottom: var(--bb-rl-space-300);
		}
	}

	.bb-rl-message-group-thread-content {
		padding: 0 var(--bb-rl-space-200) var(--bb-rl-space-300);

		.bb-rl-message-profile-meta {
			justify-content: flex-start;
		}
	}

	.bb-rl-message-group-thread-avatar {
		margin: -30px 0 0;

		img {
			height: 80px;
			width: 80px;
			border-radius: var(--bb-rl-radius-lg);
			object-fit: cover;
			border: 1px solid rgba(0, 0, 0, 0.08);
		}
	}

	.bb-rl-message-group-thread-name {
		font-size: var(--bb-rl-font-size-base);
		font-weight: 500;
		line-height: 1.5;
		margin-bottom: var(--bb-rl-space-50);
	}
}
