
.bbrl-header {
	background-color: var(--bbrl-background-color);
	border-bottom: 1px solid var(--bbrl-border-tertiary-color);
	padding: var(--bbrl-space-200) var(--bbrl-space-400);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	body.admin-bar & {
		top: 32px;
	}
}

.bb-readylaunch-menu {
	display: flex;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;

	li {

		&:not(:last-child) {
			margin-right: var(--bbrl-space-200);
		}

		a {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			font-size: 0.85rem;
			text-align: center;
			cursor: pointer;
			border-radius: var(--bbrl-radius-sm);
			padding: var(--bbrl-space-100) var(--bbrl-space-200);
			transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
			background-color: transparent;
			color: var(--bbrl-text-color);
			border: none;
			text-decoration: none;

			&:hover {
				background-color: var(--bbrl-background-secondary-hover-color);
			}

			&:focus {
				outline: 2px solid var(--bbrl-border-quinery-color);
			}
		}

		&.current-menu-item a {
			background-color: var(--bbrl-background-secondary-hover-color);
		}
	}
}

.bbrl-site-branding img.bb-logo {
	max-width: 130px;
	max-height: 32px;
	object-fit: contain;
}

.header-aside {

	.header-aside-inner {
		gap: var(--bbrl-space-100);
	}

	.notification-wrap {
		position: relative;

		.notification-dropdown {
			background: var(--bbrl-background-color);
			border: 1px solid var(--bbrl-border-secondary-color);
			box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
			border-radius: var(--bbrl-radius-lg);
			list-style: none;
			position: absolute;
			right: -15px;
			top: calc(100% + 8px);
			margin: 0;
			min-width: 480px;
			opacity: 0;
			visibility: hidden;
			z-index: 0;
			display: none;

			.bbrl-loader {
				margin: 20px auto;
				display: table;
			}
		}

		&.selected {

			.notification-dropdown {
				opacity: 1;
				visibility: visible;
				z-index: var(--bbrl-z-index-dropdown);
				display: block;
			}

			.notification-link {
				background-color: var(--bbrl-background-secondary-hover-color);
			}
		}

		.notification-header {
			padding: var(--bbrl-space-100) 0;
			margin: var(--bbrl-space-100) var(--bbrl-space-200);
			border-bottom: 1px solid var(--bbrl-border-secondary-color);

			h2 {
				color: var(--bbrl-text-color);
				font-size: 1rem;
				font-weight: 500;
			}

			.notification-header-action {
				color: var(--bbrl-icon-secondary-color);
				font-size: 1rem;
				text-decoration: none;
			}

			.message-view-all-link {
				margin-left: auto;
				margin-right: var(--bbrl-space-200);
				border-radius: var(--bbrl-radius-full);
				font-size: 0.85rem;
			}

			.mark-read-all {
				color: var(--bbrl-text-color);
				cursor: pointer;
				background: transparent;
				border: 0;

				[class*="bb-icons-rl"] {
					opacity: 0.6;
				}
			}
		}
	}

	.notification-link {
		display: inline-block;
		padding: 4px;
		border-radius: var(--bbrl-radius-md);
		text-decoration: none;

		> span {
			display: flex;
		}

		[class*="bb-icons-rl"] {
			color: var(--bbrl-icon-secondary-color);
			font-size: 24px;
		}

		.count {
			font-style: normal;
			font-weight: 600;
			color: var(--bbrl-text-white-color);
			letter-spacing: -0.55px;
			background-color: var(--bbrl-primary-color);
			border-radius: var(--bbrl-radius-full);
			line-height: 1.6;
			font-size: 9px;
			top: calc(50% - 20px);
			right: -4px;
			padding: 1px 6px;
			position: absolute;
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
		}
	}

	.user-wrap {
		margin-left: var(--bbrl-space-300);

		.avatar {
			max-width: 32px;
			height: auto;
			object-fit: contain;
			border-radius: var(--bbrl-radius-full);
		}
	}

	.bbrl-header-search {
		font-size: 0.85rem;
		margin-right: var(--bbrl-space-300);

		[class*="bb-icons-rl"] {
			color: var(--bbrl-icon-color);
			font-size: 16px;
			margin-right: var(--bbrl-space-100);
		}
	}
}

// Notification Dropdown

.notification-dropdown {

	.notification-header-tabs {
		margin: 0 var(--bbrl-space-200);
	}

	.notification-header-tab-action {
		color: var(--bbrl-text-secondary-color);
		font-size: 0.85rem;
		font-weight: 500;
		border-radius: var(--bbrl-radius-full);

		&:hover,
		&.active {
			color: var(--bbrl-text-color);
			font-weight: 600;
			background-color: var(--bbrl-background-secondary-hover-color);
		}
	}
}

.notification-list {
	max-height: 52vh;
	overflow: auto;
	overflow-x: hidden;
	padding: var(--bbrl-space-100);

	>  li {
		display: flex;
		align-items: center;
		padding: var(--bbrl-space-200);
		border-radius: var(--bbrl-radius-md);
		position: relative;

		.notification-avatar {
			margin-right: var(--bbrl-space-100);
			flex: 0 0 40px;

			img {
				display: block;
				max-width: 36px;
				height: auto;
				border-radius: var(--bbrl-radius-full);
			}

			.thread-multiple-avatar {
				min-height: 40px;
				min-width: 40px;
				position: relative;

				img {
					max-width: 24px;
					position: absolute;
					left: 0;
					top: 0;

					+ img {
						top: auto;
						right: 0;
						bottom: 0;
						left: auto;
					}
				}
			}
		}

		&:has(.bbrl-option-wrap.active),
		&:hover {
			background-color: var(--bbrl-background-secondary-hover-color);
		}
	}

	.bb-full-link {
		font-size: 0;

		> a {
			cursor: pointer;
			font-size: 0;
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			opacity: 0;
		}
	}

	.notification-content {
		flex: 1;
		position: relative;
		width: 100%;
		overflow: hidden;

		.notification-users {
			color: var(--bbrl-text-color);
			font-size: 0.9rem;
			line-height: 1.3;
			font-weight: 500;
			display: block;
			white-space: nowrap;
			width: calc(100% - 50px);

			a {
				color: inherit;
				text-decoration: none;
			}
		}

		.posted {
			color: var(--bbrl-text-tertiary-color);
			font-size: 0.85rem;
			line-height: 1.5;

			img {
				vertical-align: middle;
			}
		}
	}

	.unread {

		&:before {
			content: "";
			background-color: var(--bb-primary-color);
			border-radius: 50%;
			height: 6px;
			width: 6px;
			position: absolute;
			right: var(--bbrl-space-100);
			bottom: 24px;
		}

		.notification-content {

			.posted {
				color: var(--bbrl-text-color);
				font-weight: 500;
			}
		}

		&:hover:before {
			visibility: hidden;
			opacity: 0;
		}
	}
}

.notification-listing {

	.notification-list li {

		.notification-avatar {
			position: relative;

			img {
				max-width: 32px;
			}

			[class*="bb-icon"] {
				height: 20px;
				width: 20px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: var(--bbrl-radius-full);
				font-style: normal;
				position: absolute;
				right: 0;
				bottom: -6px;
				background-color: var(--bbrl-background-positive-primary-color);

				&:before {
					font-family: bb-icons-rl !important;
					color: var(--bbrl-text-white-color);
					font-size: 12px;
				}

				&.bb-icon-comment-activity:before {
					content: "\e172";
				}

				&.bb-icon-activity:before {
					content: "\e17a";
				}

				&.bb-icon-reply:before {
					content: "\ed52";
				}

				&.bb-icon-comment-square-dots:before {
					content: "\e172";
				}

				&.bb-icon-comment-square:before {
					content: "\e16c";
				}

				&.bb-icon-poll {
					content: "\e150";
				}
			}
		}

		.notification-content {
			color: var(--bbrl-text-color);
			font-size: 0.9rem;
			line-height: 1.3;
			font-weight: 500;
			max-width: calc(100% - 75px);

			a {
				color: var(--bbrl-text-color);
				text-decoration: none;
			}

			.posted {
				color: var(--bbrl-text-tertiary-color);
				display: block;
				font-size: 0.85rem;
				margin-top: 3px;
				line-height: 19px;
				font-weight: 400;
			}
		}

		&.unread:before {
			right: 27px;
			bottom: 50%;
			margin-bottom: -1px;
		}

		.actions {
			position: absolute;
			top: 50%;
			margin-top: -8px;
			right: 10px;

			> a {
				cursor: pointer;
			}
		}

		.bbrl-option-wrap {
			opacity: 0;
			visibility: hidden;

			&__action {
				padding: 0;
				background-color: var(--bbrl-background-secondary-hover-color);

				[class*="bb-icons-rl"] {
					color: var(--bbrl-icon-tertiary-color);
				}
			}
		}

		.bbrl-option-wrap.active,
		&:hover .bbrl-option-wrap {
			opacity: 1;
			visibility: visible;
		}
	}

}
