.bbrl-left-panel {
	position: fixed;
	left: 0;
	z-index: var(--bbrl-z-index-fixed);
	background: var(--bbrl-background-color);
	border-right: 1px solid var(--bbrl-border-color);
	height: calc(100% - 71px);
	width: 300px;
	padding: var(--bbrl-space-100) var(--bbrl-space-200);
	overflow: auto;
	top: 71px;

	body.admin-bar & {
		top: 103px;
		height: calc(100% - 71px - 32px);
	}

	&-widget {
		padding: var(--bbrl-space-200) 0;
		border-bottom: 1px solid var(--bbrl-border-secondary-color);
	}

	.bb-readylaunchpanel-menu {
		padding: 0;
		list-style: none;

		li > a {
			display: flex;
			align-items: center;
			color: var(--bbrl-text-color);
			font-size: 0.85rem;
			padding: var(--bbrl-space-100) var(--bbrl-space-200);
			text-decoration: none;
			border-radius: var(--bbrl-radius-md);

			&:before {
				content: "\e000";
				font-family: bb-icons-rl;
				font-size: 1.2rem;
				color: var(--bbrl-icon-color);
				margin-right: var(--bbrl-space-100);
			}

			&:hover {
				background-color: var(--bbrl-background-secondary-hover-color);
			}
		}

		// temp icons
		li:nth-child(2) > a:before {
			content: "\e4d6";
		}
	}

	.bb-rl-list {

		h2 {
			color: var(--bbrl-text-tertiary-color);
			font-size: 0.85rem;
			font-weight: 600;
			margin: 0 var(--bbrl-space-200) var(--bbrl-space-200);
		}

		.item-list {
			list-style: none;
			padding: 0;

			li {
				display: flex;
				align-items: center;
				padding: var(--bbrl-space-100) var(--bbrl-space-200);
				border-radius: var(--bbrl-radius-md);

				&:hover {
					background-color: var(--bbrl-background-secondary-hover-color);
				}
			}

			.item-avatar {
				margin-right: var(--bbrl-space-100);

				img {
					height: 24px;
					width: 24px;
					border-radius: var(--bbrl-radius-full);
				}
			}

			.item-title a {
				color: var(--bbrl-text-color);
				font-size: 0.85rem;
				font-weight: 500;
				text-decoration: none;
			}
		}
	}
}
