.notice {
	display: flex;
	align-items: center;
	padding: var(--bbrl-space-100);
	border: 1px solid transparent;
	border-radius: var(--bbrl-radius-md);
	font-size: 1rem;
	background-color: var(--bbrl-background-secondary-color);

	&__icon {
		flex-shrink: 0;
		margin-right: var(--bbrl-space-100);
		font-size: 1.2rem;
	}

	&__content {
		flex: 1;

		&-title {
			color: var(--bbrl-text-primary-color);
			font-weight: 500;
			margin-bottom: var(--bbrl-space-100);
		}

		&-description {
			font-size: 0.875rem;
			color: var(--bbrl-text-secondary-color);
		}
	}

	&__close {
		flex-shrink: 0;
		margin-left: var(--bbrl-space-100);
		font-size: 1rem;
		color: var(--bbrl-text-tertiary-color);
		cursor: pointer;

		&:hover {
			color: var(--bbrl-text-primary-color);
		}
	}

	&--info {
		background-color: var(--bbrl-background-brand-secondary-color);
		border-color: var(--bbrl-border-brand-primary-color);

		.notice__icon {
			color: var(--bbrl-text-brand-primary-color);
		}
	}

	&--success {
		background-color: var(--bbrl-background-positive-secondary-color);
		border-color: var(--bbrl-border-positive-primary-color);

		.notice__icon {
			color: var(--bbrl-text-positive-primary-color);
		}
	}

	&--warning {
		background-color: var(--bbrl-background-warning-secondary-color);
		border-color: var(--bbrl-border-warning-primary-color);

		.notice__icon {
			color: var(--bbrl-text-warning-primary-color);
		}
	}

	&--error {
		background-color: var(--bbrl-background-danger-secondary-color);
		border-color: var(--bbrl-border-danger-primary-color);

		.notice__icon {
			color: var(--bbrl-text-danger-primary-color);
		}
	}
}

/*

<div class="notice notice--info">
	<span class="notice__icon">ℹ️</span>
	<div class="notice__content">
		<div class="notice__content-title">Title</div>
		<div class="notice__content-description">Description</div>
	</div>
	<button class="notice__close">✖</button>
</div>

<div class="notice notice--success">
	<span class="notice__icon">✔️</span>
	<div class="notice__content">
		<div class="notice__content-title">Title</div>
		<div class="notice__content-description">Description</div>
	</div>
	<button class="notice__close">✖</button>
</div>

<div class="notice notice--warning">
	<span class="notice__icon">⚠️</span>
	<div class="notice__content">
		<div class="notice__content-title">Title</div>
		<div class="notice__content-description">Description</div>
	</div>
	<button class="notice__close">✖</button>
</div>

<div class="notice notice--error">
	<span class="notice__icon">❌</span>
	<div class="notice__content">
		<div class="notice__content-title">Title</div>
		<div class="notice__content-description">Description</div>
	</div>
	<button class="notice__close">✖</button>
</div>

*/
