.post-type-archive-mpcs-course.bb-readylaunch-template {

	.bb-rl-meprlms-course-filters {

		.dropdown a.dropdown-toggle {

			@include bb-rl-label-heading;
			color: var(--bb-rl-text-secondary-color);
			display: flex;
			align-items: center;
			background-color: var(--bb-rl-background-secondary-color);
			border: 1px solid var(--bb-rl-border-secondary-color) !important;
			border-radius: 6px;
			padding: 0 8px;
			height: 32px;
			line-height: 32px;

			i {
				font-weight: 500;
			}

			span {

				@include bb-rl-label-heading-bolder;
				color: var(--bb-rl-text-color) !important;
				padding: 0 var(--bb-rl-space-200) 0 0;

				&::before {
					content: "|";
					color: var(--bb-rl-background-tertiary-hover-color);
					padding: 0 var(--bb-rl-space-100);
				}
			}
		}

		.dropdown .menu {
			background-color: var(--bb-rl-background-color);
			border: 1px solid var(--bb-rl-border-secondary-color);
			border-radius: var(--bb-rl-radius-base);
			box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
			padding: var(--bb-rl-space-100) 0;

			input {
				font-size: var(--bb-rl-font-size-sm);
				font-weight: 400;
				line-height: var(--bb-rl-base-line-small);
				padding: 0 var(--bb-rl-space-200);
			}

			li {
				border: 0;
			}

			li a {
				color: var(--bb-rl-text-secondary-color);
				font-size: var(--bb-rl-font-size-sm);
				font-weight: 500;
				line-height: var(--bb-rl-base-line-small);
				padding: var(--bb-rl-space-100) var(--bb-rl-space-200);
				white-space: nowrap;

				&:hover {
					background-color: var(--bb-rl-background-secondary-hover-color);
					color: var(--bb-rl-text-color);
				}
			}
		}

		.input-group {
			height: var(--bb-rl-space-400);
			line-height: var(--bb-rl-space-400);
			background-color: var(--bb-rl-background-color);
			border: 1px solid var(--bb-rl-border-secondary-color);
			border-radius: var(--bb-rl-radius-md);

			i {
				font-size: 16px;
				color: var(--bb-rl-icon-secondary-color) !important;
				opacity: 1;
			}

			.input-group-btn {
				height: var(--bb-rl-space-400);
			}
		}
	}
}

.bb-rl-courses-grid.grid .bb-rl-course-card.bb-rl-course-card--mbprlms,
.bb-rl-course-card.bb-rl-course-card--mbprlms {

	.bb-rl-course-footer {
		padding: 0 var(--bb-rl-space-200);
		border: 0;
	}
}

.bb-rl-course-card--mbprlms {

	.bb-rl-course-excerpt {
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
