.bb-rl-left-panel--memprlms {

	.bb-rl-left-panel-widget {
		display: none;
	}

	#mpcs-sidebar-header {
		margin: 0 calc(var(--bb-rl-space-200) * -1) var(--bb-rl-space-200);
		padding: 0 var(--bb-rl-space-200) var(--bb-rl-space-400);
		border-bottom: 1px solid var(--bb-rl-border-secondary-color);

		.figure {
			display: none;
		}

		.course-progress {
			display: flex;
			flex-direction: column;

			h1 {
				order: 1
			}

			.progress-text {
				order: 2;
			}

			.progress-bar {
				order: 3;
			}
		}

		.course-progress h1 {
			margin: var(--bb-rl-space-200) 0 var(--bb-rl-space-100);

			a {

				@include bb-rl-base-heading-bolder;
				color: var(--bb-rl-text-color);
			}
		}
	}

	.mpcs-sidebar-content {

		.mpcs-section.mpcs-section-lessons {
			border: 0;
		}

		.mpcs-section.mpcs-section-lessons .mpcs-section-header {
			margin: 0 calc(var(--bb-rl-space-200) * -1);
		}

		.mpcs-section .mpcs-lessons .mpcs-lesson-row-link {
			margin: 0 calc(var(--bb-rl-space-200) * -1);
		}

		.mpcs-section.mpcs-section-lessons.first_section {
			margin-top: var(--bb-rl-space-200);
		}
	}
}
