.bb-rl-course-overview {

	.course-progress {

		h1 {
			display: none;
		}
	}

	.bb-rl-course-continue-button {
		margin: var(--bb-rl-space-200) 0 0;

		.bb-rl-button {
			gap: var(--bb-rl-space-50);

			i {
				position: relative;
				top: 1px;
			}
		}
	}
}

.bb-rl-course-overview-footer {

	.mpcs-sidebar-wrapper {
		width: 100%;

		.course-progress {
			display: flex;
			flex-direction: column;

			.progress-bar {
				order: 2;
			}
		}

		.progress-text {
			order: 1;
			margin: 0 0 var(--bb-rl-space-100);
		}
	}
}

.bb-rl-course-details {

	.bb-rl-course-enrollment-status {

		@include bb-rl-label-heading-xs;
		border-radius: var(--bb-rl-radius-full);
		border: 1px solid var(--bb-rl-border-brand-secondary-color);
		background-color: var(--bb-rl-background-brand-secondary-color);
		color: var(--bb-rl-text-brand-secondary-color);
		padding: 0 var(--bb-rl-space-100);
		margin-top: var(--bb-rl-space-50);

		&.bb-rl-status-idle {
			background-color: var(--bb-rl-background-brand-secondary-color);
			border-color: var(--bb-rl-border-brand-secondary-color);
			color: var(--bb-rl-text-brand-secondary-color);
		}
	}
}

.bb-rl-memprlms-course {

	.course-curriculum:has(a) {
		border: 0;
		border-radius: 0;
		background-color: transparent !important;
		padding: 0;

		> a {

			@include bb-rl-button;
			@include bb-rl-button--brand-fill;
			@include bb-rl-button--small;
			margin-right: var(--bb-rl-space-100);

			.mpcs-angle-right {
				line-height: 1;
			}

			.mpcs-angle-right::before {
				content: "\e13a";
				font-weight: 400;
				font-family: bb-icons-rl;
				font-size: 14px;
				position: relative;
				top: 1px;
			}
		}

		.mpcs-bookmark-link-title {

			@include bb-rl-label-heading-md;
			color: var(--bb-rl-text-secondary-color);
		}
	}
}

.bb-rl-course-content-module,
.bb-rl-course-description {

	> p {

		@include bb-rl-label-heading-md-thin;
		color: var(--bb-rl-text-secondary-color);
		margin: 0 0 var(--bb-rl-space-200);
	}

	> h2 {

		@include bb-rl-base-heading;
		margin-bottom: var(--bb-rl-space-100);
	}
}

.bb-rl-course-content-inner,
.mpcs-sidebar-content {

	.mpcs-section.mpcs-section-lessons {
		border-color: var(--bb-rl-border-secondary-color);
		background-color: var(--bb-rl-background-color);
		margin: 0;

		&.first_section {
			margin-top: var(--bb-rl-space-200);

			.mpcs-section-header {
				border-radius: var(--bb-rl-radius-md) var(--bb-rl-radius-md) 0 0;
			}
		}

		&.last_section {
			margin-bottom: var(--bb-rl-space-300);
		}

		+ .mpcs-section.mpcs-section-lessons {
			border-top: 0;
		}
	}

	.mpcs-section.mpcs-section-lessons .mpcs-section-header {
		background-color: var(--bb-rl-background-hover-color);
		padding: var(--bb-rl-space-200);
	}

	.mpcs-section.mpcs-section-lessons.first_section {
		border-radius: var(--bb-rl-radius-md) var(--bb-rl-radius-md) 0 0;
	}

	.mpcs-section.mpcs-section-lessons.last_section {
		border-radius: 0 0 var(--bb-rl-radius-md) var(--bb-rl-radius-md);
	}

	.mpcs-section.mpcs-section-lessons .mpcs-section-header.active .mpcs-section-title {
		border-color: var(--bb-rl-border-secondary-color);
	}

	.mpcs-section.mpcs-section-lessons .mpcs-section-title {
		margin: 0;
		padding: 0;
	}

	.mpcs-section.mpcs-section-lessons .mpcs-section-title .mpcs-section-title-text {

		@include bb-rl-base-heading;
		color: var(--bb-rl-text-color);
		display: inline-flex;
		align-items: center;
		gap: var(--bb-rl-space-100);
	}

	.mpcs-section .mpcs-lessons {
		padding: var(--bb-rl-space-100) 0;
	}

	.mpcs-section .mpcs-lessons > .mpcs-lesson {
		padding: 0 var(--bb-rl-space-50);
		flex: 1;

		.mpcs-lesson-link {

			@include bb-rl-label-heading-md-thin;
			flex: 1;
			color: var(--bb-rl-text-secondary-color);
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			width: 100%;
			min-width: 0;
			display: block;
			position: relative;
			bottom: 2px;
			padding: 0;
		}

		.mpcs-lesson-button {
			display: none;
		}
	}

	.mpcs-section .mpcs-lessons .mpcs-lesson-link.mpcs-lesson:before,
	.mpcs-section .mpcs-lessons .mpcs-lesson-row-link .mpcs-assignment-icon:before {
		content: "\e23a";
		font-weight: 400;
		font-family: bb-icons-rl;
		font-size: 20px;
		color: var(--bb-rl-icon-secondary-color);
		margin: 0 var(--bb-rl-space-50) 0 0;
		position: relative;
		top: 3px;
	}

	.mpcs-section .mpcs-lessons .mpcs-lesson-row-link .mpcs-assignment-icon:before {
		content: "\eadc";
	}

	.mpcs-section .mpcs-lessons .mpcs-lesson-row-link {
		padding: 11px var(--bb-rl-space-200);
		border-radius: var(--bb-rl-radius-md);
		flex-direction: row-reverse;

		&:hover {
			background-color: var(--bb-rl-background-secondary-hover-color);
		}

		.mpcs-lesson-progress {
			padding: 0;
		}
	}

	.mpcs-section .mpcs-lessons .mpcs-lesson-progress {

		i {
			margin-right: 0;
		}

		i:before {
			color: var(--bb-rl-border-tertiary-color);
		}
	}

	.mpcs-section .mpcs-lessons .mpcs-lesson-progress i.mpcs-ok-circled {
		display: inline-flex;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: var(--bb-rl-background-brand-primary-color);
		align-items: center;
		justify-content: center;

		&::before {
			content: "\e182";
			font-family: bb-icons-rl;
			font-size: 12px;
			font-weight: 400;
			color: var(--bb-rl-text-white-color);
		}
	}

	.mpcs-section.mpcs-section-lessons .mpcs-section-title .mpcs-section-title-text:before {
		content: "\e13c";
		font-weight: 400;
		font-family: bb-icons-rl;
		font-size: 16px;
		color: var(--bb-rl-icon-secondary-color);
	}

	.mpcs-section.mpcs-section-lessons .mpcs-section-header.active .mpcs-section-title .mpcs-section-title-text:before {
		content: "\e136";
	}
}

.bb-rl-course-content-module {
	display: flex;
	flex-direction: column;

	.bb-rl-course-description {
		order: 99;
	}
}

.bb-readylaunch-template,
.mpcs-classroom.bb-readylaunch-template {

	.mpcs-sidebar-wrapper {

		.progress-bar {
			height: var(--bb-rl-space-100);
			border-radius: var(--bb-rl-radius-full);
			background: var(--bb-rl-background-brand-secondary-color);

			.user-progress {
				background: var(--bb-rl-background-brand-primary-color);
				height: var(--bb-rl-space-100);
				border-radius: var(--bb-rl-radius-full);
				font-size: 0;
			}
		}

		.progress-text {

			@include bb-rl-label-heading;
			color: var(--bb-rl-text-secondary-color);
			display: inline-flex;
			align-items: center;
			gap: var(--bb-rl-space-50);
			margin: 0 0 var(--bb-rl-space-100);
			text-transform: lowercase;

			> span {

				@include bb-rl-base-heading-bolder;
				color: var(--bb-rl-text-color);
			}
		}
	}
}

.bb-rl-widget-sidebar-menu,
.mpcs-classroom .bb-rl-widget-sidebar-menu {

	a {
		display: flex;
		align-items: center;
		gap: var(--bb-rl-space-100);
		margin: 0 calc(var(--bb-rl-space-100) * -1);
		padding: var(--bb-rl-space-100) var(--bb-rl-space-100);
		color: var(--bb-rl-text-color);
		border-radius: var(--bb-rl-radius-md);

		&:hover {
			background-color: var(--bb-rl-background-secondary-hover-color);
		}

		.tile-icon {
			line-height: 1;
			max-width: 20px;

			i {
				font-size: 20px;
				color: var(--bb-rl-icon-secondary-color);

				&:before {
					margin: 0;
				}
			}
		}

		.tile-title {

			@include bb-rl-label-heading-md;
			color: var(--bb-rl-text-secondary-color);
		}
	}

	.mepr-gradebook {

		.tile-icon {

			i:before {
				content: "\e154";
				font-weight: 400;
				font-family: bb-icons-rl;
				font-size: 20px;
			}
		}
	}
}

.bb-rl-course-content {

	.mpcs-section.mpcs-resource-section {
		background-color: var(--bb-rl-background-color);
		border-radius: var(--bb-rl-radius-md);
		border: 1px solid var(--bb-rl-border-secondary-color);

		.mpcs-section-header {
			background-color: var(--bb-rl-background-secondary-color);

			.mpcs-section-title-text {

				@include bb-rl-base-heading;
				color: var(--bb-rl-text-color);
			}
		}
	}

	.mpcs-resource-section:not(.mpcs-section) {

		@include bb-rl-label-heading-md-thin;
		color: var(--bb-rl-text-secondary-color);
		margin: 0 0 var(--bb-rl-space-200);

		p {
			margin-bottom: var(--bb-rl-space-100);
		}
	}
}
