.bb-admin-feature-settings {

    &__container {
        display: flex;
        background-color: $bb-background-secondary-color;
        border-right: 1px solid $bb-border-secondary-color;
        min-height: calc(100vh - 50px);
        margin: 0 -20px;
    }

    &__sidebar {
        width: 248px;
        background-color: $bb-background-secondary-color;
        border-right: 1px solid $bb-border-secondary-color;
        padding: 16px;
        flex-shrink: 0;
        box-sizing: border-box;
    }

    .bb-admin-side-nav {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .bb-admin-side-nav__back-btn {
        display: flex;
        align-items: center;
        gap: 4px;
        width: 100%;
        padding: 6px 16px;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: $bb-text-color;
        background-color: $bb-background-secondary-color;
        border: 1px solid $bb-border-secondary-color;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color .2s ease;
        text-decoration: none;

        &:hover {
            background-color: $bb-background-base-color;
        }
    }

    .bb-admin-side-nav {

        &__list {
            margin: 0;
        }

        &__link {
            display: flex;
            align-items: center;
            gap: 8px;
            color: $bb-text-tertiary-color;
            font-size: 13px;
            font-weight: 500;
            padding: 8px 16px;
            border: 0;
            cursor: pointer;
            border-radius: $bb-border-radius-lg;
            border: 1px solid transparent;
            width: 100%;
            box-sizing: border-box;

            [class*="bb-icons-"] {
                color: $bb-icon-tertiary-color;
                font-size: 20px;
                line-height: 1;
            }

            &:hover,
            &--active {
                color: $bb-text-color;
                background-color: $bb-background-base-color;
                border-color: $bb-border-primary-color;

                [class*="bb-icons-"] {
                    color: $bb-icon-color;
                }
            }
        }

        &__icon {
            display: flex;
        }

    }

    &__main {
        flex: 1;
        padding: 32px;
    }
}