$bb-primary-color: #ef5d33;
$bb-secondary-color: #135e96;
$bb-border-color: #d9d9d9;
$bb-background-color: #f6f6f6;
$bb-sidebar-bg: #f0f0f0;
$bb-text-color: #000;
$bb-text-tertiary: #666;
$bb-text-muted: #2f2f2f;
$bb-spacing: 20px;
$bb-border-radius: 16px;
$bb-border-radius-sm: 8px;
$bb-border-radius-md: 6px;
