/**
 * BuddyBoss Admin Settings 2.0 - Main Stylesheet.
 *
 * @package BuddyBoss\Core\Administration
 * @since BuddyBoss [BBVERSION]
 */

/* Settings 2.0 Admin Styles */
.buddyboss_page_bb-settings-2-0 {

	#wpbody-content {
		height: 100%;
		display: flex;
		flex-direction: column;
		padding-bottom: 0;
	}

	#bb-admin-settings-2-0 {
		flex: 1;
		display: flex;
		flex-direction: column;
	}
}
