/**
 * Memberpress CSS
 */

#bpms-learndash-memberpressproduct-search_courses_wrapper,
#bpms-learndash-memberpressproduct-search_groups_wrapper {
	padding: 15px 0;
}

/**
 * WooCommerce CSS
 */

/* LearnDash Menu Icon */

li.sfwd-courses_tab a:before {
	font-family: dashicons !important;
	content: "\f118" !important;
}

#bpms-learndash-product-search_courses_wrapper,
#bpms-learndash-product-search_groups_wrapper {
	padding: 15px 0;
}
