table.dataTable th,
table.dataTable td {
	vertical-align: middle;
}

table.dataTable a {
	display: inline-flex;
	align-items: center;
	font-weight: 500;
}

table.dataTable a .i-progress {
	margin-right: 10px;
}

.bp-learndash-reports-filters-form {
	text-align: right;
}

.bp_ld_report_table_wrapper.no-data {
	display: none !important;
}

.dataTables_paginate .button {
	margin-top: 10px;
}

.dataTables_paginate .disabled {
	display: none !important;
}

/* only have 1 page */
.dataTables_paginate span .button:first-child:last-child {
	display: none !important;
}

.ld-report-user-stats {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	background: #fff;
	border: 1px solid #E7E9EC;
	margin-bottom: 15px;
}

.ld-report-user-stats .member-name {
    font-size: 20px;
}

.ld-report-user-stats > * {
	padding: 30px 40px;
}

.ld-report-user-stats p {
	margin-bottom: 0;
}

.ld-report-user-stats .user-info {
	display: flex;
	align-items: center;
	min-width: 20%;
}

.ld-report-user-stats .user-avatar {
	margin-right: 15px;
}

.ld-report-user-stats .avatar {
	max-width: 80px;
}

.ld-report-user-stats .user-message {
	margin-left: auto;
}

.ld-report-user-stats .user-name h5 {
	margin-bottom: 0 !important;
}

.ld-report-course-stats {
	display: flex;
	align-items: center;
	background: #fff;
	border: 1px solid #dedfe2;
	margin-bottom: 15px;
}

.ld-report-course-stats > * {
	padding: 15px;
}

.ld-report-course-stats p {
	margin-bottom: 0;
}

.ld-report-export-csv.no-data {
	display: none !important;
}

.ld-report-no-data {
	display: none;
}

.ld-report-no-data.no-data {
	display: block !important;
}

.export-indicator {
	display: none;
}

.bp-ld-reports-progress-bar {
	position: relative;
	height: 100px;
	width: 100px;
}

.bp-ld-reports-progress-bar div {
	position: absolute;
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

.bp-ld-reports-progress-bar div span {
	position: absolute;
	font-family: Arial;
	font-size: 25px;
	line-height: 75px;
	height: 75px;
	width: 75px;
	left: 12.5px;
	top: 12.5px;
	text-align: center;
	border-radius: 50%;
	background-color: white;
}

.bp-ld-reports-progress-bar .background { background-color: #b3cef6; }

.bp-ld-reports-progress-bar .rotate {
	clip: rect(0 50px 100px 0);
	background-color: #4b86db;
}

.bp-ld-reports-progress-bar .left {
	clip: rect(0 50px 100px 0);
	opacity: 1;
	background-color: #b3cef6;
}

.bp-ld-reports-progress-bar .right {
	clip: rect(0 50px 100px 0);
	transform: rotate(180deg);
	opacity: 0;
	background-color: #4b86db;
}

.bp_ld_report_table_wrapper {
        background: #fff;
	border: 0;
	border-collapse: collapse;
	border-radius: 4px;
	overflow: hidden;
	box-shadow: 0 0 0 1px #E7EAEC;
	width: 100% !important;
        margin-bottom: 30px;
        padding: 0 20px;
}

.bp_ld_report_table_wrapper .admin-show-all thead th {
	font-size: 13px;
	outline: none;
	font-weight: normal;
	color: #A3A5A9;    
        letter-spacing: 0.35px;
        text-transform: uppercase;
}

.bp_ld_report_table_wrapper .admin-show-all th,
.bp_ld_report_table_wrapper .admin-show-all td {
	font-size: 14px;
	padding: 15px 20px;
        letter-spacing: -0.24px;
}

.bp_ld_report_table_wrapper .dataTable thead th:first-child,
.bp_ld_report_table_wrapper .dataTable td:first-child {
    padding-left: 0;
}

table.dataTable.no-footer.admin-show-all {
	border-bottom: 0;
}

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border-bottom: 0;
}

table.dataTable thead th,
table.dataTable thead td,
table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td {
    border-color: #E7E9EC;
}

table.dataTable tbody tr, table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1, table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
	background-color: #ffffff !important;
        border-color: #E7E9EC;
        border-bottom: 0;
        
}

#admin-show-all tbody tr td span img {
	vertical-align: middle;
	margin-right: 15px;
}

@keyframes toggle {

	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
