/* Loading Spinner */
.bb-admin-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 130px);
}

select.bb-admin-settings__select {
    @include bb-admin-settings-select;

    &:hover {
        color: $bb-text-color;
    }
}

// Toggle Control Styling
.bb-admin-settings-2-0-wrap {
    margin-top: 0;

    .components-toggle-control {
		margin-bottom: 0;

		.components-base-control__field {
			display: flex;
			align-items: center;
			gap: 8px;
			margin-bottom: 0;
		}

		.components-toggle-control__label {
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
			color: $bb-text-color;
			order: 1;
		}
	}

	.components-form-toggle {
		width: 40px;
		height: 24px;
		min-width: 30px;
		flex-shrink: 0;

		.components-form-toggle__track {
			width: 40px;
			height: 24px;
			border-radius: 99px;
			background-color: $bb-background-tertiary-color;
			border: none;
		}

		.components-form-toggle__thumb {
			width: 16px;
			height: 16px;
			background-color: $bb-background-base-color;
			box-shadow: none;
			top: 4px;
			left: 4px;
			transition: left 0.15s ease, right 0.15s ease;
		}

		&.is-checked {
			.components-form-toggle__track {
				background-color: $bb-background-brand-primary-color;
				border: none;
			}

			.components-form-toggle__thumb {
				background-color: $bb-background-base-color;
                transform: translateX(14px);
			}
		}
	}
}

.buddyboss_page_bb-settings {
    
    .components-form-toggle {
        width: 30px;
        height: 18px;

        .components-form-toggle__track {
            width: 28px;
            height: 18px;
            border: 1px solid transparent;
            background-color: $bb-background-tertiary-color;
        }

        .components-form-toggle__thumb {
            height: 12px;
            width: 12px;
            top: 3px;
            left: 3px;
        }

        &.is-checked {

            .components-form-toggle__track {
                background-color: transparent;
                border: 1px solid $bb-background-brand-primary-color;
            }
            .components-form-toggle__thumb {
                transform: translateX(9px);
                background-color: $bb-background-brand-primary-color;
            }
        }
    }
}

/* Radio Buttons */
.buddyboss_page_bb-settings {
    
    input[type="radio"],
	.components-radio-control__input {
        border: 1px solid $bb-background-brand-primary-color !important;
        height: 18px;
        width: 18px;
		max-width: initial;

        &:checked {
			background-color: transparent;
			border: 1px solid $bb-background-brand-primary-color !important;

			&::before {
				height: 12px;
				width: 12px;
				background-color: $bb-background-brand-primary-color;
				border-radius: 50%;
				margin: 2px;
				border: none;
				position: static;
				transform: none;
			}
		}
    }

	.components-radio-control {
		margin: 0;
		padding: 0;
		border: none;
		min-inline-size: auto;

		> legend {
			display: none;
		}
	}

	.components-radio-control__group-wrapper {
		flex-direction: row;
		justify-content: flex-start;
		gap: 16px;
	}
}

/* Checkbox */
.buddyboss_page_bb-settings .components-checkbox-control__input {
    border-color: $bb-border-quaternary-color;
    border-radius: $bb-border-radius-sm;

    &:checked {
        background-color: $bb-background-brand-primary-color;
        border-color: $bb-background-brand-primary-color;
    }
}

/* Inputs */
.buddyboss_page_bb-settings  .components-text-control__input {
	background-color: $bb-background-primary-color;
	border-color: $bb-border-tertiary-color;
	border-radius: $bb-border-radius-md;
	color: $bb-text-color;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
	padding: 6px 12px;
	box-shadow: none;
}

/* WordPress DropdownMenu */
.components-popover__content:has(.bb_dropdown_menu_group) {
    box-shadow: none;
}

.bb_dropdown_menu_group {

    // Menu group
    &.components-menu-group {
        padding: 8px 0;
        margin: 0;
        width: 190px;
        border: 1px solid $bb-border-secondary-color;
        border-radius: $bb-border-radius-lg;
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);

        + .components-menu-group {
            margin-top: 0;
            border-top: 1px solid $bb-border-secondary-color;
            padding-top: 8px;
        }

        // Menu item button
        .components-menu-item__button,
        .components-button.components-menu-item__button {
            display: flex;
            align-items: center;
            gap: 8px;
            width: 100%;
            padding: 10px 8px 10px 16px;
            background: none;
            border: none;
            border-radius: 0;
            cursor: pointer;
            transition: background-color 0.15s ease;

            &:hover,
            &:focus {
                background-color: $bb-background-primary-color;
                box-shadow: none;
                outline: none;
            }

            &:active {
                background-color: $bb-background-secondary-color;
            }

            [class*="bb-icons-"] {
                color: $bb-icon-tertiary-color;
                font-size: 20px !important;
                line-height: 1;
                font-weight: 400;
                margin-right: 8px;
            }

            .bb-icons-external {
                margin-left: auto;
            }

            .components-menu-item__item {
                font-size: 13px;
                font-weight: 500;
                line-height: 18px;
                color: $bb-text-tertiary-color;
                min-width: auto;
                width: 100%;
            }
        }
    }
}

/* Toast */

.bb-toast-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bb-toast {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-radius: 999px;
    background-color: $bb-background-black-color;
    color: $bb-text-inverse-color;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.10);
    min-width: 250px;
    transition: all 0.3s ease-in-out;

    &__icon {
        margin-right: 12px;
        display: flex;
        align-items: center;

        .components-spinner {
            width: 20px;
            height: 20px;
            margin: 0;

            path {
                stroke: $bb-border-tertiary-color;
            }

            circle {
                stroke: $bb-border-quaternary-color
            }
        }

        i {
            font-size: 20px;
        }
    }

    &__message {
        flex-grow: 1;
        font-size: 14px;
        line-height: 1.4;
    }

    &__dismiss {
        background: transparent;
        border: none;
        color: $bb-text-inverse-color;
        cursor: pointer;
        padding: 0;
        margin-left: 16px;
        display: flex;
        align-items: center;
        width: auto;
        min-width: auto;
        min-height: auto;
        height: auto;

        i {
            font-size: 18px;
        }

        &:hover {
            color: $bb-text-tertiary-color;
        }
    }

    // Status variants
    &--success {
        .bb-toast__icon i {
            color: $bb-success-color;
        }
    }

    &--error {
        .bb-toast__icon i {
            color: $bb-error-color;
        }
    }
}

/* Notice */
.bb-admin-notice {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 8px;
    font-size: 13px;
    font-weight: 400;
    color: $bb-text-color;
    border-radius: $bb-border-radius-lg;
    background-color: $bb-background-primary-hover-color;
    border: 1px solid $bb-border-tertiary-color;
    border-radius: $bb-border-radius-lg;
    margin-bottom: 16px;
    width: 100%;
    box-sizing: border-box;

    &:not(:has(.bb-admin-notice__icon)):before {
        content: "\e2ce";
        color: $bb-icon-color;
        font-size: 20px;
        font-weight: 500;
        font-family: bb-icons-rl;
    }

    &.bb-admin-notice--success {
        color: $bb-text-positive-primary-color;
        background-color: $bb-background-positive-primary-color;
        border-color: $bb-border-positive-secondary-color;

        &:before {
            color: $bb-icon-positive-primary-color;
        }
    }

    &--dismiss {
        margin-left: auto;
        border: 0;
        background: transparent;
        padding: 0;

        i {
            font-size: 18px;
            color: $bb-icon-color;
        }
    }
}

/* Modal */
.bb-admin-settings-modal {

	&.components-modal__frame {
		border-radius: $bb-border-radius-xl;
		max-width: 850px;
		width: 100%;
	}

	&.bb-topic-delete-modal {
		max-width: 550px;
	}

	&.bb-topic-modal {
		max-width: 680px;
	}

	.components-modal__header {
		padding: 10px 24px;
		height: auto;
		border-bottom: 1px solid $bb-border-secondary-color;

		.components-button svg {
			fill: $bb-icon-secondary-color;
		}
	}

	.components-modal__header-heading {
		color: $bb-text-color;
		font-size: 18px;
		font-weight: 500;
	}

	.components-modal__content {
		padding: 0;
		margin-top: 52px;
	}

    &__body {
        padding: 24px;
    }

	&__content {
		padding: 24px 24px 0;

		&:has(.bb-admin-migration-modal__loader) {
			min-height: 250px;
		}
	}

	&__loader {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 250px;
		font-size: 32px;
		color: $bb-primary-color;

		.bb-icons-rl {
			display: block;
		}
	}

	&__footer {
        display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 8px;
		padding: 16px 24px;
		border-top: 1px solid $bb-border-secondary-color;

		.components-button {

			&.is-secondary {
				background-color: $bb-background-secondary-color;
				border-color: $bb-border-secondary-color;
				color: $bb-text-color;
				font-size: 14px;
				font-weight: 400;
				padding: 6px 14px;
				border-radius: $bb-border-radius-lg;
				line-height: 18px;
				min-height: auto;
				box-shadow: none;

				&:hover {
					color: $bb-text-color;
					background-color: $bb-background-secondary-color;
					border-color: $bb-border-secondary-color;
					box-shadow: none;
				}
			}

			&.is-primary {
				font-size: 14px;
				font-weight: 400;
				line-height: 20px;
				color: $bb-text-inverse-color !important;
				background-color: $bb-background-brand-primary-color !important;
				padding: 6px 14px;
				border: none;
				border-radius: $bb-border-radius-lg;
				margin-left: 8px;

				&.disabled {
					opacity: 0.5;
					pointer-events: none;
				}
			}
		}
	}
}

.bb-confirm-toggle-modal {

    &.components-modal__frame {
        max-width: 650px;
    }

    &__body {

        > p {
            margin: 0;
        }
    }
}
