.bb-rl-help-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f6f6f6;
	z-index: 100000;
	display: flex;
	flex-direction: column;

	.bb-rl-help-overlay-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 12px 24px;
		border-bottom: 1px solid #e5e5e5;
		background: #fff;

		.bb-branding-logo {
			height: 32px;
		}

		.bb-rl-help-overlay-close {
			background: none;
			border: none;
			cursor: pointer;
			font-size: 24px;
			color: #4d4d4d;
		}
	}

	.bb-rl-help-overlay-content-wrap {
		flex: 1;
		overflow-y: auto;
		padding: 32px;
	}

	.bb-rl-help-overlay-content {
		max-width: 900px;
		margin: 0 auto;
	}

	.bb-rl-help-accordion {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.bb-rl-help-accordion-item {
			background: #fff;
			border: 1px solid #e5e5e5;
			border-radius: 8px;
			margin-bottom: 16px;
			overflow: hidden;
			display: inline-flex;
			width: 49%;

			@media (max-width: 600px) {
				width: 100%;
			}

			.bb-rl-help-accordion-header {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 16px;
				font-weight: 500;
				text-decoration: none;
				color: #2f2f2f;
				transition: background-color 0.2s ease;
				width: 100%;

				&:hover {
					background-color: #f0f0f0;
				}

				i {
					font-size: 20px;
				}

				span {
					display: inline-flex;
					align-items: center;
					font-size: 16px;

					i {
						margin-right: 8px;
						color: #808080;
					}
				}
			}
		}
	}

	.bb-rl-help-cards {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 24px;
		margin-top: 32px;

		@media (max-width: 600px) {
			display: flex;
			flex-direction: column;
			gap: 16px;
		}

		.bb-rl-help-card {
			background: #fff;
			border: 1px solid #e5e5e5;
			border-radius: 8px;
			padding: 24px;
			text-align: center;

			i {
				font-size: 48px;
				color: #4d4d4d;
				margin-bottom: 16px;
			}

			h3 {
				margin: 0 0 8px;
				font-size: 18px;
			}

			p {
				margin: 0 0 24px;
				color: #666;
			}

			.button {
				text-decoration: none;
				padding: 12px 24px;
				border-radius: 8px;
				font-weight: 500;
				display: inline-block;
				border: 1px solid #ccc;
    			background: #f6f6f6;
				color: #2f2f2f;

				&.button-primary {
					background: #ef5d33;
					border-color: #ef5d33;
					color: #fff;
				}
			}
		}
	}
}


// HelpSliderModal Component Styles
body.bb-rl-help-modal-open {
	overflow: hidden;
}

.bb-rl-help-modal-overlay {
	position: fixed;
	z-index: 9999;
	inset: 0;
	background: rgba(0, 0, 0, 0.6);
	display: flex;
	align-items: center;
	justify-content: center;


	.bb-rl-help-modal {
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		background: $bb-background-base-color;
		border-top-left-radius: $bb-border-radius-xl;
		border-bottom-left-radius: $bb-border-radius-xl;
		max-width: 720px;
		position: absolute;
		width: 85vw;
		right: 0;
		top: unset;
		bottom: 0;
		box-shadow: 0 8px 32px rgba(0, 0, 0, 0.18);
		animation: slideInRight 0.3s cubic-bezier(0.4, 0, 0.2, 1);
		padding-top: 60px;
		height: calc(100vh - 32px); // Calculated height to fit the modal content

		@media screen and (max-width: 782px) {
			height: calc(100vh - 46px);
		}
	}

	.bb-rl-help-modal-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 16px 24px;
		margin: 0;
		border-bottom: 1px solid $bb-border-secondary-color;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;

		h2 {

			font-size: 18px;
			font-weight: 600;
			line-height: 28px;
			margin: 0;
		}
	}

	.bb-rl-help-modal-close {
		background: none;
		border: none;
		font-size: 20px;
		cursor: pointer;
		color: $bb-icon-primary-color;
		line-height: 1;
	}

	.bb-rl-help-modal-content {
		padding: 24px 32px;
		overflow-y: auto;
		height: 100%;
		color: $bb-text-secondary-color;

		p {

			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
			margin: 0 0 16px;
		}

		ul {
			margin: 8px 0 24px;
			list-style-type: disc;
			padding-left: 1.5em;
			color: $bb-text-secondary-color;
		}

		table {
			width: 100%;
			border-collapse: collapse;
			margin: 8px 0 24px;

			td {
				padding: 4px;
			}
		}

		.wp-block-heading {

			font-size: 16px;
			font-weight: 600;
			line-height: 22px;
			margin: 0 0 16px;
		}

		.wp-block-embed {
			margin: 16px 0;

			iframe {
				width: 100%;
				border-radius: 8px;
			}
		}

		.wp-block-image {
			margin: 16px 0;

			img {
				border-radius: 8px;
			}
		}
	}

	.help-content-loading {
		text-align: center;

		p {
			color: $bb-text-tertiary-color;
		}

		svg path {
			stroke: $bb-border-brand-primary-color;
		}
	}
}


@keyframes slideInRight {

	from {
		transform: translateX(100%);
		opacity: 0;
		right: -100%;
	}

	to {
		transform: translateX(0);
		opacity: 1;
		right: 0;
	}
}
