// Variables
$bb-primary-color: #e57e3a;
$bb-secondary-color: #f0f0f1;
$bb-background-color: #f6f6f6;
$bb-background-base-color: #ffffff;
$bb-background-primary-color: #f6f6f6;
$bb-background-secondary-color: #f0f0f0;
$bb-background-tertiary-color: #cccccc;
$bb-background-brand-primary-color: #ef5d33;
$bb-text-color: #1e1e1e;
$bb-text-brand-primary-color: #ef5d33;
$bb-text-secondary-color: #2f2f2f;
$bb-text-tertiary-color: #666666;
$bb-text-disabled-color: #999999;
$bb-text-inverse-color: #ffffff;
$bb-icon-color: #2f2f2f;
$bb-icon-primary-color: #ef5d33;
$bb-icon-secondary-color: #2f2f2f;
$bb-icon-tertiary-color: #666666;
$bb-icon-brand-disabled-color: #f9bead;
$bb-border-color: #ddd;
$bb-border-primary-color: #e5e5e5;
$bb-border-brand-primary-color: #ef5d33;
$bb-border-secondary-color: #d9d9d9;
$bb-border-quaternary-color: #999;
$bb-border-tertiary-color: #cccccc;
$bb-white: #ffffff;
$bb-overlay-color: rgba(0, 0, 0, 0.6);
$bb-border-radius-full: 999px;
$bb-border-radius-2xl: 16px;
$bb-border-radius-xl: 12px;
$bb-border-radius-lg: 8px;
$bb-border-radius-md: 6px;
$bb-border-radius-sm: 4px;
$bb-border-radius: 4px;
$bb-transition: all 0.3s ease;
$bb-success-color: #00a32a;
$bb-error-color: #d63638;
$bb-sm: 480px;
$bb-md: 640px;
$bb-lg: 1024px;
