@import "./base/base";

.bb-rl-login-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--bb-rl-background-color);
	padding: var(--bb-rl-space-200) var(--bb-rl-space-400);
	border-bottom: 1px solid var(--bb-rl-border-tertiary-color);
	margin-bottom: var(--bb-rl-space-500);
}

.bb-rl-login-header-logo img {
	width: 130px;
	height: 32px;
	object-fit: contain;
}


.bb-rl-button {

	@include bb-rl-button;
}

.bb-rl-button--small {

	@include bb-rl-button--small;
}

.bb-rl-button--secondary-fill {

	@include bb-rl-button-secondary-fill;
}

.bb-rl-login-header-actions {
	display: flex;
	align-items: center;
	gap: var(--bb-rl-space-200);
}

.bb-rl-login-header-actions-text {
	font-size: 14px;
	font-weight: 400;
	color: var(--bb-rl-text-color);
}

h1.wp-login-logo {

	a {
		width: 100px;
		height: 25px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url(../images/logo.png);
		margin: 0 0 var(--bb-rl-space-200);
	}
}

.login-heading h2 {
	color: var(--bb-rl-text-color);
	font-size: 20px;
	font-weight: 700;
}

#login {
	background-color: var(--bb-rl-background-color);
	border: 1px solid var(--bb-rl-border-secondary-color);
	padding: var(--bb-rl-space-400) var(--bb-rl-space-300);
	border-radius: var(--bb-rl-radius-lg);
	width: 432px;

	form {
		border: 0;
		background-color: transparent;
		box-shadow: none;
		padding: 0;
		overflow: initial;
		margin-bottom: 0;
	}

	&:has(.privacy-policy-page-link:not(:empty)) {
		margin-bottom: 85px;

		form {
			margin-bottom: 55px;
		}
	}
}

.login {

	label {
		color: var(--bb-rl-text-secondary-color);
		font-weight: 500;
		margin-bottom: var(--bb-rl-space-100);
	}

	form p {
		float: none;
	}

	form .input,
	input[type="text"] {
		color: var(--bb-rl-text-color);
		font-size: 14px;
		border-color: var(--bb-rl-border-quaternary-color);
		border-radius: var(--bb-rl-radius-base);
		padding: 3px 8px;

		&:focus {
			border-color: var(--bb-rl-border-quaternary-color);
			outline: 1px solid var(--bb-rl-primary-color);
			box-shadow: none;
		}
	}

	input.password-input {
		font-family: inherit;
	}

	.submit .button-primary {
		width: 100%;
		border-radius: var(--bb-rl-radius-base);
		background-color: var(--bb-rl-primary-color);
		color: var(--bb-rl-text-white-color);
		font-size: 14px;
		font-weight: 500;
		border: 0;
		padding: var(--bb-rl-space-50) var(--bb-rl-space-100);
		margin-top: var(--bb-rl-space-200);
		float: none;
	}

	.privacy-policy-page-link {
		margin: var(--bb-rl-space-200) 0 0;

		&:not(:empty) {
			margin-bottom: -85px;
		}

		a {
			color: var(--bb-rl-text-color);
			font-size: 14px;
			font-weight: 500;
			text-decoration: underline;

		}
	}

	.wp-hide-pw .dashicons:before {
		font-family: bb-icons-rl;
		color: var(--bb-rl-icon-secondary-color);
		font-size: 22px;
	}

	.dashicons-visibility:before {
		content: "\e220";
	}

	.dashicons-hidden:before {
		content: "\e224";
	}

	#nav,
	&:not(.login-action-resetpass) #backtoblog {
		display: none;
	}

	.forgetmenot {
		display: flex;
		align-items: center;
		gap: var(--bb-rl-space-50);

		label {
			color: var(--bb-rl-text-color);
			font-size: 13px;
			font-weight: 500;
			margin-bottom: 0;
		}
	}

	.lostmenot {
		float: right;
		font-size: 13px;
		font-weight: 500;

		a {
			color: var(--bb-rl-text-color);
		}
	}

	.button.wp-hide-pw {
		padding: 5px 12px;
		width: auto;
	}

	.message,
	.success,
	.notice {
		margin-top: var(--bb-rl-space-200);
		padding: var(--bb-rl-space-100) var(--bb-rl-space-200);
		box-shadow: none;

		p {
			color: var(--bb-rl-text-color);
			font-size: 13px;
			font-weight: 500;
			line-height: 1.8;
		}
	}

	.message {
		background-color: var(--bb-rl-background-brand-secondary-color);
		border-color: var(--bb-rl-border-brand-secondary-color);
	}

	.success {
		background-color: var(--bb-rl-background-positive-secondary-color);
		border-color: var(--bb-rl-border-positive-secondary-color);
	}

	.notice-error {
		background-color: var(--bb-rl-background-danger-secondary-color);
		border-color: var(--bb-rl-border-danger-secondary-color);
	}

	#bb-sso-custom-login-form-1 {

		.bb-sso-separator {
			font-size: 14px;
			font-weight: 500;
			color: var(--bb-rl-text-tertiary-color);

			&:before,
			&:after {
				background-color: var(--bb-rl-background-tertiary-color);
			}
		}
	}

	div.bb-sso-container {

		.bb-sso-button-default {
			border-color: var(--bb-rl-border-tertiary-color);
			padding: 5px 9px;

			div.bb-sso-button-label-container {
				font-size: 13px;
				font-weight: 500;
				color: var(--bb-rl-text-color);
				margin-left: 5px;
			}
		}

		svg {
			height: 16px;
			width: 16px;
		}
	}

	&.login-action-checkemail {

		.notice {
			margin-bottom: 55px;
		}
	}
}

.registration .mfp-content #terms-modal,
body.login .mfp-content #terms-modal,
.registration .mfp-content #privacy-modal,
body.login .mfp-content #privacy-modal {
	background-color: var(--bb-rl-background-color);
	border: 1px solid var(--bb-rl-border-secondary-color);
	padding: var(--bb-rl-space-400) var(--bb-rl-space-300);
	border-radius: var(--bb-rl-radius-lg);

	.mfp-close {
		font-size: 0;
		right: 10px;
		top: 10px;

		&:before {
			content: "\e4f6";
			font-family: bb-icons-rl;
			color: var(--bb-rl-icon-color);
			font-size: 20px;
			font-weight: 700;
		}
	}

	h1 {
		font-size: 22px;
		font-weight: 600;
		color: var(--bb-rl-text-color);
		margin-bottom: var(--bb-rl-space-400);
	}

	h2 {
		font-size: 16px;
		font-weight: 600;
		color: var(--bb-rl-text-color);
		margin-bottom: var(--bb-rl-space-200);
	}

	p {
		font-size: 14px;
		font-weight: 400;
		color: var(--bb-rl-text-color);
		margin-bottom: var(--bb-rl-space-200);
	}

	ul,
	ol {
		margin-bottom: var(--bb-rl-space-200);
		list-style-position: inside;

		li {
			font-size: 14px;
			font-weight: 400;
			color: var(--bb-rl-text-color);
			margin-bottom: var(--bb-rl-space-100);
		}
	}
}

// Signup Page

body.bb-rl-register {
	background-color: var(--bb-rl-background-secondary-color);
}

.register-page-main {
	background-color: var(--bb-rl-background-color);
	border: 1px solid var(--bb-rl-border-secondary-color);
	padding: var(--bb-rl-space-400) var(--bb-rl-space-300);
	border-radius: var(--bb-rl-radius-lg);
	width: 432px;
	margin: 0 auto var(--bb-rl-space-500);

	h1 {
		font-size: 20px;
		font-weight: 700;
		color: var(--bb-rl-text-color);
		margin-bottom: var(--bb-rl-space-300);
	}

	.register-page-logo {
		display: block;
		margin-bottom: var(--bb-rl-space-200);

		img {
			width: 100px;
			height: 25px;
			object-fit: contain;
		}
	}

	.checkbox-options {

		label {
			font-size: 14px;
			font-weight: 500;
			color: var(--bb-rl-text-color);

			a {
				color: var(--bb-rl-text-color);
				text-decoration: underline;
			}
		}

		&:has(#legal_agreement) {
			margin-bottom: var(--bb-rl-space-300);
		}
	}

	.bp-checkbox-wrap input.bs-styled-checkbox {
		visibility: hidden;
		height: 0;
		width: 0;
	}

	.bb-password-wrap {
		position: relative;

		input {
			padding-right: var(--bb-rl-space-400);
		}
	}

	.bb-toggle-password {
		position: absolute;
		top: 50%;
		right: 5px;
		padding: 0 var(--bb-rl-space-100);
		transform: translateY(-50%);

		.bb-icon-eye {
			display: flex;

			&:before {
				content: "\e220";
				font-family: bb-icons-rl;
				color: var(--bb-rl-icon-secondary-color);
				font-size: 20px;
				line-height: 1;
				font-style: normal;
			}
		}

		&.bb-show-pass {

			.bb-icon-eye:before {
				content: "\e224";
			}
		}
	}

	.submit input {

		@include bb-rl-button;
		@include bb-rl-button--brand-fill;
		font-weight: 500;
		width: 100%;
	}

	// Custom radio and checkbox


	.bs-styled-checkbox {
		position: absolute;
		opacity: 0;

		+ label {
			cursor: pointer;
			display: inline-block;
			position: relative;
			padding: 0;
			line-height: 1;

			&:before {
				content: "";
				margin-right: var(--bb-rl-space-100);
				display: inline-block;
				vertical-align: text-top;
				width: 16px;
				height: 16px;
				background: var(--bb-rl-background-color);
				border-radius: var(--bb-rl-radius-sm);
				border: 1px solid var(--bb-rl-border-tertiary-color);
			}
		}

		&:focus + label:before {
			border-color: var(--bb-rl-primary-color);
		}

		&:checked + label:before {
			background: var(--bb-rl-primary-color);
			border-color: var(--bb-rl-primary-color);
		}

		&:disabled + label {
			color: var(--bb-rl-border-disabled-color);
			cursor: auto;
		}

		&:disabled + label:before {
			box-shadow: none;
			background: var(--bb-rl-border-disabled-color);
		}

		&:checked + label:after {
			content: "\e182";
			position: absolute;
			left: 2px;
			top: 2px;
			font-family: bb-icons-rl;
			font-weight: 700;
			color: var(--bb-rl-text-white-color);
			font-size: 13px;
			display: block;
		}
	}

	.bs-styled-radio {
		position: absolute;
		opacity: 0;
		height: 0;
		width: 0;

		+ label {
			display: inline-block;
			position: relative;
			cursor: pointer;
			padding: 0;

			&:before {
				content: "";
				display: inline-block;
				vertical-align: middle;
				cursor: pointer;
				position: relative;
				overflow: hidden;
				width: 16px;
				height: 16px;
				line-height: 1;
				background-color: var(--bb-rl-background-color);
				border: 2px solid var(--bb-rl-border-tertiary-color);
				border-radius: 100%;
				margin-right: var(--bb-rl-space-100);
			}
		}

		&:disabled + label {
			color: var(--bb-rl-border-disabled-color);
			cursor: auto;

			&:before {
				box-shadow: none;
				background: var(--bb-rl-border-disabled-color);
			}
		}

		&:checked + label {

			&:before {
				background-color: var(--bb-rl-primary-color);
				border-color: var(--bb-rl-primary-color);
			}

			&:after {
				content: "";
				background-color: var(--bb-rl-background-color);
				margin: auto;
				width: 8px;
				position: absolute;
				height: 8px;
				text-align: center;
				left: 4px;
				top: 8px;
				border-radius: var(--bb-rl-radius-full);
			}
		}
	}
}

.register-section {

	.bb-signup-field {
		margin-bottom: var(--bb-rl-space-200);
	}

	legend,
	label {
		display: block;
		margin-bottom: var(--bb-rl-space-100);

		font-size: 14px;
		font-weight: 500;
		color: var(--bb-rl-text-secondary-color);
	}

	input {
		color: var(--bb-rl-text-color);
		font-size: 14px;
		border: 1px solid var(--bb-rl-border-tertiary-color);
		border-radius: var(--bb-rl-radius-base);
		padding: var(--bb-rl-space-100);
		width: 100%;
	}

	fieldset {
		border: 0;
		padding: 0;
		margin-bottom: var(--bb-rl-space-200);
	}

	select {
		background-color: var(--bb-rl-background-secondary-color);
		border: 1px solid var(--bb-rl-border-quaternary-color);
		border-radius: var(--bb-rl-radius-base);
		padding: var(--bb-rl-space-100);
		width: 100%;
	}

	.description {
		font-size: var(--bb-rl-font-size-sm);
		color: var(--bb-rl-text-secondary-color);
		margin-bottom: var(--bb-rl-space-200);
	}
}
