.bb-rl-activity-form-placeholder,
.bb-rl-activity-form {
  background-color: var(--bb-rl-background-color);
  border: 1px solid var(--bb-rl-border-tertiary-color);
  border-radius: var(--bb-rl-radius-lg);
}

.bb-rl-activity-form-placeholder .bb-rl-bb-model-header,
.bb-rl-activity-form .bb-rl-bb-model-header {
  display: none;
}

.bb-rl-activity-form-placeholder .bb-rl-whats-new-form-header,
.bb-rl-activity-form .bb-rl-whats-new-form-header {
  display: flex;
  cursor: pointer;
}

.bb-rl-activity-form-placeholder .bb-rl-activity-post-avatar,
.bb-rl-activity-form .bb-rl-activity-post-avatar {
  display: flex;
  padding: var(--bb-rl-space-200) var(--bb-rl-space-300) var(--bb-rl-space-200) var(--bb-rl-space-200);
}

.bb-rl-activity-form-placeholder .bb-rl-activity-post-avatar img,
.bb-rl-activity-form .bb-rl-activity-post-avatar img {
  height: 48px;
  width: 48px;
  object-fit: contain;
  border-radius: var(--bb-rl-radius-full);
}

.bb-rl-activity-form-placeholder #bb-rl-whats-new-content,
.bb-rl-activity-form #bb-rl-whats-new-content {
  flex: 1;
}

.bb-rl-activity-form-placeholder .bb-rl-activity-post-user-name,
.bb-rl-activity-form-placeholder #bb-rl-activity-privacy-point,
.bb-rl-activity-form .bb-rl-activity-post-user-name,
.bb-rl-activity-form #bb-rl-activity-privacy-point {
  display: none;
}

.bb-rl-activity-form-placeholder #bb-rl-whats-new,
.bb-rl-activity-form #bb-rl-whats-new {
  display: flex;
  align-items: center;
  min-height: 80px;
}

.bb-rl-activity-form-placeholder #bb-rl-whats-new-textarea [contenteditable="true"]:empty:before,
.bb-rl-activity-form #bb-rl-whats-new-textarea [contenteditable="true"]:empty:before {
  content: attr(placeholder);
  font-size: 1rem;
  color: var(--bb-rl-text-tertiary-color);
}

.bb-rl-activity-form-placeholder #bb-rl-whats-new-privacy-stage,
.bb-rl-activity-form-placeholder #bb-rl-editor-toolbar,
.bb-rl-activity-form-placeholder #bb-rl-whats-new-toolbar,
.bb-rl-activity-form-placeholder #bp-activity-privacy-point,
.bb-rl-activity-form #bb-rl-whats-new-privacy-stage,
.bb-rl-activity-form #bb-rl-editor-toolbar,
.bb-rl-activity-form #bb-rl-whats-new-toolbar,
.bb-rl-activity-form #bp-activity-privacy-point {
  display: none;
}

.bb-rl-activity-update-form .activity-header-data {
  color: var(--bb-rl-text-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
}

.bb-rl-activity-update-form .bb-rl-model-close-button {
  margin-right: auto;
  line-height: 1;
}

.bb-rl-activity-update-form .bb-rl-model-close-button span {
  color: var(--bb-rl-icon-color);
  font-size: var(--bb-rl-base-line);
}

.bb-rl-activity-update-form.modal-popup {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: var(--bb-rl-z-index-modal);
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  overflow: auto;
}

.bb-rl-activity-update-form.modal-popup .bb-rl-activity-update-form-overlay {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.bb-rl-activity-update-form.modal-popup #bb-rl-whats-new-form {
  width: 800px;
  max-width: 90%;
  margin: auto;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
}

.bb-rl-activity-form.bb-rl-focus-in {
  position: relative;
}

.bb-rl-activity-form.bb-rl-focus-in .bb-rl-bb-model-header {
  display: flex;
  border-bottom: 1px solid var(--bb-rl-border-secondary-color);
  padding: var(--bb-rl-space-200) var(--bb-rl-space-300);
  margin: 0;
}

.bb-rl-activity-form.bb-rl-focus-in .bb-rl-whats-new-form-header {
  flex-flow: column;
  cursor: auto;
}

.bb-rl-activity-form.bb-rl-focus-in .bb-rl-activity-post-avatar {
  padding: var(--bb-rl-space-50) 0 0 var(--bb-rl-space-200);
}

.bb-rl-activity-form.bb-rl-focus-in .bp-activity-huddle {
  display: flex;
  padding: var(--bb-rl-space-200) var(--bb-rl-space-300);
}

.bb-rl-activity-form.bb-rl-focus-in .bb-rl-activity-post-name-status {
  max-width: 60%;
}

.bb-rl-activity-form.bb-rl-focus-in .bb-rl-activity-post-user-name,
.bb-rl-activity-form.bb-rl-focus-in #bb-rl-activity-privacy-point {
  display: block;
}

.bb-rl-activity-form.bb-rl-focus-in #bb-rl-whats-new-content {
  width: 100%;
}

.bb-rl-activity-form.bb-rl-focus-in .bb-rl-activity-post-user-name {
  color: var(--bb-rl-text-color);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
}

.bb-rl-activity-form.bb-rl-focus-in #bb-rl-activity-privacy-point {
  display: flex;
  align-items: center;
  background-color: var(--bb-rl-background-secondary-color);
  border: 1px solid var(--bb-rl-border-secondary-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  padding: 5px 6px;
  margin-top: var(--bb-rl-space-50);
  cursor: pointer;
  border-radius: 6px;
}

.bb-rl-activity-form.bb-rl-focus-in #bb-rl-activity-privacy-point .bb-rl-privacy-point-icon:before {
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-family: bb-icons-rl;
  line-height: 1;
  font-style: normal;
  font-weight: 400;
  speak: never;
  margin-left: 5px;
}

.bb-rl-activity-form.bb-rl-focus-in #bb-rl-activity-privacy-point.public .bb-rl-privacy-point-icon:before {
  content: "\e288";
}

.bb-rl-activity-form.bb-rl-focus-in #bb-rl-activity-privacy-point [class*="bb-icons-rl-"] {
  color: var(--bb-rl-icon-color);
  font-size: 12px;
  margin-right: 6px;
}

.bb-rl-activity-form.bb-rl-focus-in #bb-rl-whats-new-textarea {
  margin: 0 var(--bb-rl-space-300) var(--bb-rl-space-200);
}

.bb-rl-activity-form.bb-rl-focus-in #bb-rl-whats-new {
  display: block;
  outline: none;
  min-height: 110px;
  padding: var(--bb-rl-space-200) 0;
  margin-bottom: var(--bb-rl-space-200);
}

.bb-rl-activity-form.bb-rl-focus-in .bb-rl-whats-new-form-footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--bb-rl-border-secondary-color);
  padding: var(--bb-rl-space-200) var(--bb-rl-space-300);
}

.bb-rl-activity-form.bb-rl-focus-in #bb-rl-whats-new-toolbar {
  display: flex;
  align-items: center;
  position: relative;
}

.bb-rl-activity-form.bb-rl-focus-in [class*="post-elements-buttons-item"] {
  position: relative;
  margin-left: var(--bb-rl-space-100);
  line-height: 1;
}

.bb-rl-activity-form.bb-rl-focus-in [class*="post-elements-buttons-item"] [class*="toolbar-button"] {
  display: flex;
  color: var(--bb-rl-icon-secondary-color);
  font-size: var(--bb-rl-base-line);
  padding: var(--bb-rl-space-50);
}

.bb-rl-activity-form.bb-rl-focus-in [class*="post-elements-buttons-item"] [class*="toolbar-button"]:hover {
  color: var(--bb-rl-icon-color);
}

.bb-rl-activity-form.bb-rl-focus-in [class*="post-elements-buttons-item"].active [class*="toolbar-button"] {
  color: var(--bb-rl-icon-color);
  background-color: var(--bb-rl-background-secondary-hover-color);
  border: 0.5px solid var(--bb-rl-border-secondary-color);
  border-radius: var(--bb-rl-radius-md);
}

.bb-rl-activity-form.bb-rl-focus-in .post-elements-buttons-item.post-poll .bb-icon-l:before {
  content: "\e150";
  font-family: bb-icons-rl;
  font-style: normal;
}

.bb-rl-activity-form.bb-rl-focus-in #bb-rl-activity-form-submit-wrapper {
  display: flex;
  align-items: center;
}

.bb-rl-activity-form.bb-rl-focus-in #bb-rl-discard-draft-activity {
  display: none;
  color: var(--bb-rl-text-secondary-color);
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
  padding: 0;
  border: 0;
  margin-left: var(--bb-rl-space-200);
  cursor: pointer;
}

.bb-rl-activity-form.bb-rl-focus-in #bb-rl-discard-draft-activity:hover {
  color: var(--bb-rl-text-color);
}

.bb-rl-activity-form.bb-rl-focus-in #whats-new-submit {
  display: flex;
  flex-flow: row-reverse;
  gap: var(--bb-rl-space-100);
}

.bb-rl-activity-form.bb-rl-focus-in .bb-rl-button {
  font-size: 0.85rem;
}

.bb-rl-activity-form.has-draft #bb-rl-discard-draft-activity {
  display: block;
}

.bb-rl-activity-form.bb-rl-focus-in--empty #aw-whats-new-submit {
  background-color: var(--bb-rl-background-brand-disabled-color);
  cursor: default;
  pointer-events: none;
}

/* General Styling */
.bb-rl-inner-container {
  max-width: 680px;
  margin-right: auto;
  margin-left: auto;
}
