/* CSS variables */
:root {
  --bb-rl-primary-color: #4946fe;
  --bb-rl-secondary-color: #dde4ff;
  --bb-rl-background-color: #fff;
  --bb-rl-background-hover-color: #f8f8f8;
  --bb-rl-background-secondary-color: #f6f6f6;
  --bb-rl-background-secondary-hover-color: #f3f3f3;
  --bb-rl-background-tertiary-color: #dbdbdb;
  --bb-rl-background-tertiary-hover-color: #cececf;
  --bb-rl-background-black-color: #0c0c0d;
  --bb-rl-background-disabled-color: #dbdbdb;
  --bb-rl-background-brand-primary-color: #4946fe;
  --bb-rl-background-brand-primary-hover-color: #4937f4;
  --bb-rl-background-brand-secondary-color: #dde4ff;
  --bb-rl-background-brand-secondary-hover-color: #c2cdff;
  --bb-rl-background-brand-disabled-color: #767eff;
  --bb-rl-background-positive-primary-color: #14ae5c;
  --bb-rl-background-positive-primary-hover-color: #009951;
  --bb-rl-background-positive-secondary-color: #ebffee;
  --bb-rl-background-positive-secondary-hover-color: #cff7d3;
  --bb-rl-background-warning-primary-color: #e5a000;
  --bb-rl-background-warning-primary-hover-color: #bf6a02;
  --bb-rl-background-warning-secondary-color: #fffbeb;
  --bb-rl-background-warning-secondary-hover-color: #fff1c2;
  --bb-rl-background-danger-primary-color: #ec221f;
  --bb-rl-background-danger-primary-hover-color: #c00f0c;
  --bb-rl-background-danger-secondary-color: #fee9e7;
  --bb-rl-background-danger-secondary-hover-color: #fdd3d0;
  --bb-rl-border-color: #f3f3f3;
  --bb-rl-border-secondary-color: #e7e7e7;
  --bb-rl-border-tertiary-color: #cececf;
  --bb-rl-border-disabled-color: #f3f3f3;
  --bb-rl-border-quinery-color: #6d6d6e;
  --bb-rl-border-quaternary-color: #9e9e9e;
  --bb-rl-border-brand-primary-color: #3325ae;
  --bb-rl-border-brand-secondary-color: #4946fe;
  --bb-rl-border-positive-primary-color: #02542d;
  --bb-rl-border-positive-secondary-color: #14ae5c;
  --bb-rl-border-warning-primary-color: #682d03;
  --bb-rl-border-warning-secondary-color: #e5a000;
  --bb-rl-border-danger-primary-color: #690807;
  --bb-rl-border-danger-secondary-color: #ec221f;
  --bb-rl-text-color: #242425;
  --bb-rl-text-white-color: #fff;
  --bb-rl-text-secondary-color: #555556;
  --bb-rl-text-tertiary-color: #858586;
  --bb-rl-text-disabled-color: #9e9e9e;
  --bb-rl-text-brand-primary-color: #4946fe;
  --bb-rl-text-brand-secondary-color: #3325ae;
  --bb-rl-text-positive-primary-color: #02542d;
  --bb-rl-text-positive-secondary-color: #14ae5c;
  --bb-rl-text-warning-primary-color: #682d03;
  --bb-rl-text-warning-secondary-color: #e5a000;
  --bb-rl-text-danger-primary-color: #690807;
  --bb-rl-text-danger-secondary-color: #ec221f;
  --bb-rl-icon-color: #0c0c0d;
  --bb-rl-icon-primary-color: #3d3d3d;
  --bb-rl-icon-secondary-color: #6d6d6e;
  --bb-rl-icon-tertiary-color: #9e9e9e;
  --bb-rl-icon-disabled-color: #cececf;
  --bb-rl-icon-brand-primary-color: #3325ae;
  --bb-rl-icon-brand-secondary-color: #4946fe;
  --bb-rl-icon-positive-primary-color: #02542d;
  --bb-rl-icon-positive-secondary-color: #14ae5c;
  --bb-rl-icon-warning-primary-color: #682d03;
  --bb-rl-icon-warning-secondary-color: #e5a000;
  --bb-rl-icon-danger-primary-color: #690807;
  --bb-rl-icon-danger-secondary-color: #ec221f;
  --bb-rl-radius-xs: 2px;
  --bb-rl-radius-sm: 4px;
  --bb-rl-radius-md: 6px;
  --bb-rl-radius-base: 8px;
  --bb-rl-radius-lg: 12px;
  --bb-rl-radius-full: 99px;
  --bb-rl-space-0: 0;
  --bb-rl-space-50: 4px;
  --bb-rl-space-100: 8px;
  --bb-rl-space-200: 16px;
  --bb-rl-space-300: 24px;
  --bb-rl-space-400: 32px;
  --bb-rl-space-500: 40px;
  --bb-rl-space-600: 48px;
  --bb-rl-space-700: 56px;
  --bb-rl-z-index-dropdown: 1000;
  --bb-rl-z-index-sticky: 1020;
  --bb-rl-z-index-fixed: 1030;
  --bb-rl-z-index-adminbar: 1035;
  --bb-rl-z-index-modal-backdrop: 1040;
  --bb-rl-z-index-modal: 1050;
  --bb-rl-z-index-popover: 1060;
  --bb-rl-z-index-tooltip: 1070;
  --bb-rl-font-family-base: InterText, serif;
  --bb-rl-font-size-2xl: 20px;
  --bb-rl-font-size-base: 16px;
  --bb-rl-font-size-xs: 11px;
  --bb-rl-font-size-sm: 13px;
  --bb-rl-base-line-xs: 16px;
  --bb-rl-base-line-small: 20px;
  --bb-rl-base-line: 24px;
  --bb-rl-base-line-2xl: 30px;
}

/* Dark Mode Variables */
.bb-rl-dark-mode {
  --bb-rl-background-color: #242425;
  --bb-rl-background-hover-color: #555556;
  --bb-rl-background-secondary-color: #2f2f2f;
  --bb-rl-background-secondary-hover-color: #3d3d3d;
  --bb-rl-background-tertiary-color: #6d6d6e;
  --bb-rl-background-tertiary-hover-color: #555556;
  --bb-rl-background-black-color: #0c0c0d;
  --bb-rl-background-disabled-color: #dbdbdb;
  --bb-rl-background-brand-primary-color: #4946fe;
  --bb-rl-background-brand-primary-hover-color: #4937f4;
  --bb-rl-background-brand-secondary-color: #3325ae;
  --bb-rl-background-brand-secondary-hover-color: #2e2689;
  --bb-rl-background-brand-disabled-color: #767eff;
  --bb-rl-background-positive-primary-color: #008043;
  --bb-rl-background-positive-primary-hover-color: #02542d;
  --bb-rl-background-positive-secondary-color: #02542d;
  --bb-rl-background-positive-secondary-hover-color: #024023;
  --bb-rl-background-warning-primary-color: #975102;
  --bb-rl-background-warning-primary-hover-color: #682d03;
  --bb-rl-background-warning-secondary-color: #682d03;
  --bb-rl-background-warning-secondary-hover-color: #522504;
  --bb-rl-background-danger-primary-color: #900b09;
  --bb-rl-background-danger-primary-hover-color: #690807;
  --bb-rl-background-danger-secondary-color: #690807;
  --bb-rl-background-danger-secondary-hover-color: #4d0b0a;
  --bb-rl-border-color: #2f2f2f;
  --bb-rl-border-secondary-color: #3d3d3d;
  --bb-rl-border-tertiary-color: #555556;
  --bb-rl-border-disabled-color: #f3f3f3;
  --bb-rl-border-quinery-color: #f6f6f6;
  --bb-rl-border-quaternary-color: #f3f3f3;
  --bb-rl-border-brand-primary-color: #c2cdff;
  --bb-rl-border-brand-secondary-color: #4946fe;
  --bb-rl-border-positive-primary-color: #cff7d3;
  --bb-rl-border-positive-secondary-color: #14ae5c;
  --bb-rl-border-warning-primary-color: #fff1c2;
  --bb-rl-border-warning-secondary-color: #e5a000;
  --bb-rl-border-danger-primary-color: #fdd3d0;
  --bb-rl-border-danger-secondary-color: #ec221f;
  --bb-rl-text-color: #fff;
  --bb-rl-text-white-color: #fff;
  --bb-rl-text-secondary-color: #cececf;
  --bb-rl-text-tertiary-color: #b6b6b6;
  --bb-rl-text-disabled-color: #e7e7e7;
  --bb-rl-text-brand-primary-color: #4946fe;
  --bb-rl-text-brand-secondary-color: #c2cdff;
  --bb-rl-text-positive-primary-color: #cff7d3;
  --bb-rl-text-positive-secondary-color: #14ae5c;
  --bb-rl-text-warning-primary-color: #fff1c2;
  --bb-rl-text-warning-secondary-color: #e5a000;
  --bb-rl-text-danger-primary-color: #fdd3d0;
  --bb-rl-text-danger-secondary-color: #ec221f;
  --bb-rl-icon-color: #cececf;
  --bb-rl-icon-primary-color: #cececf;
  --bb-rl-icon-secondary-color: #cececf;
  --bb-rl-icon-tertiary-color: #9e9e9e;
  --bb-rl-icon-disabled-color: #858586;
  --bb-rl-icon-brand-primary-color: #c2cdff;
  --bb-rl-icon-brand-secondary-color: #4946fe;
  --bb-rl-icon-positive-primary-color: #cff7d3;
  --bb-rl-icon-positive-secondary-color: #14ae5c;
  --bb-rl-icon-warning-primary-color: #fff1c2;
  --bb-rl-icon-warning-secondary-color: #e5a000;
  --bb-rl-icon-danger-primary-color: #fdd3d0;
  --bb-rl-icon-danger-secondary-color: #ec221f;
  scrollbar-color: #666 transparent;
  color-scheme: dark;
}

/* SCSS Variables */
.bb-readylaunch-template {
  /* A sidebar-conditioned grid can be used on
    single profile or group screens. */
}

.bb-readylaunch-template ul.bb-course-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--bb-rl-space-200);
}

.bb-readylaunch-template ul.bb-course-items.bb-grid .item-entry {
  width: 100%;
}

.bb-readylaunch-template ul.bb-course-items.bb-grid .item-entry.item-entry-header {
  grid-column: 1 / -1;
}

@media screen and (max-width: 1200px) {
  .bb-readylaunch-template ul.bb-course-items.bb-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .bb-readylaunch-template ul.bb-course-items.bb-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 544px) {
  .bb-readylaunch-template ul.bb-course-items.bb-grid {
    grid-template-columns: 1fr;
  }
}

.bb-readylaunch-template ul.bb-course-items:not(.bb-grid) {
  grid-template-columns: 1fr;
}

.bb-readylaunch-template ul.bb-course-items:not(.bb-grid) .item-entry {
  width: 100%;
}

.bb-readylaunch-template .bb-rl-primary-container ul.bb-course-items.bb-grid {
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1600px) {
  .bb-readylaunch-template .bb-rl-primary-container ul.bb-course-items.bb-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .bb-readylaunch-template .bb-rl-primary-container ul.bb-course-items.bb-grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 800px) {
  .bb-readylaunch-template .bb-rl-primary-container ul.bb-course-items.bb-grid {
    grid-template-columns: 1fr;
  }
}

.bb-readylaunch-template ul.bb-course-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bb-readylaunch-template ul.bb-course-items .bb-course-item-wrap {
  width: 100%;
}

.bb-readylaunch-template ul.bb-course-items .bb-cover-list-item {
  position: relative;
  height: 100%;
  border-radius: var(--bb-rl-radius-lg);
  background-color: var(--bb-rl-background-color);
}

.bb-readylaunch-template ul.bb-course-items.bb-grid .bb-cover-list-item {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.bb-readylaunch-template ul.bb-course-items .bb-course-cover {
  position: relative;
}

.bb-readylaunch-template ul.bb-course-items a.bb-cover-wrap {
  position: relative;
  display: block;
  height: 100%;
  padding-top: 160px;
  border-radius: var(--bb-rl-radius-lg) var(--bb-rl-radius-lg) 0 0;
  overflow: hidden;
  background-color: var(--bb-rl-background-tertiary-color);
}

.bb-readylaunch-template ul.bb-course-items a.bb-cover-wrap img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.bb-readylaunch-template ul.bb-course-items .bb-card-course-details {
  padding: var(--bb-rl-space-200);
  border: 1px solid var(--bb-rl-border-secondary-color);
  border-top: 0;
  border-radius: 0 0 var(--bb-rl-radius-lg) var(--bb-rl-radius-lg);
  flex: 1;
}

.bb-readylaunch-template ul.bb-course-items .bb-course-title {
  font-size: var(--bb-rl-font-size-base);
  font-weight: 500;
  line-height: var(--bb-rl-base-line);
  color: var(--bb-rl-text-color);
}

.bb-rl-courses-grid {
  display: grid;
  gap: var(--bb-rl-space-200);
}

.bb-rl-courses-grid.grid {
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1200px) {
  .bb-rl-courses-grid.grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .bb-rl-courses-grid.grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 544px) {
  .bb-rl-courses-grid.grid {
    grid-template-columns: 1fr;
  }
}

.bb-rl-courses-grid.list {
  grid-template-columns: 1fr;
}

.bb-rl-course-card {
  position: relative;
}

.bb-rl-course-card .bb-rl-course-item {
  display: flex;
  flex-direction: column;
  border-radius: var(--bb-rl-radius-lg);
  height: 100%;
}

.bb-rl-course-card .bb-rl-course-image a {
  position: relative;
  display: block;
  height: 100%;
  padding-top: 160px;
  border-radius: var(--bb-rl-radius-lg) var(--bb-rl-radius-lg) 0 0;
  overflow: hidden;
  background-color: var(--bb-rl-background-tertiary-color);
}

.bb-rl-course-card .bb-rl-course-image img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.bb-rl-course-card .bb-rl-course-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: var(--bb-rl-space-200);
  border: 1px solid var(--bb-rl-border-secondary-color);
  border-top: 0;
  border-radius: 0 0 var(--bb-rl-radius-lg) var(--bb-rl-radius-lg);
}

.bb-rl-course-card .bb-rl-course-title {
  font-size: var(--bb-rl-font-size-base);
  font-weight: 500;
  line-height: var(--bb-rl-base-line);
  margin: 0 0 var(--bb-rl-space-100);
}

.bb-rl-course-card .bb-rl-course-title a {
  color: var(--bb-rl-text-color);
}

.bb-rl-course-card .bb-rl-course-excerpt {
  font-size: var(--bb-rl-font-size-sm);
  font-weight: 400;
  line-height: var(--bb-rl-base-line-small);
  color: var(--bb-rl-text-tertiary-color);
}

.bb-rl-course-card .bb-rl-course-footer {
  margin-top: auto;
}

.bb-rl-course-card .bb-rl-course-footer .bb-rl-course-link {
  width: 100%;
}

.bb-rl-course-card .bb-rl-course-author {
  display: flex;
  align-items: center;
  gap: var(--bb-rl-space-50);
  margin: var(--bb-rl-space-300) 0 var(--bb-rl-space-200);
}

.bb-rl-course-card .bb-rl-course-author .bb-rl-author-avatar img {
  width: 24px;
  height: auto;
  border-radius: 50%;
}

.bb-rl-course-card .bb-rl-course-author .bb-rl-author-name {
  font-size: var(--bb-rl-font-size-sm);
  font-weight: 500;
  line-height: var(--bb-rl-base-line-small);
  color: var(--bb-rl-text-color);
}

.bb-rl-course-card .bb-rl-course-card-popup {
  position: absolute;
  z-index: 99;
  top: 50%;
  right: 0;
  width: 296px;
  background-color: var(--bb-rl-background-color);
  border-radius: var(--bb-rl-radius-base);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(-50%);
  padding: var(--bb-rl-space-200);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.bb-rl-course-card:hover .bb-rl-course-card-popup {
  opacity: 1;
  visibility: visible;
}

.bb-rl-course-card-popup .bb-rl-course-popup-caption {
  font-size: var(--bb-rl-font-size-sm);
  font-weight: 400;
  line-height: var(--bb-rl-base-line-small);
  color: var(--bb-rl-text-tertiary-color);
  margin: var(--bb-rl-space-100) 0 var(--bb-rl-space-200);
}

.bb-rl-course-card-popup .bb-rl-course-popup-actions {
  margin-top: var(--bb-rl-space-300);
}

.bb-rl-course-card-popup .bb-rl-course-popup-actions .bb-rl-course-link {
  width: 100%;
}

.bb-rl-course-card-popup .bb-rl-course-timestamp {
  font-size: var(--bb-rl-font-size-sm);
  font-weight: 500;
  line-height: var(--bb-rl-base-line-small);
  color: var(--bb-rl-text-positive-primary-color);
}

.bb-rl-course-card-popup .bb-rl-course-popup-meta {
  display: flex;
  gap: var(--bb-rl-space-100);
  margin: var(--bb-rl-space-100) 0 0;
}

.bb-rl-course-card-popup .bb-rl-course-meta-tag {
  font-size: var(--bb-rl-font-size-sm);
  font-weight: 400;
  line-height: var(--bb-rl-base-line-small);
}

.bb-readylaunch-template .bb-courses-header .grid-filters {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--bb-rl-space-100);
}

.bb-readylaunch-template .bb-courses-header .grid-filters .dashicons {
  font-family: bb-icons-rl;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  width: auto;
  height: auto;
}

.bb-readylaunch-template .bb-courses-header .grid-filters .layout-grid-view .dashicons:before {
  content: "\e464";
}

.bb-readylaunch-template .bb-courses-header .grid-filters .layout-list-view .dashicons:before {
  content: "\e5a2";
}
