/* CSS variables */
:root {
  --bb-rl-primary-color: #4946fe;
  --bb-rl-secondary-color: #dde4ff;
  --bb-rl-background-color: #fff;
  --bb-rl-background-hover-color: #f8f8f8;
  --bb-rl-background-secondary-color: #f6f6f6;
  --bb-rl-background-secondary-hover-color: #f3f3f3;
  --bb-rl-background-tertiary-color: #dbdbdb;
  --bb-rl-background-tertiary-hover-color: #cececf;
  --bb-rl-background-black-color: #0c0c0d;
  --bb-rl-background-disabled-color: #dbdbdb;
  --bb-rl-background-brand-primary-color: #4946fe;
  --bb-rl-background-brand-primary-hover-color: #4937f4;
  --bb-rl-background-brand-secondary-color: #dde4ff;
  --bb-rl-background-brand-secondary-hover-color: #c2cdff;
  --bb-rl-background-brand-disabled-color: #767eff;
  --bb-rl-background-positive-primary-color: #14ae5c;
  --bb-rl-background-positive-primary-hover-color: #009951;
  --bb-rl-background-positive-secondary-color: #ebffee;
  --bb-rl-background-positive-secondary-hover-color: #cff7d3;
  --bb-rl-background-warning-primary-color: #e5a000;
  --bb-rl-background-warning-primary-hover-color: #bf6a02;
  --bb-rl-background-warning-secondary-color: #fffbeb;
  --bb-rl-background-warning-secondary-hover-color: #fff1c2;
  --bb-rl-background-danger-primary-color: #ec221f;
  --bb-rl-background-danger-primary-hover-color: #c00f0c;
  --bb-rl-background-danger-secondary-color: #fee9e7;
  --bb-rl-background-danger-secondary-hover-color: #fdd3d0;
  --bb-rl-border-color: #f3f3f3;
  --bb-rl-border-secondary-color: #e7e7e7;
  --bb-rl-border-tertiary-color: #dbdbdb;
  --bb-rl-border-disabled-color: #f3f3f3;
  --bb-rl-border-quinery-color: #6d6d6e;
  --bb-rl-border-quaternary-color: #9e9e9e;
  --bb-rl-border-brand-primary-color: #0300c3;
  --bb-rl-border-brand-secondary-color: #4946fe;
  --bb-rl-border-positive-primary-color: #02542d;
  --bb-rl-border-positive-secondary-color: #14ae5c;
  --bb-rl-border-warning-primary-color: #522504;
  --bb-rl-border-warning-secondary-color: #e8b931;
  --bb-rl-border-danger-primary-color: #900b09;
  --bb-rl-border-danger-secondary-color: #ec221f;
  --bb-rl-text-color: #242425;
  --bb-rl-text-white-color: #fff;
  --bb-rl-text-secondary-color: #555556;
  --bb-rl-text-tertiary-color: #858586;
  --bb-rl-text-disabled-color: #b6b6b6;
  --bb-rl-text-brand-primary-color: #4946fe;
  --bb-rl-text-brand-secondary-color: #3325ae;
  --bb-rl-text-positive-primary-color: #02542d;
  --bb-rl-text-positive-secondary-color: #14ae5c;
  --bb-rl-text-warning-primary-color: #682d03;
  --bb-rl-text-warning-secondary-color: #e5a000;
  --bb-rl-text-danger-primary-color: #690807;
  --bb-rl-text-danger-secondary-color: #ec221f;
  --bb-rl-icon-color: #0c0c0d;
  --bb-rl-icon-primary-color: #3d3d3d;
  --bb-rl-icon-secondary-color: #555556;
  --bb-rl-icon-tertiary-color: #9e9e9e;
  --bb-rl-icon-disabled-color: #b6b6b6;
  --bb-rl-icon-brand-primary-color: #0300c3;
  --bb-rl-icon-brand-secondary-color: #4946fe;
  --bb-rl-icon-positive-primary-color: #02542d;
  --bb-rl-icon-positive-secondary-color: #14ae5c;
  --bb-rl-icon-warning-primary-color: #522504;
  --bb-rl-icon-warning-secondary-color: #e8b931;
  --bb-rl-icon-danger-primary-color: #900b09;
  --bb-rl-icon-danger-secondary-color: #ec221f;
  --bb-rl-radius-sm: 4px;
  --bb-rl-radius-md: 6px;
  --bb-rl-radius-lg: 12px;
  --bb-rl-radius-full: 99px;
  --bb-rl-space-0: 0;
  --bb-rl-space-50: 4px;
  --bb-rl-space-100: 8px;
  --bb-rl-space-200: 16px;
  --bb-rl-space-300: 24px;
  --bb-rl-space-400: 32px;
  --bb-rl-space-500: 40px;
  --bb-rl-space-600: 48px;
  --bb-rl-space-700: 56px;
  --bb-rl-z-index-dropdown: 1000;
  --bb-rl-z-index-sticky: 1020;
  --bb-rl-z-index-fixed: 1030;
  --bb-rl-z-index-modal-backdrop: 1040;
  --bb-rl-z-index-modal: 1050;
  --bb-rl-z-index-popover: 1060;
  --bb-rl-z-index-tooltip: 1070;
  --bb-rl-font-family-base: inter, serif;
  --bb-rl-font-size-base: 16px;
  --bb-rl-font-size-xs: 11px;
  --bb-rl-font-size-sm: 13px;
  --bb-rl-base-line-small: 20px;
  --bb-rl-base-line: 24px;
}

/* Dark Mode Variables */
/*.dark-mode {

}*/
/* SCSS Variables */
/* Common styles */
.bb-rl-groups .bp-list.grid .item-entry .list-wrap {
  padding: var(--bb-rl-space-300) var(--bb-rl-space-200);
}

.bb-rl-groups .bp-list.grid .item-entry .item {
  margin-bottom: 18px;
}

.bb-rl-groups .bp-list.grid .item-entry .list-wrap-inner {
  flex-direction: column;
}

.bb-rl-groups .bp-list.grid .item-entry .item {
  text-align: center;
}

.bb-rl-groups .bp-list.grid .item-entry .item-avatar {
  margin-bottom: var(--bb-rl-space-200);
}

.bb-rl-groups .bp-list:not(.grid) .item-entry .list-wrap {
  padding: var(--bb-rl-space-400) var(--bb-rl-space-300);
}

.bb-rl-groups .bp-list:not(.grid) .item-entry .item-avatar {
  margin-right: var(--bb-rl-space-200);
}

.bb-rl-groups .bp-list:not(.grid) .list-wrap-inner {
  align-items: center;
}

.bb-rl-groups .item-entry .list-wrap {
  position: relative;
  height: 100%;
  border-radius: var(--bb-rl-radius-lg);
  background-color: var(--bb-rl-background-color);
  border: 1px solid var(--bb-rl-border-secondary-color);
}

.bb-rl-groups .item-entry .list-wrap .list-wrap-inner {
  display: flex;
  height: 100%;
}

.bb-rl-groups .item-entry .item-avatar {
  display: flex;
  justify-content: center;
}

.bb-rl-groups .item-entry .avatar {
  max-width: 104px;
  height: auto;
  border-radius: 50%;
}

.bb-rl-groups .item-list.grid .only-list-view {
  display: none;
}

.bb-rl-groups .item-list:not(.grid) .only-grid-view {
  display: none;
}
