:root {
  --bb-rl-space-50: 4px;
  --font-size-xs: 11px;
}

.bb-rl-flex-grid {
  display: flex;
  flex-flow: row wrap;
  gap: var(--bb-rl-space-200);
  list-style: none;
}

.bb-rl-flex-grid .item-entry {
  flex: 0 0 calc(33.33% - (var(--bb-rl-space-200) * 2 / 3));
  max-width: calc(33.33% - (var(--bb-rl-space-200) * 2 / 3));
}

.bb-rl-flex-grid .item-entry {
  flex: 0 0 calc(25% - (var(--bb-rl-space-200) * 3 / 4));
  max-width: calc(25% - (var(--bb-rl-space-200) * 3 / 4));
}

.bbrl-members .item-entry .list-wrap {
  height: 100%;
  border-radius: var(--bb-rl-radius-lg);
  background-color: var(--bb-rl-background-color);
  border: 1px solid var(--bb-rl-border-secondary-color);
  padding: var(--bb-rl-space-300) var(--bb-rl-space-200);
}

.bbrl-members .item-entry .item {
  text-align: center;
}

.bbrl-members .item-entry .item-avatar {
  display: flex;
  justify-content: center;
  margin-bottom: var(--bb-rl-space-200);
}

.bbrl-members .item-entry .avatar {
  max-width: 104px;
  height: auto;
  border-radius: 50%;
}

.bbrl-members .item-entry .bp-member-type {
  display: inline-flex;
  color: var(--bb-rl-text-brand-secondary-color);
  background-color: var(--bb-rl-background-brand-secondary-color);
  border: 1px solid var(--bb-rl-border-brand-secondary-color);
  border-radius: var(--bb-rl-radius-full);
  padding: var(--bb-rl-space-50) var(--bb-rl-space-100);
  font-size: var(--font-size-xs);
  font-weight: 500;
  margin-bottom: var(--bb-rl-space-100);
}

.bbrl-members .item-list.grid .only-list-view {
  display: none;
}

.bbrl-members .item-list.list .only-grid-view {
  display: none;
}
