/* Common styles */
.bb-rl-members .item-entry .list-wrap {
  height: 100%;
  border-radius: var(--bb-rl-radius-lg);
  background-color: var(--bb-rl-background-color);
  border: 1px solid var(--bb-rl-border-secondary-color);
  padding: var(--bb-rl-space-300) var(--bb-rl-space-200);
}

.bb-rl-members .item-entry .item {
  text-align: center;
}

.bb-rl-members .item-entry .item-avatar {
  display: flex;
  justify-content: center;
  margin-bottom: var(--bb-rl-space-200);
}

.bb-rl-members .item-entry .avatar {
  max-width: 104px;
  height: auto;
  border-radius: 50%;
}

.bb-rl-members .item-entry .bp-member-type {
  display: inline-flex;
  color: var(--bb-rl-text-brand-secondary-color);
  background-color: var(--bb-rl-background-brand-secondary-color);
  border: 1px solid var(--bb-rl-border-brand-secondary-color);
  border-radius: var(--bb-rl-radius-full);
  padding: var(--bb-rl-space-50) var(--bb-rl-space-100);
  font-size: var(--font-size-xs);
  font-weight: 500;
  margin-bottom: var(--bb-rl-space-100);
}

.bb-rl-members .item-entry .bb-rl-item-meta-asset {
  font-size: var(--font-size-sm);
  line-height: var(--bb-rl-base-line-small);
  color: var(--bb-rl-text-tertiary-color);
}

.bb-rl-members .item-entry .bb-rl-item-meta-asset .separator {
  margin: 0 6px;
  color: var(--bb-rl-background-tertiary-color);
}

.bb-rl-members .item-entry .member-buttons-wrap {
  margin: var(--bb-rl-space-200) 0 0;
}

.bb-rl-members .item-entry .member-buttons-wrap .primary-action button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  border-radius: var(--bb-rl-radius-md);
  padding: var(--bb-rl-space-100) var(--bb-rl-space-200);
  transition: background-color 0.2s ease, bordfont/size/smer-color 0.2s ease, color 0.2s ease;
  text-decoration: none;
  background-color: var(--bb-rl-background-tertiary-color);
  color: var(--bb-rl-text-color);
  border: 1px solid transparent;
  font-size: var(--font-size-sm);
}

.bb-rl-members .item-entry .member-buttons-wrap .primary-action button:hover {
  background-color: var(--bb-rl-background-tertiary-hover-color);
}

.bb-rl-members .item-entry .member-buttons-wrap .primary-action button:focus {
  outline: 2px solid var(--bb-rl-border-quinery-color);
}

.bb-rl-members .item-entry .member-buttons-wrap .primary-action button:disabled {
  background-color: var(--bb-rl-background-tertiary-color);
  color: var(--bb-rl-text-disabled-color);
  cursor: not-allowed;
}

.bb-rl-members .item-entry .bb_more_options {
  display: none;
  /* Temporary hide untill design mockup is ready */
}

.bb-rl-members .item-list.grid .only-list-view {
  display: none;
}

.bb-rl-members .item-list.list .only-grid-view {
  display: none;
}
