/* CSS variables */
:root {
  --bb-rl-primary-color: #4946fe;
  --bb-rl-secondary-color: #dde4ff;
  --bb-rl-background-color: #fff;
  --bb-rl-background-hover-color: #f8f8f8;
  --bb-rl-background-secondary-color: #f6f6f6;
  --bb-rl-background-secondary-hover-color: #f3f3f3;
  --bb-rl-background-tertiary-color: #dbdbdb;
  --bb-rl-background-tertiary-hover-color: #cececf;
  --bb-rl-background-black-color: #0c0c0d;
  --bb-rl-background-disabled-color: #dbdbdb;
  --bb-rl-background-brand-primary-color: #4946fe;
  --bb-rl-background-brand-primary-hover-color: #4937f4;
  --bb-rl-background-brand-secondary-color: #dde4ff;
  --bb-rl-background-brand-secondary-hover-color: #c2cdff;
  --bb-rl-background-brand-disabled-color: #767eff;
  --bb-rl-background-positive-primary-color: #14ae5c;
  --bb-rl-background-positive-primary-hover-color: #009951;
  --bb-rl-background-positive-secondary-color: #ebffee;
  --bb-rl-background-positive-secondary-hover-color: #cff7d3;
  --bb-rl-background-warning-primary-color: #e5a000;
  --bb-rl-background-warning-primary-hover-color: #bf6a02;
  --bb-rl-background-warning-secondary-color: #fffbeb;
  --bb-rl-background-warning-secondary-hover-color: #fff1c2;
  --bb-rl-background-danger-primary-color: #ec221f;
  --bb-rl-background-danger-primary-hover-color: #c00f0c;
  --bb-rl-background-danger-secondary-color: #fee9e7;
  --bb-rl-background-danger-secondary-hover-color: #fdd3d0;
  --bb-rl-border-color: #f3f3f3;
  --bb-rl-border-secondary-color: #e7e7e7;
  --bb-rl-border-tertiary-color: #dbdbdb;
  --bb-rl-border-disabled-color: #f3f3f3;
  --bb-rl-border-quinery-color: #6d6d6e;
  --bb-rl-border-quaternary-color: #9e9e9e;
  --bb-rl-border-brand-primary-color: #0300c3;
  --bb-rl-border-brand-secondary-color: #4946fe;
  --bb-rl-border-positive-primary-color: #02542d;
  --bb-rl-border-positive-secondary-color: #14ae5c;
  --bb-rl-border-warning-primary-color: #522504;
  --bb-rl-border-warning-secondary-color: #e8b931;
  --bb-rl-border-danger-primary-color: #900b09;
  --bb-rl-border-danger-secondary-color: #ec221f;
  --bb-rl-text-color: #242425;
  --bb-rl-text-white-color: #fff;
  --bb-rl-text-secondary-color: #555556;
  --bb-rl-text-tertiary-color: #858586;
  --bb-rl-text-disabled-color: #b6b6b6;
  --bb-rl-text-brand-primary-color: #4946fe;
  --bb-rl-text-brand-secondary-color: #3325ae;
  --bb-rl-text-positive-primary-color: #02542d;
  --bb-rl-text-positive-secondary-color: #14ae5c;
  --bb-rl-text-warning-primary-color: #682d03;
  --bb-rl-text-warning-secondary-color: #e5a000;
  --bb-rl-text-danger-primary-color: #690807;
  --bb-rl-text-danger-secondary-color: #ec221f;
  --bb-rl-icon-color: #0c0c0d;
  --bb-rl-icon-primary-color: #3d3d3d;
  --bb-rl-icon-secondary-color: #6d6d6e;
  --bb-rl-icon-secondary-hover-color: #555556;
  --bb-rl-icon-tertiary-color: #9e9e9e;
  --bb-rl-icon-disabled-color: #b6b6b6;
  --bb-rl-icon-brand-primary-color: #0300c3;
  --bb-rl-icon-brand-secondary-color: #4946fe;
  --bb-rl-icon-positive-primary-color: #02542d;
  --bb-rl-icon-positive-secondary-color: #14ae5c;
  --bb-rl-icon-warning-primary-color: #522504;
  --bb-rl-icon-warning-secondary-color: #e8b931;
  --bb-rl-icon-danger-primary-color: #900b09;
  --bb-rl-icon-danger-secondary-color: #ec221f;
  --bb-rl-radius-sm: 4px;
  --bb-rl-radius-md: 8px;
  --bb-rl-radius-lg: 12px;
  --bb-rl-radius-full: 99px;
  --bb-rl-space-0: 0;
  --bb-rl-space-50: 4px;
  --bb-rl-space-100: 8px;
  --bb-rl-space-200: 16px;
  --bb-rl-space-300: 24px;
  --bb-rl-space-400: 32px;
  --bb-rl-space-500: 40px;
  --bb-rl-space-600: 48px;
  --bb-rl-space-700: 56px;
  --bb-rl-z-index-dropdown: 1000;
  --bb-rl-z-index-sticky: 1020;
  --bb-rl-z-index-fixed: 1030;
  --bb-rl-z-index-adminbar: 1035;
  --bb-rl-z-index-modal-backdrop: 1040;
  --bb-rl-z-index-modal: 1050;
  --bb-rl-z-index-popover: 1060;
  --bb-rl-z-index-tooltip: 1070;
  --bb-rl-font-family-base: inter, serif;
  --bb-rl-font-size-base: 16px;
  --bb-rl-font-size-xs: 11px;
  --bb-rl-font-size-sm: 13px;
  --bb-rl-base-line-small: 20px;
  --bb-rl-base-line: 24px;
}

/* Dark Mode Variables */
/*.dark-mode {

}*/
/* SCSS Variables */
.bb-rl-left-panel {
  display: none;
}

.site.bb-readylaunch {
  margin-right: 0;
}

.messages-wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.bp-rl-messages-container {
  display: flex;
  border: 1px solid var(--bb-rl-border-secondary-color);
  border-top: 0;
  background-color: var(--bb-rl-background-color);
}

.bp-rl-messages-container .bb-rl-messages-nav-panel {
  flex: 0 0 385px;
  min-width: 0;
  border-left: 1px solid var(--bb-rl-border-secondary-color);
}

.bp-rl-messages-container .bb-rl-messages-content {
  flex: 1;
  min-width: 0;
}

.bb-rl-messages-filters {
  padding: var(--bb-rl-space-100) var(--bb-rl-space-200);
}

.bb-rl-messages-filters ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.messages-search {
  position: relative;
}

.messages-search:before {
  content: "\e30c";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  font-family: bb-icons-rl;
  font-size: 16px;
  line-height: 1;
  color: var(--bb-rl-icon-secondary-color);
  pointer-events: none;
}

.messages-search input[type="search"] {
  color: var(--bb-rl-text-color);
  font-size: var(--bb-rl-font-size-sm);
  line-height: 1.2;
  border-radius: var(--bb-rl-radius-full);
  border: 1px solid var(--bb-rl-border-tertiary-color);
  padding: var(--bb-rl-space-100) 35px var(--bb-rl-space-100) var(--bb-rl-space-100);
  width: 100%;
}

.messages-search #user_messages_search_submit {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  opacity: 0;
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.messages-search #user_messages_search_reset {
  font-size: 14px;
  color: var(--bb-rl-icon-tertiary-color);
  background-color: transparent;
  border: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  cursor: pointer;
}

.messages-search #user_messages_search_reset .bb-icon-times:before {
  content: "\e4f6";
  font-family: bb-icons-rl;
}

.bb-rl-messages-user-threads {
  min-height: 550px;
  max-height: calc(80vh - 118px);
  height: calc(80vh - 118px);
  overflow: auto;
}

.bb-rl-message-lists {
  list-style: none;
  padding: var(--bb-rl-space-100);
  margin: 0;
}

.bb-rl-message-lists .bb-rl-thread-item {
  border-radius: var(--bb-rl-radius-md);
  padding: var(--bb-rl-space-100) var(--bb-rl-space-200);
  margin-bottom: var(--bb-rl-space-100);
  position: relative;
}

.bb-rl-message-lists .bb-rl-thread-item:last-child {
  margin-bottom: 0;
}

.bb-rl-message-lists .bb-rl-thread-item .bb-rl-message-link {
  display: flex;
  align-items: center;
  gap: var(--bb-rl-space-100);
  padding: var(--bb-rl-space-100) 0;
}

.bb-rl-message-lists .bb-rl-thread-item .bb-rl-thread-avatar {
  flex: 40px 0 0;
}

.bb-rl-message-lists .bb-rl-thread-item .bb-rl-thread-avatar img {
  height: 40px;
  width: 40px;
  border-radius: var(--bb-rl-radius-full);
}

.bb-rl-message-lists .bb-rl-thread-item .bb-rl-thread-avatar .thread-multiple-avatar {
  width: 40px;
  height: 40px;
  position: relative;
}

.bb-rl-message-lists .bb-rl-thread-item .bb-rl-thread-avatar .thread-multiple-avatar img {
  height: 24px;
  width: 24px;
}

.bb-rl-message-lists .bb-rl-thread-item .bb-rl-thread-avatar .thread-multiple-avatar img + img {
  position: absolute;
  right: 16px;
  top: 16px;
}

.bb-rl-message-lists .bb-rl-thread-item.bb-rl-group-thread .bb-rl-thread-avatar img {
  border-radius: var(--bb-rl-radius-md);
}

.bb-rl-message-lists .bb-rl-thread-item .bb-rl-thread-content {
  flex: 1;
  max-width: calc(100% - 48px);
}

.bb-rl-message-lists .bb-rl-thread-item .bb-rl-thread-content .bb-rl-thread-to {
  max-width: calc(100% - 85px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bb-rl-message-lists .bb-rl-thread-item .bb-rl-thread-content .user-name {
  font-size: 16px;
  font-weight: 500;
  color: var(--bb-rl-text-color);
}

.bb-rl-message-lists .bb-rl-thread-item .bb-rl-thread-content .bb-rl-thread-excerpt {
  font-size: var(--bb-rl-font-size-sm);
  color: var(--bb-rl-text-tertiary-color);
  display: block;
  max-width: calc(100% - 30px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bb-rl-message-lists .bb-rl-thread-item .bb-rl-thread-date {
  font-size: var(--bb-rl-font-size-sm);
  color: var(--bb-rl-text-tertiary-color);
  position: absolute;
  left: 20px;
  top: 18px;
}

.bb-rl-message-lists .bb-rl-message-thread-options {
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -5px;
  background: none;
  display: none;
}

.bb-rl-message-lists .bb-rl-message-thread-options .bb_more_options_action {
  padding: var(--bb-rl-space-50);
  cursor: pointer;
  display: flex;
}

.bb-rl-message-lists .bb-rl-message-thread-options .bb_more_options_action i {
  color: var(--bb-rl-icon-secondary-color);
  opacity: 0.7;
  line-height: 1;
}

.bb-rl-message-lists .bb-rl-message-thread-options .bb_more_options_action i:before {
  content: "\e1fe";
  color: var(--bb-rl-icon-color);
  font-size: 22px;
  font-family: bb-icons-rl;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}

.bb-rl-message-lists .bb-rl-message-thread-options .bb_more_options_action:hover i {
  opacity: 1;
}

.bb-rl-message-lists .bb-rl-message-thread-options.more_option_active .bb_more_options_action i {
  opacity: 1;
}

.bb-rl-message-lists .bb-rl-message-thread-options .message_action__list {
  position: absolute;
  top: 30px;
  left: 4px;
  z-index: var(--bb-rl-z-index-dropdown);
  background-color: var(--bb-rl-background-color);
  border: 1px solid var(--bb-rl-border-secondary-color);
  border-radius: var(--bb-rl-radius-md);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
  padding: var(--bb-rl-space-100) 0;
  width: 210px;
  list-style: none;
  display: none;
}

.bb-rl-message-lists .bb-rl-message-thread-options .message_action__list li > a {
  display: flex;
  align-items: center;
  color: var(--bb-rl-text-secondary-color);
  font-size: var(--bb-rl-font-size-sm);
  font-weight: 500;
  line-height: var(--bb-rl-base-line-small);
  padding: var(--bb-rl-space-100) var(--bb-rl-space-200);
  cursor: pointer;
}

.bb-rl-message-lists .bb-rl-message-thread-options .message_action__list li > a:before {
  font-family: bb-icons-rl;
  color: var(--bb-rl-icon-secondary-color);
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 0 var(--bb-rl-space-100);
}

.bb-rl-message-lists .bb-rl-message-thread-options .message_action__list li > a:hover {
  background-color: var(--bb-rl-background-secondary-color);
}

.bb-rl-message-lists .bb-rl-message-thread-options .message_action__list li.unread a:before {
  content: "\e224";
}

.bb-rl-message-lists .bb-rl-message-thread-options .message_action__list li.read a:before {
  content: "\e220";
}

.bb-rl-message-lists .bb-rl-message-thread-options .message_action__list li.hide_thread a:before {
  content: "\e20c";
}

.bb-rl-message-lists .bb-rl-message-thread-options .message_action__list li.view_members a:before {
  content: "\e68e";
}

.bb-rl-message-lists .bb-rl-message-thread-options .message_action__list li.report_thread a:before {
  content: "\e244";
}

.bb-rl-message-lists .bb-rl-message-thread-options .message_action__list li.report_member_thread a:before {
  content: "\e3de";
}

.bb-rl-message-lists .bb-rl-message-thread-options .message_action__list li.delete_thread a:before,
.bb-rl-message-lists .bb-rl-message-thread-options .message_action__list li.delete_messages a:before {
  content: "\e4a6";
}

.bb-rl-message-lists .bb-rl-message-thread-options .message_action__list.is_visible {
  display: block;
}

.bb-rl-message-lists .bb-rl-thread-item.unread .bb-rl-message-link:before {
  content: "";
  height: 6px;
  width: 6px;
  background-color: var(--bb-rl-primary-color);
  border-radius: var(--bb-rl-radius-full);
  position: absolute;
  left: 27px;
  top: 50%;
  margin-top: 7px;
}

.bb-rl-message-lists .bb-rl-thread-item:has(.message_action__list.is_visible), .bb-rl-message-lists .bb-rl-thread-item:hover {
  background-color: var(--bb-rl-background-secondary-color);
}

.bb-rl-message-lists .bb-rl-thread-item:has(.message_action__list.is_visible) .bb-rl-message-thread-options, .bb-rl-message-lists .bb-rl-thread-item:hover .bb-rl-message-thread-options {
  display: block;
}

.bb-rl-message-lists .bb-rl-thread-item:has(.message_action__list.is_visible) .bb-rl-message-link:before, .bb-rl-message-lists .bb-rl-thread-item:hover .bb-rl-message-link:before {
  display: none;
}

.bb-rl-message-lists .bb-rl-thread-item.current {
  background-color: var(--bb-rl-background-secondary-color);
}

.bb-rl-message-lists .bb-rl-thread-item:has(.message_action__list.is_visible) {
  z-index: 11;
}

#bb-rl-messages-thread-list-nav {
  padding: var(--bb-rl-space-200);
}

#bb-rl-messages-thread-list-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#bb-rl-messages-thread-list-nav .subnav {
  display: flex;
  align-items: center;
  gap: var(--bb-rl-space-100);
}

#bb-rl-messages-thread-list-nav #inbox-personal-li > a {
  color: var(--bb-rl-text-color);
  font-size: 16px;
  font-weight: 500;
  pointer-events: none;
}

#bb-rl-messages-thread-list-nav #compose-action-personal-li {
  margin-right: auto;
}

#bb-rl-messages-thread-list-nav #compose-action-personal-li #compose-action {
  font-size: 0;
}

#bb-rl-messages-thread-list-nav .message-action-options .bb_more_options_action {
  display: flex;
  padding: var(--bb-rl-space-50);
  border-radius: var(--bb-rl-radius-md);
  color: var(--bb-rl-icon-tertiary-color);
}

#bb-rl-messages-thread-list-nav .message-action-options .bb_more_options_action:hover {
  background-color: var(--bb-rl-background-secondary-color);
}

#bb-rl-messages-thread-list-nav .message-action-options .bb_more_options_action i {
  display: flex;
}

#bb-rl-messages-thread-list-nav .message-action-options .bb_more_options_action i:before {
  content: "\e1fe";
  font-size: 24px;
  line-height: 1;
  font-family: bb-icons-rl;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}

#bb-rl-messages-thread-list-nav .message-action-options.more_option_active .bb_more_options_action {
  background-color: var(--bb-rl-background-secondary-color);
}

#bb-rl-messages-thread-list-nav .message-action-options {
  position: relative;
  display: inline-block;
}

#bb-rl-messages-thread-list-nav .message-action-options .message_action__list {
  position: absolute;
  top: 30px;
  left: 4px;
  z-index: var(--bb-rl-z-index-dropdown);
  background-color: var(--bb-rl-background-color);
  border: 1px solid var(--bb-rl-border-secondary-color);
  border-radius: var(--bb-rl-radius-md);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
  padding: var(--bb-rl-space-100) 0;
  width: 220px;
  list-style: none;
  display: none;
}

#bb-rl-messages-thread-list-nav .message-action-options .message_action__list.is_visible {
  display: block;
}

#bb-rl-messages-thread-list-nav .message-action-options .message_action__list li > a {
  display: flex;
  align-items: center;
  color: var(--bb-rl-text-secondary-color);
  font-size: var(--bb-rl-font-size-sm);
  font-weight: 500;
  line-height: var(--bb-rl-base-line-small);
  padding: var(--bb-rl-space-100) var(--bb-rl-space-200);
  cursor: pointer;
}

#bb-rl-messages-thread-list-nav .message-action-options .message_action__list li > a:hover {
  background-color: var(--bb-rl-background-secondary-color);
}

#bb-rl-messages-thread-list-nav .message-action-options .message_action__list li > a:before {
  font-family: bb-icons-rl;
  color: var(--bb-rl-icon-secondary-color);
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 0 var(--bb-rl-space-100);
}

#bb-rl-messages-thread-list-nav .message-action-options .message_action__list li.archived-messages a:before {
  content: "\e00c";
}

#bb-rl-messages-thread-list-nav .message-action-options .message_action__list li.notification_preferences a:before {
  content: "\e0d0";
}

#bb-rl-messages-thread-list-nav #compose {
  background-color: var(--bb-rl-background-tertiary-color);
  border-radius: 6px;
  padding: var(--bb-rl-space-50) var(--bb-rl-space-100);
  font-size: var(--bb-rl-font-size-sm);
  line-height: 1;
  font-weight: 400;
  color: var(--bb-rl-text-color);
  display: flex;
  align-items: center;
  gap: var(--bb-rl-space-50);
}

#bb-rl-messages-thread-list-nav #compose:before {
  content: "\e3d4";
  font-family: bb-icons-rl;
  font-size: 16px;
  line-height: 1;
  font-style: normal;
  margin: 0;
}

.no-message-wrap {
  padding: var(--bb-rl-space-500) var(--bb-rl-space-300);
  text-align: center;
}

.no-message-wrap .bb-icon {
  color: var(--bb-rl-icon-secondary-color);
  font-size: 50px;
  font-weight: 500;
  opacity: 0.6;
}

.no-message-wrap .bb-icon:before {
  content: "\e174";
  font-family: bb-icons-rl;
}

.no-message-wrap .no-message-content {
  font-size: 14px;
  color: var(--bb-rl-text-tertiary-color);
  letter-spacing: -0.24px;
  line-height: 1.5;
  max-width: 310px;
  margin: 0 auto;
  padding: 0 40px 20px;
}

.no-message-wrap .no-message-content h3 {
  color: var(--bb-rl-text-color);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 5px;
}

.messages-search-loader {
  text-align: center;
  padding: var(--bb-rl-space-200) 0 0;
}

.bb-rl-messages-content {
  flex: 1;
  min-width: 0;
  padding: 0;
}

.bb-rl-messages-content #bp-message-thread-list {
  background: transparent;
  border: 0;
  border-top: 1px solid var(--bb-content-border-color);
  padding: var(--bb-rl-space-200) var(--bb-rl-space-300);
  height: auto;
  min-height: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  overflow: auto;
}

.bp-messages-content-wrapper {
  display: flex;
  flex-flow: column;
  height: 80vh;
  max-height: 80vh;
  min-height: 670px;
}

.message-thread-header {
  border-bottom: 1px solid var(--bb-rl-border-secondary-color);
}

.single-message-thread-header {
  display: flex;
  align-items: center;
  padding: 12px var(--bb-rl-space-200);
  position: relative;
}

.single-message-thread-header .bb-rl-thread-avatar {
  margin-left: var(--bb-rl-space-100);
}

.single-message-thread-header .bb-rl-thread-avatar img {
  height: 40px;
  width: 40px;
  border-radius: var(--bb-rl-radius-full);
}

.single-message-thread-header .thread-participants dd {
  line-height: 1;
}

.single-message-thread-header .participants-name,
.single-message-thread-header .participants-name a {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  color: var(--bb-rl-text-color);
}

.single-message-thread-header .bb-rl-thread-date {
  font-size: var(--bb-rl-font-size-sm);
  color: var(--bb-rl-text-tertiary-color);
}

.single-message-thread-header > .actions {
  position: absolute;
  left: var(--bb-rl-space-200);
  top: 50%;
  transform: translateY(-50%);
}

.single-message-thread-header > .actions .message_action__anchor {
  font-size: 24px;
  color: var(--bb-rl-icon-tertiary-color);
  padding: var(--bb-rl-space-50);
  border-radius: var(--bb-rl-radius-md);
  display: flex;
}

.single-message-thread-header > .actions .message_action__anchor:hover {
  background-color: var(--bb-rl-background-secondary-color);
}

.single-message-thread-header > .actions .message_action__anchor i {
  display: flex;
}

.single-message-thread-header > .actions .message_action__anchor i:before {
  font-weight: 700;
}

.single-message-thread-header > .actions .message_actions.open .message_action__anchor {
  background-color: var(--bb-rl-background-secondary-color);
}

.single-message-thread-header .bb_more_dropdown {
  position: absolute;
  top: 30px;
  left: 4px;
  z-index: var(--bb-rl-z-index-dropdown);
  background-color: var(--bb-rl-background-color);
  border: 1px solid var(--bb-rl-border-secondary-color);
  border-radius: var(--bb-rl-radius-md);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
  padding: var(--bb-rl-space-100) 0;
  width: 220px;
  display: none;
}

.single-message-thread-header .bb_more_dropdown.open {
  display: block;
}

.single-message-thread-header .bb_more_dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.single-message-thread-header .bb_more_dropdown li > a {
  display: flex;
  align-items: center;
  color: var(--bb-rl-text-secondary-color);
  font-size: var(--bb-rl-font-size-sm);
  font-weight: 500;
  line-height: var(--bb-rl-base-line-small);
  padding: var(--bb-rl-space-100) var(--bb-rl-space-200);
  cursor: pointer;
}

.single-message-thread-header .bb_more_dropdown li > a:hover {
  background-color: var(--bb-rl-background-secondary-color);
}

.single-message-thread-header .bb_more_dropdown li > a:before {
  font-family: bb-icons-rl;
  color: var(--bb-rl-icon-secondary-color);
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 0 var(--bb-rl-space-100);
}

.single-message-thread-header .bb_more_dropdown li.unread a:before {
  content: "\e224";
}

.single-message-thread-header .bb_more_dropdown li.read a:before {
  content: "\e220";
}

.single-message-thread-header .bb_more_dropdown li.hide_thread a:before {
  content: "\e20c";
}

.single-message-thread-header .bb_more_dropdown li.view_members a:before {
  content: "\e68e";
}

.single-message-thread-header .bb_more_dropdown li.report_thread a:before {
  content: "\e244";
}

.single-message-thread-header .bb_more_dropdown li.report_member_thread a:before {
  content: "\e3de";
}

.single-message-thread-header .bb_more_dropdown li.delete_thread a:before,
.single-message-thread-header .bb_more_dropdown li.delete_messages a:before {
  content: "\e4a6";
}
