.bb-rl-account-settings-section {

	.main-notification-settings {
		width: 100%;
		margin: 0 0 var(--bb-rl-space-500);

		thead {
			display: block;
			border: 1px solid var(--bb-rl-border-secondary-color);
			border-radius: var(--bb-rl-radius-base);
			background-color: var(--bb-rl-background-secondary-color);
			padding: var(--bb-rl-space-200) 0;

			.title {
				width: 100%;
			}
		}

		tbody {
			display: block;
			border: 1px solid var(--bb-rl-border-secondary-color);
			border-radius: var(--bb-rl-radius-base);
			padding: 0 0 var(--bb-rl-space-300);

			td:first-child {
				width: 100%;
			}

			tr:not(.notification_heading) + tr {

				td {
					padding-top: var(--bb-rl-space-300);
				}
			}
		}

		.app,
		.email,
		.web {
			min-width: 95px;
		}

		th,
		td {

			@include bb-rl-label-heading-md;
			line-height: 1;
			text-align: left;
			padding: 0 var(--bb-rl-space-200) 0;

			label {
				margin-bottom: 0;
			}
		}

		.notification_heading {
			position: relative;
			bottom: 30px;

			.title {

				@include bb-rl-label-heading-bolder;
				font-weight: 600;
				color: var(--bb-rl-text-tertiary-color);
				padding: 2px var(--bb-rl-space-100);
				margin-bottom: var(--bb-rl-space-100);
			}
		}
	}

	@media screen and (min-width: $md) {

		.main-notification-settings .bb-mobile-setting {
			display: none;
		}
	}
}

.bb-rl-account-settings-section {

	.subscription-views {

		.bb-accordion_head {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: var(--bb-rl-space-100);
			margin-bottom: var(--bb-rl-space-100);

			.bb-accordion_trigger {
				background-color: transparent;
				border: none;
				line-height: 1;
				cursor: pointer;
			}
		}

		.bb-accordion {
			margin-bottom: var(--bb-rl-space-200);

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		.bb-accordion.is_closed {

			.bb-accordion_head .bb-accordion_trigger {

				i::before {
					content: "\e13c";
				}
			}
		}

		.subscription-pagination {
			display: flex;
			justify-content: flex-end;
			margin: var(--bb-rl-space-300) 0 0;
		}
	}

	.subscription-items-main {
		border: 1px solid var(--bb-rl-border-secondary-color);
		border-radius: var(--bb-rl-radius-base);
		padding: var(--bb-rl-space-200);
	}

	.subscription-items {
		list-style: none;
		padding: 0;
		margin: 0;

		.bb-subscription-item {
			display: flex;
			align-items: center;
			padding: var(--bb-rl-space-50) 0;
			margin-bottom: var(--bb-rl-space-200);

			&:last-of-type {
				margin-bottom: 0;
			}

			.subscription-item_remove {
				margin-left: auto;

				i::before {
					display: inline-block;
					content: attr(data-bp-tooltip);
					font-size: 12px;
					font-weight: 400;
					color: var(--bb-rl-text-secondary-color);
					text-transform: uppercase;
					padding: 2px var(--bb-rl-space-100);
				}
			}
		}

		.subscription-item_image {

			img {
				max-width: 32px;
				height: auto;
				border-radius: var(--bb-rl-radius-md);
			}
		}

		.subscription-item_anchor {
			display: flex;
			align-items: center;
			gap: var(--bb-rl-space-100);
		}

		.subscription-item_detail {
			display: inline-flex;
			flex-direction: column;
		}

		.subscription-item_title {

			@include bb-rl-label-heading-md;
			color: var(--bb-rl-text-color);
		}

		.subscription-item_meta {

			@include bb-rl-label-heading;
			color: var(--bb-rl-text-tertiary-color);

			strong {
				font-weight: 400;
			}
		}

		> p {
			margin-bottom: 0;
			color: var(--bb-rl-text-tertiary-color);
		}
	}
}

.bb-rl-account-settings-section {

	.moderation_notice.is_hidden {
		display: none;
	}

	.moderation {

		.bp-tables-user {
			width: 100%;

			thead {
				display: none;
			}

			tbody {

				td {
					padding: 10px 0;
				}

				.moderation-block-member {

					@include bb-rl-label-heading-md;
					color: var(--bb-rl-text-color);
					display: inline-flex;
					align-items: center;
					gap: var(--bb-rl-space-100);

					.description {

						@include bb-rl-label-heading;
						color: var(--bb-rl-text-tertiary-color);
					}

					img {
						max-width: 32px;
						height: auto;
						border-radius: 50%;
					}
				}

				.moderation-item-last-updated {

					@include bb-rl-label-heading;
					color: var(--bb-rl-text-tertiary-color);
				}

				.moderation-item-actions {
					text-align: right;
				}
			}
		}
	}
}

.bb-rl-account-settings-section {

	> .bp-feedback.info {

		@include bb-rl-notice--plain;
		@include bb-rl-notice--plain-info;
	}

	#account-group-invites-form {

		.submit {
			margin-top: var(--bb-rl-space-300);
		}
	}

	#account-data-export-form {

		.submit {
			margin-top: var(--bb-rl-space-300);
		}

		#submit {

			@include bb-rl-button;
			@include bb-rl-button-secondary-fill;
			@include bb-rl-button--small;
		}
	}
}

.bb-rl-profile-edit-wrapper {

	.field-visibility-settings-header {
		display: flex;
		align-items: center;
		color: var(--bb-rl-text-secondary-color);

		.field-visibility-label {

			@include bb-rl-label-heading;
			display: inline-flex;
			align-items: center;
			margin-right: var(--bb-rl-space-100);
		}

		.current-visibility-level {

			@include bb-rl-label-heading-bolder;
			cursor: pointer;
		}

		i {
			color: var(--bb-rl-icon-primary-color);
			font-weight: 500;
			font-size: 12px;
			padding-left: var(--bb-rl-space-50);
			cursor: pointer;
			position: relative;
			top: 1px;
		}
	}
}

.bb-rl-field-visibility-block {
	position: relative;
	display: inline-flex;
	align-items: center;
	margin-top: var(--bb-rl-space-100);

	.field-visibility-toggle-action {
		display: inline-flex;
		align-items: center;
	}

	.field-visibility-settings {
		display: none;
		position: absolute;
		top: calc(100% + var(--bb-rl-space-100));
		left: 50px;
		min-width: 240px;
		background-color: var(--bb-rl-background-color);
		border: 1px solid var(--bb-rl-border-secondary-color);
		box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
		border-radius: var(--bb-rl-radius-base);
		padding: var(--bb-rl-space-100) 0;

		fieldset {
			margin: 0;
		}

		.bp-radio-wrap {
			padding: 10px var(--bb-rl-space-200);

			input[type="radio"] {
				opacity: 0;

				&:checked + label .field-visibility-text {
					color: var(--bb-rl-text-color);
				}
			}

			label {
				width: 100%;

				&::before,
				&::after {
					opacity: 0;
				}


			}
		}

		.field-visibility-text {

			@include bb-rl-label-heading-bolder;
			color: var(--bb-rl-text-secondary-color);
			position: relative;
			left: -24px;
			width: 100%;
		}
	}
}
