.bb-rl-profile-container {
	border-bottom: 1px solid var(--bb-rl-border-secondary-color);
	margin-bottom: var(--bb-rl-space-200);
	padding-bottom: var(--bb-rl-space-300);

	.bp-member-type {
		margin-bottom: var(--bb-rl-space-100);
	}
}

.bb-rl-profile-header {
	background-color: var(--bb-rl-background-color);
	border: 1px solid var(--bb-rl-border-secondary-color);
	border-radius: var(--bb-rl-radius-lg);
	padding: var(--bb-rl-space-400) var(--bb-rl-space-400) var(--bb-rl-space-300);
}

.bb-rl-main-nav-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	flex-flow: wrap;
}

.bb-rl-main-nav-list {

	li {

		a {

			@include bb-rl-label-heading-bolder;
			display: inline-flex;
			align-items: center;
			color: var(--bb-rl-text-secondary-color);
			background-color: transparent;
			border-radius: var(--bb-rl-radius-full);

			&:hover {
				color: var(--bb-rl-text-color);
				background-color: var(--bb-rl-background-secondary-color);
			}

			.count {
				padding: 0 var(--bb-rl-space-50);
				margin-left: var(--bb-rl-space-100);
			}
		}

		&.selected,
		&.current {

			a {
				color: var(--bb-rl-text-color);
				background-color: var(--bb-rl-background-secondary-color);
			}
		}
	}

	> li > a {
		padding: var(--bb-rl-space-50) var(--bb-rl-space-200);
		display: inline-flex;
		align-items: center;
	}
}

.bb-rl-profile-avatar {
	width: 144px;
	height: 144px;

	img {
		width: 100%;
		height: auto;
		border-radius: 50%;
		border: 1px solid rgba(0, 0, 0, 0.08);
	}
}

.bb-rl-profile-item-header {
	gap: var(--bb-rl-space-400);
	position: relative;

	.bb-rl-header-dropdown {
		position: absolute;
		top: -8px;
		right: 0;
	}
}

.bb-rl-profile-header-content {
	flex: 1;

	h2 {
		font-size: var(--bb-rl-font-size-2xl);
		font-weight: 600;
		line-height: var(--bb-rl-base-line-2xl);
	}

	.item-meta {

		@include bb-rl-label-heading;
		color: var(--bb-rl-text-tertiary-color);

		.separator {
			color: var(--bb-rl-background-tertiary-color);
		}
	}
}

.bb-rl-member-header-actions-wrap {
	margin: var(--bb-rl-space-300) 0 0;
}

.activity.single-user {
	margin: var(--bb-rl-space-400) 0;
}

.bb-rl-member-header-actions {
	gap: var(--bb-rl-space-100);

	> li {
		list-style-type: none;
	}

	button.friendship-button,
	button.follow-button,
	a.send-message {

		@include bb-rl-button;
		padding: 4px var(--bb-rl-space-200);
		font-size: 0.875rem;
	}

	button.friendship-button {

		@include bb-rl-button--brand-fill;

		&.pending_friend {

			@include bb-rl-button-secondary-fill;
		}
	}

	button.follow-button,
	a.send-message {

		@include bb-rl-button--secondary-outline;
	}
}

.bb-rl-media-stream {
	margin-top: var(--bb-rl-space-300);
}

.bb-rl-primary-container {
	.bb-rl-sub-ctrls {
		margin-top: var(--bb-rl-space-200);
		margin-bottom: var(--bb-rl-space-300);
		padding: var(--bb-rl-space-200) 0;
		border-bottom: 1px solid var(--bb-rl-border-secondary-color);

		ul.subnav {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			flex-wrap: wrap;
			
			li {
				margin: 0 var(--bb-rl-space-100) 0 0;
				padding: 0;

				a {
					display: block;
					color: var(--bb-rl-text-secondary-color);
					border-radius: var(--bb-rl-radius-full);
					padding: var(--bb-rl-space-50) var(--bb-rl-space-200);
					border: 1px solid var(--bb-rl-border-secondary-color);
					font-size: var(--bb-rl-font-size-sm);
					letter-spacing: var(--bb-rl-letter-spacing-sm);

					
					&:hover {
						color: var(--bb-rl-text-color);
						background-color: var(--bb-rl-background-color);
						border-color: var(--bb-rl-text-color);
					}
				}

				&.selected {

					a {
						color: var(--bb-rl-text-color);
						background-color: var(--bb-rl-background-color);
						border-color: var(--bb-rl-text-color);
					}
				}
			}
		}
	}
}
