@import "./variables";
// Reset CSS
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

html,
body {
	min-height: 100%;
}

//  Utilities
.hidden {
	display: none;
}

.inline-block {
	display: inline-block;
}

.block {
	display: block;
}

.flex {
	display: flex;
}

.flex-row {
	flex-direction: row;
}

.flex-row-reverse {
	flex-direction: row-reverse;
}

.flex-wrap {
	flex-wrap: wrap;
}

.inline-flex {
	display: inline-flex;
}

.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.justify-around {
	justify-content: space-around;
}

.items-start {
	align-items: flex-start;
}

.items-center {
	align-items: center;
}

.items-end {
	align-items: flex-end;
}

// General Styles
.bbrl-container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.bbrl-header-container {
	max-width: 1600px;
}

img.emoji,
img.emojioneemoji {
	display: inline-block;
	margin: 3px;
	width: 24px;
	height: 24px;
}

// Animation
@keyframes spin {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

// Layout
.site.bb-readylaunch {
	margin-left: 300px;
	margin-top: 71px;
	padding: 0 30px;

	body.admin-bar & {
		margin-top: 103px;
	}
}
