.bb-rl-courses-grid {
	display: grid;
	gap: var(--bb-rl-space-200);
	padding-bottom: var(--bb-rl-space-400);

	&.grid {
		grid-template-columns: repeat(4, 1fr);

		.bb-rl-course-card {

			.bb-rl-course-footer {
				border-top: 1px solid var(--bb-rl-border-secondary-color);
				margin-left: calc(var(--bb-rl-space-200) * -1);
				margin-right: calc(var(--bb-rl-space-200) * -1);
				padding: 12px var(--bb-rl-space-200) 0;
			}
		}

		@media screen and (max-width: $xl) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media screen and (max-width: $md) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media screen and (max-width: $sm) {
			grid-template-columns: 1fr;
		}
	}

	&.list {
		grid-template-columns: 1fr;

		.bb-rl-course-card {

			.bb-rl-course-item {
				flex-direction: row;
				border: 1px solid var(--bb-rl-border-secondary-color);
				padding: var(--bb-rl-space-200);
				gap: var(--bb-rl-space-300);

				.bb-rl-course-link {
					width: 80%;
				}
			}

			.bb-rl-course-category {
				margin-bottom: var(--bb-rl-space-100);
			}

			.bb-rl-course-excerpt {
				margin-top: var(--bb-rl-space-50);
			}

			.bb-rl-course-status {
				flex-direction: row;

				.bb-rl-course-progress {
					flex: 0 0 66.66%;
				}

				.bb-rl-course-link-wrap {
					flex: 1;
					display: flex;
					justify-content: flex-end;
					align-items: end;
				}
			}

			.bb-rl-course-content {
				border: 0;
				border-radius: 0;
				padding: 0;
				flex-direction: row;
				flex: 1;
				gap: var(--bb-rl-space-200);
			}

			.bb-rl-course-body {
				flex: 1;
				display: flex;
				flex-direction: column;
			}

			.bb-rl-course-meta {
				margin-top: auto;
			}

			.bb-rl-course-footer {
				flex: 0 0 33.33%;
				display: flex;
				justify-content: flex-end;
				align-items: flex-start;
				margin-top: 0;
			}

			.bb-rl-course-footer-meta {
				flex-direction: column;
				align-items: flex-end;
			}
		}

		.bb-rl-course-image {
			width: 272px;

			a {
				border-radius: var(--bb-rl-radius-lg);
			}
		}
	}
}

.bb-rl-course-card {
	position: relative;

	.bb-rl-course-item {
		display: flex;
		flex-direction: column;
		border-radius: var(--bb-rl-radius-lg);
		height: 100%;
		background-color: var(--bb-rl-background-color);
	}

	.bb-rl-course-image {
		position: relative;

		a {
			position: relative;
			display: block;
			height: 100%;
			padding-top: 160px;
			border-radius: var(--bb-rl-radius-lg) var(--bb-rl-radius-lg) 0 0;
			overflow: hidden;
			background-color: var(--bb-rl-background-tertiary-color);
		}

		img {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			object-fit: cover;
			height: 100%;
			width: 100%;
		}

		.ld-status {
			position: absolute;
			top: var(--bb-rl-space-100);
			left: var(--bb-rl-space-100);
			z-index: 3;
		}
	}

	.bb-rl-course-content {
		flex: 1;
		display: flex;
		flex-direction: column;
		padding: var(--bb-rl-space-200);
		border: 1px solid var(--bb-rl-border-secondary-color);
		border-top: 0;
		border-radius: 0 0 var(--bb-rl-radius-lg) var(--bb-rl-radius-lg);
	}

	.bb-rl-course-body {
		flex: 1;
		display: flex;
		flex-direction: column;
	}

	.bb-rl-course-title {

		@include bb-rl-base-heading;
		margin: 0 0 var(--bb-rl-space-50);

		a {
			color: var(--bb-rl-text-color);

			&:hover {
				border-bottom: 1px solid var(--bb-rl-text-color);
				text-decoration: none;
			}
		}
	}

	.bb-rl-course-excerpt {

		@include bb-rl-label-heading;
		color: var(--bb-rl-text-tertiary-color);
		margin: var(--bb-rl-space-200) 0 0;
	}

	.bb-rl-course-footer-meta {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: var(--bb-rl-space-100);
	}

	.bb-rl-course-meta {
		display: flex;
		flex-direction: column;
		flex: 1;
	}

	.bb-rl-course-category {

		@include bb-rl-label-heading-bolder;
		color: var(--bb-rl-text-color);
		margin: 0 0 var(--bb-rl-space-200);

		+ .bb-rl-course-excerpt {
			margin-top: 0;
		}
	}

	.bb-rl-course-status {
		display: flex;
		flex-direction: column;
		gap: var(--bb-rl-space-200);
		margin-top: auto;
	}

	.bb-rl-course-link {
		width: 100%;
		display: inline-flex;
		align-items: center;
		gap: var(--bb-rl-space-50);
		white-space: nowrap;
	}

	.bb-rl-course-footer {
		margin-top: auto;

		.bb-rl-price {

			@include bb-rl-base-heading-xl;
			line-height: var(--bb-rl-base-line);
			color: var(--bb-rl-text-color);
		}
	}

	.bb-rl-course-author {
		display: flex;
		align-items: center;
		gap: var(--bb-rl-space-50);
		margin: var(--bb-rl-space-200) 0;
		flex-flow: wrap;

		h4 {

			@include bb-rl-base-heading;
			color: var(--bb-rl-text-color);
			margin: 0 0 var(--bb-rl-space-100);
			width: 100%;
		}

		.bb-rl-author-avatar img {
			width: 24px;
			height: auto;
			border-radius: 50%;
		}

		.bb-rl-author-name {

			@include bb-rl-label-heading-bolder;
			color: var(--bb-rl-text-secondary-color);

			a {
				color: var(--bb-rl-text-color);
			}
		}
	}
}
