.bb-rl-members ul.bp-list {
	display: flex;
	flex-flow: row wrap;
	gap: var(--bb-rl-space-200);

	&.grid {

		/* .has-sidebar & {

			.item-entry {
				flex: 0 0 calc(33.33% - (var(--bb-rl-space-200) * 2 / 3));
				max-width: calc(33.33% - (var(--bb-rl-space-200) * 2 / 3));
			}
		} */

		.item-entry {
			flex: 0 0 calc(25% - (var(--bb-rl-space-200) * 3 / 4));
			max-width: calc(25% - (var(--bb-rl-space-200) * 3 / 4));
		}

		@media screen and (max-width: $xl) {

			.item-entry {
				flex: 0 0 calc(33.33% - (var(--bb-rl-space-200) * 2 / 3));
				max-width: calc(33.33% - (var(--bb-rl-space-200) * 2 / 3));
			}	
		}

		@media screen and (max-width: $lg) {

			.item-entry {
				flex: 0 0 calc(33.33% - (var(--bb-rl-space-200) * 2 / 3));
				max-width: calc(33.33% - (var(--bb-rl-space-200) * 2 / 3));
			}	
		}

		@media screen and (max-width: $md) {

			.item-entry {
				flex: 0 0 calc(50% - (var(--bb-rl-space-200) * 1 / 2));
				max-width: calc(50% - (var(--bb-rl-space-200) * 1 / 2));
			}	
		}

		@media screen and (max-width: $sm) {

			.item-entry {
				flex: 0 0 calc(100%);
				max-width: calc(100%);
			}	
		}
	}

	&:not(.grid) {

		.item-entry {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
}
