@mixin bb-rl-base-heading {
	font-size: var(--bb-rl-font-size-base);
	font-weight: 500;
	line-height: var(--bb-rl-base-line);
}

@mixin bb-rl-base-heading-bolder {
	font-size: var(--bb-rl-font-size-base);
	font-weight: 600;
	line-height: var(--bb-rl-base-line);
}

@mixin bb-rl-label-heading {
	font-size: var(--bb-rl-font-size-sm);
	font-weight: 400;
	line-height: var(--bb-rl-base-line-small);
}

@mixin bb-rl-label-heading-bolder {
	font-size: var(--bb-rl-font-size-sm);
	font-weight: 500;
	line-height: var(--bb-rl-base-line-small);
}

@mixin bb-rl-label-heading-md {
	font-size: 14px;
	font-weight: 500;
	line-height: 22px;
}

@mixin bb-rl-button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	text-align: center;
	cursor: pointer;
	border-radius: var(--bb-rl-radius-md);
	padding: var(--bb-rl-space-100) var(--bb-rl-space-200);
	transition: background-color 0.2s ease, bordfont/size/smer-color 0.2s ease, color 0.2s ease;
	text-decoration: none;
}

@mixin bb-button-secondary-hover {
	background-color: var(--bb-secondary-button-background-hover);
	color: var(--bb-secondary-button-text-hover);
	border: 1px solid var(--bb-secondary-button-border-hover);
}

@mixin bb-rl-button--brand-fill {
	background-color: var(--bb-rl-background-brand-primary-color);
	color: var(--bb-rl-text-white-color);
	border: 1px solid var(--bb-rl-background-brand-primary-color);

	&:hover {
		background-color: var(--bb-rl-background-brand-primary-hover-color);
	}

	&:focus-within {
		outline: 2px solid var(--bb-rl-border-brand-primary-color);
	}

	&:disabled {
		background-color: var(--bb-rl-background-brand-disabled-color);
		cursor: not-allowed;
	}
}

@mixin bb-rl-button--brand-outline {
	background-color: transparent;
	color: var(--bb-rl-text-brand-primary-color);
	border: 1px solid var(--bb-rl-text-brand-primary-color);

	&:hover {
		border-color: var(--bb-rl-background-brand-primary-color);
	}

	&:focus {
		outline: 2px solid var(--bb-rl-border-brand-primary-color);
	}

	&:disabled {
		border-color: var(--bb-rl-background-brand-disabled-color);
		color: var(--bb-rl-background-brand-disabled-color);
		cursor: not-allowed;
	}
}

@mixin bb-rl-button-secondary-fill {
	background-color: var(--bb-rl-background-tertiary-color);
	color: var(--bb-rl-text-color);
	border: 1px solid transparent;

	&:hover {
		background-color: var(--bb-rl-background-tertiary-hover-color);
	}

	&:focus {
		outline: 2px solid var(--bb-rl-border-quinery-color);
	}

	&:disabled {
		background-color: var(--bb-rl-background-tertiary-color);
		color: var(--bb-rl-text-disabled-color);
		cursor: not-allowed;
	}
}

@mixin bb-rl-button--secondary-outline {
	background-color: transparent;
	color: var(--bb-rl-text-color);
	border: 1px solid var(--bb-rl-border-tertiary-color);

	&:hover {
		background-color: var(--bb-rl-background-secondary-color);
	}

	&:focus {
		outline: 2px solid var(--bb-rl-border-quinery-color);
	}

	&:disabled {
		border-color: var(--bb-rl-border-tertiary-color);
		color: var(--bb-rl-text-disabled-color);
		cursor: not-allowed;
	}
}

@mixin bb-rl-button--danger-fill {
	background-color: var(--bb-rl-background-danger-primary-color);
	color: var(--bb-rl-text-white-color);
	border: 1px solid transparent;

	&:hover {
		background-color: var(--bb-rl-background-danger-primary-hover-color);
	}

	&:focus {
		outline: 2px solid var(--bb-rl-border-danger-primary-color);
	}

	&:disabled {
		background-color: var(--bb-rl-background-danger-secondary-hover-color);
		cursor: not-allowed;
	}
}

@mixin bb-rl-button--tertiary-text {
	background-color: transparent;
	color: var(--bb-rl-text-color);
	border: none;

	&:hover {
		background-color: var(--bb-rl-background-secondary-hover-color);
	}

	&:focus {
		outline: 2px solid var(--bb-rl-border-quinery-color);
	}

	&:disabled {
		color: var(--bb-rl-text-disabled-color);
		cursor: not-allowed;
	}
}

@mixin bb-rl-button--tertiary-link {
	background-color: transparent;
	color: var(--bb-rl-text-brand-primary-color);
	border: none;
	border-radius: 0;
	border-bottom: 1px solid transparent;

	&:hover {
		border-bottom-color: var(--bb-rl-link-primary-hover-color);
	}

	&:disabled {
		color: var(--bb-rl-background-brand-disabled-color);
		border-bottom-color: transparent;
		cursor: not-allowed;
	}
}
