

.bb-rl-secondary-header {
	background-color: var(--bb-rl-background-color);
	border-bottom: 1px solid var(--bb-rl-border-secondary-color);
	padding: 12px var(--bb-rl-space-300);
	margin-bottom: var(--bb-rl-space-400);
}

.bb-rl-entry-heading {

	h2 {

		@include bb-rl-base-heading;
		color: var(--bb-rl-text-color);
	}
}

.bb-rl-sub-ctrls {
	margin-left: auto;
}

.bb-rl-grid-filters {
	gap: var(--bb-rl-space-100);

	.layout-view {
		display: inline-flex;

		&.active,
		&:hover {

			i {
				color: var(--bb-rl-icon-primary-color);
			}
		}

		i {
			font-size: 28px;
			color: var(--bb-rl-icon-tertiary-color);
		}
	}
}

.bb-rl-action-button {

	a i {
		margin-right: var(--bb-rl-space-50);
	}
}

ul.bp-list {
	list-style: none;
	padding: 0;
}

// Mention
.atwho-view {
	background-color: var(--bb-rl-background-color);
	border-color: var(--bb-rl-border-secondary-color);
	border-radius: var(--bb-rl-radius-md);
	z-index: var(--bb-rl-z-index-popover);
	box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);


	ul {
		margin: var(--bb-rl-space-100) 0;

		li {
			padding: var(--bb-rl-space-100) var(--bb-rl-space-200);
		}

		.cur {
			background-color: var(--bb-rl-background-secondary-color);

			small {
				color: var(--bb-rl-text-color);
			}
		}

		li.list-loader {
			color: var(--bb-rl-text-secondary-color);

			&:before {
				content: "";
				display: inline-block;
				height: 16px;
				vertical-align: middle;
				width: 16px;
				border: 2px solid var(--bb-rl-border-quaternary-color);
				border-top-color: var(--bb-rl-border-tertiary-color);
				border-radius: var(--bb-rl-radius-full);
				animation: spin 3s infinite linear;
			}
		}
	}

	small {
		color: var(--bb-rl-text-secondary-color);
	}
}

span.atwho-inserted {
	color: var(--bb-rl-primary-color);
}

// Medium Editor Formatting
.medium-editor-element {

	p {
		line-height: 1.5;
		margin-bottom: var(--bb-rl-space-200);
	}

	b {
		font-weight: 600;
	}

	i {
		font-style: italic;
	}

	blockquote {
		font-style: italic;
		background-color: var(--bb-rl-background-secondary-color);
		border-left: 2px solid var(--bb-rl-background-tertiary-color);
		padding: var(--bb-rl-space-100) var(--bb-rl-space-200);
		margin-bottom: var(--bb-rl-space-200);
	}

	pre {
		background-color: var(--bb-rl-background-secondary-color);
		padding: var(--bb-rl-space-100) var(--bb-rl-space-200);
		margin-bottom: var(--bb-rl-space-200);
		border-radius: var(--bb-rl-radius-md);
	}

	ul {
		padding: 0 0 var(--bb-rl-space-200) var(--bb-rl-space-300);
	}
}

// Emoji Picker
.emojionearea {

	.emojionearea-button:before {
		content: "\e436";
		font-family: bb-icons-rl;
		font-size: var(--bb-rl-base-line);
	}
}

// GIF Picker

.bb-rl-gif-media-search-dropdown {
	position: absolute;
	left: 0;
	bottom: 40px;
	z-index: 99;
	display: none;
	background: var(--bb-rl-background-color);
	border-radius: var(--bb-rl-radius-lg);
	box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
	padding-bottom: var(--bb-rl-space-100);
	border: 1px solid var(--bb-rl-border-secondary-color);

	&.open {
		display: block;
		width: 310px;
	}

	.gif-alert {
		display: none;
		align-items: center;
		justify-content: center;
		flex-flow: column;
		min-height: 100px;

		[class*="bb-icon"] {
			color: var(--bb-rl-icon-secondary-color);
			font-size: 30px;
			opacity: 0.6;
			margin-bottom: var(--bb-rl-space-100);
		}

		p {
			font-size: 13px;
			font-weight: 500;
			line-height: 1.5;
			opacity: 0.6;
		}

		&.show {
			display: flex;
		}
	}

	.gif-search-results {
		min-height: 190px;
		max-height: 250px;
		padding: var(--bb-rl-space-100) var(--bb-rl-space-100) 0;
		overflow: auto;

		ul {
			columns: 2 auto;
			column-gap: 4px;
			margin: 0;
			padding: 0;
			list-style: none;

			.bg1 {
				background: #e0245e;
			}

			.bg2 {
				background: #f45d22;
			}

			.bg3 {
				background: #ffad1f;
			}

			.bg4 {
				background: #17bf63;
			}

			.bg5 {
				background: #1c94e0;
			}

			.bg6 {
				background: #794bc4;
			}
		}
	}

	.found-media-item img {
		width: 100%;
		height: 100%;
		min-width: 100%;
	}
}

.gif-search-query {
	padding: var(--bb-rl-space-200);
	position: relative;

	.search-query-input {
		font-size: 13px;
		color: var(--bb-rl-text-tertiary-color);
		border: 1px solid var(--bb-rl-border-tertiary-color);
		border-radius: var(--bb-rl-radius-full);
		padding: 0 var(--bb-rl-space-100) 0 var(--bb-rl-space-400);
		height: 32px;
		width: 100%;
	}

	&:before {
		content: "\e30c";
		color: var(--bb-rl-icon-secondary-color);
		font-family: bb-icons-rl;
		font-size: 1rem;
		position: absolute;
		left: var(--bb-rl-space-300);
		top: 50%;
		transform: translateY(-50%);
	}
}

// XDSoft DateTime Picker
div.xdsoft_datetimepicker {
	font-family: var(--bb-rl-font-family-base);
	background-color: var(--bb-rl-background-color);
	border: 1px solid var(--bb-rl-border-secondary-color);
	box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
	border-radius: var(--bb-rl-radius-md);

	.xdsoft_datepicker {
		width: 220px;
	}

	.xdsoft_monthpicker {
		display: flex;
		align-items: center;
	}

	.xdsoft_next,
	.xdsoft_prev {
		background: none;
		height: auto;
		width: auto;
		text-indent: 0;
		margin-right: auto;

		&:before {
			content: "\e138";
			color: var(--bb-rl-icon-secondary-color);
			font-size: 16px;
			font-family: bb-icons-rl;
		}
	}

	.xdsoft_next {
		margin-right: 0;
		margin-left: auto;
		opacity: 1;

		&:before {
			content: "\e13a";
		}
	}

	.xdsoft_today_button {
		display: none;
	}

	.xdsoft_month {
		width: auto;
	}

	.xdsoft_label {
		text-decoration: none;
		width: auto;
		padding: 8px 3px;

		span {
			color: var(--bb-rl-text-color);
			font-size: 15px;
			font-weight: 500;
			text-decoration: none !important;
		}

		i {
			height: auto;
			width: auto;
			background-image: none;
			opacity: 1;
			margin-left: 6px;
			font-style: normal;

			&:before {
				content: "\e136";
				font-family: bb-icons-rl;
				color: var(--bb-rl-icon-tertiary-color);
				font-size: 12px;
				font-weight: 500;
			}
		}
	}

	.xdsoft_calendar {

		th {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: transparent !important;
			color: var(--bb-rl-text-tertiary-color);
			border: 0;
			font-size: 11px;
			font-weight: 500;
			height: 30px;
			width: 30px;
		}

		tr {
			display: flex;
		}

		td {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: transparent;
			color: var(--bb-rl-text-secondary-color);
			font-size: 13px;
			font-weight: 500;
			text-align: center;
			height: 30px;
			border-radius: var(--bb-rl-radius-full);
			border: 1px solid transparent;

			> div {
				padding: 0;
			}

			&.xdsoft_current,
			&:hover {
				font-weight: 600;
				color: var(--bb-rl-primary-color) !important;
				background-color: transparent !important;
				border-color: var(--bb-rl-primary-color);
				box-shadow: none !important;
			}
		}
	}

	.xdsoft_label > .xdsoft_select {
		background-color: var(--bb-rl-background-color);
		border-color: var(--bb-rl-border-secondary-color);
		box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
		border-radius: var(--bb-rl-radius-md);

		> div > .xdsoft_option {
			font-size: 12px;
			color: var(--bb-rl-text-secondary-color);
			background-color: transparent;
			padding: var(--bb-rl-space-100) var(--bb-rl-space-200);
			border: 0;
			width: 140px;
			text-align: left;

			&.xdsoft_current,
			&:hover {
				color: var(--bb-rl-text-color);
				background-color: var(--bb-rl-background-secondary-color);
				box-shadow: none;
			}
		}
	}

	.xdsoft_scrollbar {
		width: 5px;
		right: 2px;

		> .xdsoft_scroller {
			background-color: var(--bb-rl-border-tertiary-color) !important;
		}
	}

	.xdsoft_timepicker {
		width: 100px;

		.xdsoft_prev,
		.xdsoft_next {
			display: none;
		}

		.xdsoft_time_box {
			height: 195px;
			border: 0;

			.xdsoft_time {
				font-size: 13px;
				color: var(--bb-rl-text-secondary-color);
				line-height: 1.2;
				background-color: transparent;
				border: 0;
				border-radius: var(--bb-rl-radius-md);
				padding: var(--bb-rl-space-100) var(--bb-rl-space-200);
				height: auto;

				&.xdsoft_current,
				&:hover {
					color: var(--bb-rl-text-color) !important;
					background-color: var(--bb-rl-background-secondary-hover-color) !important;
				}
			}
		}
	}
}

/* List items headings */
.item .list-title {

	@include bb-rl-base-heading;
	color: var(--bb-rl-text-color);

	a {
		color: var(--bb-rl-text-color);

		&:hover {
			color: var(--bb-rl-primary-color);
		}
	}
}
