

.bb-rl-secondary-header {
	background-color: var(--bb-rl-background-color);
	border-bottom: 1px solid var(--bb-rl-border-secondary-color);
	padding: 12px var(--bb-rl-space-300);
	margin-bottom: var(--bb-rl-space-400);
}

.bb-rl-entry-heading {

	h2 {

		@include bb-rl-base-heading;
		color: var(--bb-rl-text-color);
	}
}

.bb-rl-sub-ctrls {
	margin-left: auto;
}

.bb-rl-grid-filters {
	gap: var(--bb-rl-space-100);

	.layout-view {
		display: inline-flex;

		&.active,
		&:hover {

			i {
				color: var(--bb-rl-icon-primary-color);
			}
		}

		i {
			font-size: 28px;
			color: var(--bb-rl-icon-tertiary-color);
		}
	}
}

.bb-rl-action-button {

	a i {
		margin-right: var(--bb-rl-space-50);
	}
}

ul.bp-list {
	list-style: none;
	padding: 0;
}

// Mention
.atwho-view {
	background-color: var(--bb-rl-background-color);
	border-color: var(--bb-rl-border-secondary-color);
	border-radius: var(--bb-rl-radius-md);
	z-index: var(--bb-rl-z-index-popover);
	box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);


	ul {
		margin: var(--bb-rl-space-100) 0;

		li {
			padding: var(--bb-rl-space-100) var(--bb-rl-space-200);
		}

		.cur {
			background-color: var(--bb-rl-background-secondary-color);

			small {
				color: var(--bb-rl-text-color);
			}
		}
	}

	small {
		color: var(--bb-rl-text-secondary-color);
	}
}

span.atwho-inserted {
	color: var(--bb-rl-primary-color);
}

// Medium Editor Formatting
.medium-editor-element {

	p {
		line-height: 1.5;
		margin-bottom: var(--bb-rl-space-200);
	}

	b {
		font-weight: 600;
	}

	i {
		font-style: italic;
	}

	blockquote {
		font-style: italic;
		background-color: var(--bb-rl-background-secondary-color);
		border-left: 2px solid var(--bb-rl-background-tertiary-color);
		padding: var(--bb-rl-space-100) var(--bb-rl-space-200);
		margin-bottom: var(--bb-rl-space-200);
	}

	pre {
		background-color: var(--bb-rl-background-secondary-color);
		padding: var(--bb-rl-space-100) var(--bb-rl-space-200);
		margin-bottom: var(--bb-rl-space-200);
		border-radius: var(--bb-rl-radius-md);
	}

	ul {
		padding: 0 0 var(--bb-rl-space-200) var(--bb-rl-space-300);
	}
}

/* List items headings */
.item .list-title {

	@include bb-rl-base-heading;
	color: var(--bb-rl-text-color);

	a {
		color: var(--bb-rl-text-color);

		&:hover {
			color: var(--bb-rl-primary-color);
		}
	}
}
