.bb-rl-lms-inner-count {

	@include bb-rl-label-heading;
	color: var(--bb-rl-text-secondary-color);
}

.bb-rl-course-enrolled {

	> p {

		@include bb-rl-label-heading-bolder;
		color: var(--bb-rl-text-tertiary-color);
		white-space: nowrap;
	}
}

.bb-rl-enrolled-members-bar {
	display: flex;
	align-items: center;

	.bb-rl-enrolled-member-item {
		max-width: 24px;
		float: left;
		margin-right: -4px;
		position: relative;
		z-index: 1;

		a {
			text-decoration: none;
		}

		img {
			border-radius: 50%;
			max-width: 100%;
			image-rendering: -webkit-optimize-contrast;
			display: block;
			height: auto;
		}
	}

	.bb-rl-enrolled-count {

		@include bb-rl-label-heading-bolder;
		color: var(--bb-rl-text-tertiary-color);
		white-space: nowrap;
		margin-left: 8px;
		max-width: none;
	}
}

.bb-rl-course-summary-inner {

	.bb-rl-course-summary-excerpt {

		@include bb-rl-label-heading;
		color: var(--bb-rl-text-secondary-color);
	}
}

.bb-rl-course-summary-instructor {
	margin-top: var(--bb-rl-space-200);

	h3 {

		@include bb-rl-base-heading;
		color: var(--bb-rl-text-color);
		margin: 0 0 var(--bb-rl-space-100);
	}

	.bb-rl-course-summary-instructor-item {
		display: flex;
		align-items: center;
		gap: var(--bb-rl-space-100);
		padding: var(--bb-rl-space-100) 0;
	}

	.bb-rl-author-avatar img {
		width: 48px;
		height: 48px;
		border-radius: 50%;
	}

	.bb-rl-author-name a,
	span.bb-rl-author-name {

		@include bb-rl-label-heading-md-bold;
		color: var(--bb-rl-text-color);
	}
}

.bb-rl-course-review {
	display: inline-flex;
	align-items: center;
	gap: var(--bb-rl-space-50);

	.average {

		@include bb-rl-base-heading;
		color: var(--bb-rl-text-color);
	}

	.count {
		font-size: var(--bb-rl-font-size-base);
		font-weight: 400;
		line-height: var(--bb-rl-base-line);
		color: var(--bb-rl-text-tertiary-color);
	}
}

.bb-rl-ld-status,
.bb-rl-course-image .ld-status,
.bb-rl-course-details .ld-status {

	@include bb-rl-label-heading-xs;
	padding: var(--bb-rl-space-50) var(--bb-rl-space-100);
	border-radius: var(--bb-rl-radius-full);
	border: 1px solid var(--bb-rl-border-brand-secondary-color);
	background-color: var(--bb-rl-background-brand-secondary-color);
	color: var(--bb-rl-text-brand-secondary-color);

	&.ld-status-incomplete {
		background-color: var(--bb-rl-background-brand-secondary-color);
		border-color: var(--bb-rl-border-brand-secondary-color);
		color: var(--bb-rl-text-brand-secondary-color);
	}

	&.ld-status-progress,
	&.ld-status-complete {
		background-color: var(--bb-rl-background-positive-secondary-color);
		border-color: var(--bb-rl-border-positive-secondary-color);
		color: var(--bb-rl-text-positive-primary-color);
	}

	&.ld-start-background,
	&.ld-status-progress.ld-start-background {
		background-color: var(--bb-rl-background-warning-secondary-color);
		border-color: var(--bb-rl-border-warning-secondary-color);
		color: var(--bb-rl-text-warning-primary-color);
	}

	&.ld-status-closed {
		background-color: var(--bb-rl-background-danger-secondary-color);
		border-color: var(--bb-rl-border-danger-secondary-color);
		color: var(--bb-rl-text-danger-primary-color);
	}
}

.bb-rl-course-details .ld-status {
	padding: 0 var(--bb-rl-space-100);
	margin-top: var(--bb-rl-space-50);
}

.bb-readylaunch-template {

	.jq-dropdown {

		.jq-dropdown-menu {
			background-color: var(--bb-rl-background-color);
			padding: var(--bb-rl-space-100) 0;
			border-radius: var(--bb-rl-radius-md);
			box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15) !important;
			border: 1px solid var(--bb-rl-border-secondary-color);
		}

		&.jq-dropdown-tip {
			margin-top: var(--bb-rl-space-400);
		}

		&.jq-dropdown-tip::before,
		&.jq-dropdown-tip::after {
			display: none;
		}
	}

	.jq-dropdown-menu {

		input[type="button"],
		input[type="submit"] {
			font-size: var(--bb-rl-font-size-sm) !important;
			font-weight: 500 !important;
			line-height: var(--bb-rl-base-line-small);
			color: var(--bb-rl-text-secondary-color) !important;
			text-align: left;
			padding: 10px var(--bb-rl-space-200);

			&:hover {
				background-color: var(--bb-rl-background-secondary-hover-color) !important;
			}
		}
	}
}

.bb-rl-ld-module-actions {
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.learndash_next_prev_link {
		display: flex;
		gap: var(--bb-rl-space-200);
		align-items: center;
	}

	a.prev-link,
	a.next-link {

		@include bb-rl-button;
		@include bb-rl-button-secondary-fill;
		@include bb-rl-button--small;
		gap: var(--bb-rl-space-50);
	}

	span.prev-link,
	span.next-link {

		@include bb-rl-button;
		@include bb-rl-button--secondary-outline;
		@include bb-rl-button--small;
		gap: var(--bb-rl-space-50);
		cursor: default;
		pointer-events: none;
	}

	.sfwd-mark-complete {

		.learndash_mark_complete_button {

			@include bb-rl-button;
			@include bb-rl-button--brand-fill;
			@include bb-rl-button--small;
		}
	}

	.ld-content-actions {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		gap: var(--bb-rl-space-100);

		.ld-content-action {
			display: flex;
			align-items: center;
			gap: var(--bb-rl-space-100);
		}

		.ld-course-step-back {

			@include bb-rl-button;
			@include bb-rl-button-secondary-fill;
			@include bb-rl-button--small;
		}

		.ld-button {

			@include bb-rl-button;
			@include bb-rl-button--tertiary-text;
			@include bb-rl-button--small;
			gap: var(--bb-rl-space-50);

			.ld-icon-arrow-left {

				&::before {
					content: "\e138";
					font-weight: 400;
					font-family: bb-icons-rl;
					font-size: 16px;
				}
			}

			.ld-icon-arrow-right {

				&::before {
					content: "\e13a";
					font-weight: 400;
					font-family: bb-icons-rl;
					font-size: 16px;
				}
			}
		}
	}
}

.bb-rl-ld-module-count {

	.bb-pages {

		@include bb-rl-label-heading;
		color: var(--bb-rl-text-secondary-color);
	}
}

.bb-readylaunch-template {

	#learndash-tooltips {

		.ld-tooltip {
			pointer-events: none;
			transition: all 0.18s ease-out 0.18s;
			font-weight: 500;
			font-size: 0.85rem;
			letter-spacing: -0.24px;
			background: var(--bb-rl-background-black-color);
			border-radius: var(--bb-rl-radius-md);
			box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.22);
			color: var(--bb-rl-text-white-color);
			line-height: 1.3;
			padding: 7px 15px;
			white-space: nowrap;
			transform: translate(-13px, -30px);

			&::after {
				background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22%230c0c0d%22%20transform%3D%22rotate(0)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");/* stylelint-disable-line */
				background-size: 100% auto;
				width: 18px;
				height: 6px;
				pointer-events: none;
				transition: all 0.18s ease-out 0.18s;
				content: "";
				position: absolute;
				z-index: 10;
				transform: none;
				bottom: -6px;
			}
		}
	}
}

.bb-rl-container {

	.ld-alert {

		@include bb-rl-notice;
		padding: var(--bb-rl-space-100) var(--bb-rl-space-200);

		&.ld-alert-warning {

			@include bb-rl-notice--alt-warning;
		}

		&.ld-alert-success {

			@include bb-rl-notice--alt-success;

			&.bb-rl-ld-alert-certificate {

				@include bb-rl-notice--alt-info;
				border-color: var(--bb-rl-border-brand-primary-color);
			}
		}

		.ld-alert-content {
			display: flex;
			align-items: center;
			gap: var(--bb-rl-space-100);
		}

		.ld-icon {

			&::before {
				content: "";
				font-weight: 400;
				font-family: bb-icons-rl;
				font-size: 20px;
				color: var(--bb-rl-icon-primary-color);
				font-style: normal;
			}

			&.ld-icon-alert {

				&::before {
					content: "\e4e2";
					font-weight: 500;
					color: var(--bb-rl-icon-warning-secondary-color);
				}
			}

			&.ld-icon-checkmark {

				&::before {
					content: "\e184";
					font-weight: 500;
					color: var(--bb-rl-icon-positive-secondary-color);
				}
			}

			&.ld-icon-calendar {

				&::before {
					content: "\e10a";
					font-weight: 400;
					color: var(--bb-rl-icon-primary-color);
				}
			}

			&.ld-icon-certificate {

				&::before {
					content: "\e766";
					font-size: 20px;
					color: var(--bb-rl-icon-brand-primary-color);
				}
			}
		}
	}

	.learndash-wrapper {

		.ld-alert {
			min-height: auto;

			.ld-button {

				@include bb-rl-button;
				@include bb-rl-button-secondary-fill;
				@include bb-rl-button--small;
			}
		}

		.ld-alert .ld-alert-icon {
			position: static;
			transform: none;
			background-color: transparent;
			font-size: 20px;
			margin: 0;
			padding: 0;
		}

		.ld-alert-warning .ld-alert-icon {
			background-color: transparent;
		}
	}
}

.bb-rl-ld-alert-certificate {
	justify-content: space-between;
	margin-bottom: var(--bb-rl-space-200);

	.ld-button {

		@include bb-rl-button;
		@include bb-rl-button--brand-fill;
		@include bb-rl-button--small-xs;
	}
}

.bb-rl-assignments-module {
	margin: var(--bb-rl-space-200) 0 0;

	.ld-alert {
		margin: 0 0 var(--bb-rl-space-200);
	}

	.ld-table-list-header {
		margin: 0 0 var(--bb-rl-space-200);

		.ld-table-list-title {

			@include bb-rl-base-heading;
			color: var(--bb-rl-text-color);
			margin: 0 0 var(--bb-rl-space-50);

			.ld-item-icon {
				display: none;
			}
		}

		.ld-table-list-columns {

			.ld-table-list-column {

				@include bb-rl-label-heading;
				color: var(--bb-rl-text-tertiary-color);
			}
		}
	}

	.ld-assignment-list {

		.ld-table-list-items {
			display: flex;
			flex-flow: wrap;
			align-items: stretch;
			gap: var(--bb-rl-space-200);

			.ld-table-list-item {
				flex: 0 0 calc(50% - var(--bb-rl-space-100));
				max-width: calc(50% - var(--bb-rl-space-100));
				background-color: var(--bb-rl-background-secondary-color);
				border-radius: var(--bb-rl-radius-lg);
				padding: var(--bb-rl-space-200) var(--bb-rl-space-300);
			}

			.ld-table-list-item-preview {
				display: flex;
				flex-direction: column;
				gap: var(--bb-rl-space-100);
			}

			.ld-table-list-title {
				display: flex;
				align-items: center;
				margin: 0 0 var(--bb-rl-space-100);

				a:nth-of-type(3) {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					max-width: 80%;
				}

				a {

					@include bb-rl-label-heading-md-bold;
					color: var(--bb-rl-text-color);

					&:first-of-type {
						order: 99;
						margin-left: auto;
						width: 24px;
					}
				}

				.ld-icon-delete {

					&::before {
						content: "\e4f8";
						font-weight: 400;
						font-family: bb-icons-rl;
						font-size: 24px;
						color: var(--bb-rl-icon-danger-secondary-color);
						font-style: normal;
					}
				}

				.ld-icon-download {
					margin-right: var(--bb-rl-space-50);
					width: 24px;

					&::before {
						content: "\e028";
						font-weight: 400;
						font-family: bb-icons-rl;
						font-size: 24px;
						color: var(--bb-rl-icon-secondary-color);
						font-style: normal;
					}
				}
			}

			.ld-file-upload {
				flex: 0 0 100%;
				max-width: 100%;

				.ld-file-upload-title {

					@include bb-rl-label-heading;
					color: var(--bb-rl-text-color);
				}
			}

			.ld-table-list-columns {
				display: flex;
				align-items: center;
				gap: var(--bb-rl-space-200);

				.ld-table-list-column {

					@include bb-rl-label-heading;
					color: var(--bb-rl-text-tertiary-color);

					a {

						@include bb-rl-label-heading;
						color: var(--bb-rl-text-color);
						display: inline-flex;
						align-items: center;
						gap: var(--bb-rl-space-50);
						flex-direction: row-reverse;
					}
				}

				.ld-status {
					display: inline-flex;
					align-items: center;
					gap: var(--bb-rl-space-50);
				}
			}

			.ld-icon-calendar {

				&::before {
					content: "\e10a";
					font-weight: 400;
					font-family: bb-icons-rl;
					font-size: 16px;
					color: var(--bb-rl-icon-secondary-color);
					font-style: normal;
				}
			}

			.ld-icon-checkmark {

				&::before {
					content: "\e182";
					font-weight: 400;
					font-family: bb-icons-rl;
					font-size: 16px;
					color: var(--bb-rl-icon-secondary-color);
					font-style: normal;
				}
			}

			.ld-icon-comments {

				&::before {
					content: "\e15c";
					font-weight: 400;
					font-family: bb-icons-rl;
					font-size: 16px;
					color: var(--bb-rl-icon-secondary-color);
					font-style: normal;
				}
			}
		}

		.ld-file-upload-form {
			display: flex;
			align-items: center;
			gap: var(--bb-rl-space-100);

			.ld-button {

				@include bb-rl-button;
				@include bb-rl-button--brand-fill;
				@include bb-rl-button--small;
			}
		}

		.ld-file-upload {
			background-color: var(--bb-rl-background-secondary-color);
			border-radius: var(--bb-rl-radius-lg);
			padding: var(--bb-rl-space-200) var(--bb-rl-space-300);

			.ld-file-upload-heading {

				@include bb-rl-label-heading-md;
				color: var(--bb-rl-text-color);
				margin: 0 0 var(--bb-rl-space-200);

				span {

					@include bb-rl-label-heading;
					color: var(--bb-rl-text-secondary-color);
				}
			}

			.ld-file-input {
				width: 0.1px;
				height: 0.1px;
				opacity: 0;
				position: relative;
				z-index: -1;

				+ label {
					display: inline-flex;
					align-items: center;
					background-color: var(--bb-rl-background-color);
					border-radius: var(--bb-rl-radius-md);
					flex: 1;

					strong {

						@include bb-rl-button;
						@include bb-rl-button-secondary-fill;
						@include bb-rl-button--small;
						margin-right: var(--bb-rl-space-200);
					}

					span {

						@include bb-rl-label-heading-md-thin;
						color: var(--bb-rl-text-tertiary-color);
					}
				}
			}
		}
	}
}

.bb-rl-container {

	.bb-learndash-content-wrap {

		@media screen and (max-width: $lg) {
			padding-left: var(--bb-rl-space-200);
			padding-right: var(--bb-rl-space-200);
		}

		@media screen and (max-width: 782px) {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.bb-rl-ld-module-footer {
	position: fixed;
	bottom: 0;
	padding: 12px 0;
	background-color: var(--bb-rl-background-color);
	width: calc(100% - 300px);
	border-top: 1px solid var(--bb-rl-border-secondary-color);
	z-index: 100;

	@media screen and (max-width: $lg) {
		width: 100%;
		left: 0;
	}
}

.bb-rl-container {

	.learndash-wrapper .ld-tabs {
		margin: 0;

		.ld-tabs-navigation:after {
			display: none;
		}

		.ld-tabs-navigation {
			gap: var(--bb-rl-space-100);

			.ld-tab {

				@include bb-rl-label-heading-bolder;
				padding: 6px var(--bb-rl-space-200);
				border: 1px solid var(--bb-rl-border-secondary-color);
				color: var(--bb-rl-text-secondary-color);
				border-radius: var(--bb-rl-radius-full);
				background-color: transparent;

				.ld-icon {
					display: none;
				}

				&::after {
					display: none;
				}

				&.ld-active {
					background-color: var(--bb-rl-background-color);
					color: var(--bb-rl-text-color);
					border-color: var(--bb-rl-border-quinery-color);
				}
			}
		}
	}
}

.bb-rl-entry-content {

	.learndash-wrapper {

		.ld-video {
			margin: 0 0 var(--bb-rl-space-300);
		}
	}
}

body.ld-in-focus-mode.admin-bar.bb-readylaunch-template {
	padding-top: 0;
}

body.ld-in-focus-mode .learndash-wrapper {
	background-color: var(--bb-rl-background-color);
}

.bb-rl-content-wrapper {

	.bb-certificates-wrapper {
		margin-top: var(--bb-rl-space-300);

		ul.bb-grid {
			list-style: none;
			padding: 0;
			margin: 0;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: var(--bb-rl-space-200);

			.bb-certificate-wrap {
				background-color: var(--bb-rl-background-color);
				border: 1px solid var(--bb-rl-border-secondary-color);
				border-radius: var(--bb-rl-radius-md);
				padding: var(--bb-rl-space-200);
			}

			.bb-certificate-title {

				@include bb-rl-base-heading;
				color: var(--bb-rl-text-color);

				a {

					@include bb-rl-button--tertiary-link;
				}
			}

			.bb-certificate-date {

				@include bb-rl-label-heading;
				color: var(--bb-rl-text-tertiary-color);
				margin: 0 0 var(--bb-rl-space-200);
			}

			.bb-certificate-download a {

				@include bb-rl-button;
				@include bb-rl-button-secondary-fill;
				@include bb-rl-button--small;
			}
		}
	}
}

.bb-readylaunch-template {

	.bb-learndash-content-wrap .ld-modal {
		display: flex;
		text-align: center;
		margin: 0 auto;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
		width: 100%;
		z-index: 9000;
		max-width: 1024px;
		min-height: 300px;
		background: var(--bb-rl-background-color);
		border-radius: var(--bb-rl-radius-lg);
		overflow: hidden;
		overflow-y: auto;
		box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease;
	}

	.bb-learndash-content-wrap .ld-modal .ld-modal-closer {
		position: absolute;
		top: var(--bb-rl-space-100);
		right: var(--bb-rl-space-100);
		z-index: 9;
		color: var(--bb-rl-icon-secondary-color);
		cursor: pointer;
		line-height: 0.5;
		padding: var(--bb-rl-space-200);
		font-size: var(--bb-rl-font-size-base);
	}

	.bb-learndash-content-wrap .ld-login-modal .ld-login-modal-login {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: var(--bb-rl-background-color);
	}

	.ld-modal.ld-login-modal .ld-login-modal-register {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: var(--bb-rl-text-white-color);
		background-color: var(--bb-rl-background-brand-primary-color);
	}

	.ld-modal.ld-login-modal .ld-login-modal-wrapper {
		max-width: 360px;
		min-width: inherit;
		padding: var(--bb-rl-space-400) var(--bb-rl-space-200);
		margin: 0 auto;
	}

	.ld-modal.ld-login-modal .ld-login-modal-branding {
		margin-bottom: var(--bb-rl-space-300);
	}

	.ld-modal.ld-login-modal .ld-login-modal-wrapper .ld-login-modal-branding > img {
		max-width: 250px;
	}

	.bb-learndash-content-wrap .ld-login-modal .ld-login-modal-login .ld-modal-heading {

		@include bb-rl-base-heading;
		color: var(--bb-rl-text-color);
		margin: 0 0 var(--bb-rl-space-200);
	}

	.bb-learndash-content-wrap .ld-login-modal .ld-login-modal-login .ld-modal-text {
		color: var(--bb-rl-text-secondary-color);
		line-height: 1.5;
		margin-bottom: var(--bb-rl-space-300);
	}

	.ld-modal.ld-login-modal .ld-login-modal-form input[type="submit"] {

		@include bb-rl-button;
		@include bb-rl-button--brand-fill;
		@include bb-rl-button--small;
		margin: var(--bb-rl-space-200) 0 0;
	}

	.bb-learndash-content-wrap .ld-login-modal .ld-login-modal-form label {

		@include bb-rl-label-heading;
		display: block;
		margin: 0 0 var(--bb-rl-space-50);
	}

	.bb-learndash-content-wrap .ld-login-modal {

		input[type="text"],
		input[type="password"],
		input[type="email"],
		.ld-login-field,
		.ld-password-field {

			width: 100%;
			margin-bottom: var(--bb-rl-space-100);
		}

		.ld-login-modal-form {
			text-align: left;
		}

		input[type="checkbox"]:not(.bb-custom-check) {
			position: static;
			opacity: 1;
		}

		.ld-icon.ld-icon-delete:before {
			content: "\e4f6";
			font-weight: 400;
			font-family: bb-icons-rl;
			font-size: 16px;
			color: var(--bb-rl-text-white-color);
		}
	}

	.bb-learndash-content-wrap .ld-login-modal .ld-forgot-password-link {

		@include bb-rl-button--tertiary-link;
		@include bb-rl-label-heading;
		margin: var(--bb-rl-space-200) 0;
		display: block;
	}

	.ld-modal.ld-login-modal.ld-can-register .ld-login-modal-register #wp-submit,
	.bb-learndash-content-wrap .ld-login-modal .ld-login-modal-register .ld-button {

		@include bb-rl-button;
		@include bb-rl-button-secondary-fill;
		@include bb-rl-button--small;
		margin: var(--bb-rl-space-200) 0 0;
	}
}

.bb-rl-learndash-quiz,
.bb-rl-learndash-topic,
.bb-rl-learndash-lesson {

	.bb-rl-course-content-comments {
		max-width: 800px;
		margin: 0 auto;
	}
}
