.bb-rl-learndash-lesson {

	.bb-rl-lesson-footer {
		position: fixed;
		bottom: 0;
		padding: 12px 0;
		background-color: var(--bb-rl-background-color);
		width: calc(100% - 300px);
		border-top: 1px solid var(--bb-rl-border-secondary-color);
		z-index: 100;
	}
}

.single-sfwd-lessons {

	.site.bb-readylaunch {
		background-color: var(--bb-rl-background-color);
	}
}

.bb-learndash-content-wrap--lesson {
	padding-bottom: 60px;
	background-color: var(--bb-rl-background-color);
}
