.bb-rl-learndash-quiz {

	.bb-rl-quiz-footer {
		position: fixed;
		bottom: 0;
		padding: 12px 0;
		background-color: var(--bb-rl-background-color);
		width: calc(100% - 300px);
		border-top: 1px solid var(--bb-rl-border-secondary-color);
		z-index: 100;
	}

	.bb-rl-quiz-actions {
		max-width: 800px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.single-sfwd-quiz {

	.site.bb-readylaunch {
		background-color: var(--bb-rl-background-color);
	}
}

.bb-learndash-content-wrap--quiz {
	padding-bottom: 60px;
	background-color: var(--bb-rl-background-color);
}

.bb-rl-quiz-block {
	max-width: 800px;
	margin: 0 auto;
	padding: var(--bb-rl-space-400) 0;

	.bb-rl-entry-header {
		margin: 0 0 var(--bb-rl-space-300);
	}

	.bb-rl-heading {
		margin: 0 0 var(--bb-rl-space-200);

		.bb-rl-lesson-count {
			margin-bottom: var(--bb-rl-space-50);
		}
	}

	.bb-rl-entry-title {

		@include bb-rl-base-heading-2xl;
		color: var(--bb-rl-text-color);
	}

	.bb-rl-entry-content {

		@include bb-rl-label-heading-md-thin;
		color: var(--bb-rl-text-secondary-color);
	}
}

.bb-rl-quiz-entry {

	.ld-breadcrumbs {
		display: none;
	}

	.wpProQuiz_content {

		.wpProQuiz_button {

			@include bb-rl-button;
			@include bb-rl-button--brand-fill;
			@include bb-rl-button--small;
			font-weight: 400;
		}
	}
}
