.bb-rl-learndash-quiz {

	.bb-rl-quiz-footer {
		position: fixed;
		bottom: 0;
		padding: 12px 0;
		background-color: var(--bb-rl-background-color);
		width: calc(100% - 300px);
		border-top: 1px solid var(--bb-rl-border-secondary-color);
		z-index: 100;
	}

	.bb-rl-quiz-actions {
		max-width: 800px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.single-sfwd-quiz {

	.site.bb-readylaunch {
		background-color: var(--bb-rl-background-color);
	}
}

.bb-learndash-content-wrap--quiz {
	padding-bottom: 60px;
	background-color: var(--bb-rl-background-color);
}

.bb-rl-quiz-block {
	max-width: 800px;
	margin: 0 auto;
	padding: var(--bb-rl-space-400) 0;

	.bb-rl-entry-header {
		margin: 0 0 var(--bb-rl-space-300);
	}

	.bb-rl-heading {
		margin: 0 0 var(--bb-rl-space-200);

		.bb-rl-lesson-count {
			margin-bottom: var(--bb-rl-space-50);
		}
	}

	.bb-rl-entry-title {

		@include bb-rl-base-heading-2xl;
		color: var(--bb-rl-text-color);
	}

	.bb-rl-entry-content {

		@include bb-rl-label-heading-md-thin;
		color: var(--bb-rl-text-secondary-color);
	}
}

.bb-rl-quiz-entry {

	.ld-breadcrumbs {
		display: none;
	}

	.wpProQuiz_content {

		.wpProQuiz_button {

			@include bb-rl-button;
			@include bb-rl-button--brand-fill;
			@include bb-rl-button--small;
			font-weight: 400;

			&[name="skip"] {

				@include bb-rl-button-secondary-fill;
			}
		}

		.wpProQuiz_button2 {

			@include bb-rl-button;
			@include bb-rl-button-secondary-fill;
			@include bb-rl-button--small;
		}
	}

	.learndash-wrapper .wpProQuiz_content {

		.wpProQuiz_questionListItem {

			label {

				@include bb-rl-label-heading-md;
				color: var(--bb-rl-text-color);
				border: 1px solid var(--bb-rl-border-secondary-color);
				border-radius: var(--bb-rl-radius-md);
			}
		}

		.wpProQuiz_time_limit {
			background-color: var(--bb-rl-background-secondary-color);
			border-radius: var(--bb-rl-radius-md);
			padding: var(--bb-rl-space-200);

			&::before {
				background-color: var(--bb-rl-background-color);
				height: var(--bb-rl-space-100);
				border-radius: var(--bb-rl-radius-full);
				bottom: var(--bb-rl-space-200);
				left: var(--bb-rl-space-200);
				right: var(--bb-rl-space-200);
			}

			.time {

				@include bb-rl-label-heading-md;
				color: var(--bb-rl-text-color);
			}

			.wpProQuiz_progress {
				background-color: var(--bb-rl-text-positive-secondary-color);
				border-radius: var(--bb-rl-radius-full);
				height: var(--bb-rl-space-100);

				.wpProQuiz_progress_bar {
					background-color: var(--bb-rl-text-positive-primary-color);
				}
			}
		}

		.wpProQuiz_response {
			background-color: var(--bb-rl-background-secondary-color);
			border: 1px solid var(--bb-rl-border-secondary-color);
			color: var(--bb-rl-text-color);
			border-radius: var(--bb-rl-radius-md);
			padding: var(--bb-rl-space-300);

			.wpProQuiz_incorrect {
				color: var(--bb-rl-text-danger-secondary-color);
			}

			.wpProQuiz_correct {
				color: var(--bb-rl-text-positive-secondary-color);
			}
		}

		.wpProQuiz_questionListItem.wpProQuiz_answerCorrect label {
			background-color: var(--bb-rl-background-positive-secondary-color);
		}

		.wpProQuiz_questionListItem.wpProQuiz_answerIncorrect label {
			background-color: var(--bb-rl-background-danger-secondary-color);
		}
	}

	.learndash-wrapper .wpProQuiz_reviewSummary .wpProQuiz_reviewQuestion {
		border-color: var(--bb-rl-border-secondary-color);
	}

	.learndash-wrapper .wpProQuiz_reviewDiv,
	.learndash-wrapper .wpProQuiz_reviewSummary {

		.wpProQuiz_reviewQuestion {
			background-color: var(--bb-rl-background-secondary-color);
			border-radius: var(--bb-rl-radius-md);
			padding: var(--bb-rl-space-100);

			ol {
				display: flex;
				flex-flow: wrap;
				align-items: center;
				gap: var(--bb-rl-space-50);
			}

			li {
				background-color: var(--bb-rl-background-color);
				border-radius: var(--bb-rl-radius-md);
				border: 1px solid var(--bb-rl-border-secondary-color);
				margin: 0;
				padding: 0;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				width: var(--bb-rl-space-400);
				height: var(--bb-rl-space-400);

				&.wpProQuiz_reviewQuestionTarget {
					border: 1px solid var(--bb-rl-text-brand-primary-color);
					outline: none;
				}

				&.wpProQuiz_reviewQuestionSolved {
					color: var(--bb-rl-text-color);
				}

				&.wpProQuiz_reviewQuestionTarget {
					color: var(--bb-rl-text-color);
					box-shadow: none;
				}
			}
		}

		.wpProQuiz_reviewLegend {
			margin: var(--bb-rl-space-100) 0 var(--bb-rl-space-200);

			ol {
				display: flex;
				flex-flow: wrap;
				align-items: center;
				gap: var(--bb-rl-space-100);

				li {
					display: inline-flex;
					align-items: center;
					gap: var(--bb-rl-space-100);
				}
			}

			.wpProQuiz_reviewText {

				@include bb-rl-label-heading;
				color: var(--bb-rl-text-secondary-color);
			}

			.wpProQuiz_reviewColor {
				border-radius: var(--bb-rl-radius-sm);
				width: var(--bb-rl-space-200);
				height: var(--bb-rl-space-200);
				margin: 0;

				&.wpProQuiz_reviewColor_AnswerCorrect {
					background-color: var(--bb-rl-text-positive-secondary-color);
				}

				&.wpProQuiz_reviewColor_AnswerIncorrect {
					background-color: var(--bb-rl-text-danger-secondary-color);
				}

				&.wpProQuiz_reviewColor_Review {
					background-color: var(--bb-rl-text-warning-secondary-color);
				}

				&.wpProQuiz_reviewColor_Answer {
					background-color: var(--bb-rl-border-brand-primary-color);
				}

				&.wpProQuiz_reviewQuestion_Target {
					outline: 2px solid var(--bb-rl-border-brand-secondary-color);
				}
			}
		}
	}
}
