.bb-rl-learndash-topic {

	.bb-rl-topic-footer {
		position: fixed;
		bottom: 0;
		padding: 12px 0;
		background-color: var(--bb-rl-background-color);
		width: calc(100% - 300px);
		border-top: 1px solid var(--bb-rl-border-secondary-color);
		z-index: 100;
	}

	.bb-rl-topic-actions {
		max-width: 800px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.single-sfwd-topic {

	.site.bb-readylaunch {
		background-color: var(--bb-rl-background-color);
	}
}

.bb-learndash-content-wrap--topic {
	padding-bottom: 60px;
	background-color: var(--bb-rl-background-color);
}
