.single-sfwd-topic {

	.site.bb-readylaunch {
		background-color: var(--bb-rl-background-color);
	}
}

.bb-learndash-content-wrap--topic {
	padding-bottom: 60px;
	background-color: var(--bb-rl-background-color);
}
