.meeting-item-container {
	background: #fff;
	border: 1px solid #e7e9ec;
	border-radius: 4px;
	padding: 20px;
	margin-bottom: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: column;
	flex-flow: column;
	overflow: auto;

	h2 {
		text-transform: capitalize;
	}

	.load-more {
		margin: 0 auto 10px;
		width: 100%;
		border-top: 1px solid #e7e9ec;

		.button {
			max-width: 230px;
			margin: 0 auto;
			margin-top: 20px;

			#buddypress & {
				display: block;
			}
		}
	}
}

.meeting-item-table {
	min-width: 600px;

	.meeting-item-header {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		border-bottom: 1px solid #e7e9ec;
		padding: 0 0 8px;

		.meeting-item-head {
			font-size: 12px;
			color: #939597;
			ms-flex-preferred-size: 25%;/* stylelint-disable-line */
			flex-basis: 25%;
			text-transform: uppercase;
		}
	}

	.meeting-item {
		margin: 0;
		border-bottom: 1px solid #e7e9ec;
		padding: 15px 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;

		&:last-child {
			border-bottom: 0;
		}

		.meeting-item-col {
			-ms-flex-preferred-size: 25%;
			flex-basis: 25%;
			font-size: 14px;
			line-height: 1.3;
			color: #4d5c6d;
			padding: 0 5px;

			.meeting-link {
				font-size: 15px;
				color: #122b46;
			}

			&.meeting-action {
				text-align: center;
				padding: 0 5px;

				#bp-zoom-meeting-view-recordings {
					margin-top: 10px;
				}
			}

		}
	}

	.recording-list {
		display: flex;
		flex: auto;
		border-bottom: 1px solid #e7e9ec;
		padding: 15px 0;
		background-color: #fff;
		margin-top: -1px;
		flex-flow: column;

		.recording-list-row-wrap {
			display: table;
			table-layout: fixed;
			width: 100%;
		}

		.recording-list-row {
			display: table-row;
			width: 100%;
		}

		.recording-list-row-col {
			display: table-cell;
			text-align: center;
			border-bottom: 1px solid #e7e9ec;
			padding: 10px 0;

			p {
				margin-bottom: 0;
			}
		}

		&:empty {
			display: none;
		}
	}

}

.single-meeting-item-table {
	min-width: auto;

	.single-meeting-item {
		border-bottom: 1px solid #e7e9ec;
		margin-bottom: 15px;
		padding: 0 0 15px 10px;

		.meeting-item-head {
			display: inline-block;
			width: 220px;
			font-size: 15px;
			color: #939597;
			margin-bottom: 0;
		}

		&.last-col {
			border-bottom: 0;
		}

		.meeting-item-col {
			display: inline-block;
			font-size: 15px;
			line-height: 1.3;
			color: #4d5c6d;

			&.last-col {
				border-bottom: 0;

				.button {

					#buddypress .meeting-item-container & {
						margin-top: 0;

					}
				}

			}

			&.full {
				width: 100%;
			}

			.pull-right {
				float: right;
			}

			&.meeting-action button {
				margin-top: 0;
			}

			a.delete {
				margin-top: 7px;
				display: inline-block;
			}
		}
	}
}

@media screen and ( max-width: 768px ) {

	.single-meeting-item-table .single-meeting-item {

		.meeting-item-col {
			width: 100%;

			&.last-col {
				text-align: center;

				.pull-right {
					width: 100%;
				}

				.button {

					#buddypress .meeting-item-container & {
						margin: 5px 0;
					}
				}
			}
		}

		.meeting-item-head {
			width: 100%;

			&:empty {
				display: none;
			}
		}
	}
}
