.bb-rl-search-modal {

	.bb-rl-modal-wrapper {
		max-width: 800px;
	}

	.bp-search-form-wrapper {
		background-color: var(--bb-rl-background-color);
		border-radius: var(--bb-rl-radius-lg);
		border: 1px solid var(--bb-rl-border-secondary-color);
		box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
		position: relative;
		z-index: 999995;
	}

	.bp-dir-search-form {
		width: 100%;
		border-radius: var(--bb-rl-radius-lg);
		border: none;

		&::before {
			display: none;
		}

		button[type="submit"] {
			opacity: 1;
			top: 50%;
			left: var(--bb-rl-space-300);
			transform: translateY(-50%);
			border: none;
			background-color: transparent;
			color: var(--bb-rl-icon-secondary-color);
			padding: 0;
			line-height: 1;

			span[class^="bb-icons-rl-"] {
				font-size: 24px;
			}
		}
	}

	input#search {

		@include bb-rl-base-heading;
		width: 100%;
		border-radius: var(--bb-rl-radius-md);
		padding: var(--bb-rl-space-200) var(--bb-rl-space-200) var(--bb-rl-space-200) var(--bb-rl-space-700);
	}

	.bb-rl-search-results-container {
		max-width: 100%;
	}
}

.bb-rl-network-search-modal {

	.bb-rl-modal-mask {
		align-items: flex-start;

		.bb-rl-modal-wrapper {
			position: absolute;
			top: 6%;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

.bb-rl-network-search-bar {
	position: relative;
	display: flex;
	width: 100%;
	align-items: center;
	gap: var(--bb-rl-space-100);
	padding: var(--bb-rl-space-100) var(--bb-rl-space-200) var(--bb-rl-space-100) var(--bb-rl-space-700);

	input#search {

		@include bb-rl-base-heading;
		flex: 1;
		padding: var(--bb-rl-space-100);
	}

	.bb-rl-network-search-clear {

		@include bb-rl-label-heading-bolder;
		color: var(--bb-rl-text-color);
		white-space: nowrap;
	}

	.bb-rl-filter-tag {
		display: inline-flex;
		align-items: center;
		gap: var(--bb-rl-space-100);
		border: 1px solid var(--bb-rl-border-secondary-color);
		padding: var(--bb-rl-space-50) var(--bb-rl-space-200);
		border-radius: var(--bb-rl-radius-full);
		white-space: nowrap;
		cursor: pointer;

		.search-filter-label {

			@include bb-rl-label-heading-bolder;
			color: var(--bb-rl-text-secondary-color);
		}

		i {
			font-size: 16px;
			color: var(--bb-rl-icon-secondary-color);
		}
	}

	.bb-rl-network-search-filter.bb_more_options .bb_more_options_action i {
		font-size: 16px;
		color: var(--bb-rl-icon-secondary-color);
	}

	.bb-rl-network-search-filter {
		position: relative;

		.select2-results__options {
			max-height: 50vh;
			overflow-y: auto;
		}
	}

	.bb-rl-search-options.bb_more_dropdown {
		top: calc(100% + var(--bb-rl-space-50));

		.bb-rl-search-filter-option a {

			@include bb-rl-label-heading-bolder;
			display: inline-flex;
			width: 100%;
			align-items: center;
			gap: var(--bb-rl-space-100);
			white-space: nowrap;
			padding: var(--bb-rl-space-100) var(--bb-rl-space-200);
			color: var(--bb-rl-text-color);

			&::before {
				display: none;
			}

			&:hover {
				background-color: var(--bb-rl-background-secondary-hover-color);
			}
		}
	}
}

.bb-rl-ac-results {

	.bp-search-ac {
		list-style: none;
		margin: 6px 0;
		padding: 0;
	}

	.bp-search-ac {

		.ui-menu-item-wrapper {
			display: flex;
			gap: var(--bb-rl-space-200);

			> a.x {
				display: none;
			}
		}

		> li {
			padding: var(--bb-rl-space-200) var(--bb-rl-space-300);
			border-top: 1px solid var(--bb-rl-border-secondary-color);

			.item-avatar {
				display: inline-block;
				width: 48px;
				height: 48px;

				img.avatar,
				img.attachment-post-thumbnail {
					width: 100%;
					height: 100%;
					object-fit: cover;
					display: block;
					object-position: center;
					border-radius: 50%;
				}

				img.attachment-post-thumbnail {
					border-radius: var(--bb-rl-radius-md);
				}

				i {
					display: inline-flex;
					align-items: center;
					justify-content: center;
					width: 100%;
					height: 100%;
					background-color: var(--bb-rl-background-tertiary-color);
					border-radius: var(--bb-rl-radius-md);
				}
			}

			.item-title {

				@include bb-rl-base-heading-bolder;
				margin-bottom: var(--bb-rl-space-100);
				display: flex;
				align-items: center;
				gap: var(--bb-rl-space-100);
				color: var(--bb-rl-text-color);

				a {
					color: var(--bb-rl-text-color);
				}
			}

			.item-content,
			.item {
				flex: 1;
			}

			.item-desc {

				@include bb-rl-label-heading-md-thin;
				color: var(--bb-rl-text-color);

				span:empty + br {
					display: none;
				}
			}

			.entry-meta {

				@include bb-rl-label-heading-md;
				display: flex;
				align-items: center;
				gap: var(--bb-rl-space-50);
				color: var(--bb-rl-text-tertiary-color);
				margin-top: var(--bb-rl-space-100);
				flex-flow: wrap;

				span {
					white-space: nowrap;
				}

				.author,
				a {
					color: var(--bb-rl-text-tertiary-color);
					white-space: nowrap;
				}
			}
		}

		.bbls-view_all_type-type {
			padding-bottom: 10px;
		}

		.bbls-view_all_type-type .allresults {

			a:not(.x) {

				@include bb-rl-button;
				@include bb-rl-button--tertiary-link;
				@include bb-rl-button--small;
				padding-left: var(--bb-rl-space-100);

				&::after {
					content: "\e06c";
					font-weight: 400;
					font-family: bb-icons-rl;
					font-size: 16px;
					font-style: normal;
					margin-left: var(--bb-rl-space-50);
					line-height: 1;
				}
			}
		}

		.bp-search-ajax-item.noresult {

			@include bb-rl-base-heading-xl;
			width: 100%;
			text-align: center;
			color: var(--bb-rl-text-color);
			padding: var(--bb-rl-space-500) 0;

			&::before {
				display: block;
				content: "\e30c";
				font-weight: 400;
				font-family: bb-icons-rl;
				font-size: 40px;
				font-style: normal;
				margin-bottom: var(--bb-rl-space-200);
				line-height: 1;
				color: var(--bb-rl-icon-primary-color);
			}
		}

		.ui-menu-item-wrapper .loading-msg {

			@include bb-rl-label-heading-md-thin;
			width: 100%;
			color: var(--bb-rl-text-secondary-color);
			padding: var(--bb-rl-space-200) 0;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: var(--bb-rl-space-100);

			.bb_global_search_spinner {

				@include bb-rl-spinner;
			}
		}

	}
}
