.bb-rl-search-modal {

	.bb-rl-modal-wrapper {
		max-width: 800px;
	}

	.bp-search-form-wrapper {
		background-color: var(--bb-rl-background-color);
		border-radius: var(--bb-rl-radius-lg);
		border: 1px solid var(--bb-rl-border-secondary-color);
		box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
	}

	.bp-dir-search-form {
		width: 100%;
		border-radius: var(--bb-rl-radius-lg);
		border: none;

		&::before {
			display: none;
		}

		button[type="submit"] {
			opacity: 1;
			top: 50%;
			left: var(--bb-rl-space-300);
			transform: translateY(-50%);
			border: none;
			background-color: transparent;
			color: var(--bb-rl-icon-secondary-color);
			padding: 0;
			line-height: 1;

			span[class^="bb-icons-rl-"] {
				font-size: 24px;
			}
		}
	}

	input#search {

		@include bb-rl-base-heading;
		width: 100%;
		border-radius: var(--bb-rl-radius-md);
		padding: var(--bb-rl-space-200) var(--bb-rl-space-200) var(--bb-rl-space-200) var(--bb-rl-space-700);
	}
}

.bb-rl-network-search-bar {
	position: relative;
	display: flex;
	width: 100%;
	align-items: center;
	gap: var(--bb-rl-space-100);
	padding: var(--bb-rl-space-100) var(--bb-rl-space-200) var(--bb-rl-space-100) var(--bb-rl-space-700);

	input#search {

		@include bb-rl-base-heading;
		flex: 1;
		padding: var(--bb-rl-space-100);
	}

	.bb-rl-network-search-clear {

		@include bb-rl-label-heading-bolder;
		color: var(--bb-rl-text-color);
		white-space: nowrap;
	}

	.bb-rl-filter-tag {
		display: inline-flex;
		align-items: center;
		gap: var(--bb-rl-space-100);
		border: 1px solid var(--bb-rl-border-secondary-color);
		padding: var(--bb-rl-space-50) var(--bb-rl-space-200);
		border-radius: var(--bb-rl-radius-full);
		white-space: nowrap;
		cursor: pointer;

		.search-filter-label {

			@include bb-rl-label-heading-bolder;
			color: var(--bb-rl-text-secondary-color);
		}

		i {
			font-size: 16px;
			color: var(--bb-rl-icon-secondary-color);
		}
	}

	.bb-rl-network-search-filter.bb_more_options .bb_more_options_action i {
		font-size: 16px;
		color: var(--bb-rl-icon-secondary-color);
	}

	.bb-rl-network-search-filter {
		position: relative;
	}

	.bb-rl-search-options.bb_more_dropdown {
		top: calc(100% + var(--bb-rl-space-50));

		.bb-rl-search-filter-option a {

			@include bb-rl-label-heading-bolder;
			display: inline-flex;
			width: 100%;
			align-items: center;
			gap: var(--bb-rl-space-100);
			white-space: nowrap;
			padding: var(--bb-rl-space-100) var(--bb-rl-space-200);
			color: var(--bb-rl-text-color);

			&::before {
				display: none;
			}

			&:hover {
				background-color: var(--bb-rl-background-secondary-hover-color);
			}
		}
	}
}

.bb-rl-ac-results {

	.ac-results-list {
		padding: 0;
		margin: 0;
		list-style: none;

		.bb-rl-search-post {
			display: flex;
			gap: var(--bb-rl-space-200);
			padding: var(--bb-rl-space-200) var(--bb-rl-space-300);
			border-top: 1px solid var(--bb-rl-border-secondary-color);

			.item-avatar {
				display: inline-block;
				width: 48px;
				height: 48px;

				img.avatar {
					width: 100%;
					height: 100%;
					object-fit: cover;
					display: block;
					object-position: center;
					border-radius: 50%;
				}

				i {
					display: inline-flex;
					align-items: center;
					justify-content: center;
					width: 100%;
					height: 100%;
					background-color: var(--bb-rl-background-tertiary-color);
					border-radius: 50%;
				}
			}

			.item-title {

				@include bb-rl-base-heading-bolder;
				margin-bottom: var(--bb-rl-space-100);

				a {
					color: var(--bb-rl-text-color);
				}
			}

			.item-content {
				flex: 1;
			}

			.entry-content {

				@include bb-rl-label-heading-md-thin;
			}

			.entry-meta {

				@include bb-rl-label-heading-md;
				display: flex;
				gap: var(--bb-rl-space-100);
				color: var(--bb-rl-text-tertiary-color);
				margin-top: var(--bb-rl-space-100);

				.bb-rl-meta-item + .bb-rl-meta-item {
					display: inline-flex;
					align-items: center;

					&::before {
						content: "";
						display: inline-block;
						width: 4px;
						height: 4px;
						background-color: var(--bb-rl-background-tertiary-color);
						border-radius: 50%;
						margin-right: var(--bb-rl-space-100);
					}
				}
			}

			&.bb-rl-search-post--group {

				.item-avatar {

					img.avatar {
						border-radius: var(--bb-rl-radius-lg);
					}

					i {
						border-radius: var(--bb-rl-radius-lg);
					}
				}
			}
		}
	}
}
