.bb-rl-sub-ctrls {

	.subnav-filters {
		display: flex;
		align-items: center;

		.subnav-search {
			margin: 0 var(--bb-rl-space-200);
		}

		@media screen and (max-width: $sm) {
			flex-flow: wrap;
			gap: var(--bb-rl-space-100);
			justify-content: center;
		}
	}

	.bb-rl-grid-filters + .component-filters {
		display: inline-flex;
		align-items: center;

		@media screen and (min-width: $sm) {

			&::before {
				content: "|";
				color: var(--bb-rl-background-tertiary-hover-color);
				padding: 0 var(--bb-rl-space-200);
			}
		}

		@media screen and (max-width: $sm) {
			margin-left: var(--bb-rl-space-200);
		}
	}

	.component-filters + .component-filters {
		margin-left: var(--bb-rl-space-200);
	}

	.subnav-filters + .bb-rl-action-button {
		display: inline-flex;
		align-items: center;

		.bb-rl-button {
			padding: 4px var(--bb-rl-space-200);
		}

		@media screen and (min-width: 782px) {

			&::before {
				content: "|";
				color: var(--bb-rl-background-tertiary-hover-color);
				padding: 0 var(--bb-rl-space-200);
			}
		}
	}
}

.bb-rl-heading-count {
	display: inline-flex;
	align-items: center;

	&::before {
		content: "(";
		font-size: inherit;
	}

	&::after {
		content: ")";
		font-size: inherit;
	}

	&:empty {

		&::before,
		&::after {
			display: none;
		}
	}
}

.bb-rl-members .item-entry .bb-rl-context-wrap {
	position: absolute;
	top: 12px;
	right: 16px;
}

.bb-rl-context-wrap,
.bb-rl-container .bb_more_options {
	position: relative;
	display: inline-flex;

	.bb-rl-context-btn,
	.bb_more_options_action {
		display: inline-flex;

		i {
			font-size: 24px;
			color: var(--bb-rl-icon-tertiary-color);
		}
	}

	.bb-rl-context-dropdown,
	.bb_more_dropdown {
		display: none;
		position: absolute;
		right: 0;
		top: 100%;
		background-color: var(--bb-rl-background-color);
		padding: var(--bb-rl-space-100) 0;
		border-radius: var(--bb-rl-radius-md);
		box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
		border: 1px solid var(--bb-rl-border-secondary-color);
		width: 195px;
		list-style: none;
		z-index: var(--bb-rl-z-index-dropdown);

		&.open {
			display: block;
		}

		.bb_rl_more_dropdown__title {
			display: none;
		}

		.generic-button,
		> ul li {

			a {

				@include bb-rl-label-heading-bolder;
				padding: 10px var(--bb-rl-space-200);
				color: var(--bb-rl-text-secondary-color);
				white-space: nowrap;
				display: inline-flex;
				align-items: center;
				width: 100%;

				&:hover {
					background-color: var(--bb-rl-background-secondary-color);
				}
			}
		}

		a {

			&::before {
				content: "";
				font-weight: 400;
				font-family: bb-icons-rl;
				font-size: 20px;
				color: var(--bb-rl-icon-primary-color);
				font-style: normal;
				margin-right: var(--bb-rl-space-100);
			}

			&.block-member {

				&::before {
					content: "\e3de";
				}
			}

			&.reported-content,
			&.report-content {

				&::before {
					content: "\e244";
				}
			}

			&.view-as {

				&::before {
					content: "\e220";
				}
			}

			&.about-group {

				&::before {
					content: "\e2ce";
				}
			}

			&.group-manage {

				&::before {
					content: "\e272";
				}
			}

			&.leave-group {

				&::before {
					content: "\e42a";
				}
			}

			&.delete-group {

				&::before {
					content: "\e4a6";
				}
			}
		}

		.bp-screen-reader-text {
			clip: rect(1px, 1px, 1px, 1px);
			height: 1px;
			overflow: hidden;
			position: absolute;
			width: 1px;
			word-wrap: normal;
		}

		> ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}
	}
}

.bb-rl-skeleton-grid {
	display: flex;
	flex-flow: row wrap;
	gap: var(--bb-rl-space-200);

	&.grid {

		.bb-rl-skeleton-grid-block {

			&.bb-rl-skeleton-grid-block--cover {
				align-items: flex-start;
				padding-top: 72px;
			}
		}

		/* A sidebar-conditioned grid can be used on
		single profile or group screens. */

		.bb-rl-primary-container & {

			.bb-rl-skeleton-grid-block {
				flex: 0 0 calc(33.33% - (var(--bb-rl-space-200) * 2 / 3));
				max-width: calc(33.33% - (var(--bb-rl-space-200) * 2 / 3));
			}

			@media screen and (max-width: 1600px) {

				.bb-rl-skeleton-grid-block {
					flex: 0 0 calc(50% - (var(--bb-rl-space-200) * 1 / 2));
					max-width: calc(50% - (var(--bb-rl-space-200) * 1 / 2));
				}
			}

			@media screen and (min-width: 1200px) and (max-width: 1400px) {

				.bb-rl-skeleton-grid-block {
					flex: 0 0 calc(100%);
					max-width: calc(100%);
				}
			}

			@media screen and (max-width: $md) {

				.bb-rl-skeleton-grid-block {
					flex: 0 0 calc(100%);
					max-width: calc(100%);
				}
			}
		}

		.bb-rl-skeleton-grid-block {
			flex: 0 0 calc(25% - (var(--bb-rl-space-200) * 3 / 4));
			max-width: calc(25% - (var(--bb-rl-space-200) * 3 / 4));
		}

		@media screen and (max-width: $xl) {

			.bb-rl-skeleton-grid-block {
				flex: 0 0 calc(33.33% - (var(--bb-rl-space-200) * 2 / 3));
				max-width: calc(33.33% - (var(--bb-rl-space-200) * 2 / 3));
			}
		}

		@media screen and (max-width: $lg) {

			.bb-rl-skeleton-grid-block {
				flex: 0 0 calc(33.33% - (var(--bb-rl-space-200) * 2 / 3));
				max-width: calc(33.33% - (var(--bb-rl-space-200) * 2 / 3));
			}
		}

		@media screen and (max-width: $md) {

			.bb-rl-skeleton-grid-block {
				flex: 0 0 calc(50% - (var(--bb-rl-space-200) * 1 / 2));
				max-width: calc(50% - (var(--bb-rl-space-200) * 1 / 2));
			}
		}

		@media screen and (max-width: $sm) {

			.bb-rl-skeleton-grid-block {
				flex: 0 0 calc(100%);
				max-width: calc(100%);
			}
		}
	}

	&:not(.grid) {

		.bb-rl-skeleton-grid-block {
			flex: 0 0 100%;
			max-width: 100%;
		}

		.bb-rl-skeleton-cover {
			display: none;
		}

		.bb-rl-skeleton-grid-block--cover {

			.bb-rl-skeleton-footer {
				width: 72px;
				flex: 0 0 72px;

				.bb-rl-skeleton-data-bit {

					&:nth-of-type(1) {
						width: 100%;
					}
				}
			}
		}
	}
}

.bb-rl-skeleton-grid-block {
	position: relative;
	height: 100%;
	border-radius: var(--bb-rl-radius-lg);
	background-color: var(--bb-rl-background-color);
	border: 1px solid var(--bb-rl-border-secondary-color);
	padding: var(--bb-rl-space-400) var(--bb-rl-space-300);
	display: flex;
	align-items: center;
	gap: var(--bb-rl-space-200);

	&.bb-rl-skeleton-grid-block--cover {
		align-items: flex-start;
		padding-top: 72px;
	}

	.bp-list.grid & {
		flex-direction: column;

		&.bb-rl-skeleton-grid-block--cover {

			.bb-rl-skeleton-data {
				width: 100%;

				.bb-rl-skeleton-data-bit {
					margin: 0 0 var(--bb-rl-space-100);

					&:last-of-type {
						margin-bottom: 0;
					}
				}
			}

			.bb-rl-skeleton-footer {

				.bb-rl-skeleton-data-bit {

					&:nth-of-type(1) {
						margin-left: 0;
					}
				}
			}
		}

		.bb-rl-skeleton-data {
			width: 100%;

			.bb-rl-skeleton-data-bit {
				margin: var(--bb-rl-space-200) auto;

				&:nth-of-type(2) {
					height: var(--bb-rl-space-200);
				}

				&:nth-of-type(3) {
					display: block;
					width: 100%;
					margin-top: var(--bb-rl-space-300);
				}
			}
		}

		.bb-rl-skeleton-footer {
			width: 100%;
			flex-direction: row-reverse;

			.bb-rl-skeleton-data-bit {

				&:nth-of-type(1) {
					margin-left: auto;
				}
			}
		}
	}
}

.bb-rl-skeleton-cover {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 100%;
	height: 104px;
	border-radius: var(--bb-rl-radius-lg) var(--bb-rl-radius-lg) 0 0;
	background-color: var(--bb-rl-background-secondary-hover-color);
}

.bb-rl-skeleton-avatar {
	display: inline-block;
	width: 104px;
	height: 104px;
	border-radius: 50%;
	background-color: var(--bb-rl-background-secondary-hover-color);

	.bb-rl-skeleton-grid-block--cover & {
		width: 80px;
		height: 80px;
		border-radius: var(--bb-rl-radius-lg);
	}
}

.bb-rl-skeleton-loop {
	display: flex;
	align-items: center;

	.bb-rl-skeleton-data-bit {
		display: inline-block;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		margin-left: -4px;

		&:first-of-type {
			margin-left: 0;
		}
	}
}

.bb-rl-skeleton-data-bit {
	display: block;
	background-color: var(--bb-rl-background-secondary-hover-color);
	border-radius: var(--bb-rl-radius-sm);
	height: var(--bb-rl-space-200);
}

.bb-rl-skeleton-data {
	flex: 1;

	.bb-rl-skeleton-data-bit {
		margin: 6px 0;

		&:nth-of-type(1) {
			width: 30%;
			max-width: 92px;
		}

		&:nth-of-type(2) {
			width: 45%;
			max-width: 186px;
			height: 13px;
		}

		&:nth-of-type(3) {
			width: 80%;
			max-width: 186px;
			display: none;
			height: 13px;
		}
	}
}

.bb-rl-skeleton-footer {
	display: flex;
	align-items: center;
	flex: 0 0 33.33%;
	gap: var(--bb-rl-space-200);
	justify-content: flex-end;

	.bb-rl-skeleton-data-bit {
		height: var(--bb-rl-space-300);

		&:nth-of-type(1) {
			width: 50%;
			max-width: 72px;
		}

		&:nth-of-type(2) {
			width: 20%;
			max-width: 24px;
		}

		&:nth-of-type(3) {
			width: 20%;
			max-width: 24px;
		}
	}
}

@keyframes fade-in-out {

	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
	}
}

.bb-rl-skeleton-loader {
	animation: fade-in-out infinite 2s ease;
}

.bb-rl-content-wrapper {
	padding: var(--bb-rl-space-400) var(--bb-rl-space-600);
}

.bb-rl-content-wrapper {
	display: flex;
	gap: var(--bb-rl-space-400);

	.bb-rl-primary-container {
		flex: 1;
	}

	.bb-rl-secondary-container {
		max-width: 320px;
		flex: 0 0 320px;
	}

	.bb-rl-secondary-container:empty {
		display: none;
	}

	@media screen and (max-width: $xl) {
		flex-direction: column;

		.bb-rl-secondary-container {
			max-width: 100%;
			flex: 0 0 100%;
		}
	}

	@media screen and (max-width: $lg) {
		padding-left: 0;
		padding-right: 0;
	}
}

.bp-dir-search-form {
	position: relative;
	background-color: var(--bb-rl-background-color);
	border: 1px solid var(--bb-rl-border-tertiary-color);
	border-radius: var(--bb-rl-radius-full);
	display: inline-flex;
	align-items: center;

	&::before {
		content: "\e30c";
		font-weight: 400;
		font-family: bb-icons-rl;
		font-size: 16px;
		color: var(--bb-rl-icon-primary-color);
		font-style: normal;
		margin-right: var(--bb-rl-space-100);
		position: absolute;
		left: 12px;
		top: 5px;
	}

	input[type="search"] {
		border: 0;
		padding-left: 36px;
		background-color: transparent;
		border-radius: var(--bb-rl-radius-full);
	}

	button[type="submit"] {
		position: absolute;
		left: 0;
		top: 2px;
		opacity: 0;
	}

	.search-form_reset {
		display: none;
		background-color: transparent;
		border: 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: var(--bb-rl-space-100);
		opacity: 0.4;
	}
}

.bb-rl-entry-title {

	@include bb-rl-base-heading-xl;
}

/*
* Cover photo cropper
*/
body.guillotine-dragging,
body.guillotine-dragging * {
	cursor: move !important;
	cursor: -webkit-grabbing !important;
	cursor: -moz-grabbing !important;
	cursor: grabbing !important;
	cursor: grabbing, move;  /* IE hack */
}

.guillotine-window {
	display: block;
	position: relative;
	overflow: hidden;
	cursor: move;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab;
	cursor: grab, move;  /* IE hack */
}

.guillotine-canvas {
	position: absolute;
	top: 0;
	text-align: center;
	margin: 0 !important;
	padding: 0 !important;
	border: none !important;
	width: 100% !important;
	left: 0 !important;

	> img {
		height: auto;
		min-height: 100%;
		object-fit: cover;
	}

	> * {
		position: absolute;
		top: 0;
		left: 0;
		max-width: none;
		max-height: none;
		width: 100%;
		height: 100%;
		margin: 0 !important;
		padding: 0 !important;
		border: none !important;
	}
}

.guillotine-sample {
	position: absolute !important;
	top: -100000px !important;
	left: -100000px !important;
	width: auto !important;
	height: auto !important;
}

.bb-rl-drag-drop-button-wrap {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	border: 1px solid var(--bb-rl-border-secondary-color);
	margin-bottom: var(--bb-rl-space-100);

	i {
		font-size: 24px;
		position: relative;
		z-index: 1;
		color: var(--bb-rl-icon-primary-color);
		font-weight: 500;
	}

	input.button {
		position: absolute;
		display: inline-block;
		opacity: 0;
		z-index: 3;
		width: 48px;
		height: 48px;
		border: 0;
		background-color: transparent;
		cursor: pointer;
	}
}

.drag-drop .bb-rl-drag-drop-wrapper {

	.drag-drop-info {

		@include bb-rl-base-heading;
		color: var(--bb-rl-text-color);
	}

	.drag-drop-subtitle {

		@include bb-rl-label-heading;
		color: var(--bb-rl-text-tertiary-color);
	}
}

.bb-rl-media-stream {
	padding: var(--bb-rl-space-300);
	background-color: var(--bb-rl-background-color);
	border-radius: var(--bb-rl-radius-lg);

	.media-list,
	.video-list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: var(--bb-rl-space-300);
	}

	.bb-item-thumb {
		position: relative;
		z-index: 1;

		.media-action-wrap,
		.video-action-wrap {
			position: absolute;
			top: var(--bb-rl-space-100);
			right: var(--bb-rl-space-100);
			z-index: 2;
			opacity: 1;
		}

		.bb-video-duration {
			position: absolute;
			bottom: var(--bb-rl-space-100);
			left: var(--bb-rl-space-100);
			z-index: 2;
			opacity: 1;
		}

		.bb-item-cover-wrap {
			position: relative;
			overflow: hidden;
			padding-top: 100%;
			display: block;
			border-radius: var(--bb-rl-radius-lg);

			img {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				z-index: 0;
				min-height: 100%;
				width: auto;
				min-width: 100%;
				object-fit: cover;
			}
		}

		.bb-action-check-wrap {
			position: absolute;
			transition: 0.3s all;
			top: 21px;
			left: 15px;
			color: #fff;
			width: 20px;
			height: 20px;
			font-size: 15px;
			text-align: center;
			line-height: 1;
			z-index: 2;
			visibility: hidden;
			opacity: 0;
		}
	}
}
