.bb-rl-sub-ctrls {

	.subnav-filters {
		display: flex;
		align-items: center;
	}

	.bb-rl-grid-filters + .component-filters {
		display: inline-flex;
		align-items: center;

		&::before {
			content: "|";
			color: var(--bb-rl-background-tertiary-hover-color);
			padding: 0 var(--bb-rl-space-200);
		}
	}

	.component-filters + .component-filters {
		margin-left: var(--bb-rl-space-200);
	}

	.subnav-filters + .bb-rl-action-button {
		display: inline-flex;
		align-items: center;

		&::before {
			content: "|";
			color: var(--bb-rl-background-tertiary-hover-color);
			padding: 0 var(--bb-rl-space-200);
		}
	}
}

.bb-rl-heading-count {
	display: inline-flex;
	align-items: center;

	&::before {
		content: "(";
		font-size: inherit;
	}

	&::after {
		content: ")";
		font-size: inherit;
	}

	&:empty {

		&::before,
		&::after {
			display: none;
		}
	}
}
