.notifications-header {
	margin-bottom: var(--bb-rl-space-200);

	.entry-title {
		color: var(--bb-rl-text-color);
		font-size: 1.6rem;
		font-weight: 600;
		line-height: 1.2;
		flex: 1;
	}

	.component-filters {
		margin-left: var(--bb-rl-space-200);

		.bb-rl-filter {
			background-color: var(--bb-rl-background-color);
		}
	}
}

.notification-list.bb-nouveau-list {
	background-color: var(--bb-rl-background-color);
	border: 1px solid var(--bb-rl-border-secondary-color);
	border-radius: var(--bb-rl-radius-lg);
	padding: 0;
	overflow: visible;
	max-height: inherit;

	.bs-item-wrap {
		display: flex;
		align-items: center;
		padding: var(--bb-rl-space-200) var(--bb-rl-space-300);
		border-bottom: 1px solid var(--bb-rl-border-secondary-color);
		border-radius: 0;

		&:hover {
			background-color: var(--bb-rl-background-hover-color);
		}

		&:last-child {
			border-bottom: 0;
			border-radius: 0 0 var(--bb-rl-radius-lg) var(--bb-rl-radius-lg);
		}
	}

	.bs-header-item {
		border-radius: var(--bb-rl-radius-lg) var(--bb-rl-radius-lg) 0 0;
	}

	#notification-bulk-manage {

		@include bb-rl-button--brand-fill;
		border-radius: var(--bb-rl-radius-sm);
		margin: 1px 0 0 var(--bb-rl-space-100);
		padding: 0 var(--bb-rl-space-200);
		min-height: 34px;
		height: 34px;
		cursor: pointer;

		&[disabled] {
			display: none;
		}
	}

	.notifications-options-nav {
		display: flex;
		align-items: center;
	}

	.bulk-select-check,
	.bulk-select-all {
		min-width: 40px;
	}

	.bb-sort-by-date {
		display: flex;
		align-items: center;
		gap: var(--bb-rl-space-100);
		color: var(--bb-rl-text-tertiary-color);
		font-size: 14px;
		line-height: 1;
	}

	.notifications-order-actions {

		span[class*="bb-icon"] {
			color: var(--bb-rl-text-tertiary-color);
			font-size: 15px;
			font-family: bb-icons-rl;

			&.bb-icon-angle-down:before {
				content: "\e136";
			}

			&.bb-icon-angle-up:before {
				content: "\e13c";
			}
		}
	}

	.notification-avatar {
		margin-right: var(--bb-rl-space-200);

		img {
			max-width: 48px;
		}
	}

	.notification-content {
		color: var(--bb-rl-text-tertiary-color);
		font-size: 0.875rem;
		flex: 1;
		letter-spacing: -0.24px;
		line-height: 1.3;
		position: relative;

		a {
			color: var(--bb-rl-text-color);
		}

		.posted {
			display: block;
			font-size: 0.8125rem;
			font-weight: 500;
			margin-top: 3px;
			line-height: 19px;
		}
	}

	.actions {
		display: flex;
		align-items: center;
		min-width: 40px;
		font-size: 0;

		a {
			color: var(--bb-rl-icon-secondary-color);
			font-weight: 500;
			padding-left: var(--bb-rl-space-100);

			&:hover {
				color: var(--bb-rl-icon-color);
			}

			.dashicons {
				font-size: var(--bb-rl-font-size-base);
				font-family: bb-icons-rl;

				&.dashicons-visibility:before {
					content: "\e224";
				}

				&.dashicons-trash:before {
					content: "\e4a6";
				}
			}
		}
	}
}
