.bb-rl-widget-sidebar {

	.widget {
		background-color: var(--bb-rl-background-color);
		border: 1px solid var(--bb-rl-border-secondary-color);
		border-radius: var(--bb-rl-radius-lg);
		padding: var(--bb-rl-space-200) var(--bb-rl-space-300) var(--bb-rl-space-300);

		.widget-title {

			@include bb-rl-base-heading;
			border-bottom: 1px solid var(--bb-rl-border-secondary-color);
			padding: var(--bb-rl-space-50) 0 var(--bb-rl-space-100);
			margin-bottom: var(--bb-rl-space-200);
			display: flex;

			.bb-rl-see-all {
				margin-left: auto;
			}
		}
	}

	.bb-rl-see-all a {

		@include bb-rl-label-heading-bolder;
		color: var(--bb-rl-text-color);
	}

	.widget + .widget {
		margin-top: var(--bb-rl-space-200);
	}
}

.widget-bb-rl-follow-my-network-widget {

	.bb-rl-members-item-options {
		margin: var(--bb-rl-space-200) 0 var(--bb-rl-space-300);

		> a {
			display: inline-flex;
			align-items: center;
			line-height: var(--bb-rl-space-400);
			white-space: nowrap;
			background-color: transparent;
			border-radius: var(--bb-rl-radius-full);
			font-size: var(--bb-rl-font-size-sm);
			font-weight: 600;
			padding: 0 var(--bb-rl-space-200);
			color: var(--bb-rl-text-secondary-color);

			&.selected {
				color: var(--bb-rl-text-color);
				background-color: var(--bb-rl-background-secondary-color);
			}
		}

		.bb-rl-widget-tab-count {
			margin-left: var(--bb-rl-space-50);

			&::before {
				content: "(";
				font-size: inherit;
			}

			&::after {
				content: ")";
				font-size: inherit;
			}

			&:empty {

				&::before,
				&::after {
					display: none;
				}
			}
		}
	}
}

.bb-rl-my-network-members-list {
	display: flex;
	flex-flow: wrap;
	gap: var(--bb-rl-space-100);
	margin-left: -1px;
	margin-right: -1px;

	.item-avatar {
		display: inline-block;
		width: 48px;

		img {
			display: block;
			width: 100%;
			height: auto;
			border-radius: 50%;
		}
	}
}

.bb-rl-member-social-links {

	.social-networks-wrap {
		display: flex;
		align-items: center;
		flex-flow: wrap;
		gap: var(--bb-rl-space-100);
	}

	.bb-rl-social {

		a {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 40px;
			height: 40px;
			border-radius: var(--bb-rl-radius-md);
			background-color: var(--bb-rl-background-secondary-color);
			color: var(--bb-rl-icon-secondary-color);
		}

		i {
			font-size: 24px;
		}
	}
}

.bb-rl-profile-widget {

	.bb-rl-profile-widget-field {
		margin-bottom: var(--bb-rl-space-100);

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.bb-rl-profile-widget-label {
		color: var(--bb-rl-text-tertiary-color);
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;
	}

	.bb-rl-profile-widget-data {

		@include bb-rl-base-heading;
		color: var(--bb-rl-text-color);
	}
}
