.bbpress {

    .bp-pagination > .bp-pagination-links {
        margin-left: 0;

        span {
            margin-bottom: var(--bb-rl-space-200);
        }
    }

    .bb-rl-secondary-header {

        .select2-container .bb-rl-select2-dropdown {
            margin-left: -54px;

            .select2-results__option[aria-selected="true"]{
                color: var(--bb-rl-text-color);
            }
        }
    }
}

.bb-rl-forums-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
	gap: var(--bb-rl-space-200);
    list-style: none;
    padding: 0;
    justify-content: center;

    .bb-rl-forum-list-item {
        border: 1px solid var(--bb-rl-border-secondary-color);
        background-color: var(--bb-rl-background-color);
        border-radius: var(--bb-rl-radius-lg);
    }

    .bb-rl-forum-cover img {
        border-radius: var(--bb-rl-radius-lg) var(--bb-rl-radius-lg) 0 0;
        height: 120px;
        width: 100%;
        object-fit: cover;
    }

    .bb-rl-card-forum-details {
        padding: var(--bb-rl-space-200) var(--bb-rl-space-200) var(--bb-rl-space-300);

        h3 {
            @include bb-rl-base-heading;
            margin-bottom: var(--bb-rl-space-100);

            a {
                color: var(--bb-rl-text-color);

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        p,
        .bb-forum-content {
            font-size: var(--bb-rl-font-size-sm);
            line-height: var(--bb-rl-base-line-small);
            color: var(--bb-rl-text-secondary-color);
        }
    }

    .bb-rl-forum-meta {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        color: var(--bb-rl-text-tertiary-color);
        font-size: var(--bb-rl-font-size-sm);

        .bb-rl-forum-meta-item-inactive {
            display: none;
        }

        .bb-rl-forum-meta-item {
            display: flex;
            align-items: center;

            > span:not(:last-child) {
                margin-right: var(--bb-rl-space-50);
            }
        }

        .bb-rl-forum-meta-item + .bb-rl-forum-meta-item:before {
            content: '•';
            margin: 0 6px;
            color: var(--bb-rl-background-tertiary-color);
        }

        a  {
            color: var(--bb-rl-text-tertiary-color);
        }
    }
}
