.dropzone {
	display: flex;
	flex-flow: row wrap;

	&.open {
		margin: var(--bb-rl-space-200) var(--bb-rl-space-300);
	}

	&.dz-clickable {
		cursor: pointer;

		* {
			cursor: default;
		}
	}

	&.dz-started .dz-default.dz-message {
		flex-basis: 100%;
		max-width: 175px;
		min-height: 160px;
		margin: 0 var(--bb-rl-space-200) var(--bb-rl-space-200) 0;
		border-radius: var(--bb-rl-radius-md);
		padding: 0 5px;
		cursor: pointer;
	}

	.dz-default {
		background-color: var(--bb-rl-background-secondary-color);
		border: 1px dashed var(--bb-rl-border-tertiary-color);
		border-radius: var(--bb-rl-radius-lg);
		min-height: 160px;
		max-height: 160px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: var(--bb-rl-font-size-base);
		color: var(--bb-rl-text-color);
		line-height: 1.5;
		padding: var(--bb-rl-space-300) 0;

		&.dz-message {
			flex: 0 0 100%;
			min-width: 0;
			cursor: pointer;
		}
	}

	.dz-button {
		font-size: var(--bb-rl-font-size-sm);
		color: var(--bb-rl-text-tertiary-color);
		line-height: 1.5;
		background-color: transparent;
		border: 0;
		cursor: pointer;
		outline: none;

		&:before {
			font-family: bb-icons-rl;
			font-size: var(--bb-rl-base-line);
			font-weight: 500;
			height: 48px;
			width: 48px;
			display: inline-block;
			border: 1px solid var(--bb-rl-border-secondary-color);
			background-color: var(--bb-rl-background-secondary-color);
			border-radius: var(--bb-rl-radius-full);
			line-height: 48px;
			color: var(--bb-rl-icon-primary-color);
			margin-bottom: var(--bb-rl-space-100);
		}

		> strong {
			display: block;
			color: var(--bb-rl-text-color);
			font-size: var(--bb-rl-font-size-base);
			font-weight: 500;
		}
	}

	&.media-dropzone {

		.dz-button:before {
			content: "\e10e";
		}
	}

	&.video-dropzone {

		.dz-button:before {
			content: "\e4da";
		}

		.dz-preview.dz-complete {

			.dz-progress-ring-wrap {
				display: block;
				color: var(--bb-rl-text-white-color);
				top: 50%;
				transform: translate(-50%, -50%);

				[class*="bb-icons-"] {
					color: var(--bb-rl-text-white-color);
				}

				&:after,
				.dz-progress-ring {
					display: none;
				}
			}
		}
	}

	&.document-dropzone {

		.dz-button:before {
			content: "\e2e2";
		}
	}

	.dz-preview {
		background-color: var(--bb-rl-background-secondary-color);
		border: 1px solid var(--bb-rl-border-secondary-color);
		width: 175px;
		height: 160px;
		margin: 0 var(--bb-rl-space-200) var(--bb-rl-space-200) 0;
		border-radius: var(--bb-rl-radius-md);
		padding: 0 5px;
		overflow: hidden;
		position: relative;

		.dz-progress-ring-wrap {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 28px;
			left: 50%;
			transform: translateX(-50%);
			border-radius: 50%;
			height: 50px;
			width: 50px;
			z-index: 11;

			&:after {
				content: "";
				display: block;
				position: absolute;
				inset: 0;
				border: 1px solid var(--bb-rl-border-secondary-color);
				border-radius: 50%;
				margin: 2px;
				z-index: -1;
			}

			[class*=" bb-icons-"] {
				color: var(--bb-rl-icon-color);
				font-size: var(--bb-rl-base-line);
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 11;
			}
		}

		&.dz-complete {

			.dz-details,
			.dz-progress-ring-wrap {
				display: none;
			}

			.dz-preview {
				border-color: transparent;
			}

			.dz-image img {
				opacity: 1;
			}

			.dz-remove:before {
				content: "\e4f8";
				color: var(--bb-rl-text-white-color);
				font-weight: 500;
			}
		}
	}

	.dz-image {
		height: 160px;

		img {
			width: 175px;
			height: 100%;
			margin: 0 auto;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			object-fit: cover;
			opacity: 0;
		}
	}

	.dz-error-title {
		display: none;
	}

	.dz-details {
		position: absolute;
		top: 85px;
		width: 100%;

		.dz-progress {
			display: block;
			color: var(--bb-rl-text-color);
			font-size: 14px;
			font-weight: 500;
			line-height: 1.5;
			text-align: center;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			padding: 0 var(--bb-rl-space-200) 0;
		}

		.dz-filename {
			display: block;
			color: var(--bb-rl-text-tertiary-color);
			font-size: 11px;
			line-height: 1.4;
			text-align: center;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			margin-top: var(--bb-rl-space-50);
			padding: 0 var(--bb-rl-space-100) 0;
		}
	}

	.dz-remove {
		font-size: 0;
		border-radius: var(--bb-rl-radius-full);
		color: transparent;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 5px;
		right: 5px;
		cursor: pointer;
		outline: none;

		&:before {
			content: "\e4f6";
			color: var(--bb-rl-icon-tertiary-color);
			font-size: var(--bb-rl-font-size-base);
			font-family: bb-icons-rl;
			font-weight: 400;
			line-height: 1;
		}
	}
}
