.bb-rl-modal-mask {
	position: fixed;
	z-index: 999991;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	transition: opacity 0.3s ease;
	display: flex;
	align-items: center;
}

.bb-rl-modal-wrapper {
	max-width: 615px;
	margin: 50px auto;
	vertical-align: middle;
	width: 90%;
}

.bb-rl-modal-container {
	width: auto;
	margin: 0 auto;
	padding: 0;
	background-color: var(--bb-rl-background-color);
	border-radius: var(--bb-rl-radius-lg);
	border: 1px solid var(--bb-rl-border-secondary-color);
	box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;
}

.bb-rl-modal-header {
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--bb-rl-border-secondary-color);
	padding: var(--bb-rl-space-200) var(--bb-rl-space-300);

	h4 {
		margin: 0;
		font-size: 17px;
		font-weight: 500;
	}

	.bb-rl-modal-close-button {
		margin-left: auto;
		line-height: 1;
	}
}

.bb-rl-modal-content {
	font-size: 14px;
	font-weight: 400;
	max-height: calc(100vh - 220px);
	overflow: auto;
	padding: var(--bb-rl-space-200) var(--bb-rl-space-300);
}

.bb-rl-model-footer {
	padding: var(--bb-rl-space-200) var(--bb-rl-space-300) var(--bb-rl-space-300);
	justify-content: flex-end;
	gap: var(--bb-rl-space-100);
}
