.bb-rl-notice {
	display: flex;
	align-items: center;
	padding: var(--bb-rl-space-100);
	border: 1px solid transparent;
	border-radius: var(--bb-rl-radius-md);
	font-size: var(--bb-rl-font-size-sm);
	font-weight: 500;
	background-color: var(--bb-rl-background-secondary-color);

	> [class*="bb-icons"] {
		margin-right: var(--bb-rl-space-100);
		font-size: 20px;
	}


	&__title {
		color: var(--bb-rl-text-primary-color);
		font-weight: 500;
		margin-bottom: var(--bb-rl-space-100);
	}

	&__close {
		font-size: 14px;
		color: var(--bb-rl-icon-tertiary-color);
		position: absolute;
		right: var(--bb-rl-space-100);
		top: 50%;
		transform: translateY(-50%);
		border: 0;
		background-color: transparent;
		padding: 0;
		cursor: pointer;
	}

	&--info {
		background-color: var(--bb-rl-background-brand-secondary-color);
		border-color: var(--bb-rl-border-brand-primary-color);

		> [class*="bb-icons"] {
			color: var(--bb-rl-icon-primary-color);

			&:before {
				content: "\e4e2";
			}
		}
	}

	&--success {
		background-color: var(--bb-rl-background-positive-secondary-color);
		border-color: var(--bb-rl-border-positive-primary-color);

		> [class*="bb-icons"] {
			color: var(--bb-rl-icon-positive-primary-color);

			&:before {
				content: "\e184";
			}
		}
	}

	&--warning {
		background-color: var(--bb-rl-background-warning-secondary-color);
		border-color: var(--bb-rl-border-warning-primary-color);

		> [class*="bb-icons"] {
			color: var(--bb-rl-icon-warning-primary-color);

			&:before {
				content: "\e4e0";
			}
		}
	}

	&--error {
		background-color: var(--bb-rl-background-danger-secondary-color);
		border-color: var(--bb-rl-border-danger-primary-color);

		> [class*="bb-icons"] {
			color: var(--bb-rl-text-danger-primary-color);

			&:before {
				content: "\e4e2";
			}
		}
	}

	&--plain {
		display: block;
		border-width: 0;
		border-left-width: 2px;
		border-radius: 0;
		padding: var(--bb-rl-space-100) var(--bb-rl-space-200);

		@include bb-rl-label-heading-bolder;

		&.bb-rl-notice--info {
			background-color: var(--bb-rl-background-brand-secondary-color);
			border-color: var(--bb-rl-border-brand-secondary-color);
		}

		&.bb-rl-notice--success {
			background-color: var(--bb-rl-background-positive-secondary-color);
			border-color: var(--bb-rl-border-positive-secondary-color);
		}

		&.bb-rl-notice--warning {
			background-color: var(--bb-rl-background-warning-secondary-color);
			border-color: var(--bb-rl-border-warning-secondary-color);
		}

		&.bb-rl-notice--error {
			background-color: var(--bb-rl-background-danger-secondary-color);
			border-color: var(--bb-rl-border-danger-secondary-color);
		}
	}

	&--plain {
		display: block;
		border-width: 0;
		border-left-width: 2px;
		border-radius: 0;
		padding: var(--bb-rl-space-100) var(--bb-rl-space-200);

		@include bb-rl-label-heading-bolder;

		&.notice--info {
			background-color: var(--bb-rl-background-brand-secondary-color);
			border-color: var(--bb-rl-border-brand-secondary-color);
		}

		&.notice--success {
			background-color: var(--bb-rl-background-positive-secondary-color);
			border-color: var(--bb-rl-border-positive-secondary-color);
		}

		&.notice--warning {
			background-color: var(--bb-rl-background-warning-secondary-color);
			border-color: var(--bb-rl-border-warning-secondary-color);
		}

		&.notice--error {
			background-color: var(--bb-rl-background-danger-secondary-color);
			border-color: var(--bb-rl-border-danger-secondary-color);
		}
	}
}

/*

<div class="notice notice--info">
	<span class="notice__icon">ℹ️</span>
	<div class="notice__content">
		<div class="notice__content-title">Title</div>
		<div class="notice__content-description">Description</div>
	</div>
	<button class="notice__close">✖</button>
</div>

<div class="notice notice--success">
	<span class="notice__icon">✔️</span>
	<div class="notice__content">
		<div class="notice__content-title">Title</div>
		<div class="notice__content-description">Description</div>
	</div>
	<button class="notice__close">✖</button>
</div>

<div class="notice notice--warning">
	<span class="notice__icon">⚠️</span>
	<div class="notice__content">
		<div class="notice__content-title">Title</div>
		<div class="notice__content-description">Description</div>
	</div>
	<button class="notice__close">✖</button>
</div>

<div class="notice notice--error">
	<span class="notice__icon">❌</span>
	<div class="notice__content">
		<div class="notice__content-title">Title</div>
		<div class="notice__content-description">Description</div>
	</div>
	<button class="notice__close">✖</button>
</div>

*/
