/* Radio */
.bb-rl-radio-style {
	position: relative;
	line-height: 1;

	input[type="radio"] {
		opacity: 0;
		height: 0;
		width: 0;
	}

	input[type="radio"] + span {
		position: relative;
		display: inline-block;
		width: 16px;
		height: 16px;
	}

	input[type="radio"] + span:before {
		content: "";
		display: inline-block;
		cursor: pointer;
		position: relative;
		overflow: hidden;
		width: 16px;
		height: 16px;
		line-height: 1;
		border: 2px solid var(--bb-rl-border-quaternary-color);
		border-radius: 100%;
	}

	input[type="radio"]:checked + span:before {
		border: 8px solid var(--bb-rl-background-brand-primary-color);
	}

	input[type="radio"]:checked + span:after {
		content: "";
		background-color: var(--bb-rl-background-color);
		margin: auto;
		width: 8px;
		height: 8px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		border-radius: 100%;
	}
}
