.bb-rl-toast-message {
	display: flex;
	align-items: center;
	position: absolute;
	bottom: var(--bb-rl-space-700);
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--bb-rl-background-black-color);
	border: 1px solid var(--bb-rl-border-quinery-color);
	font-size: var(--bb-rl-font-size-base);
	font-weight: 500;
	line-height: var(--bb-rl-base-line);
	color: var(--bb-rl-text-white-color);
	padding: 12px var(--bb-rl-space-300) 12px var(--bb-rl-space-200);
	border-radius: var(--bb-rl-radius-full);
	opacity: 1;
	z-index: 9999;
	transition: opacity 0.3s ease-in-out;
}

.bb-rl-toast-message--error {}

.bb-rl-toast-message--success {}

.bb-rl-spinner {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-right: var(--bb-rl-space-100);
	border: 3px solid var(--bb-rl-border-tertiary-color);
	border-top: 3px solid var(--bb-rl-border-quinery-color);
	border-radius: 50%;
	animation: spin 1s linear infinite;
}

@keyframes spin {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
