/*
Error: Invalid US-ASCII character "\xEF"
        on line 246 of common.scss

241: 
242: /*
243:  * 2.3 Tools
244:  *\/
245: #adminmenu .toplevel_page_network-tools div.wp-menu-image:before {
246: 	content: "";
247: }
248: 
249: .buddyboss_page_bp-tools {
250: 
251: 	.section-default_data {

Backtrace:
common.scss:246
/Library/Ruby/Gems/2.6.0/gems/sass-3.7.4/lib/sass/util.rb:1090:in `rescue in block in find_encoding_error'
/Library/Ruby/Gems/2.6.0/gems/sass-3.7.4/lib/sass/util.rb:1087:in `block in find_encoding_error'
/Library/Ruby/Gems/2.6.0/gems/sass-3.7.4/lib/sass/util.rb:1086:in `each'
/Library/Ruby/Gems/2.6.0/gems/sass-3.7.4/lib/sass/util.rb:1086:in `each_with_index'
/Library/Ruby/Gems/2.6.0/gems/sass-3.7.4/lib/sass/util.rb:1086:in `find_encoding_error'
/Library/Ruby/Gems/2.6.0/gems/sass-3.7.4/lib/sass/util.rb:814:in `check_sass_encoding'
/Library/Ruby/Gems/2.6.0/gems/sass-3.7.4/lib/sass/engine.rb:444:in `check_encoding!'
/Library/Ruby/Gems/2.6.0/gems/sass-3.7.4/lib/sass/engine.rb:400:in `_to_tree'
/Library/Ruby/Gems/2.6.0/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.6.0/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Library/Ruby/Gems/2.6.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:387:in `run'
/Library/Ruby/Gems/2.6.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Library/Ruby/Gems/2.6.0/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/Library/Ruby/Gems/2.6.0/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/Library/Ruby/Gems/2.6.0/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid US-ASCII character \"\xEF\"\A         on line 246 of common.scss\A \A 241: \A 242: /*\A 243:  * 2.3 Tools\A 244:  */\A 245: #adminmenu .toplevel_page_network-tools div.wp-menu-image:before {\A 246: 	content: \"\";\A 247: }\A 248: \A 249: .buddyboss_page_bp-tools {\A 250: \A 251: 	.section-default_data {"; }
