@font-face {
  font-family: 'bb-icons-box-lined';
  src: url('../font/bb-icons-box-lined.eot?26418594');
  src: url('../font/bb-icons-box-lined.eot?26418594#iefix') format('embedded-opentype'),
       url('../font/bb-icons-box-lined.woff2?26418594') format('woff2'),
       url('../font/bb-icons-box-lined.woff?26418594') format('woff'),
       url('../font/bb-icons-box-lined.ttf?26418594') format('truetype'),
       url('../font/bb-icons-box-lined.svg?26418594#bb-icons-box-lined') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'bb-icons-box-lined';
    src: url('../font/bb-icons-box-lined.svg?26418594#bb-icons-box-lined') format('svg');
  }
}
*/
.bb-icons-bl {
  font-family: "bb-icons-box-lined";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.bb-icons-bl.bb-icon-activity:before { content: '\f33e'; } /* '' */
.bb-icons-bl.bb-icon-activity-slash:before { content: '\f33f'; } /* '' */
.bb-icons-bl.bb-icon-address-book:before { content: '\f340'; } /* '' */
.bb-icons-bl.bb-icon-airplay:before { content: '\f341'; } /* '' */
.bb-icons-bl.bb-icon-alarm:before { content: '\f342'; } /* '' */
.bb-icons-bl.bb-icon-album:before { content: '\f343'; } /* '' */
.bb-icons-bl.bb-icon-align-center:before { content: '\f344'; } /* '' */
.bb-icons-bl.bb-icon-align-justify:before { content: '\f345'; } /* '' */
.bb-icons-bl.bb-icon-align-left:before { content: '\f346'; } /* '' */
.bb-icons-bl.bb-icon-align-right:before { content: '\f347'; } /* '' */
.bb-icons-bl.bb-icon-anchor:before { content: '\f348'; } /* '' */
.bb-icons-bl.bb-icon-angle-double-down:before { content: '\f349'; } /* '' */
.bb-icons-bl.bb-icon-angle-double-left:before { content: '\f34a'; } /* '' */
.bb-icons-bl.bb-icon-angle-double-right:before { content: '\f34b'; } /* '' */
.bb-icons-bl.bb-icon-angle-double-up:before { content: '\f34c'; } /* '' */
.bb-icons-bl.bb-icon-angle-down:before { content: '\f34d'; } /* '' */
.bb-icons-bl.bb-icon-angle-left:before { content: '\f34e'; } /* '' */
.bb-icons-bl.bb-icon-angle-right:before { content: '\f34f'; } /* '' */
.bb-icons-bl.bb-icon-angle-up:before { content: '\f350'; } /* '' */
.bb-icons-bl.bb-icon-arrow-left:before { content: '\f351'; } /* '' */
.bb-icons-bl.bb-icon-arrow-down:before { content: '\f352'; } /* '' */
.bb-icons-bl.bb-icon-arrow-right:before { content: '\f353'; } /* '' */
.bb-icons-bl.bb-icon-arrows:before { content: '\f354'; } /* '' */
.bb-icons-bl.bb-icon-arrows-v:before { content: '\f355'; } /* '' */
.bb-icons-bl.bb-icon-arrows-h:before { content: '\f356'; } /* '' */
.bb-icons-bl.bb-icon-arrow-up:before { content: '\f357'; } /* '' */
.bb-icons-bl.bb-icon-article:before { content: '\f358'; } /* '' */
.bb-icons-bl.bb-icon-article-slash:before { content: '\f359'; } /* '' */
.bb-icons-bl.bb-icon-asterisk:before { content: '\f35a'; } /* '' */
.bb-icons-bl.bb-icon-at:before { content: '\f35b'; } /* '' */
.bb-icons-bl.bb-icon-audio-description:before { content: '\f35c'; } /* '' */
.bb-icons-bl.bb-icon-award:before { content: '\f35d'; } /* '' */
.bb-icons-bl.bb-icon-backward:before { content: '\f35e'; } /* '' */
.bb-icons-bl.bb-icon-ball-soccer:before { content: '\f35f'; } /* '' */
.bb-icons-bl.bb-icon-bars:before { content: '\f360'; } /* '' */
.bb-icons-bl.bb-icon-bars-2:before { content: '\f361'; } /* '' */
.bb-icons-bl.bb-icon-battery:before { content: '\f362'; } /* '' */
.bb-icons-bl.bb-icon-battery-empty:before { content: '\f363'; } /* '' */
.bb-icons-bl.bb-icon-battery-full:before { content: '\f364'; } /* '' */
.bb-icons-bl.bb-icon-battery-half:before { content: '\f365'; } /* '' */
.bb-icons-bl.bb-icon-battery-quarter:before { content: '\f366'; } /* '' */
.bb-icons-bl.bb-icon-battery-slash:before { content: '\f367'; } /* '' */
.bb-icons-bl.bb-icon-battery-three-quarters:before { content: '\f368'; } /* '' */
.bb-icons-bl.bb-icon-bell:before { content: '\f369'; } /* '' */
.bb-icons-bl.bb-icon-bell-plus:before { content: '\f36a'; } /* '' */
.bb-icons-bl.bb-icon-bell-slash:before { content: '\f36b'; } /* '' */
.bb-icons-bl.bb-icon-bluetooth:before { content: '\f36c'; } /* '' */
.bb-icons-bl.bb-icon-bold:before { content: '\f36d'; } /* '' */
.bb-icons-bl.bb-icon-bolt:before { content: '\f36e'; } /* '' */
.bb-icons-bl.bb-icon-book:before { content: '\f36f'; } /* '' */
.bb-icons-bl.bb-icon-bookmark:before { content: '\f370'; } /* '' */
.bb-icons-bl.bb-icon-book-open:before { content: '\f371'; } /* '' */
.bb-icons-bl.bb-icon-books:before { content: '\f372'; } /* '' */
.bb-icons-bl.bb-icon-box:before { content: '\f373'; } /* '' */
.bb-icons-bl.bb-icon-brand-android:before { content: '\f374'; } /* '' */
.bb-icons-bl.bb-icon-brand-aperture:before { content: '\f375'; } /* '' */
.bb-icons-bl.bb-icon-brand-apple:before { content: '\f376'; } /* '' */
.bb-icons-bl.bb-icon-brand-buddyboss:before { content: '\f377'; } /* '' */
.bb-icons-bl.bb-icon-brand-buddyboss-app:before { content: '\f378'; } /* '' */
.bb-icons-bl.bb-icon-brand-buddyboss-bolt:before { content: '\f379'; } /* '' */
.bb-icons-bl.bb-icon-brand-buddypress:before { content: '\f37a'; } /* '' */
.bb-icons-bl.bb-icon-brand-chrome:before { content: '\f37b'; } /* '' */
.bb-icons-bl.bb-icon-brand-clubhouse:before { content: '\f37c'; } /* '' */
.bb-icons-bl.bb-icon-brand-codepen:before { content: '\f37d'; } /* '' */
.bb-icons-bl.bb-icon-brand-dribble:before { content: '\f37e'; } /* '' */
.bb-icons-bl.bb-icon-brand-edge:before { content: '\f37f'; } /* '' */
.bb-icons-bl.bb-icon-brand-elementor:before { content: '\f380'; } /* '' */
.bb-icons-bl.bb-icon-brand-facebook:before { content: '\f381'; } /* '' */
.bb-icons-bl.bb-icon-brand-firefox:before { content: '\f382'; } /* '' */
.bb-icons-bl.bb-icon-brand-flickr:before { content: '\f383'; } /* '' */
.bb-icons-bl.bb-icon-brand-gamipress:before { content: '\f384'; } /* '' */
.bb-icons-bl.bb-icon-brand-github:before { content: '\f385'; } /* '' */
.bb-icons-bl.bb-icon-brand-gitlab:before { content: '\f386'; } /* '' */
.bb-icons-bl.bb-icon-brand-google:before { content: '\f387'; } /* '' */
.bb-icons-bl.bb-icon-brand-google-admob:before { content: '\f388'; } /* '' */
.bb-icons-bl.bb-icon-brand-google-firebase:before { content: '\f389'; } /* '' */
.bb-icons-bl.bb-icon-brand-google-fonts:before { content: '\f38a'; } /* '' */
.bb-icons-bl.bb-icon-brand-instagram:before { content: '\f38b'; } /* '' */
.bb-icons-bl.bb-icon-brand-learndash:before { content: '\f38c'; } /* '' */
.bb-icons-bl.bb-icon-brand-lifterlms:before { content: '\f38d'; } /* '' */
.bb-icons-bl.bb-icon-brand-linkedin:before { content: '\f38e'; } /* '' */
.bb-icons-bl.bb-icon-brand-medium:before { content: '\f38f'; } /* '' */
.bb-icons-bl.bb-icon-brand-meetup:before { content: '\f390'; } /* '' */
.bb-icons-bl.bb-icon-brand-memberpress:before { content: '\f391'; } /* '' */
.bb-icons-bl.bb-icon-brand-onesignal:before { content: '\f392'; } /* '' */
.bb-icons-bl.bb-icon-brand-paidmembershipspro:before { content: '\f393'; } /* '' */
.bb-icons-bl.bb-icon-brand-pinterest:before { content: '\f394'; } /* '' */
.bb-icons-bl.bb-icon-brand-pusher:before { content: '\f395'; } /* '' */
.bb-icons-bl.bb-icon-brand-quora:before { content: '\f396'; } /* '' */
.bb-icons-bl.bb-icon-brand-reddit:before { content: '\f397'; } /* '' */
.bb-icons-bl.bb-icon-brand-restrictcontentpro:before { content: '\f398'; } /* '' */
.bb-icons-bl.bb-icon-brand-safari:before { content: '\f399'; } /* '' */
.bb-icons-bl.bb-icon-brand-skype:before { content: '\f39a'; } /* '' */
.bb-icons-bl.bb-icon-brand-slack:before { content: '\f39b'; } /* '' */
.bb-icons-bl.bb-icon-brand-snapchat:before { content: '\f39c'; } /* '' */
.bb-icons-bl.bb-icon-brand-spotify:before { content: '\f39d'; } /* '' */
.bb-icons-bl.bb-icon-brand-telagram:before { content: '\f39e'; } /* '' */
.bb-icons-bl.bb-icon-brand-tiktok:before { content: '\f39f'; } /* '' */
.bb-icons-bl.bb-icon-brand-tumblr:before { content: '\f3a0'; } /* '' */
.bb-icons-bl.bb-icon-brand-tutorlms:before { content: '\f3a1'; } /* '' */
.bb-icons-bl.bb-icon-brand-twitch:before { content: '\f3a2'; } /* '' */
.bb-icons-bl.bb-icon-brand-twitter:before { content: '\f3a3'; } /* '' */
.bb-icons-bl.bb-icon-brand-vimeo:before { content: '\f3a4'; } /* '' */
.bb-icons-bl.bb-icon-brand-vk:before { content: '\f3a5'; } /* '' */
.bb-icons-bl.bb-icon-brand-whatsapp:before { content: '\f3a6'; } /* '' */
.bb-icons-bl.bb-icon-brand-wishlistmember:before { content: '\f3a7'; } /* '' */
.bb-icons-bl.bb-icon-brand-woocommerce:before { content: '\f3a8'; } /* '' */
.bb-icons-bl.bb-icon-brand-wordpress:before { content: '\f3a9'; } /* '' */
.bb-icons-bl.bb-icon-brand-xing:before { content: '\f3aa'; } /* '' */
.bb-icons-bl.bb-icon-brand-youtube:before { content: '\f3ab'; } /* '' */
.bb-icons-bl.bb-icon-brand-zoom:before { content: '\f3ac'; } /* '' */
.bb-icons-bl.bb-icon-briefcase:before { content: '\f3ad'; } /* '' */
.bb-icons-bl.bb-icon-browser:before { content: '\f3ae'; } /* '' */
.bb-icons-bl.bb-icon-browser-code:before { content: '\f3af'; } /* '' */
.bb-icons-bl.bb-icon-browser-terminal:before { content: '\f3b0'; } /* '' */
.bb-icons-bl.bb-icon-bug:before { content: '\f3b1'; } /* '' */
.bb-icons-bl.bb-icon-bullhorn:before { content: '\f3b2'; } /* '' */
.bb-icons-bl.bb-icon-bullseye:before { content: '\f3b3'; } /* '' */
.bb-icons-bl.bb-icon-calendar:before { content: '\f3b4'; } /* '' */
.bb-icons-bl.bb-icon-camara:before { content: '\f3b5'; } /* '' */
.bb-icons-bl.bb-icon-camera-slash:before { content: '\f3b6'; } /* '' */
.bb-icons-bl.bb-icon-cancel:before { content: '\f3b7'; } /* '' */
.bb-icons-bl.bb-icon-caret-down:before { content: '\f3b8'; } /* '' */
.bb-icons-bl.bb-icon-caret-left:before { content: '\f3b9'; } /* '' */
.bb-icons-bl.bb-icon-caret-right:before { content: '\f3ba'; } /* '' */
.bb-icons-bl.bb-icon-caret-up:before { content: '\f3bb'; } /* '' */
.bb-icons-bl.bb-icon-car-small:before { content: '\f3bc'; } /* '' */
.bb-icons-bl.bb-icon-cast:before { content: '\f3bd'; } /* '' */
.bb-icons-bl.bb-icon-certificate:before { content: '\f3be'; } /* '' */
.bb-icons-bl.bb-icon-chart-area:before { content: '\f3bf'; } /* '' */
.bb-icons-bl.bb-icon-chart-bar-h:before { content: '\f3c0'; } /* '' */
.bb-icons-bl.bb-icon-chart-bar-trending:before { content: '\f3c1'; } /* '' */
.bb-icons-bl.bb-icon-chart-bar-v:before { content: '\f3c2'; } /* '' */
.bb-icons-bl.bb-icon-chart-line:before { content: '\f3c3'; } /* '' */
.bb-icons-bl.bb-icon-chart-pie:before { content: '\f3c4'; } /* '' */
.bb-icons-bl.bb-icon-check:before { content: '\f3c5'; } /* '' */
.bb-icons-bl.bb-icon-checkbox:before { content: '\f3c6'; } /* '' */
.bb-icons-bl.bb-icon-circle:before { content: '\f3c7'; } /* '' */
.bb-icons-bl.bb-icon-clipboard:before { content: '\f3c8'; } /* '' */
.bb-icons-bl.bb-icon-clock:before { content: '\f3c9'; } /* '' */
.bb-icons-bl.bb-icon-closed-capitioning:before { content: '\f3ca'; } /* '' */
.bb-icons-bl.bb-icon-cloud:before { content: '\f3cb'; } /* '' */
.bb-icons-bl.bb-icon-cloud-download:before { content: '\f3cc'; } /* '' */
.bb-icons-bl.bb-icon-cloud-drizzle:before { content: '\f3cd'; } /* '' */
.bb-icons-bl.bb-icon-cloud-lightning:before { content: '\f3ce'; } /* '' */
.bb-icons-bl.bb-icon-cloud-rain:before { content: '\f3cf'; } /* '' */
.bb-icons-bl.bb-icon-cloud-slash:before { content: '\f3d0'; } /* '' */
.bb-icons-bl.bb-icon-cloud-snow:before { content: '\f3d1'; } /* '' */
.bb-icons-bl.bb-icon-cloud-sync:before { content: '\f3d2'; } /* '' */
.bb-icons-bl.bb-icon-cloud-upload:before { content: '\f3d3'; } /* '' */
.bb-icons-bl.bb-icon-code:before { content: '\f3d4'; } /* '' */
.bb-icons-bl.bb-icon-code-branch:before { content: '\f3d5'; } /* '' */
.bb-icons-bl.bb-icon-cog:before { content: '\f3d6'; } /* '' */
.bb-icons-bl.bb-icon-cogs:before { content: '\f3d7'; } /* '' */
.bb-icons-bl.bb-icon-coin:before { content: '\f3d8'; } /* '' */
.bb-icons-bl.bb-icon-coins:before { content: '\f3d9'; } /* '' */
.bb-icons-bl.bb-icon-columns:before { content: '\f3da'; } /* '' */
.bb-icons-bl.bb-icon-command:before { content: '\f3db'; } /* '' */
.bb-icons-bl.bb-icon-comment:before { content: '\f3dc'; } /* '' */
.bb-icons-bl.bb-icon-comment-activity:before { content: '\f3dd'; } /* '' */
.bb-icons-bl.bb-icon-comment-dots:before { content: '\f3de'; } /* '' */
.bb-icons-bl.bb-icon-comment-notification:before { content: '\f3df'; } /* '' */
.bb-icons-bl.bb-icon-comments:before { content: '\f3e0'; } /* '' */
.bb-icons-bl.bb-icon-comment-slash:before { content: '\f3e1'; } /* '' */
.bb-icons-bl.bb-icon-comment-square:before { content: '\f3e2'; } /* '' */
.bb-icons-bl.bb-icon-comment-square-dots:before { content: '\f3e3'; } /* '' */
.bb-icons-bl.bb-icon-comment-square-slash:before { content: '\f3e4'; } /* '' */
.bb-icons-bl.bb-icon-comments-slash:before { content: '\f3e5'; } /* '' */
.bb-icons-bl.bb-icon-comments-square:before { content: '\f3e6'; } /* '' */
.bb-icons-bl.bb-icon-comments-square-slash:before { content: '\f3e7'; } /* '' */
.bb-icons-bl.bb-icon-compass:before { content: '\f3e8'; } /* '' */
.bb-icons-bl.bb-icon-compress:before { content: '\f3e9'; } /* '' */
.bb-icons-bl.bb-icon-copy:before { content: '\f3ea'; } /* '' */
.bb-icons-bl.bb-icon-copyright:before { content: '\f3eb'; } /* '' */
.bb-icons-bl.bb-icon-corner-left:before { content: '\f3ec'; } /* '' */
.bb-icons-bl.bb-icon-corner-right:before { content: '\f3ed'; } /* '' */
.bb-icons-bl.bb-icon-course:before { content: '\f3ee'; } /* '' */
.bb-icons-bl.bb-icon-course-slash:before { content: '\f3ef'; } /* '' */
.bb-icons-bl.bb-icon-cpu:before { content: '\f3f0'; } /* '' */
.bb-icons-bl.bb-icon-credit-card:before { content: '\f3f1'; } /* '' */
.bb-icons-bl.bb-icon-crop:before { content: '\f3f2'; } /* '' */
.bb-icons-bl.bb-icon-crosshairs:before { content: '\f3f3'; } /* '' */
.bb-icons-bl.bb-icon-cube:before { content: '\f3f4'; } /* '' */
.bb-icons-bl.bb-icon-currency-bitcoin:before { content: '\f3f5'; } /* '' */
.bb-icons-bl.bb-icon-currency-crypto:before { content: '\f3f6'; } /* '' */
.bb-icons-bl.bb-icon-currency-dollar:before { content: '\f3f7'; } /* '' */
.bb-icons-bl.bb-icon-currency-euro:before { content: '\f3f8'; } /* '' */
.bb-icons-bl.bb-icon-currency-lira:before { content: '\f3f9'; } /* '' */
.bb-icons-bl.bb-icon-currency-peso:before { content: '\f3fa'; } /* '' */
.bb-icons-bl.bb-icon-currency-pound:before { content: '\f3fb'; } /* '' */
.bb-icons-bl.bb-icon-currency-ruble:before { content: '\f3fc'; } /* '' */
.bb-icons-bl.bb-icon-currency-rupee:before { content: '\f3fd'; } /* '' */
.bb-icons-bl.bb-icon-currency-won:before { content: '\f3fe'; } /* '' */
.bb-icons-bl.bb-icon-currency-yen:before { content: '\f3ff'; } /* '' */
.bb-icons-bl.bb-icon-cut:before { content: '\f400'; } /* '' */
.bb-icons-bl.bb-icon-database:before { content: '\f401'; } /* '' */
.bb-icons-bl.bb-icon-delete-tag:before { content: '\f402'; } /* '' */
.bb-icons-bl.bb-icon-desktop:before { content: '\f403'; } /* '' */
.bb-icons-bl.bb-icon-divide:before { content: '\f404'; } /* '' */
.bb-icons-bl.bb-icon-dot-circle:before { content: '\f405'; } /* '' */
.bb-icons-bl.bb-icon-download:before { content: '\f406'; } /* '' */
.bb-icons-bl.bb-icon-droplet:before { content: '\f407'; } /* '' */
.bb-icons-bl.bb-icon-duplicate:before { content: '\f408'; } /* '' */
.bb-icons-bl.bb-icon-edit:before { content: '\f409'; } /* '' */
.bb-icons-bl.bb-icon-eject:before { content: '\f40a'; } /* '' */
.bb-icons-bl.bb-icon-ellipsis-h:before { content: '\f40b'; } /* '' */
.bb-icons-bl.bb-icon-ellispis-v:before { content: '\f40c'; } /* '' */
.bb-icons-bl.bb-icon-emoticon-frown:before { content: '\f40d'; } /* '' */
.bb-icons-bl.bb-icon-emoticon-smile:before { content: '\f40e'; } /* '' */
.bb-icons-bl.bb-icon-emoticon-wink:before { content: '\f40f'; } /* '' */
.bb-icons-bl.bb-icon-emotion-laugh:before { content: '\f410'; } /* '' */
.bb-icons-bl.bb-icon-envelope:before { content: '\f411'; } /* '' */
.bb-icons-bl.bb-icon-envelope-open:before { content: '\f412'; } /* '' */
.bb-icons-bl.bb-icon-exchange:before { content: '\f413'; } /* '' */
.bb-icons-bl.bb-icon-exclamation:before { content: '\f414'; } /* '' */
.bb-icons-bl.bb-icon-exclamation-triangle:before { content: '\f415'; } /* '' */
.bb-icons-bl.bb-icon-expand:before { content: '\f416'; } /* '' */
.bb-icons-bl.bb-icon-external-link:before { content: '\f417'; } /* '' */
.bb-icons-bl.bb-icon-eye:before { content: '\f418'; } /* '' */
.bb-icons-bl.bb-icon-eye-slash:before { content: '\f419'; } /* '' */
.bb-icons-bl.bb-icon-fast-backward:before { content: '\f41a'; } /* '' */
.bb-icons-bl.bb-icon-fast-forward:before { content: '\f41b'; } /* '' */
.bb-icons-bl.bb-icon-feather:before { content: '\f41c'; } /* '' */
.bb-icons-bl.bb-icon-file:before { content: '\f41d'; } /* '' */
.bb-icons-bl.bb-icon-file-album:before { content: '\f41e'; } /* '' */
.bb-icons-bl.bb-icon-file-archive:before { content: '\f41f'; } /* '' */
.bb-icons-bl.bb-icon-file-attach:before { content: '\f420'; } /* '' */
.bb-icons-bl.bb-icon-file-audio:before { content: '\f421'; } /* '' */
.bb-icons-bl.bb-icon-file-bookmark:before { content: '\f422'; } /* '' */
.bb-icons-bl.bb-icon-file-checklist:before { content: '\f423'; } /* '' */
.bb-icons-bl.bb-icon-file-cloud:before { content: '\f424'; } /* '' */
.bb-icons-bl.bb-icon-file-code:before { content: '\f425'; } /* '' */
.bb-icons-bl.bb-icon-file-contact:before { content: '\f426'; } /* '' */
.bb-icons-bl.bb-icon-file-css:before { content: '\f427'; } /* '' */
.bb-icons-bl.bb-icon-file-design:before { content: '\f428'; } /* '' */
.bb-icons-bl.bb-icon-file-doc:before { content: '\f429'; } /* '' */
.bb-icons-bl.bb-icon-file-dollar:before { content: '\f42a'; } /* '' */
.bb-icons-bl.bb-icon-file-download:before { content: '\f42b'; } /* '' */
.bb-icons-bl.bb-icon-file-excel:before { content: '\f42c'; } /* '' */
.bb-icons-bl.bb-icon-file-exclamation:before { content: '\f42d'; } /* '' */
.bb-icons-bl.bb-icon-file-export:before { content: '\f42e'; } /* '' */
.bb-icons-bl.bb-icon-file-font:before { content: '\f42f'; } /* '' */
.bb-icons-bl.bb-icon-file-gif:before { content: '\f430'; } /* '' */
.bb-icons-bl.bb-icon-file-globe:before { content: '\f431'; } /* '' */
.bb-icons-bl.bb-icon-file-image:before { content: '\f432'; } /* '' */
.bb-icons-bl.bb-icon-file-import:before { content: '\f433'; } /* '' */
.bb-icons-bl.bb-icon-file-info:before { content: '\f434'; } /* '' */
.bb-icons-bl.bb-icon-file-list:before { content: '\f435'; } /* '' */
.bb-icons-bl.bb-icon-file-list-numeric:before { content: '\f436'; } /* '' */
.bb-icons-bl.bb-icon-file-minus:before { content: '\f437'; } /* '' */
.bb-icons-bl.bb-icon-file-mobile:before { content: '\f438'; } /* '' */
.bb-icons-bl.bb-icon-file-pdf:before { content: '\f439'; } /* '' */
.bb-icons-bl.bb-icon-file-plus:before { content: '\f43a'; } /* '' */
.bb-icons-bl.bb-icon-file-powerpoint:before { content: '\f43b'; } /* '' */
.bb-icons-bl.bb-icon-file-presentation:before { content: '\f43c'; } /* '' */
.bb-icons-bl.bb-icon-file-question:before { content: '\f43d'; } /* '' */
.bb-icons-bl.bb-icon-file-rss:before { content: '\f43e'; } /* '' */
.bb-icons-bl.bb-icon-file-share:before { content: '\f43f'; } /* '' */
.bb-icons-bl.bb-icon-file-signature:before { content: '\f440'; } /* '' */
.bb-icons-bl.bb-icon-file-spreadsheet:before { content: '\f441'; } /* '' */
.bb-icons-bl.bb-icon-file-text:before { content: '\f442'; } /* '' */
.bb-icons-bl.bb-icon-file-times:before { content: '\f443'; } /* '' */
.bb-icons-bl.bb-icon-file-upload:before { content: '\f444'; } /* '' */
.bb-icons-bl.bb-icon-file-vector:before { content: '\f445'; } /* '' */
.bb-icons-bl.bb-icon-file-video:before { content: '\f446'; } /* '' */
.bb-icons-bl.bb-icon-file-word:before { content: '\f447'; } /* '' */
.bb-icons-bl.bb-icon-film:before { content: '\f448'; } /* '' */
.bb-icons-bl.bb-icon-filter:before { content: '\f449'; } /* '' */
.bb-icons-bl.bb-icon-filter-alt:before { content: '\f44a'; } /* '' */
.bb-icons-bl.bb-icon-flag:before { content: '\f44b'; } /* '' */
.bb-icons-bl.bb-icon-flask:before { content: '\f44c'; } /* '' */
.bb-icons-bl.bb-icon-folder:before { content: '\f44d'; } /* '' */
.bb-icons-bl.bb-icon-folder-alt:before { content: '\f44e'; } /* '' */
.bb-icons-bl.bb-icon-folder-alt-slash:before { content: '\f44f'; } /* '' */
.bb-icons-bl.bb-icon-folder-open:before { content: '\f450'; } /* '' */
.bb-icons-bl.bb-icon-folder-plus:before { content: '\f451'; } /* '' */
.bb-icons-bl.bb-icon-folder-slash:before { content: '\f452'; } /* '' */
.bb-icons-bl.bb-icon-font:before { content: '\f453'; } /* '' */
.bb-icons-bl.bb-icon-forest:before { content: '\f454'; } /* '' */
.bb-icons-bl.bb-icon-forward:before { content: '\f455'; } /* '' */
.bb-icons-bl.bb-icon-gem:before { content: '\f456'; } /* '' */
.bb-icons-bl.bb-icon-gif:before { content: '\f457'; } /* '' */
.bb-icons-bl.bb-icon-gift:before { content: '\f458'; } /* '' */
.bb-icons-bl.bb-icon-globe:before { content: '\f459'; } /* '' */
.bb-icons-bl.bb-icon-globe-layers:before { content: '\f45a'; } /* '' */
.bb-icons-bl.bb-icon-graduation-cap:before { content: '\f45b'; } /* '' */
.bb-icons-bl.bb-icon-grid-large:before { content: '\f45c'; } /* '' */
.bb-icons-bl.bb-icon-grid-small:before { content: '\f45d'; } /* '' */
.bb-icons-bl.bb-icon-hashtag:before { content: '\f45e'; } /* '' */
.bb-icons-bl.bb-icon-heading:before { content: '\f45f'; } /* '' */
.bb-icons-bl.bb-icon-headphones:before { content: '\f460'; } /* '' */
.bb-icons-bl.bb-icon-heart:before { content: '\f461'; } /* '' */
.bb-icons-bl.bb-icon-home:before { content: '\f462'; } /* '' */
.bb-icons-bl.bb-icon-image:before { content: '\f463'; } /* '' */
.bb-icons-bl.bb-icon-images:before { content: '\f464'; } /* '' */
.bb-icons-bl.bb-icon-image-slash:before { content: '\f465'; } /* '' */
.bb-icons-bl.bb-icon-images-slash:before { content: '\f466'; } /* '' */
.bb-icons-bl.bb-icon-image-video:before { content: '\f467'; } /* '' */
.bb-icons-bl.bb-icon-image-video-slash:before { content: '\f468'; } /* '' */
.bb-icons-bl.bb-icon-inbox:before { content: '\f469'; } /* '' */
.bb-icons-bl.bb-icon-indent:before { content: '\f46a'; } /* '' */
.bb-icons-bl.bb-icon-info:before { content: '\f46b'; } /* '' */
.bb-icons-bl.bb-icon-info-triangle:before { content: '\f46c'; } /* '' */
.bb-icons-bl.bb-icon-italic:before { content: '\f46d'; } /* '' */
.bb-icons-bl.bb-icon-key:before { content: '\f46e'; } /* '' */
.bb-icons-bl.bb-icon-keyboard:before { content: '\f46f'; } /* '' */
.bb-icons-bl.bb-icon-key-slash:before { content: '\f470'; } /* '' */
.bb-icons-bl.bb-icon-laptop:before { content: '\f471'; } /* '' */
.bb-icons-bl.bb-icon-layers:before { content: '\f472'; } /* '' */
.bb-icons-bl.bb-icon-less-than:before { content: '\f473'; } /* '' */
.bb-icons-bl.bb-icon-less-than-equal:before { content: '\f474'; } /* '' */
.bb-icons-bl.bb-icon-life-ring:before { content: '\f475'; } /* '' */
.bb-icons-bl.bb-icon-lightbulb:before { content: '\f476'; } /* '' */
.bb-icons-bl.bb-icon-link:before { content: '\f477'; } /* '' */
.bb-icons-bl.bb-icon-list:before { content: '\f478'; } /* '' */
.bb-icons-bl.bb-icon-list-number:before { content: '\f479'; } /* '' */
.bb-icons-bl.bb-icon-location-arrow:before { content: '\f47a'; } /* '' */
.bb-icons-bl.bb-icon-lock:before { content: '\f47b'; } /* '' */
.bb-icons-bl.bb-icon-lock-alt:before { content: '\f47c'; } /* '' */
.bb-icons-bl.bb-icon-lock-alt-open:before { content: '\f47d'; } /* '' */
.bb-icons-bl.bb-icon-lock-open:before { content: '\f47e'; } /* '' */
.bb-icons-bl.bb-icon-map:before { content: '\f47f'; } /* '' */
.bb-icons-bl.bb-icon-map-marker:before { content: '\f480'; } /* '' */
.bb-icons-bl.bb-icon-marketplace:before { content: '\f481'; } /* '' */
.bb-icons-bl.bb-icon-maximize:before { content: '\f482'; } /* '' */
.bb-icons-bl.bb-icon-membership-card:before { content: '\f483'; } /* '' */
.bb-icons-bl.bb-icon-merge:before { content: '\f484'; } /* '' */
.bb-icons-bl.bb-icon-microphone:before { content: '\f485'; } /* '' */
.bb-icons-bl.bb-icon-microphone-slash:before { content: '\f486'; } /* '' */
.bb-icons-bl.bb-icon-minus:before { content: '\f487'; } /* '' */
.bb-icons-bl.bb-icon-mobile:before { content: '\f488'; } /* '' */
.bb-icons-bl.bb-icon-money:before { content: '\f489'; } /* '' */
.bb-icons-bl.bb-icon-moon:before { content: '\f48a'; } /* '' */
.bb-icons-bl.bb-icon-more-than:before { content: '\f48b'; } /* '' */
.bb-icons-bl.bb-icon-more-than-equal:before { content: '\f48c'; } /* '' */
.bb-icons-bl.bb-icon-mouse-pointer:before { content: '\f48d'; } /* '' */
.bb-icons-bl.bb-icon-music:before { content: '\f48e'; } /* '' */
.bb-icons-bl.bb-icon-music-note:before { content: '\f48f'; } /* '' */
.bb-icons-bl.bb-icon-music-note-slash:before { content: '\f490'; } /* '' */
.bb-icons-bl.bb-icon-music-slash:before { content: '\f491'; } /* '' */
.bb-icons-bl.bb-icon-outdent:before { content: '\f492'; } /* '' */
.bb-icons-bl.bb-icon-oxtagon:before { content: '\f493'; } /* '' */
.bb-icons-bl.bb-icon-package:before { content: '\f494'; } /* '' */
.bb-icons-bl.bb-icon-paperclip:before { content: '\f495'; } /* '' */
.bb-icons-bl.bb-icon-paper-plane:before { content: '\f496'; } /* '' */
.bb-icons-bl.bb-icon-paragraph:before { content: '\f497'; } /* '' */
.bb-icons-bl.bb-icon-paste:before { content: '\f498'; } /* '' */
.bb-icons-bl.bb-icon-pause:before { content: '\f499'; } /* '' */
.bb-icons-bl.bb-icon-pen:before { content: '\f49a'; } /* '' */
.bb-icons-bl.bb-icon-pencil:before { content: '\f49b'; } /* '' */
.bb-icons-bl.bb-icon-percentage:before { content: '\f49c'; } /* '' */
.bb-icons-bl.bb-icon-phone:before { content: '\f49d'; } /* '' */
.bb-icons-bl.bb-icon-phone-call:before { content: '\f49e'; } /* '' */
.bb-icons-bl.bb-icon-phone-forwarded:before { content: '\f49f'; } /* '' */
.bb-icons-bl.bb-icon-phone-incoming:before { content: '\f4a0'; } /* '' */
.bb-icons-bl.bb-icon-phone-missed:before { content: '\f4a1'; } /* '' */
.bb-icons-bl.bb-icon-phone-slash:before { content: '\f4a2'; } /* '' */
.bb-icons-bl.bb-icon-pin:before { content: '\f4a3'; } /* '' */
.bb-icons-bl.bb-icon-pin-star:before { content: '\f4a4'; } /* '' */
.bb-icons-bl.bb-icon-pizza-slice:before { content: '\f4a5'; } /* '' */
.bb-icons-bl.bb-icon-play:before { content: '\f4a6'; } /* '' */
.bb-icons-bl.bb-icon-plug:before { content: '\f4a7'; } /* '' */
.bb-icons-bl.bb-icon-plus:before { content: '\f4a8'; } /* '' */
.bb-icons-bl.bb-icon-pocket:before { content: '\f4a9'; } /* '' */
.bb-icons-bl.bb-icon-poll:before { content: '\f4aa'; } /* '' */
.bb-icons-bl.bb-icon-poll-h:before { content: '\f4ab'; } /* '' */
.bb-icons-bl.bb-icon-power-on:before { content: '\f4ac'; } /* '' */
.bb-icons-bl.bb-icon-printer:before { content: '\f4ad'; } /* '' */
.bb-icons-bl.bb-icon-question:before { content: '\f4ae'; } /* '' */
.bb-icons-bl.bb-icon-question-triangle:before { content: '\f4af'; } /* '' */
.bb-icons-bl.bb-icon-quiz:before { content: '\f4b0'; } /* '' */
.bb-icons-bl.bb-icon-quote-left:before { content: '\f4b1'; } /* '' */
.bb-icons-bl.bb-icon-quote-right:before { content: '\f4b2'; } /* '' */
.bb-icons-bl.bb-icon-radio:before { content: '\f4b3'; } /* '' */
.bb-icons-bl.bb-icon-random:before { content: '\f4b4'; } /* '' */
.bb-icons-bl.bb-icon-receipt:before { content: '\f4b5'; } /* '' */
.bb-icons-bl.bb-icon-redo:before { content: '\f4b6'; } /* '' */
.bb-icons-bl.bb-icon-registered:before { content: '\f4b7'; } /* '' */
.bb-icons-bl.bb-icon-repeat:before { content: '\f4b8'; } /* '' */
.bb-icons-bl.bb-icon-reply:before { content: '\f4b9'; } /* '' */
.bb-icons-bl.bb-icon-reply-all:before { content: '\f4ba'; } /* '' */
.bb-icons-bl.bb-icon-rocket:before { content: '\f4bb'; } /* '' */
.bb-icons-bl.bb-icon-rss:before { content: '\f4bc'; } /* '' */
.bb-icons-bl.bb-icon-save:before { content: '\f4bd'; } /* '' */
.bb-icons-bl.bb-icon-scissors:before { content: '\f4be'; } /* '' */
.bb-icons-bl.bb-icon-search:before { content: '\f4bf'; } /* '' */
.bb-icons-bl.bb-icon-search-minus:before { content: '\f4c0'; } /* '' */
.bb-icons-bl.bb-icon-search-plus:before { content: '\f4c1'; } /* '' */
.bb-icons-bl.bb-icon-server:before { content: '\f4c2'; } /* '' */
.bb-icons-bl.bb-icon-share:before { content: '\f4c3'; } /* '' */
.bb-icons-bl.bb-icon-share-dots:before { content: '\f4c4'; } /* '' */
.bb-icons-bl.bb-icon-share-square:before { content: '\f4c5'; } /* '' */
.bb-icons-bl.bb-icon-shield:before { content: '\f4c6'; } /* '' */
.bb-icons-bl.bb-icon-shield-half:before { content: '\f4c7'; } /* '' */
.bb-icons-bl.bb-icon-shopping-bag:before { content: '\f4c8'; } /* '' */
.bb-icons-bl.bb-icon-shopping-basket:before { content: '\f4c9'; } /* '' */
.bb-icons-bl.bb-icon-shopping-cart:before { content: '\f4ca'; } /* '' */
.bb-icons-bl.bb-icon-sidebar:before { content: '\f4cb'; } /* '' */
.bb-icons-bl.bb-icon-signal-1:before { content: '\f4cc'; } /* '' */
.bb-icons-bl.bb-icon-signal-2:before { content: '\f4cd'; } /* '' */
.bb-icons-bl.bb-icon-signal-3:before { content: '\f4ce'; } /* '' */
.bb-icons-bl.bb-icon-signal-full:before { content: '\f4cf'; } /* '' */
.bb-icons-bl.bb-icon-signal-slash:before { content: '\f4d0'; } /* '' */
.bb-icons-bl.bb-icon-sign-in:before { content: '\f4d1'; } /* '' */
.bb-icons-bl.bb-icon-sign-out:before { content: '\f4d2'; } /* '' */
.bb-icons-bl.bb-icon-sliders-h:before { content: '\f4d3'; } /* '' */
.bb-icons-bl.bb-icon-sliders-v:before { content: '\f4d4'; } /* '' */
.bb-icons-bl.bb-icon-sort:before { content: '\f4d5'; } /* '' */
.bb-icons-bl.bb-icon-sort-alpha-down:before { content: '\f4d6'; } /* '' */
.bb-icons-bl.bb-icon-sort-alpha-up:before { content: '\f4d7'; } /* '' */
.bb-icons-bl.bb-icon-sort-amount-down:before { content: '\f4d8'; } /* '' */
.bb-icons-bl.bb-icon-sort-amount-up:before { content: '\f4d9'; } /* '' */
.bb-icons-bl.bb-icon-sort-down:before { content: '\f4da'; } /* '' */
.bb-icons-bl.bb-icon-sort-numberic-down:before { content: '\f4db'; } /* '' */
.bb-icons-bl.bb-icon-sort-numberic-up:before { content: '\f4dc'; } /* '' */
.bb-icons-bl.bb-icon-sort-up:before { content: '\f4dd'; } /* '' */
.bb-icons-bl.bb-icon-speaker:before { content: '\f4de'; } /* '' */
.bb-icons-bl.bb-icon-spinner:before { content: '\f4df'; } /* '' */
.bb-icons-bl.bb-icon-spinner-third:before { content: '\f4e0'; } /* '' */
.bb-icons-bl.bb-icon-star:before { content: '\f4e1'; } /* '' */
.bb-icons-bl.bb-icon-star-half:before { content: '\f4e2'; } /* '' */
.bb-icons-bl.bb-icon-step-backward:before { content: '\f4e3'; } /* '' */
.bb-icons-bl.bb-icon-step-forward:before { content: '\f4e4'; } /* '' */
.bb-icons-bl.bb-icon-stop:before { content: '\f4e5'; } /* '' */
.bb-icons-bl.bb-icon-sun:before { content: '\f4e6'; } /* '' */
.bb-icons-bl.bb-icon-sunrise:before { content: '\f4e7'; } /* '' */
.bb-icons-bl.bb-icon-sync:before { content: '\f4e8'; } /* '' */
.bb-icons-bl.bb-icon-tablet:before { content: '\f4e9'; } /* '' */
.bb-icons-bl.bb-icon-tag:before { content: '\f4ea'; } /* '' */
.bb-icons-bl.bb-icon-tags:before { content: '\f4eb'; } /* '' */
.bb-icons-bl.bb-icon-terminal:before { content: '\f4ec'; } /* '' */
.bb-icons-bl.bb-icon-text:before { content: '\f4ed'; } /* '' */
.bb-icons-bl.bb-icon-thermometer:before { content: '\f4ee'; } /* '' */
.bb-icons-bl.bb-icon-thumbs-down:before { content: '\f4ef'; } /* '' */
.bb-icons-bl.bb-icon-thumbs-up:before { content: '\f4f0'; } /* '' */
.bb-icons-bl.bb-icon-times:before { content: '\f4f1'; } /* '' */
.bb-icons-bl.bb-icon-times-triangle:before { content: '\f4f2'; } /* '' */
.bb-icons-bl.bb-icon-toggle-off:before { content: '\f4f3'; } /* '' */
.bb-icons-bl.bb-icon-toggle-on:before { content: '\f4f4'; } /* '' */
.bb-icons-bl.bb-icon-tools:before { content: '\f4f5'; } /* '' */
.bb-icons-bl.bb-icon-trademark:before { content: '\f4f6'; } /* '' */
.bb-icons-bl.bb-icon-trash:before { content: '\f4f7'; } /* '' */
.bb-icons-bl.bb-icon-trash-restore:before { content: '\f4f8'; } /* '' */
.bb-icons-bl.bb-icon-trending-down:before { content: '\f4f9'; } /* '' */
.bb-icons-bl.bb-icon-trending-up:before { content: '\f4fa'; } /* '' */
.bb-icons-bl.bb-icon-trophy:before { content: '\f4fb'; } /* '' */
.bb-icons-bl.bb-icon-tv:before { content: '\f4fc'; } /* '' */
.bb-icons-bl.bb-icon-umbrella:before { content: '\f4fd'; } /* '' */
.bb-icons-bl.bb-icon-underline:before { content: '\f4fe'; } /* '' */
.bb-icons-bl.bb-icon-undo:before { content: '\f4ff'; } /* '' */
.bb-icons-bl.bb-icon-unlink:before { content: '\f500'; } /* '' */
.bb-icons-bl.bb-icon-user:before { content: '\f501'; } /* '' */
.bb-icons-bl.bb-icon-user-avatar:before { content: '\f502'; } /* '' */
.bb-icons-bl.bb-icon-user-badge:before { content: '\f503'; } /* '' */
.bb-icons-bl.bb-icon-user-card:before { content: '\f504'; } /* '' */
.bb-icons-bl.bb-icon-user-check:before { content: '\f505'; } /* '' */
.bb-icons-bl.bb-icon-user-clock:before { content: '\f506'; } /* '' */
.bb-icons-bl.bb-icon-user-cog:before { content: '\f507'; } /* '' */
.bb-icons-bl.bb-icon-user-edit:before { content: '\f508'; } /* '' */
.bb-icons-bl.bb-icon-user-friends:before { content: '\f509'; } /* '' */
.bb-icons-bl.bb-icon-user-friends-alt:before { content: '\f50a'; } /* '' */
.bb-icons-bl.bb-icon-user-friends-alt-slash:before { content: '\f50b'; } /* '' */
.bb-icons-bl.bb-icon-user-friends-slash:before { content: '\f50c'; } /* '' */
.bb-icons-bl.bb-icon-user-lock:before { content: '\f50d'; } /* '' */
.bb-icons-bl.bb-icon-user-minus:before { content: '\f50e'; } /* '' */
.bb-icons-bl.bb-icon-user-plus:before { content: '\f50f'; } /* '' */
.bb-icons-bl.bb-icon-users:before { content: '\f510'; } /* '' */
.bb-icons-bl.bb-icon-user-slash:before { content: '\f511'; } /* '' */
.bb-icons-bl.bb-icon-users-slash:before { content: '\f512'; } /* '' */
.bb-icons-bl.bb-icon-user-times:before { content: '\f513'; } /* '' */
.bb-icons-bl.bb-icon-video:before { content: '\f514'; } /* '' */
.bb-icons-bl.bb-icon-video-slash:before { content: '\f515'; } /* '' */
.bb-icons-bl.bb-icon-voicemail:before { content: '\f516'; } /* '' */
.bb-icons-bl.bb-icon-volume-down:before { content: '\f517'; } /* '' */
.bb-icons-bl.bb-icon-volume-mute:before { content: '\f518'; } /* '' */
.bb-icons-bl.bb-icon-volume-off:before { content: '\f519'; } /* '' */
.bb-icons-bl.bb-icon-volume-slash:before { content: '\f51a'; } /* '' */
.bb-icons-bl.bb-icon-volume-up:before { content: '\f51b'; } /* '' */
.bb-icons-bl.bb-icon-wallet:before { content: '\f51c'; } /* '' */
.bb-icons-bl.bb-icon-watch:before { content: '\f51d'; } /* '' */
.bb-icons-bl.bb-icon-wheelchair:before { content: '\f51e'; } /* '' */
.bb-icons-bl.bb-icon-wifi:before { content: '\f51f'; } /* '' */
.bb-icons-bl.bb-icon-wifi-slash:before { content: '\f520'; } /* '' */
.bb-icons-bl.bb-icon-wind:before { content: '\f521'; } /* '' */
.bb-icons-bl.bb-icon-wrench:before { content: '\f522'; } /* '' */
